<div id="part1DataLocal" ng-controller="ModalImportDataStep1LocalController">
    <form id="uploadDataForm" class="form-horizontal">
        <label class="col-sm-2 col-xs-3" translate="data.modal.data">Data</label>

        <i popover-placement="right"
           popover-trigger="mouseenter"
           popover="{{'tooltip.data.add.choicedata.local' | translate }}"
           popover-title="{{'tooltip.help.title' | translate}}">
            <span style="font-size: 18px;cursor:pointer;"
                  class="glyphicon glyphicon-question-sign"></span>
        </i>

        <div class="fileinput fileinput-new" style="margin-top:5px;"  data-provides="fileinput">
            <div class="input-group">
                <div class="form-control form-control-fix uneditable-input" data-trigger="fileinput">
                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                    <span class="fileinput-filename"></span>
                </div>
                <span class="input-group-addon btn btn-default btn-file">
                    <span class="fileinput-new" translate="data.modal.select" id="selectFile">Select file</span>
                    <span class="fileinput-exists" translate="data.modal.change" id="changeFile">Change</span>
                    <input type="file"
                           name="data"
                           id="dataFile"
                           onchange="angular.element(this).scope().verifyExtension(this.value);"/>
                </span>
                <a class="input-group-addon btn btn-default fileinput-exists"
                   data-dismiss="fileinput"
                   translate="data.modal.remove" id="removeFile">Remove</a>
            </div>
        </div>
        <div class="alert alert-data"
             ng-show="loader.upload"
             translate="message.uploading">Your file(s) is uploading...</div>
    </form>
</div>