<div id="part1Custom" ng-controller="ModalImportCustomStep1Controller">
    <form>
        <div class="form-group">
            <label for="factorySelect">Select method to import data</label>
            <select id="factorySelect"
                    class="form-control form-control-fix"
                    ng-model="options.selectedType"
                    ng-options="type as type.title for type in options.types | orderBy:'title'">
            </select>
        </div>
        <div ng-if="options.selectedType">
            <hr/>
            <p><label>Description:</label> {{options.selectedType.description}}</p>

            <div class="form-group" ng-repeat="property in options.selectedType.property.Property">
                <div ng-if="!property.Property">
                    <label>{{property.id}} {{property.optional ? '' : '(*)'}}</label>

                    <input type="text"
                           ng-if="property.type == 'CoordinateReferenceSystem'"
                           typeahead="epsgCode.code as epsgCode.desc for epsgCode in options.epsgCodes | filter:$viewValue | limitTo:8"
                           class="form-control form-control-fix"
                           placeholder="{{'layer.listing.data.upload.typeEPSG' | translate}}"
                           ng-model="property.value"
                           ng-required="! property.optional"/>
                    <input type="text"
                           ng-if="property.type != 'CoordinateReferenceSystem'"
                           class="form-control form-control-fix"
                           ng-model="property.value"
                           ng-required="! property.optional"/>
                </div>
                <div ng-if="property.Property">
                    <div class="alert alert-info"><h4>{{property.id}}</h4>

                        <div class="form-group row" ng-repeat="innerprop in property.Property">
                            <label class="col-xs-4">{{innerprop.id}} {{innerprop.optional ? '' : '(*)'}}</label>

                            <div class="col-xs-8">
                                <input type="text"
                                       class="form-control form-control-fix"
                                       ng-model="innerprop.value"
                                       ng-required="! innerprop.optional"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>