<div id="part2Metadata" ng-controller="ModalImportDataStep2MetadataController">
    <form id="uploadMetadataForm">
        <label translate="data.modal.metadata">Metadata</label>
        <div ng-if="import.fsserver" style="margin-bottom: 10px;">
            <ul class="breadcrumb col-sm-12 row" style="margin-left: 0;margin-right: 0;">
                <label class="col-sm-7"
                       translate="data.modal.import.server.label">Fill the server Path</label>
                <div class="btn-lg tooltipicon">
                    <span type="button"
                          class="glyphicon glyphicon-info-sign"
                          tooltip data-placement="right"
                          title="{{'tooltip.data.add.choicemetadata.server' | translate }}" ></span>
                </div>
                <input type="text"
                       name="serverMetadataPath"
                       placeholder="{{'data.modal.import.server.label' | translate}}"
                       ng-model="import.currentMDPath" size="70"
                       class="form-control form-control-fix"
                       style="float: left;margin-right: 10px;width: 66%;"/>
                <button class="btn btn-add ng-scope"
                        role="button"
                        ng-click="load()"
                        ng-if="import.currentMDPath"
                        translate="data.modal.import.server.label.list">List files</button>
            </ul>
            <div class="row" style="margin: 0;">
                <div class="col-sm-12 well block-folders" style="overflow:auto; height:275px;">
                    <ul class="unstyled">
                        <li ng-repeat="item in columns | filter:search">
                            <i class="fa"
                               ng-class="{'fa-folder-close-alt':item.folder && !startWith(item.path),'fa-folder-open-alt':item.folder && startWith(item.path),'fa-file':!item.folder}"></i>
                            <a ng-class="{'link-sel':startWith(item.path)}"
                               title="{{item.name}}"
                               type="button" ng-click="select(item)">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-if="!import.fsserver"
             class="fileinput fileinput-new"
             data-provides="fileinput"
             style="margin-bottom: 0;">
            <div class="form-group">
                <div class="input-group">
                    <div class="form-control uneditable-input" data-trigger="fileinput">
                        <i class="glyphicon glyphicon-file fileinput-exists"></i>
                        <span class="fileinput-filename"></span>
                    </div>
                    <span class="input-group-addon btn btn-default btn-file">
                        <span class="fileinput-new" translate="data.modal.select">Select file</span>
                        <span class="fileinput-exists" translate="data.modal.change">Change</span>
                        <input type="file"
                               name="metadata"
                               onchange="angular.element(this).scope().metadataChosen(this);"/>
                    </span>
                    <a class="input-group-addon btn btn-default fileinput-exists"
                       data-dismiss="fileinput" translate="data.modal.remove">Remove</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12" style="border-top:solid 1px #ddd;padding-left:0;padding-right:0;margin-bottom: 10px;">
            <div class="form-group" style="padding: 10px 0 12px 17px; margin-bottom: 0; background-color: #E9E9E9;">
                <input type="checkbox"
                       ng-model="import.fillMetadata"/>
                <span translate="data.modal.import.metadata.askforfill">Complete automatically my metadata with information from the data</span>
            </div>
        </div>
        <div class="form-group" style="color:#808080;">
            <i class="fa fa-info-circle"></i>
            <span translate="data.modal.import.metadata.info">&nbsp;If there is no existing metadata file, the system will allows to you to creates one later.</span>
        </div>
        <div class="form-group">
            <label translate="data.modal.dataName.label">Or fill an identifier for this data</label>
            <br/>
            <div class="col-sm-6" style="padding-left:0;">
                <input class="form-control col-sm-6"
                       ng-model="import.identifier"
                       type="text"
                       name="identifier"
                       ng-change="verifyAllowNext()"
                       ng-trim="false">
            </div>
        </div>
        <div class="col-xs-12" ng-if="import.enableSelectEPSGCode">
            <label class="col-sm-12" translate="layer.listing.data.upload.selectEPSG">Select EPSG code</label>
            <input type="text"
                   ng-model="import.epsgSelected"
                   typeahead="epsgCode for epsgCode in epsgList | filter:$viewValue | limitTo:8"
                   class="form-control"
                   placeholder="{{'layer.listing.data.upload.typeEPSG' | translate}}"/>
        </div>
    </form>
</div>