<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><html class="no-js"><![endif]-->
    <head>
        <title>CSTL - Administration</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/jquery.min.css">
        <link rel="stylesheet" href="css/angular.min.css">
        <link rel="stylesheet" href="css/c3.min.css">
        <link rel="stylesheet" href="css/famfamfam-flags.min.css">
        <link rel="stylesheet" href="css/highlight.min.css">
        <link rel="stylesheet" href="css/cstl.css">
        <link rel="stylesheet" href="css/openlayers.min.css">
    </head>
    <body ng-app="CstlAdminApp">
        <!--[if lt IE 10]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

        <div id="header" ng-controller="HeaderController" ng-init="showDomain=false">
            <a id="brand" href="#">
                <img src="img/constellation-menu.svg"/>
            </a>
            <ul class="nav navbar-right nav-pills ng-cloak nav-user pull-right">
                <li class="dropdown pointer" >
                    <a class="dropdown-toggle" data-toggle="dropdown">
                                <span>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="hidden-tablet" >{{firstname}} {{lastname}}</span>
                                    <span class="fa fa-caret-down"></span>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-class="navClass('profile')" href="#/profile">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span translate="global.menu.edit">Edit profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="logout()">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span translate="global.menu.admin.logout">Log out</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div id="navigation" class="ng-cloak">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-right navbar-collapse">
                    <ul class="nav nav-pills" ng-hide="authenticated">
                        <li style="margin-left:2px;" class="dropdown pointer" ng-controller="LanguageController">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <span>
                                    <span class="glyphicon glyphicon-flag"></span>&nbsp;
                                    <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li active-menu="en">
                                    <a ng-click="changeLanguage('en')">
                                        <span class="famfamfam-flag-gb"></span>&nbsp;
                                        <span translate="global.language.en">English</span>
                                    </a>
                                </li>
                                <li active-menu="fr">
                                    <a ng-click="changeLanguage('fr')">
                                        <span class="famfamfam-flag-fr"></span>&nbsp;
                                        <span translate="global.language.fr">French</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav nav-pills" ng-controller="navCtrl">
                        <li class="hidden-sm hidden-md">
                            <a ng-class="navClass('webservice')" href="#/webservice" id="webserviceLink">
                                <span class="glyphicon glyphicon-cloud"></span>
                                <span translate="global.menu.web-service">Services web</span>
                            </a>
                        </li>
                        <li class="hidden-xs hidden-lg">
                            <a ng-class="navClass('webservice')" href="#/webservice">
                                <span class="glyphicon glyphicon-cloud"></span>
                                <span translate="global.menu.web-service.min">Services web</span>
                            </a>
                        </li>
                        <li>
                            <a ng-class="navClass('data')" href="#/data" id="dataLink">
                                <span class="glyphicon glyphicon-file"></span>
                                <span translate="global.menu.data">Données</span>
                            </a>
                        </li>
                        <li>
                            <a ng-class="navClass('sensors')" href="#/sensors" id="sensorLink">
                                <span ng-class="navClass('sensors')" class="icon-menu-sensor"></span>
                                <span translate="global.menu.sensor">Sensor</span>
                            </a>
                        </li>
                        <li>
                            <a ng-class="navClass('styles')" href="#/styles" id="stylesLink">
                                <span class="fa fa-paint-brush"></span>
                                <span translate="global.menu.style">Styles</span>
                            </a>
                        </li>
                        <li class="hidden-sm">
                            <a ng-class="navClass('mapcontext')" href="#/mapcontext" id="mapcontextLink">
                                <span ng-class="navClass('mapcontext')" class="icon-menu-mapcontext"></span>
                                <span translate="global.menu.mapcontext">Map context</span>
                            </a>
                        </li>
                        <li ng-if="!hasRole('cstl-admin')" class="hidden-sm">
                            <a ng-class="navClass('tasks')" href="#/tasks" id="task">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span translate="global.menu.tasks">Tasks</span>
                            </a>
                        </li>
                        <li ng-if="hasRole('cstl-admin')" class="hidden-sm hidden-md">
                            <a ng-class="navClass('tasks')" href="#/tasks" id="taskAdmin">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span translate="global.menu.tasks">Tasks</span>
                            </a>
                        </li>
                        <li class="hidden-sm hidden-md" ng-if="hasRole('cstl-admin')">
                            <a ng-class="navClass('admin')" href="#/admin" id="admin">
                                <span ng-class="navClass('admin')" class="glyphicon glyphicon-wrench"></span>
                                <span translate="global.menu.admin.main">Administration</span>
                            </a>
                        </li>

                        <li class="dropdown pointer hidden-lg hidden-md hidden-xs">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <span>
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span class="hidden-tablet" translate="global.menu.other">Other</span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu menu-other">
                                <li>
                                    <a ng-class="navClass('mapcontext')" href="#/mapcontext">
                                        <span ng-class="navClass('mapcontext')" class="icon-menu-mapcontext" style="width:12px; height:12px; color:transparent;">aa</span>
                                        <span ng-class="navClass('mapcontext')" class="icon-menu-mapcontext"></span>
                                        <span translate="global.menu.mapcontext">Map context</span>
                                    </a>
                                </li>
                                <li>
                                    <a ng-class="navClass('tasks')" href="#/tasks">
                                        <span class="glyphicon glyphicon-cog"></span>
                                        <span translate="global.menu.tasks">Tasks</span>
                                    </a>
                                </li>
                                <li ng-if="hasRole('cstl-admin')">
                                    <a ng-class="navClass('admin')" href="#/admin">
                                        <span ng-class="navClass('admin')" class="glyphicon glyphicon-wrench"></span>
                                        <span translate="global.menu.admin.main">Administration</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li ng-if="hasRole('cstl-admin')" class="dropdown pointer hidden-lg hidden-sm hidden-xs">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <span>
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span class="hidden-tablet" translate="global.menu.other">Other</span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ng-class="navClass('tasks')" href="#/tasks">
                                        <span class="glyphicon glyphicon-cog"></span>
                                        <span translate="global.menu.tasks">Tasks</span>
                                    </a>
                                </li>
                                <li ng-if="hasRole('cstl-admin')">
                                    <a ng-class="navClass('admin')" href="#/admin">
                                        <span ng-class="navClass('admin')" class="glyphicon glyphicon-wrench"></span>
                                        <span translate="global.menu.admin.main">Administration</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container" ng-view></div>

        <div id="footer">
            <ul class="nav navbar nav-pills" >
                <li class="copy">&copy;2014</li>
                <li><a href="#/disclaimer" translate="label.disclaimer">About Constellation</a></li>
                <li><a href="#/help" translate="label.help">Getting started</a></li>
            </ul>
            <ul class="nav navbar-right nav-pills" >
                <li class="copy launchedby" translate="label.lauchedby">Launched by </li>
                <li><a class="logo-geomatys-a" href="http://www.geomatys.com" target="_blank"><img class="logo-geomatys" src="img/logo-geomatys.svg" alt="Geomatys"/></a></li>
            </ul>
        </div>


        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/openlayers.min.js"></script>
        <script type="text/javascript" src="js/d3.min.js"></script>
        <script type="text/javascript" src="js/c3.min.js"></script>
        <script type="text/javascript" src="js/ace.min.js"></script>
        <script type="text/javascript" src="js/sockjs.min.js"></script>
        <script type="text/javascript" src="js/stomp.min.js"></script>
        <script type="text/javascript" src="js/highlight.min.js"></script>
        <script type="text/javascript" src="js/dygraph.min.js"></script>
        <script type="text/javascript" src="js/cstl.js"></script>
    </body>
</html>
