<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title" translate="data.modal.local.title">Local file</h4>
        </div>
        <div class="modal-body">
            <form id="uploadSensor" class="form-horizontal">
                <!-- Upload data -->
                <label class="col-sm-2 col-xs-3" translate="label.sensor">Sensor</label>
                <div class="btn-lg tooltipicon">
                    <span type="button" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.sensor.add' | translate }}" ></span>
                </div>
                <div class="fileinput fileinput-new" style="margin-top:5px;"  data-provides="fileinput">
                    <div class="input-group">
                        <div class="form-control uneditable-input" data-trigger="fileinput">
                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                            <span class="fileinput-filename"></span>
                        </div>
                                <span class="input-group-addon btn btn-default btn-file">
                                    <span class="fileinput-new" translate="data.modal.select">Select file</span>
                                    <span class="fileinput-exists" translate="data.modal.change">Change</span>
                                    <input type="file" name="data"></span>
                        <a class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput" translate="data.modal.remove">Remove</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="cancelButton" class="btn btn-default" ng-click="close()" translate="data.modal.cancel">Cancel</button>
            <button type="button" id="submitButton" class="btn btn-add" ng-click="uploadData()" translate="data.modal.end">Finish</button>
        </div>
    </div>
</div>
