<div class="modal-dialog modal-dialog-resp-height">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title" translate="service.edit.dashboard.action.add.data">Add data</h4>
        </div>
        <div class="modal-body modal-body-list-data" style="height: 575px;overflow-y: auto;">
            <div class="dashboard" ng-hide="wmtsParams">
                <div class="navbar sort-navbar" style="margin-bottom:6px;">
                    <div class="navbar-inner">
                        <ul class="nav nav-style">
                            <li ng-click="$parent.wrap.ordertype='Name';$parent.wrap.orderreverse=false"><a translate="service.edit.dashboard.header.title">
                                Title<i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
                            </a></li>
                            <li class="divider-vertical"></li>
                            <li ng-click="$parent.wrap.ordertype='Date';$parent.wrap.orderreverse=true"><a translate="service.edit.dashboard.header.date">
                                Date<i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
                            </a></li>
                            <li class="divider-vertical"></li>
                            <li ng-click="$parent.wrap.ordertype='Owner';$parent.wrap.orderreverse=false"><a translate="service.edit.dashboard.header.owner">
                                Owner<i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
                            </a></li>
                            <li class="divider-vertical"></li>
                            <li ng-click="$parent.wrap.ordertype='Owner';$parent.wrap.orderreverse=false"><a translate="service.edit.dashboard.header.type">
                                Type<i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
                            </a></li>
                            <li class="divider-vertical"></li>
                        </ul>
                        <button type="button" ng-click="$parent.wrap.ordertype='Name';$parent.wrap.orderreverse=false" class="btn btn-xs btn-data btn-sos"><i class="fa fa-times"></i></button>
                        <div class="pull-right">
                            <div style="position:relative;">
                                <div class="ajax-loader" style="right:0;position:absolute;"></div>
                                <input type="text"
                                       ng-model="$parent.wrap.filtertext"
                                       class="searchbox search-query form-control"
                                       placeholder="..." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dash-inner row dashboard" ng-init="init()">
                    <div id="list" data-role="list">
                        <div class="pagination-wrapper pagination-sos pagination-data">
                            <strong class="col-xs-12">
                                <span class="nb-results pull-left">{{countdata}}</span>
                                <span class="nb-results" translate="label.count.data">available data</span>
                            </strong>

                            <div class="row" style="margin-left: 0; margin-right: 0;">
                                <div class="col-sm-9" style="padding-left:15px; margin-top: 5px;"
                                     page-switcher="{page:currentpage,size:wrap.nbbypage,count:countdata}"
                                     on-select-page="displayPage(page)"></div>
                                <select class="nb-per-page input-small form-control pull-right col-xs-2 "
                                        style="padding-left: 5px;padding-right: 5px; margin-right: 15px; margin-top: 5px;"
                                        ng-model="$parent.wrap.nbbypage">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>

                        </div>
                        <div class="item-list">
                            <div ng-repeat="sosdata in dataList">
                                <div class="item" ng-class="{'sensor-sos':sosdata.type!=='System','sensor-system':sosdata.type==='System','selected':sosdata==selected}" ng-click="select(sosdata);selectSensorsChild(null);">
                                    <div class="top">
                                        <span class="item-title">{{truncate(sosdata.id)}}</span>
                                        <span ng-if="sosdata.type==='System'" class="pull-right text-right item-list-style"  style="font-size:14px;" translate="label.sensor.system">sensor system</span>
                                        <span ng-if="sosdata.type!=='System'" class="pull-right text-right item-list-style"  style="font-size:14px;" translate="label.sensor">sensor</span>
                                    </div>
                                    <div class="bottom">
                                        <div class="block">
                                            <i class="fa fa-calendar"></i>{{sosdata.createDate | date:'yyyy-MM-dd'}}
                                        </div>
                                        <div class="block">
                                            <i class="fa fa-user"></i>{{sosdata.creator}}
                                        </div>
                                        <div class="block pull-right">
                                            <i class="fa fa-paperclip"></i>
                                            <span ng-if="sosdata.children == null || sosdata.children.length == 0" translate="md.listing.no.data">No</span>
                                            <span ng-if="sosdata.children.length > 0">{{sosdata.children.length}}</span>
                                            <span translate="service.edit.dashboard.sensors.list.associated">associated sensors</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="item child sensor-sos" ng-if="sosdata==selected" ng-repeat="soschild in sosdata.children" ng-class="{'selected':soschild===selectedSensorsChild}" ng-click="selectSensorsChild(soschild)">
                                    <div class="top">
                                        <span class="item-title">{{truncate(soschild.id)}}</span>
                                        <span class="pull-right text-right item-list-style" style="font-size:14px;" translate="label.sensor">sensor</span>
                                    </div>
                                    <div class="bottom">
                                        <div class="block">
                                            <i class="fa fa-calendar"></i>{{soschild.createDate | date:'yyyy-MM-dd'}}
                                        </div>
                                        <div class="block">
                                            <i class="fa fa-user"></i>{{soschild.creator}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="wmtsParams">
                <div class="form-group">
                    <div class="control-label" for="tileFormat" translate="data.modal.choose.tile.format">Tile format</div>
                    <input type="text" class="form-control" ng-model="$parent.tileFormat" id="tileFormat"/>
                </div>
                <div class="form-group">
                    <div class="control-label" for="crs">CRS</div>
                    <input type="text" class="form-control" ng-model="$parent.crs" id="crs"/>
                </div>
                <div class="form-group">
                    <div class="control-label" for="scales" translate="data.modal.choose.scales">Scales</div>
                    <input type="text" class="form-control" ng-model="$parent.scales" id="scales" ng-list required/>
                </div>
                <div class="form-group">
                    <div class="control-label" for="upperCornerX" translate="data.modal.choose.uppercornerx">Upper corner X</div>
                    <input type="text" class="form-control" ng-model="$parent.upperCornerX" id="upperCornerX"/>
                </div>
                <div class="form-group">
                    <div class="control-label" for="upperCornerY" translate="data.modal.choose.uppercornery">Upper corner Y</div>
                    <input type="text" class="form-control" ng-model="$parent.upperCornerY" id="upperCornerY"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()" translate="label.close">Close</button>
            <button type="button" class="btn btn-add" ng-click="choose()" translate="data.modal.choose">Choose</button>
        </div>
    </div>
</div>
