<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>juzu.run_mode</param-name>
        <param-value>prod</param-value>
    </context-param>
    <context-param>
        <param-name>juzu.inject</param-name>
        <param-value>spring</param-value>
    </context-param>
    <context-param>
        <param-name>juzu.request_encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>

    <servlet>
        <servlet-name>Overview Servlet</servlet-name>
        <servlet-class>org.constellation.gui.servlet.OverviewServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    
    <servlet>
      <servlet-name>spring</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
      <servlet-name>spring</servlet-name>
      <url-pattern>/constellation/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Overview Servlet</servlet-name>
        <url-pattern>/overview/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
</web-app>
