<div class="modal-dialog modal-dialog-edit-task modal-dialog-resp-height">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title" translate="{{task.id === null ?'tasks.modal.title':'tasks.information.edit'}}">Add new task</h4>
        </div>
        <div class="modal-body modal-body-style" style="padding-top: 15px; overflow-y: auto;">
            <!-- WRITE CONTENT HERE -->
            <form id="formModalAddTask" class="col-sm-12" role="form">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" ng-class="{'has-error':!isValid('inputTaskName')}">
                            <label for="inputTaskName" translate="tasks.modal.name">
                                Task name *
                            </label>
                            <input type="text" required="required" id="inputTaskName" class="form-control" ng-model="task.name" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="selectProcessAuthority" translate="tasks.modal.authority">Authority</label>
                            <p class="form-control-static" ng-if="task.id != null">{{task.processAuthority}}</p>
                            <select id="selectProcessAuthority" ng-if="task.id == null" ng-model="option.authIndex" class="form-control">
                                <option ng-repeat="auth in processes track by $index" ng-selected="$index==option.authIndex" value="{{$index}}">{{auth.auth}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="selectProcessCode" translate="tasks.modal.process">Process</label>
                            <p class="form-control-static" ng-if="task.id != null">{{task.processCode}}</p>
                            <select id="selectProcessCode" ng-if="task.id == null" ng-model="option.processIndex" class="form-control">
                                <option ng-repeat="process in processes[option.authIndex].processes track by $index" ng-selected="$index==option.processIndex" value="{{$index}}">{{process}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <hr class="form-separator"/>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group row" ng-class="{'has-error':!isValid(parameter.name)}"
                             ng-repeat="parameter in parameters track by $index"
                             ng-include="'views/tasks/param_renderer.html'"></div>
                    </div>
                </div>
            </form>

            <!-- END CONTENT -->
        </div>
        <div class="modal-footer">
            <button type="button" id="cancelButton" class="btn btn-default" ng-click="cancel()" translate="mapcontext.modal.cancel">Cancel</button>
            <button type="submit" id="submitButton" class="btn btn-primary" ng-class="{disabled:!canManage}" ng-click="validate()" translate="mapcontext.modal.validate">Validate</button>
        </div>
    </div>
</div>