<div class="modal-dialog modal-dialog-resp-height">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title" translate="tasks.modal.title">Add new task</h4>
        </div>
        <div class="modal-body modal-body-style" style="padding-top: 15px; overflow-y: auto;">
            <!-- WRITE CONTENT HERE -->
            <form id="formModalAddTask" class="col-sm-12" role="form">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" ng-class="{'has-error':!isValid('inputTaskName')}">
                            <label for="inputTaskName" translate="tasks.modal.name">
                                Task name *
                            </label>
                            <input type="text" required="required" id="inputTaskName" class="form-control" ng-model="task.name" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="selectProcessAuthority" translate="tasks.modal.authority">Authority</label>
                            <p class="form-control-static" ng-if="task.id!=0">{{task.processAuthority}}</p>
                            <select id="selectProcessAuthority" ng-if="task.id==0" ng-model="option.authIndex" class="form-control">
                                <option ng-repeat="auth in processes track by $index" ng-selected="$index==option.authIndex" value="{{$index}}">{{auth.auth}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="selectProcessCode" translate="tasks.modal.process">Process</label>
                            <p class="form-control-static" ng-if="task.id!=0">{{task.processCode}}</p>
                            <select id="selectProcessCode" ng-if="task.id==0" ng-model="option.processIndex" class="form-control">
                                <option ng-repeat="process in processes[option.authIndex].processes track by $index" ng-selected="$index==option.processIndex" value="{{$index}}">{{process}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <hr class="form-separator"/>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" ng-class="{'has-error':!isValid(element.name)}" ng-repeat="element in inputs track by $index" ng-switch="element.annotation.info" >
                            <!-- java.lang.String management -->
                            <div ng-switch-when="valueClass:java.lang.String">
                                <label for="{{element.name}}">{{element.name}} {{element.mandatory?'*':''}}</label>

                                <!-- We need one String element with no restriction -->
                                <div ng-show="element.maxOccurs==1 && element.restriction.enumeration.length == 0">
                                    <input id="{{element.name}}" class="form-control" ng-required="element.mandatory" type="text" value="{{element.default}}" name="{{element.name}}" ng-model="element.save[0]" />
                                </div>

                                <!-- We need one String element with 1 restriction -->
                                <div ng-show="element.maxOccurs==1 && element.restriction.enumeration.length == 1">
                                    <p id="{{element.name}}" class="form-control-static">{{element.restriction.enumeration[0]}}"</p>
                                </div>

                                <!-- We need one String element with multiple restriction -->
                                <div ng-show="element.maxOccurs==1 && element.restriction.enumeration.length > 1">
                                    <select id="{{element.name}}" ng-required="element.mandatory" class="form-control" ng-model="element.save[0]">
                                        <option ng-repeat="val in element.restriction.enumeration track by $index" value="val">{{val}}</option>
                                    </select>
                                </div>

                                <p class="help-block">{{element.annotation.documentation}}</p>
                            </div>

                            <!-- java.lang.Boolean management -->
                            <div ng-switch-when="valueClass:java.lang.Boolean">
                                <label for="{{element.name}}">{{element.name}} {{element.mandatory?'*':''}}</label>

                                <!-- We need one Boolean element -->
                                <div class="checkbox" ng-show="element.maxOccurs==1">
                                    <input id="{{element.name}}" type="checkbox" value="{{element.default}}" name="{{element.name}}" ng-model="element.save[0]" />
                                    {{element.annotation.documentation}}
                                </div>
                            </div>

                            <!-- java.net.URL management -->
                            <div ng-switch-when="valueClass:java.net.URL">
                                <label for="{{element.name}}">{{element.name}} {{element.mandatory?'*':''}}</label>

                                <!-- We need one URL element -->
                                <div ng-show="element.maxOccurs==1">
                                    <input id="{{element.name}}" ng-required="element.mandatory" class="form-control" type="text" value="{{element.default}}" name="{{element.name}}" ng-model="element.save[0]" />
                                </div>

                                <p class="help-block">{{element.annotation.documentation}}</p>
                            </div>

                            <!-- java.io.File management -->
                            <div ng-switch-when="valueClass:java.io.File">
                                <label for="{{element.name}}">{{element.name}} {{element.mandatory?'*':''}}</label>

                                <!-- We need one File element with no restriction -->
                                <div ng-show="element.maxOccurs==1">
                                    <input id="{{element.name}}" ng-required="element.mandatory" class="form-control" type="text" value="{{element.default}}" name="{{element.name}}" ng-model="element.save[0]" />
                                </div>

                                <p class="help-block">{{element.annotation.documentation}}</p>
                            </div>

                            <!-- java.lang.Integer management -->
                            <div ng-switch-when="valueClass:java.lang.Integer">
                                <label for="{{element.name}}">{{element.name}} {{element.mandatory?'*':''}}</label>

                                <!-- We need one Integer element with no restriction -->
                                <div ng-show="element.maxOccurs==1">
                                    <input id="{{element.name}}" ng-required="element.mandatory" class="form-control" type="number" value="{{element.default}}" name="{{element.name}}" ng-model="element.save[0]" />
                                </div>

                                <p class="help-block">{{element.annotation.documentation}}</p>
                            </div>

                            <!-- java.lang.Double management -->
                            <div ng-switch-when="valueClass:java.lang.Double">
                                <label for="{{element.name}}">{{element.name}} {{element.mandatory?'*':''}}</label>

                                <!-- We need one Double element with no restriction -->
                                <div ng-show="element.maxOccurs==1">
                                    <input id="{{element.name}}" ng-required="element.mandatory" class="form-control" type="number" value="{{element.default}}" name="{{element.name}}" ng-model="element.save[0]" />
                                </div>

                                <p class="help-block">{{element.annotation.documentation}}</p>
                            </div>

                            <!-- We can't edit this type -->
                            <div ng-switch-default>
                                <label for="{{element.name}}">{{element.name}} {{element.mandatory?'*':''}}</label>
                                <p id="{{element.name}}" class="form-control-static">This field can't be manage in the web application</p>
                                <p class="help-block">{{element.annotation.documentation}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- END CONTENT -->
        </div>
        <div class="modal-footer">
            <button type="button" id="cancelButton" class="btn btn-default" ng-click="cancel()" translate="mapcontext.modal.cancel">Cancel</button>
            <button type="submit" id="submitButton" class="btn btn-primary" ng-class="{disabled:!canManage}" ng-click="validate()" translate="mapcontext.modal.validate">Validate</button>
        </div>
    </div>
</div>