<div class="logo-wrapper row">
    <div class="col-sm-9">
        <h3 class="header-title" translate="page.header.title.tasks">Tasks Dashboard</h3>
    </div>
    <div class="col-sm-3">
        <div class="pull-right">
            <a class="btn btn-add btn-lg" ng-click="showAddTaskPopup()" style="margin-top:8px;padding:15px 19px;">
                <span class="fa fa-plus" style="margin-right:5px;"></span>
                <span translate="label.add.task"> Add task</span>
            </a>
        </div>
    </div>
</div>
<div id="ProcessDashboard" class="row" ng-init="init()">
    <div class="col-sm-12">
        <div class="frame dashboard">
            <div class="navbar navbar-default" >
                <div class="navbar-header col-xs-12 col-sm-8 col-md-9 ">
                    <a class="navbar-brand" translate="tasks.information.title">Available tasks</a>
                </div>
                <div style="margin-top:10px;" class="col-xs-12 col-sm-4 col-md-3 ">
                    <div class="ajax-loader" style="right:0;position:absolute;"></div>
                    <input type="text"
                           ng-model="wrap.filtertext"
                           class="searchbox search-query form-control form-control-fix"
                           placeholder="{{'label.search' | translate}}" />
                </div>
            </div>
            <div class="dash-inner row">
                <div id="contentList"
                     class="pull-left"
                     style="width: 60%; margin-bottom: 5px;"
                     ng-init="small=false">
                    <div id="list" data-role="list">
                        <div class="pagination-wrapper pagination-data pagination-task">
                            <strong class="col-lg-6 col-xs-8 col-md-6">
                                <span class="nb-results pull-left">{{wrap.countdata}}&nbsp;</span>
                                <span class="nb-results" translate="label.count.tasks">available tasks</span>
                            </strong>
                            <div class="hidden-sm hidden-xs pull-right col-md-6" style="padding-right:0;">
                                <button type="button" ng-click="small=true"
                                        class="pull-right btn btn-xs btn-info btn-task  btn-data"
                                        ng-class="{'btn-small-selected':small==true}"
                                        style="border-radius:0 3px 3px 0; margin-top: 5px; width:32px; height:34px;">
                                    <img src="img/btn-display-reduced.svg" alt="" />
                                </button>
                                <button type="button" ng-click="small=false"
                                        class="pull-right btn btn-xs btn-info btn-task btn-data"
                                        ng-class="{'btn-small-selected':small==false}"
                                        style="margin-left: 10px; border-radius:3px 0 0 3px; margin-top: 5px; width:32px; height:34px;">
                                    <img src="img/btn-display-normal.svg" alt="" />
                                </button>
                                <p class="pull-right" style="margin-top:12px;" translate="label.display">Display :</p>
                            </div>
                            <div class="row">
                                <div class="col-sm-9" style="padding-left:15px; margin-top: 5px;"
                                     page-switcher="{page:wrap.currentpage,size:wrap.nbbypage,count:wrap.countdata}"
                                     on-select-page="displayPage(page)"></div>
                                <select class="nb-per-page input-small form-control pull-right col-xs-2 "
                                        style="padding-left: 5px;padding-right: 5px; margin-right: 15px; margin-top: 5px;"
                                        ng-model="wrap.nbbypage">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="item-list">
                            <div ng-repeat="task in wrap.dataList" ng-class="{'col-xs-6':small}" style="padding-left:0;">
                                <div class="item registry" ng-class="{selected:task==selected, 'style-small':small}" ng-click="select(task);">
                                    <div class="top">
                                        <span class="item-title" title="{{task.name}}">{{truncate(small,task.name)}} </span>
                                    </div>
                                    <div class="bottom">
                                        <div ng-class="{'hidden':!small}">
                                            <div class="block tooltipicon"
                                                 style="margin-top:0;text-shadow: none;">
                                                <i class="fa fa-calendar"
                                                   tooltip data-placement="top"
                                                   title="{{task.date | date:'yyyy-MM-dd'}}"></i>
                                            </div>
                                        </div>
                                        <div ng-class="{'hidden':small}">
                                            <div class="block">
                                                <i class="fa fa-calendar"></i>{{task.date | date:'yyyy-MM-dd'}}
                                            </div>
                                        </div>
                                        <div class="block pull-right">
                                            <div ng-if="task.statusList.length > 0">
                                                <i class="fa fa-paperclip"></i>
                                                <span ng-if="task.statusList.length > 0">{{task.statusList.length}}</span>
                                                <span translate="service.edit.dashboard.tasks.list.associated" ng-class="{hide:small}">associated tasks</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item process-child" style="margin-top:0;" ng-if="task==selected"
                                     ng-repeat="exec in task.statusList | filter:{ status: 'RUNNING'}"
                                     ng-class="{'selected':process===selectedProcessChild, 'child':small==false, 'col-xs-11':small==true, 'col-sm-offset-1':small, 'style-small':small}">
                                    <div class="top">
                                        <div class="progress progress-striped active" style="margin:5px;">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                 aria-valuenow="0"
                                                 aria-valuemin="0"
                                                 aria-valuemax="200"
                                                 style="width: {{exec.percent}}%" >
                                                {{exec.percent}}%
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="block">
                                            <span title="{{exec.message}}">{{truncate(false, exec.message)}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-left" style="width: 40%;">
                    <div id="block-information-right" style="padding: 10px;">
                        <div id="selection">
                            <div class="alert alert-task alert-info alert-data" ng-if="selected === null">
                                <h4 translate="label.no.selected.task">No selected task</h4>
                                <p translate="msg.no.selected.task" style="font-weight:normal;">Click on a data to display more information</p>
                            </div>
                            <div class="selected-item" id="selected-item" ng-if="selected !== null">
                                <div class="block-header block-header-process" ng-click="toggleUpDownSelected()">
                                    <strong class="item-title title-bloc"
                                            title="{{selected.Name}}">{{truncateTitleBlock(selected.name)}}</strong>
                                    <i class="fa fa-chevron-down pull-right"></i>
                                </div>
                                <div class="block-action block-action-process">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <span class="tooltipicon">
                                                <button class="btn btn-process" type="button" ng-click="showAddTaskPopup(selected.id)"
                                                        data-placement="bottom" title="{{'tasks.information.edit' | translate }}" tooltip>
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <div class="col-sm-2">
                                            <span class="tooltipicon">
                                                <button type="button" class="btn btn-process" ng-click="duplicateTask(selected.id);"
                                                        data-placement="bottom" title="{{'tasks.information.duplicate' | translate }}" tooltip>
                                                    <i class="fa fa-copy"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <div class="col-sm-2">
                                            <span class="tooltipicon">
                                                <button type="button" class="btn btn-process" ng-click="deleteTask(selected.id);"
                                                        data-placement="bottom" title="{{'tasks.information.delete' | translate }}" tooltip>
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <div class="col-sm-2">
                                            <span class="tooltipicon">
                                                <button type="button" class="btn btn-process" ng-click="executeTask(selected.id);"
                                                        data-placement="bottom" title="{{'tasks.information.execute' | translate }}" tooltip>
                                                    <i class="glyphicon glyphicon-flash"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <div class="col-sm-2">
                                            <span class="tooltipicon">
                                                <button type="button" class="btn btn-process" ng-click="showPlanningTaskPopup(selected.id);"
                                                        data-placement="bottom" title="{{'tasks.information.planning' | translate }}" tooltip>
                                                    <i class="fa fa-clock-o"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-content block-content-process" ng-show="selected.statusList.length > 0">
                                    <h6 translate="task.history">History</h6>
                                    <div class="row description-block">
                                        <table class="table table-condensed table-hover task-history"
                                               fixed-header table-height="215px" ng-model="selected.statusList">
                                            <thead>
                                                <tr>
                                                    <th translate="task.history.date">Date</th>
                                                    <th translate="task.history.state">Status</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="status in selected.statusList | filter:statusHistoryFilter | orderBy:-end:false"
                                                    ng-class="statusClass(status)"
                                                    style="line-height: 20px">
                                                    <td>{{status.end | date:"dd/MM/yyyy h:mma"}}</td>
                                                    <td>{{statusLabelKey(status) | translate}}</td>
                                                    <td>
                                                       <span ng-click="showMessage(status)"
                                                             title="{{messageType(status) | translate }}" tooltip
                                                             style="display: inline-block; cursor: pointer;">
                                                           <i class="glyphicon glyphicon-info-sign"/>
                                                       </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div scroll-to="" id="backtotop" class="backtotop" ng-hide="hideScroll">
    <span class="glyphicon glyphicon-chevron-up"></span>
</div>
