<html>
<body>

	<div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h1 translate="login.title">Authentication</h1>

				<div class="alert alert-danger" ng-show="authenticationError"
					translate="login.messages.error.authentication">
					<strong>Authentication failed!</strong> Please check your
					credentials and try again.
				</div>
				<form class="form" role="form"
					action="j_spring_security_check"
					method="post">
					<div class="form-group">
						<label for="username" translate="login.form.username">Login</label>
						<input type="text" class="form-control" name="j_username"
							id="username"
							placeholder="{{'login.form.username.placeholder' | translate}}"
							ng-model="username">
					</div>
					<div class="form-group">
						<label for="password" translate="login.form.password">Password</label>
						<input type="password" class="form-control" name="j_password"
							id="password"
							placeholder="{{'login.form.password.placeholder' | translate}}"
							ng-model="password">
					</div>
					<button type="submit" class="btn btn-primary"
						translate="login.form.button">Authenticate</button>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</body>
</html>
