<div class="row" style="margin-bottom: 20px; margin-top: 50px;">
    <div class="col-sm-6 col-md-5 col-md-offset-1 accueil_logo">
        <img src="images/constellation.png"/>
    </div>
    <div class="col-sm-6 accueil_text_welcome">
        <h2>
            <span translate="homepage.title">Welcome on Constellation!</span>
        </h2>
    </div>
</div>

<div class="row">
    <!-- Service block -->
    <div class="col-sm-6"  >
        <div class="well accueil-well">
            <div class="row" style="padding: 37px 27px;">
                <div class="col-sm-12">
                    <p class="accueil_bloc_text" translate="homepage.text.intro">
                        <b>Constellation-SDI</b> is the perfect solution to easily set up your Spatial Data Infrastructure.
                    </p>
                    <div class="row accueil_bloc_images">
                        <div class="col-xs-12 col-md-3">
                            <img style="margin-top: 15px; " src="images/services.png">
                        </div> 
                        <div class="col-xs-12 col-md-8">
                            <p class="accueil_bloc_text" translate="homepage.text.services">
                                Vous pouvez créer des <b>services web</b> pour ensuite y ajouter des données 
                            </p>
                        </div>
                    </div>
                    <div class="row accueil_bloc_images">
                        <div class="col-xs-12 col-md-3">
                            <img src="images/data.png">
                        </div> 
                        <div class="col-xs-12 col-md-8">
                            <p class="accueil_bloc_text" translate="homepage.text.data">
                                Vous pouvez gérer vos <b>données</b> 
                            </p>
                        </div>
                    </div>
                    <div class="row accueil_bloc_images">
                        <div class="col-xs-12 col-md-3">
                            <img src="images/stat.png">
                        </div> 
                        <div class="col-xs-12 col-md-8">
                            <p class="accueil_bloc_text" translate="homepage.text.stat">
                                Vous pouvez visualiser les <b>statistiques</b> de votre serveur 
                            </p>
                        </div>
                    </div>                                                                    
                </div>
            </div>
        </div>
    </div>





    <!-- Formulaire d'authentification
    <div class="col-sm-6" ng-hide="authenticated" >
        <div class="well" style="padding-bottom: 0px; padding-top: 0px; margin-top: 170px;">
            <div class="row" style="padding: 0px 27px 27px 27px;">
                <div class="col-sm-12">
                    <div class="row">
                        <h1 style="font-size:20px; color:#5e5e5e; margin-bottom:20px;" translate="login.title">Authentication</h1>
                        <form class="form" role="form" action="j_spring_security_check" method="post">
                            <div class="form-group">
                                <label for="username" translate="login.form.username">Login</label>
                                <input type="text" class="form-control" name="j_username"
                            id="username"
                            placeholder="login"
                            ng-model="username">
                            </div>
                            <div class="form-group">
                                <label for="password" translate="login.form.password">Password</label>
                                <input type="password" class="form-control" name="j_password"
                            id="password"
                            placeholder="password"
                            >
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                     </div>
                </div>
            </div>
        </div>
    </div>
    -->


    <div class="col-sm-6" ng-if="authenticated">
        <div class="well" style="padding-bottom: 0px; padding-top: 0px; margin-top: 170px;" ng-init="countStats()">
            <div class="row" style="padding: 0px 27px 27px 27px;">
                <div class="col-sm-12">
                    <div class="row">
                        <h1 style="font-size:20px; color:#5e5e5e; margin-bottom:20px;" translate="homepage.satistics.title">Statistics</h1>
                        <div class="row">
                            <div class="col-xs-6">
                                <div style="background-color:#eaeaea; padding:10px; border-radius:5px; text-align:center; background-image:url('images/index-img-services.png'); background-repeat:no-repeat; background-position:3% 80%;">
                                    <p class="col-xs-12" translate="homepage.satistics.services"><strong>Active Services</strong></p>
                                    <p class="col-xs-12" style="font-size:30px; font-weight:bold;">{{nbservices}}</p>
                                </div>
                            </div>
                            <div class="col-xs-6" >
                                <div style="background-color:#eaeaea; padding:10px; border-radius:5px; text-align:center; background-image:url('images/index-img-data.png'); background-repeat:no-repeat; background-position:5% 80%;">
                                    <p class="col-xs-12" translate="homepage.satistics.data"><strong>Integrated Data</strong></p>
                                    <p class="col-xs-12" style="font-size:30px; font-weight:bold;">{{nbdata}}</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-xs-6" >
                                <div style="background-color:#eaeaea; padding:10px; border-radius:5px; text-align:center; background-image:url('images/index-img-user.png'); background-repeat:no-repeat; background-position:3% 100%;">
                                    <p class="col-xs-12" translate="homepage.satistics.users"><strong>Created Users</strong></p>
                                    <p class="col-xs-12" style="font-size:30px; font-weight:bold;">1</p>
                                </div>
                            </div>
                            <div class="col-xs-6" >
                                <div style="background-color:#eaeaea; padding:10px; border-radius:5px; text-align:center; background-image:url('images/index-img-process.png'); background-repeat:no-repeat; background-position:3% 90%;">
                                    <p class="col-xs-12" translate="homepage.satistics.process"><strong>Process</strong></p>
                                    <p class="col-xs-12" style="font-size:30px; font-weight:bold;">{{nbprocess}}</p>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
