<div class="row" style="margin-bottom: 20px; margin-top: 20px;">
    <div class="span4">
        <a href="http://localhost:8080/cstl-web-client/"><img src="images/constellation.png"/></a>
    </div>
    <div class="span6 offset1">
        <h2>Bienvenue dans Constellation!</h2>
    </div>
</div>


<div class="row-fluid">
    <!-- Service block -->
    <div class="span6 well">
        <div class="row-fluid">
            <div class="span4">
                <img src="images/services.png" style="display: block; margin: 0 auto;"/>
                <p><h3 class="text-center">Services web</h3></p>
                <a ng-show="authenticated" href="#/webservice" class="btn" style="display: block; margin: 0 auto;" id="servicebtn">Créer un service web</a>
            </div>
            <div class="span7 offset1" style="font-size:14px">
                <p>Vous pouvez créer un nouveau service pour ensuite y ajouter des données.</p><p>Services gérés par Constellation :</p>
                <div class="span3">
                    CSW <br/>SOS
                </div>
                <div class="span3">
                    WPS <br/>WCS
                </div>
                <div class="span3">
                    WFS <br/>WMS
                </div>
                <div class="span2">
                    WMTS
                </div>
            </div>
        </div>
    </div>

    <!-- data block -->
    <div class="span6 well">
        <div class="row-fluid">
            <div class="span4">
                <img src="images/data.png" style="display: block; margin: 0 auto;"/>
                <p><h3 class="text-center">Données</h3></p>
                <a href="http://localhost:8080/cstl-web-client/data" class="btn" style="display: block; margin: 0 auto;">Ajouter une donnée</a>
            </div>
            <div class="span7 offset1" style="font-size:14px;vertical-align:middle;display:inline-block;">
                <p>Vous pouvez créer une nouvelle donnée.</p><p>Vous pourrez ensuite la publier dans un service web.</p>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <!-- mapcontext block -->
    <div class="span6 well">
        <div class="row-fluid">
            <div class="span4">
                <img src="images/mapcontext.png" style="display: block; margin: 0 auto;"/>
                <p><h3 class="text-center">Compositions cartographiques</h3></p>
                <a href="cstl-client/createmapcontext" class="btn" style="display: block; margin: 0 auto;">Créer une composition</a>
            </div>
            <div class="span7 offset1" style="font-size:14px">
                <p>Vous pouvez assembler plusieurs données, leur donner un style et ainsi créer vos propres compositions cartographiques.</p>
            </div>
        </div>
    </div>

    <!-- geoviewer block -->
    <div class="span6 well">
        <div class="row-fluid">
            <div class="span4">
                <img src="images/geoviewer.png" style="display: block; margin: 0 auto;"/>
                <p><h3 class="text-center">Visualisation de couches</h3></p>
                <a href="cstl-client/showgeoviewer" class="btn" style="display: block; margin: 0 auto;">Visualiser les couches</a>
            </div>
            <div class="span7 offset1" style="font-size:14px;">
                <p>Vous pouvez visualiser les couches disponibles sur les différents services.</p>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <!-- statistic block -->
    <div class="span12 well">
        <div class="row-fluid">
            <div style="display: table;width: 100%;">
                <div class="span2">
                    <img src="images/stat.png" style="display: block; margin: 0 auto;"/>
                    <p><h3 class="text-center">Statistiques du serveur</h3></p>
                    <a href="cstl-client/showstatistics" class="btn" style="display: block; margin: 0 auto;">Voir les statistiques</a>
                </div>
                <div class="span7 offset1" style="font-size:14px;">
                    <img src="images/stat_temp.png" style="display: block; margin: 0 auto;height:215px"/>
                </div>
            </div>
        </div>
    </div>
</div>
