<div class="row" style="margin-bottom: 20px; margin-top: 20px;">
    <div class="col-sm-4">
        <img src="images/constellation.png"/>
    </div>
    <div class="col-sm-6 col-sm-offset-1">
        <h2><span translate="homepage.title">Welcome on Constellation!</span></h2>
    </div>
</div>


<div class="row">
    <!-- Service block -->
    <div class="col-sm-6">
        <div class="well">
            <div class="row">
                <div class="col-sm-5">
                    <img src="images/services.png" style="display: block; margin: 0 auto;"/>
                    <p><h3 class="text-center"><span translate="main.menu.ws.create.title">Services web</span></h3></p>
                    <a ng-show="authenticated" id="buttonWS" href="#/webservice" class="btn btn-default" style="display: block; margin: 0 auto;"><span translate="main.menu.ws.create.subtitle">Créer un service web</span></a>
                </div>
                <div class="col-sm-7" style="font-size:14px"><span translate="main.menu.ws.create.detail">
                    <p>Vous pouvez créer un nouveau service pour ensuite y ajouter des données.</p><p>Services gérés par Constellation :</p></span>
<!--                     <div class="col-sm-3"> -->
<!--                         CSW <br/>SOS -->
<!--                     </div> -->
<!--                     <div class="col-sm-3"> -->
<!--                         WPS <br/>WCS -->
<!--                     </div> -->
                    <div class="col-sm-3">
<!--                         WFS <br/> -->
                        WMS
                    </div>
<!--                     <div class="col-sm-2"> -->
<!--                         WMTS -->
<!--                     </div> -->
                </div>
            </div>
        </div>
    </div>

    <!-- data block -->
    <div class="col-sm-6">
        <div class="well">
            <div class="row">
                <div class="col-sm-5">
                    <img src="images/data.png" style="display: block; margin: 0 auto;"/>
                    <p><h3 class="text-center"><span translate="main.menu.data.create.title">Données</span></h3></p>
                    <a href="#/data" class="btn btn-default"  style="display: block; margin: 0 auto;"><span translate="main.menu.data.create.subtitle">Ajouter une donnée</span></a>
                </div>
                <div class="col-sm-7" style="font-size:14px;vertical-align:middle;display:inline-block;"><span translate="main.menu.data.create.detail">
                    <p>Vous pouvez créer une nouvelle donnée.</p><p>Vous pourrez ensuite la publier dans un service web.</p></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- mapcontext block -->
<!--     <div class="col-sm-6"> -->
<!--         <div class="well"> -->
<!--             <div class="row"> -->
<!--                 <div class="col-sm-4"> -->
<!--                     <img src="images/mapcontext.png" style="display: block; margin: 0 auto;"/> -->
<!--                     <p><h3 class="text-center"><span translate="main.menu.map-composition.create.title">Compositions cartographiques</span></h3></p> -->
<!--                     <a href="cstl-client/createmapcontext" class="btn btn-default"  style="display: block; margin: 0 auto;"><span translate="main.menu.map-composition.create.subtitle">Créer une composition</span></a> -->
<!--                 </div> -->
<!--                 <div class="col-sm-7 col-sm-offset-1" style="font-size:14px"><span translate="main.menu.map-composition.create.detail"> -->
<!--                     <p>Vous pouvez assembler plusieurs données, leur donner un style et ainsi créer vos propres compositions cartographiques.</p></span> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->

    <!-- geoviewer block -->
<!--     <div class="col-sm-6"> -->
<!--         <div class="well"> -->
<!--             <div class="row"> -->
<!--                 <div class="col-sm-4"> -->
<!--                     <img src="images/geoviewer.png" style="display: block; margin: 0 auto;"/> -->
<!--                     <p><h3 class="text-center"><span translate="main.menu.viewer.create.title">Visualisation de couches</span></h3></p> -->
<!--                     <a href="cstl-client/showgeoviewer" class="btn btn-default"  style="display: block; margin: 0 auto;"><span translate="main.menu.viewer.create.subtitle">Visualiser les couches</span></a> -->
<!--                 </div> -->
<!--                 <div class="col-sm-7 col-sm-offset-1" style="font-size:14px;"><span translate="main.menu.viewer.create.detail"> -->
<!--                     <p>Vous pouvez visualiser les couches disponibles sur les différents services.</p></span> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
</div>

<div class="row">
    <!-- statistic block -->
    <div class="col-sm-12">
        <div class="well">
            <div class="row">
                <div style="display: table;width: 100%;">
                    <div class="col-sm-5">
                        <img src="images/stat.png" style="display: block; margin: 0 auto;"/>
                        <p><h3 class="text-center"><span translate="main.menu.stat.title">Statistiques du serveur</span></h3></p>
                        <a href="#/metrics" class="btn btn-default" style="display: block; margin: 0 auto;"><span translate="main.menu.stat.subtitle">Voir les statistiques</span></a>
                    </div>
                    <div class="col-sm-7" style="font-size:14px;">
                        <img src="images/stat_temp.png" style="display: block; margin: 0 auto;height:215px"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
