<div class="modal-dialog modal-dialog-sld modal-dialog-responsive modal-dialog-resp-height" ng-init="initScopeStyle()">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title col-xs-3 col-md-5 col-lg-6" style="font-size:16px;"translate="edition.style.label.viewer">Style Selection</h4>
            <div class="pull-right col-xs-12 col-md-8 col-lg-6 bouton-choix-style">
            <button type="button" class="btn btn-info " ng-class="{'bouton-choix-style-selected': isSelected('new'), 'bouton-choix-style-normal':isSelected('existing')}" ng-click="setStyleChooser('new')"><span translate="edition.style.label.choice.new" >Create new style</span></button>
                <button type="button" class="btn btn-info" ng-class="{'bouton-choix-style-normal': isSelected('new'), 'bouton-choix-style-selected':isSelected('existing')}" ng-click="setStyleChooser('existing')"><span translate="edition.style.label.choice.existing">Use existing style</span></button>
        </div>
        </div>
        
        <div class="modal-body modal-body-style" style="overflow-y: auto;">

            <div class="frame dashboard frame-sldEditor" ng-show="isSelected('new')">
                <div ng-include="page.pageSld"/>
            </div>
            <div class="row"  ng-show="isSelected('existing')">
                <div class="frame dashboard col-sm-6 list-style-modal">
                    <!--<div class="navbar title">-->
                        <!--<div class="navbar-inner">-->
                            <!--<a id="dataDashboardTitle" class="brand" href="#">Styles disponibles</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="navbar sort-navbar">
                        <div class="navbar-inner">
                            <ul class="nav nav-style">
                                <li ng-click="$parent.ordertype='Name';$parent.orderreverse=false"><a translate="label.title">
                                    Titre<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                                </a></li>
                                <li class="divider-vertical"></li>
                                <li ng-click="$parent.ordertype='Date';$parent.orderreverse=true"><a translate="label.date">
                                    Date<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                                </a></li>
                                <li class="divider-vertical"></li>
                                <li ng-click="$parent.ordertype='Owner';$parent.orderreverse=false"><a translate="label.owner">
                                    Propriétaire<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                                </a></li>
                                <li class="divider-vertical"></li>
                            </ul>
                            <button type="button" ng-click="$parent.ordertype='Name';$parent.orderreverse=false" class="btn btn-xs btn-style"><i class="icon-remove icon-white"></i></button>
                            <div class="pull-right">
                                <div style="position:relative;">
                                    <div class="ajax-loader" style="right:0;position:absolute;"></div>
                                    <input type="text" ng-model="$parent.filtertext" class="searchbox search-query form-control" placeholder="..." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dash-inner">
                        <div id="list" data-role="list">
                            <div class="pagination-wrapper pagination-style">
                                <strong><span class="nb-results pull-left"><strong>{{countdata}}&nbsp;</span><span class="nb-results" translate="label.count.style">available data</span></strong>
                                <select class="nb-per-page input-small form-control pull-right" ng-model="$parent.nbbypage">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                <div class="pull-right" page-switcher="{page:$parent.currentpage,size:$parent.nbbypage,count:$parent.countdata}" on-select-page="displayPage(page)"></div>
                            </div>
                            <div class="item-list" style="margin-top:40px;">
                                <div class="item style-{{style.Type | lowercase}}" ng-repeat="style in dataList" ng-class="{selected:style==selected}" ng-click="select(style)">
                                    <div class="top">
                                        <span class="item-title">{{style.Name}}</span>
                                        <span class="pull-right text-right item-list-style"  style="font-size:14px;">{{style.Type}}</span>
                                    </div>
                                    <div class="bottom">
                                        <div class="block">
                                            <i class="icon-calendar"></i>{{style.Date | date:'yyyy-MM-dd'}}
                                        </div>
                                        <div class="block">
                                            <i class="icon-user"></i>{{style.Owner}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" ng-show="StyleisSelected()">
                    <div class="col-sm-6" id="styledMapOL" style="height: 500px; width:400px;"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()" ><span translate="sldeditor.button.cancel">Cancel</span></button>
            <button type="button" class="btn btn-primary" ng-show="isSelected('existing')" ng-disabled="!selected && isSelected('existing')" ng-click="ok();"><span translate="sldeditor.button.validate">Validate</span></button>
            <button type="button" class="btn btn-primary" ng-show="isSelected('new')" ng-click="createStyle();"><span translate="sldeditor.button.create">Create</span></button>
        </div>
    </div>
</div>
