<div class="modal-dialog  modal-dialog-responsive modal-dialog-resp-height" id="serverFileModal">
    <div class="modal-content" ng-init="init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title" translate="data.modal.server.title">Server file</h4>
        </div>
        <div class="modal-body" style="overflow-y: auto;">
            <!-- Display coverage data -->
            <div ng-show="finished && !chooseType" class="row">
                <div class="col-sm-3">
                    <div class="well nav-frame">
                        <ul id="dataNames" class="nav nav-list">
                            <li ng-repeat="data in coveragesData.values" ng-class="{active:layer==data}" ng-click="displayLayer(data)">
                                <a class="trim-name larger" title="{{data}}">{{data}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="dataServerMap" class="col-sm-9" style="height:400px;width:735px;"></div>
            </div>
            <div ng-show="!finished" class="container" id="folderPart">
                <ul class="breadcrumb col-sm-12">
                    <li class="active"><span class="divider">{{currentPath}}</span></li>
                </ul>
                <div class="row">
                    <div ng-repeat="col in columns" ng-click="navServer()" class="col-sm-5 col-md-3 well block-folders" style="overflow:auto; height:275px; margin-bottom:20px; margin-left:20px;">
                        <input type="text" style="margin-bottom:10px;" placeholder="filter" class="col-sm-12" ng-model="search">
                        <ul class="unstyled">
                            <li ng-repeat="item in col | filter:search">
                                <i ng-class="{'icon-folder-close-alt':item.folder && !startWith(item.subPath),'icon-folder-open-alt':item.folder && startWith(item.subPath),'icon-file':!item.folder}"></i>
                                <a ng-class="{'link-sel':startWith(item.subPath)}" class="trim-name" title="{{item.name}}" type="button" ng-click="select(item,$parent.$index)">{{item.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="chooseType" id="chooseType">
                <!-- Choose data type -->
                <div class="row">
                    <div class="col-sm-2">
                        <label class="radio">
                            <input type="radio" ng-model="$parent.dataType" name="dataType" value="vector" style="margin-top:12px;"> <img src="images/icon/vector.png" class="img-rounded"><div translate="layer.listing.data.upload.vector.label" />
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label class="radio">
                            <input type="radio" ng-model="$parent.dataType" name="dataType" value="raster" style="margin-top:12px;"> <img src="images/icon/raster.png" class="img-rounded"><div translate="layer.listing.data.upload.raster.label" />
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label class="radio">
                            <input type="radio" ng-model="$parent.dataType" name="dataType" value="sensor" style="margin-top:12px;"> <img src="images/icon/sensor.png" class="img-rounded"><div translate="layer.listing.data.upload.sensor.label" />
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()" translate="data.modal.cancel">Cancel</button>
            <button type="button" class="btn btn-primary" ng-disabled="!hasSelectedSomething" ng-show="!finished" ng-click="ok()" translate="data.modal.validate">Validate</button>
            <button type="button" class="btn btn-primary" ng-show="chooseType" ng-click="userChooseType()" translate="data.modal.choose">Choose</button>
        </div>
    </div>
</div>
