<div class="modal-dialog modal-dialog-responsive">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title" translate="service.menu.log.modal.title">Logs Details</h4>
        </div>
        <div class="modal-body" style="overflow-y: auto;height: 600px">
            <code hljs source="details" style="background-color:transparent;"></code>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="close();" translate="service.menu.log.modal.close">Close</button>
        </div>
    </div>
</div>
