<link rel="stylesheet" href="styles/style-sld.css">
<link rel='stylesheet' href='styles/spectrum.css' />
<script src="scripts/spectrum.js"></script>

<div class="modal-dialog modal-dialog-resp-height " ng-class="{'modal-dialog-sld':chooseData===false}" ng-init="initScopeData(); chooseData=true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title col-xs-7 col-sm-4" translate="edition.style.label.viewer">Style Selection</h4>
            <div class="btn-lg tooltipicon" ng-show="chooseData===true">
                <span type="button" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.style.create' | translate }}" style="margin-top:-2px;"></span>
            </div>
        </div>
        <div class="modal-body" style="overflow-y: auto;">
            <div class="dashboard" ng-show="chooseData===true">
                <div class="navbar title">
                    <div class="navbar-inner">
                        <div class="brand" translate="service.edit.dashboard.data.title">Data List</div>

                    </div>
                </div>
                <div class="navbar sort-navbar">
                    <div class="navbar-inner">
                        <ul class="nav nav-style">
                            <li ng-click="$parent.ordertype='Name';$parent.orderreverse=false"><a translate="service.edit.dashboard.header.title">
                                Title<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                            </a></li>
                            <li class="divider-vertical"></li>
                            <li ng-click="$parent.ordertype='Date';$parent.orderreverse=true"><a translate="service.edit.dashboard.header.date">
                                Date<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                            </a></li>
                            <li class="divider-vertical"></li>
                            <li ng-click="$parent.ordertype='Owner';$parent.orderreverse=false"><a translate="service.edit.dashboard.header.owner">
                                Owner<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                            </a></li>
                            <li class="divider-vertical"></li>
                            <li ng-click="$parent.ordertype='Owner';$parent.orderreverse=false"><a translate="service.edit.dashboard.header.type">
                                Type<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                            </a></li>
                            <li class="divider-vertical"></li>
                        </ul>
                        <button type="button" ng-click="$parent.ordertype='Name';$parent.orderreverse=false" class="btn btn-xs btn-data"><i class="icon-remove icon-white"></i></button>
                        <div class="pull-right">
                            <div style="position:relative;">
                                <div class="ajax-loader" style="right:0;position:absolute;"></div>
                                <input type="text" ng-model="$parent.filtertext" class="searchbox search-query form-control" placeholder="..." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dash-inner row dashboard">
                    <div id="list" data-role="list">
                        <div class="pagination-wrapper pagination-data">
                             <strong><span class="nb-results pull-left"><strong>{{countdata}}&nbsp;</span><span class="nb-results" translate="label.count.data">available data</span></strong>
                            <select class="nb-per-page input-small form-control pull-right" ng-model="$parent.nbbypage">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <div class="pull-right" page-switcher="{page:currentpage,size:nbbypage,count:countdata}" on-select-page="displayPage(page)"></div>
                        </div>
                        <div class="item-list">
                            <div class="item {{data.Type.toLowerCase()}}" ng-repeat="data in dataList" ng-class="{selected:data==selected}" ng-click="select(data)">
                                <div class="top">
                                    <span class="item-title">{{data.Name}}</span>
                                    <span class="pull-right text-right item-list-style"  style="font-size:14px;">{{data.Type}}</span>
                                </div>
                                <div class="bottom">
                                    <div class="block">
                                        <i class="icon-calendar"></i>{{data.Date | date:'yyyy-MM-dd'}}
                                    </div>
                                    <div class="block">
                                        <i class="icon-user"></i>{{data.Owner}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="chooseData===false" ng-include="pageSld"/>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()">Annuler</button>
            <button type="button" ng-show="chooseData===true" ng-disabled="!selected" class="btn btn-primary" ng-click="chooseDataClicked(selected); chooseData=false"><span translate="sldeditor.button.validate">Validate</span></button>
            <button type="button" ng-show="chooseData===false" class="btn btn-primary" ng-click="createStyle();"><span translate="sldeditor.button.create">Create</span></button>
        </div>
    </div>
</div>