<div class="modal-dialog  modal-dialog-responsive modal-dialog-resp-height" ng-init="init()">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title" translate="data.modal.sensor.title">Sensor view</h4>
        </div>
        <div class="modal-body">
            <div class="row" ng-if="var.displayGraph === false">
                <div class="col-sm-4 sos_edit_blocs">
                    <label class="control-label" translate="service.edit.dashboard.measures.list">Available measures</label>
                    <div class="sos_edit_checkboxlist" ng-class="{'error-select-one': var.needToSelectMeasure === true}">
                        <label class="checkbox" ng-repeat="measure in measures">
                            <input type="checkbox" ng-model="measure.checked" ng-change="clickMeasure(measure)"> {{measure.id}}
                        </label>
                    </div>
                    <!-- Error no measure selected -->
            <div class="row" ng-if="var.needToSelectMeasure === true">
                <p style="font-size:13px;" class="error" translate="service.edit.dashboard.measures.error.select.one">You need to select one measure in the list</p>
            </div>
                </div>
                <div class="col-sm-8 sos_edit_blocs">
                    <label class="control-label" translate="service.edit.dashboard.area">Geographical area</label>
                    <div  class="sos_edit_checkboxlist">
                        <div id="olSensorMap" style="width:600px;height:313px;" ng-init="initMap()"></div>
                    </div>
                </div>
            </div>

            

            <!-- Graph -->
            <div class="row" ng-if="var.displayGraph === true">
                <div class="col-sm-12">
                    <div class="sos_edit_graph" id="graph" ng-init="test=false">
                        <div ng-class="{'sos_edit_graph_date-selected':test==true, 'sos_edit_graph_date':test==false}" style="padding:0; right:15px;position:absolute; text-align:right;">
                            <div class="btn-lg calendar-button" style="cursor:pointer;" ng-click="test=!test"><span class="glyphicon glyphicon-calendar"></span></div>
                            <div ng-show="test==true" class="form-inline form-calendar" style="width:351px;">
                                <label class="control-label" translate="service.edit.dashboard.date.from">From</label>
                                <input type="text" class="form-control" style="width:145px;" datetimepicker ng-model="var.start"/>
                                <label class="control-label" translate="service.edit.dashboard.date.to"> to</label>
                                <input type="text" class="form-control" style="width:145px;" datetimepicker ng-model="var.end"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="border-top:none;">
            <button type="button" id="cancelButton" class="btn btn-default" ng-click="close()" translate="data.modal.close">Close</button>
            <button type="button" class="btn btn-primary" ng-show="var.displayGraph === false" ng-click="showGraph()" translate="service.edit.dashboard.button.graph.show">Show graph</button>
        </div>
    </div>
</div>