<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title" translate="edition.style.label.viewer">Edit</h4>
        </div>
        <div class="modal-body">
            <div class="frame dashboard">
                <div class="navbar title">
                    <div class="navbar-inner">
                        <a id="dataDashboardTitle" class="brand" href="#" translate="label.data.vector">Données vectorielles</a>
                    </div>
                </div>
                <div class="navbar sort-navbar">
                    <div class="navbar-inner">
                        <ul class="nav">
                            <li ng-click="ordertype='Name';orderreverse=false"><a translate="label.title">
                                Titre<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                            </a></li>
                            <li class="divider-vertical"></li>
                            <li ng-click="ordertype='Date';orderreverse=true"><a translate="label.date">
                                Date<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                            </a></li>
                            <li class="divider-vertical"></li>
                            <li ng-click="ordertype='Owner';orderreverse=false"><a translate="label.owner">
                                Propriétaire<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                            </a></li>
                            <li class="divider-vertical"></li>
                        </ul>
                        <button type="button" ng-click="ordertype='Name';orderreverse=false" class="btn btn-xs btn-info"><i class="icon-remove icon-white"></i></button>
                        <div class="pull-right">
                            <div style="position:relative;">
                                <div class="ajax-loader" style="right:0;position:absolute;"></div>
                                <input id="searchbox" type="text" ng-model="filtertext" class="search-query form-control" placeholder="..." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dash-inner">
                    <div id="list" data-role="list">
                        <div class="pagination-wrapper">
                            <span class="nb-results pull-left"><strong>{{countdata}}</strong></span>
                            <select class="nb-per-page input-small form-control pull-right" ng-model="nbbypage">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <div class="pull-right" page-switcher="{page:currentpage,size:nbbypage,count:countdata}" on-select-page="displayPage(page)"></div>
                        </div>
                        <div class="item-list">
                            <div class="item {{service.Type | lowercase}}" ng-repeat="service in dataList" ng-class="{selected:service==selected}" ng-click="select(service)">
                                <div class="top">
                                    <span class="item-title">{{service.Name}}</span>
                                </div>
                                <div class="bottom">
                                    <div class="block">
                                        <i class="icon-calendar"></i>{{service.Date | date:'yyyy-MM-dd HH:mm:ss'}}
                                    </div>
                                    <div class="block">
                                        <i class="icon-user"></i>{{service.Owner}}
                                    </div>
                                    <div class="block">
                                        <i class="icon-folder-close-alt"></i>{{service.Type}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()">Annuler</button>
            <button type="button" class="btn btn-primary" ng-disabled="!selected" ng-click="ok();">Valider</button>
        </div>
    </div>
</div>
