<div class="modal-dialog modal-dialog-resp-height"
     ng-class="{'modal-dialog-sld':page.pageSld!=='views/style/chooseType.html', 'modal-dialog-responsive':page.pageSld!=='views/style/chooseType.html'}"
     ng-init="initScopeStyle()">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <div class="container">
                <div class="row">
                    <div class="col-xs-4">
                        <h4 style="font-size:16px;"
                            translate="edition.style.label.viewer">Style Selection</h4>
                    </div>
                    <div class="col-xs-6 pull-right buttons-div">
                        <button type="button" class="btn btn-info"
                                ng-class="{'bouton-choix-style-normal': isSelected('new'), 'bouton-choix-style-selected':isSelected('existing')}"
                                ng-click="setStyleChooser('existing')">
                            <span translate="edition.style.label.choice.existing">Use existing style</span>
                        </button>
                        <button type="button" class="btn btn-info "
                                ng-class="{'bouton-choix-style-selected': isSelected('new'), 'bouton-choix-style-normal':isSelected('existing')}"
                                ng-click="setStyleChooser('new')">
                            <span translate="edition.style.label.choice.new" >Create new style</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal-body modal-body-style" style="overflow-y: auto;">

            <div class="frame dashboard frame-sldEditor" ng-if="isSelected('new')">
                <div ng-include="page.pageSld"/>
            </div>
            <div class="row"  ng-if="isSelected('existing')">
                <div class="col-sm-6" style="padding-left: 0;padding-right: 0;">
                    <div class="dashboard list-style-modal">
                        <div class="navbar sort-navbar">
                            <div class="navbar-inner">
                                <ul class="nav nav-style">
                                    <li ng-click="clickFilter('Name');">
                                        <a>
                                            <span translate="label.title">Title</span>
                                            <i class="icon-caret-up" ng-if="ordertype === 'Name' && orderreverse"></i>
                                            <i class="icon-caret-down" ng-if="ordertype === 'Name' && !orderreverse"></i>
                                        </a>
                                    </li>
                                    <li class="divider-vertical"></li>
                                    <li ng-click="clickFilter('Date');">
                                        <a>
                                            <span translate="label.date">Date</span>
                                            <i class="icon-caret-up" ng-if="ordertype === 'Date' && orderreverse"></i>
                                            <i class="icon-caret-down" ng-if="ordertype === 'Date' && !orderreverse"></i>
                                        </a>
                                    </li>
                                    <li class="divider-vertical"></li>
                                    <li ng-click="clickFilter('Owner');">
                                        <a>
                                            <span translate="label.owner">Owner</span>
                                            <i class="icon-caret-up" ng-if="ordertype === 'Owner' && orderreverse"></i>
                                            <i class="icon-caret-down" ng-if="ordertype === 'Owner' && !orderreverse"></i>
                                        </a>
                                    </li>
                                    <li class="divider-vertical"></li>
                                </ul>
                                <button type="button" ng-click="$parent.ordertype='Name';$parent.orderreverse=false" class="btn btn-xs btn-style">
                                    <i class="icon-remove icon-white"></i>
                                </button>
                                <div class="pull-right">
                                    <div style="position:relative;">
                                        <div class="ajax-loader" style="right:0;position:absolute;"></div>
                                        <input type="text" ng-model="wrapScope.filterText" class="searchbox search-query form-control" placeholder="..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dash-inner">
                            <div id="list" data-role="list">
                                <div class="pagination-wrapper pagination-style">
                                    <strong>
                                        <span class="nb-results pull-left">{{countdata}}&nbsp;</span>
                                        <span class="nb-results" translate="label.count.style">available data</span>
                                    </strong>
                                    <select class="nb-per-page input-small form-control pull-right" ng-model="$parent.nbbypage">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    <div class="pull-right" page-switcher="{page:$parent.currentpage,size:$parent.nbbypage,count:$parent.countdata}" on-select-page="displayPage(page)"></div>
                                </div>
                                <div class="item-list" style="margin-top:40px;">
                                    <div class="item style-{{style.Type | lowercase}}"
                                         ng-repeat="style in dataList"
                                         ng-class="{selected:style==selected}"
                                         ng-click="select(style)">
                                        <div class="top">
                                            <span class="item-title" style="width: 100%;">{{style.Name}}</span>
                                            <span class="pull-right text-right item-list-style">{{style.Type}}</span>
                                        </div>
                                        <div class="bottom">
                                            <div class="block">
                                                <i class="icon-calendar"></i>{{style.Date | date:'yyyy-MM-dd'}}
                                            </div>
                                            <div class="block">
                                                <i class="icon-user"></i>{{style.Owner}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" ng-show="true || StyleisSelected()">
                    <div class="col-sm-6" id="styledMapOL" style="height: 500px; width:100%;padding: 0;"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="margin-top: 0;">
            <button type="button" class="btn btn-default" ng-click="close()" ><span translate="sldeditor.button.cancel">Cancel</span></button>
            <button type="button" class="btn btn-primary" ng-show="isSelected('existing')" ng-disabled="!selected && isSelected('existing')" ng-click="ok();"><span translate="sldeditor.button.validate">Validate</span></button>
            <button type="button" class="btn btn-primary" ng-show="isSelected('new')" ng-click="createStyle();"><span translate="sldeditor.button.create">Create</span></button>
        </div>
    </div>
</div>
