<div class="modal-dialog" style="margin-top:300px;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" translate="service.menu.loader.modal.title">Loading...</h4>
        </div>
        <div class="modal-body" style="overflow-y: auto;height: 100px;">
            <div class="progress progress-striped active">
              <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              </div>
            </div>
        </div>
    </div>
</div>