<div class="modal-dialog  modal-dialog-responsive modal-dialog-resp-height" ng-init="init()">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title" translate="data.modal.sensor.title">Sensor view</h4>
        </div>
        <div class="modal-body">
            <div class="row" ng-if="var.displayGraph === false">
                <div class="col-sm-4 sos_edit_blocs">
                    <label class="control-label" translate="service.edit.dashboard.measures.list">Available measures</label>
                    <div class="sos_edit_checkboxlist">
                        <label class="checkbox" ng-repeat="measure in measures">
                            <input type="checkbox" ng-model="measure.checked" ng-change="changeMeasureState(measure)"> {{measure.id}}
                        </label>
                    </div>
                </div>
                <div class="col-sm-8 sos_edit_blocs">
                    <label class="control-label" translate="service.edit.dashboard.area">Geographical area</label>
                    <div  class="sos_edit_checkboxlist">
                        <div id="olSensorMap" style="width:600px;height:313px;" ng-init="initMap()"></div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="var.displayGraph === true">
                <div class="col-sm-12 sos_edit_blocgraph">
                    <div class="sos_edit_graph">
                        <div class="col-lg-3 col-lg-offset-9 col-md-4 col-md-offset-8 col-sm-5 col-sm-offset-7 sos_edit_graph_date">
                            <div class="form-inline">
                                <label class="control-label" translate="service.edit.dashboard.date.from">From</label>
                                <input type="text" class="form-control" style="width:100px;" datepicker="{language:getCurrentLang(),format:'yyyy-mm-dd'}" value="2013-04-14"/>
                                <label class="control-label" translate="service.edit.dashboard.date.to"> to</label>
                                <input type="text" class="form-control" style="width:100px;" datepicker="{language:getCurrentLang(),format:'yyyy-mm-dd'}" value="2014-04-14"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="cancelButton" class="btn btn-default" ng-click="close()" translate="data.modal.close">Close</button>
            <button type="button" class="btn btn-default" ng-click="showGraph()" translate="service.edit.dashboard.button.graph.show">Show graph</button>
        </div>
    </div>
</div>