<div class="modal-dialog  modal-dialog-responsive">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title" translate="service.menu.getcapabilities.modal.title">GetCapabilities Details</h4>
        </div>
        <div class="modal-body" style="overflow-y: auto;height: 600px">
            <code hljs source="details"></code>
        </div>

        <div class="modal-footer">

            <button type="button" class="btn btn-primary"  ng-click="close();" translate="service.menu.getcapabilities.modal.close">Close</button>
        </div>
    </div>
</div>
