<div class="logo-wrapper row">
    <div class="col-sm-9">
        <h3 class="header-title" translate="page.header.title.style">Style Dashboard</h3>
    </div>
    <!-- Menu to create services -->
    <div class="col-sm-3">
        <div class="dropdown pull-right">
            <a data-toggle="dropdown" class="btn btn-lg dropdown-toggle btn-info" style="margin-top:8px;padding:15px 19px;">
                <span class="icon-plus icon-white" style="margin-right:5px;"></span>
                <span translate="label.add.style">Ajouter un style</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">

                <li><a id="newstylechoice" ng-click="showStyleCreate()" translate="label.create.new.style">Create new style</a></li>
                <!--li><a id="importstylechoice" translate="label.import.style">Importer un style</a></li-->
            </ul>
        </div>
    </div>
</div>
<div id="stylesDashboard" class="row">
    <div class="col-sm-12">
        <div class="frame dashboard">
            <div class="navbar navbar-default" style="margin-bottom: 0px;">
                <div class="navbar-header">
                    <a class="navbar-brand" translate="style.information.title">Available styles</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right ">
                        <li ng-class="{active:filtertype == ''}" ng-click="filtertype = ''"><a translate="label.all">Tous</a></li>
                        <li ng-class="{active:filtertype=='VECTOR'}" ng-click="filtertype='VECTOR'"><a translate="label.vector">Vector</a></li>
                        <li ng-class="{active:filtertype=='COVERAGE'}" ng-click="filtertype='COVERAGE'"><a translate="label.raster">Raster</a></li>
                        <li ng-class="{active:filtertype=='SENSOR'}" ng-click="filtertype='SENSOR'"><a translate="label.sensor">Sensor</a></li>
                    </ul>
                </div>
            </div>

            <div class="navbar sort-navbar">
                <div class="navbar-inner">
                    <ul class="nav nav-style">
                        <li ng-click="ordertype='Name';orderreverse=false"><a translate="label.title">
                            Titre<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                        </a></li>
                        <li class="divider-vertical"></li>
                        <li ng-click="ordertype='Date';orderreverse=true"><a translate="label.date">
                            Date<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                        </a></li>
                        <li class="divider-vertical"></li>
                        <li ng-click="ordertype='Owner';orderreverse=false"><a translate="label.owner">
                            Propriétaire<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                        </a></li>
                        <li class="divider-vertical"></li>
                    </ul>
                    <button type="button" ng-click="ordertype='Name';orderreverse=false" class="btn btn-xs btn-info btn-style"><i class="icon-remove icon-white"></i></button>
                    <div class="pull-right">
                        <div style="position:relative;">
                            <div class="ajax-loader" style="right:0;position:absolute;"></div>
                            <input type="text" ng-model="filtertext" class="searchbox search-query form-control" placeholder="..." />
                        </div>
                    </div>
                </div>
            </div>
            <div class="dash-inner row">
                <div class="pull-left" style="width: 60%;">
                    <div id="list" data-role="list">
                        <div class="pagination-wrapper pagination-style">
                            <strong><span class="nb-results pull-left">{{countdata}}&nbsp;</span><span class="nb-results" translate="label.count.style">available styles</span></strong>
                            <select class="nb-per-page input-small form-control pull-right" ng-model="nbbypage">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <div class="pull-right" page-switcher="{page:currentpage,size:nbbypage,count:countdata}" on-select-page="displayPage(page)"></div>
                        </div>
                        <div class="item-list">
                            <div class="item style-{{style.Type | lowercase}}" ng-repeat="style in dataList" ng-class="{selected:style==selected}" ng-click="select(style)">
                                <div class="top">
                                    <span class="item-title">{{style.Name}}</span>
                                    <span class="pull-right text-right item-list-style" style="font-size:14px;"> {{style.Type}}</span>
                                    <img ng-if="style.Type=='VECTOR' && style.subtype=='point'" src="images/vector-point.svg" class="pull-right" style="margin-top:6px; margin-right:10px;" >
                                    <img ng-if="style.Type=='VECTOR' && style.subtype=='polygon'" src="images/vector-poly.svg" class="pull-right" style="margin-top:6px; margin-right:10px;" >
                                    <img ng-if="style.Type=='VECTOR' && style.subtype=='line'" src="images/vector-line.svg" class="pull-right" style="margin-top:6px; margin-right:10px;" >
                                </div>
                                <div class="bottom">
                                    <div class="block">
                                        <i class="icon-calendar"></i>{{style.Date | date:'yyyy-MM-dd'}}
                                    </div>
                                    <div class="block">
                                        <i class="icon-user"></i>{{style.Owner}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-left" style="width: 40%;">
                    <div id="selection">
                        <div class="alert alert-info alert-style" ng-class="{hide: selected != null}">
                            <h4 translate="label.no.selected.style">No selected style</h4>

                            <p translate="msg.no.selected.style">Click on a style to display more information</p>
                        </div>
                        <div class="selected-item" id="selected-item" ng-class="{hide: selected == null}">
                            <div class="block-header" ng-click="toggleUpDownSelected()">
                                <strong>{{selected.Name}}</strong><i class="icon-chevron-up pull-right"></i>
                            </div>
                            <div class="block-content">
                                <h6 translate="label.owner">Owner</h6>
                                <span>{{selected.Owner}}</span>

                                <div class="separator"></div>
                                <h6 translate="label.date">Date</h6>
                                <span>{{selected.Date | date:'yyyy-MM-dd'}}</span>

                                <div class="separator"></div>
                                <h6 translate="label.type">Type</h6>
                                <span>{{selected.Type}}</span>
                            </div>
                            <div class="block-action">
                                <div class="row" style="padding-bottom: 5px">
                                    <div class="col-sm-6">
                                        <button type="button" id="editStyleBtn" class="btn btn-info" ng-click="editStyle()">
                                            <i class="icon-pencil"></i> <span translate="style.listing.selected.edit.button">Edit</span>
                                        </button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" id="deleteStyleBtn" class="btn btn-danger" ng-click="deleteStyle()">
                                            <i class="icon-trash"></i> <span translate="style.listing.selected.delete.button">Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
