<div class="logo-wrapper row">
    <div class="col-sm-9">
        <h3 class="header-title" translate="page.header.title.tasks">Tasks Dashboard</h3>
    </div>
    <div class="col-sm-3">
        <div class="pull-right">
            <a class="btn btn-add btn-lg" ng-click="addSensor()" style="margin-top:8px;padding:15px 19px;">
                <span class="icon-plus icon-white" style="margin-right:5px;"></span>
                <span translate="label.add.task"> Add task</span>
            </a>
        </div>
    </div>
</div>
<div id="ProcessDashboard" class="row" ng-init="init()">
    <div class="col-sm-12">
        <div class="frame dashboard">
            <div class="navbar navbar-default" >
                <div class="navbar-header col-xs-12 col-sm-8 col-md-9 ">
                    <a class="navbar-brand" translate="tasks.information.title">Available tasks</a>
                </div>
                <div style="margin-top:10px;" class="col-xs-12 col-sm-4 col-md-3 ">
                    <div class="ajax-loader" style="right:0;position:absolute;"></div>
                    <input type="text" ng-model="filtertext" class="searchbox search-query form-control" placeholder="{{'label.search' | translate}}" />
                </div>
            </div>

            <div class="dash-inner row">
                <div class="pull-left" style="width: 60%; margin-bottom: 5px;" ng-init="small=false">
                    <div id="list" data-role="list">
                        <div class="pagination-wrapper pagination-data pagination-task">
                            <strong><span class="nb-results pull-left">{{countdata}}&nbsp;</span><span class="nb-results" translate="label.count.tasks">available tasks</span></strong>

                            <button type="button" ng-click="small=!small" class="hidden-sm hidden-xs pull-right btn btn-xs btn-info btn-task" ng-class="{'btn-small-selected':small==true}" style="margin-left: 10px; margin-top: 5px;"><span translate="label.reduced.display">Reduced display</span></button>

                            <select class="nb-per-page input-small form-control pull-right" ng-model="nbbypage">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <div class="pull-right" page-switcher="{page:currentpage,size:nbbypage,count:countdata}" on-select-page="displayPage(page)"></div>
                        </div>

                        <div class="item-list">
                            <div ng-repeat="registry in dataList" ng-class="{'col-xs-6':small==true}" style="padding-left:0;">
                                <div class="item registry" ng-class="{selected:registry==selected}" ng-click="select(registry);selectProcessChild(null);">
                                    <div class="top">
                                        <span class="item-title" title="{{registry.name}}">{{registry.name}} </span>
                                    </div>
                                    <div class="bottom">
                                        <div class="block pull-right">
                                            <i class="icon-paper-clip"></i>
                                            <span ng-if="registry.processes == null || registry.processes.length == 0" translate="md.listing.no.data">No</span>
                                            <span ng-if="registry.processes.length > 0">{{registry.processes.length}}</span>
                                            <span translate="service.edit.dashboard.tasks.list.associated">associated tasks</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="item process-child" style="margin-top:0;" ng-if="registry==selected" ng-repeat="process in registry.processes" ng-class="{'selected':process===selectedProcessChild, 'child':small==false, 'col-xs-11':small==true, 'col-sm-offset-1':small==true}" ng-click="selectProcessChild(process)">
                                    <div class="top">
                                        <span class="item-title" title="{{process.id}}">{{process.id}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="pull-left" style="width: 40%;">
                    <div id="selection">
                        <div class="alert alert-task alert-info alert-data" ng-class="{hide: selected != null}">
                            <h4 translate="label.no.selected.task">No selected sensor</h4>

                            <p translate="msg.no.selected.task" style="font-weight:normal;">Click on a data to display more information</p>
                        </div>
                        <div class="selected-item" id="selected-item" ng-class="{hide: selected == null}">
                            <div class="block-header" ng-click="toggleUpDownSelected()">
                                <strong class="item-title title-bloc" title="{{selected.Name}}">{{selected.name}}</strong><i class="icon-chevron-down pull-right"></i>
                            </div>
                            <div>
                                <div class="block-content" ng-if="selectedProcessChild != null">
                                    <h6 translate="label.title">Title</h6>
                                    <span>{{selectedProcessChild.id}}</span>

                                    <div class="separator"></div>
                                    <h6 translate="label.description">Description</h6>
                                    <span>{{selectedProcessChild.description}}</span>
                                </div>
                            </div>
                            <div class="block-action block-action-process">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-success" type="button" ng-click="showSensor()" ng-show="service.status=='STARTED'">
                                            <i class="icon-map-marker"></i> <span translate="layer.listing.selected.data.button">View</span>
                                        </button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-danger" ng-click="deleteLayer();">
                                            <i class="icon-trash"></i> <span translate="layer.listing.selected.delete.button">Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
