<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Groups</h3>
    </div>
    <div class="panel-body" ng-controller="GroupController">

        <div class="logo-wrapper row">
            <div class="col-sm-9">
                <h3 class="header-title" translate="group.title">Roles</h3>
            </div>
            <!-- Menu to create services -->
            <div class="col-sm-3">
                <div ng-click="add()" class="dropdown pull-right">
                    <a  data-toggle="dropdown" class="btn btn-info btn-lg" style="margin-top:8px;padding:15px 19px;">
                        <span class="icon-plus icon-white" style="margin-right:5px;"></span>
                        <span translate="group.add">Add group</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-4 user-count-bloc">
                    <p translate="group.count" translate-values="{total: '{{ list.length }}'}">There are {{list.length }} users.</p>
                    {{'group.filter' | translate}} <input type="text" ng-model="filter" class="form-control" maxlength="10" >
                </div>
            </div>
            <div class="row">
                <table class="table table-condensed table-striped table-bordered table-responsive user-table">
                    <thead>
                    <tr title="click to order">
                        <td ng-click="predicate = 'name'; reverse=!reverse"
                            translate="group.tab.name">Roles name</td>
                        <td translate="group.tab.members">Members</td>
                    </tr>
                    </thead>

                    <tr style='cursor:pointer' ng-repeat="domainrole in domainroles | filter:filter | orderBy:predicate:reverse">
                        <td ng-click="details($index)">{{domainrole.name}}</td>
                        <td ng-click="details($index)"><span>{{domainrole.memberList}}</span>
                        </td>

                        <td class="user-delete" ng-click="deleteDomain($index)"><span class="glyphicon glyphicon-trash"></span></td>
                        <td class="user-delete" style="width:20px;" ng-click="details($index)"><span class="glyphicon glyphicon-user"></span></td>
                        <td class="user-delete" style="width:20px;" ng-click="members($index)"><span class="glyphicon glyphicon-cog"></span></td>
                        <td class="user-delete" style="width:20px;" ng-click="delete($index)"><span class="glyphicon glyphicon-trash"></span></td>

                    </tr>
                </table>
            </div>
        </div>


    </div>
</div>