<h1 translate="password.reset">Reset password</h1>

<form id="forgotPasswordForm" name="form" class="form" role="form">
    <div class="form-group">
        <label for="password1" translate="profile.password.new" >Nouveau mot de passe</label>
        <input id="password1"
               type="password"
               class="form-control"
               ng-class="{error: form.password1.$invalid}"
               name="password1"
               ng-model="rpcontroller.password1"
               required />
    </div>
    <div class="form-group">
        <label for="password2" translate="profile.password.verify" >Vérification du mot de passe</label>
        <input id="password2"
               type="password"
               class="form-control"
               ng-class="{error: form.password2.$invalid}"
               name="password2"
               ng-model="rpcontroller.password2"
               pw-check="password1"
               required />
    </div>

    <div class="error" ng-show="form.$error">
        <div ng-show="form.password1.$error.required || form.password2.$error.required">
            <small class="errorTip" translate="validate.required.fields">
                Required fields.
            </small>
        </div>
        <div ng-show="form.password2.$error.pwmatch">
            <small class="errorTip" translate="validate.users.password">
                Passwords don't match.
            </small>
        </div>
    </div>

    <br />
    <button type="button" ng-click="rpcontroller.reset()" class="btn btn-primary" translate="label.validate" ng-disabled="form.$invalid">Validate</button>
</form>