<div class="row">
    <div class="col-sm-12">
        <p class="accueil_bloc_text" translate="homepage.text.intro">
            <b>Constellation-SDI</b> is the perfect solution to easily set up your Spatial Data Infrastructure.
        </p>
        <div class="row accueil_bloc_images">
            <div class="col-xs-3 col-sm-12 col-md-3">
                <div class="img-left-block-service"></div>
            </div>
            <div class="col-xs-8 col-sm-12 col-md-8">
                <p class="accueil_bloc_text accueil_bloc_text-service" translate="homepage.text.services">
                    Vous pouvez créer des <b>services web</b> pour ensuite y ajouter des données
                </p>
            </div>
        </div>
        <div class="row accueil_bloc_images">
            <div class="col-xs-3 col-sm-12 col-md-3">
                <div class="img-left-block-data"></div>
            </div>
            <div class="col-xs-8 col-sm-12 col-md-8" style="margin-top: 5px;">
                <p class="accueil_bloc_text accueil_bloc_text-data" translate="homepage.text.data">
                    Vous pouvez gérer vos <b>données</b>
                </p>
            </div>
        </div>
        <div class="row accueil_bloc_images image-sensor" >
            <div class="col-xs-3 col-sm-12 col-md-3">
                <div class="img-left-block-sensor"></div>
            </div>
            <div class="col-xs-8 col-sm-12 col-md-8">
                <p class="accueil_bloc_text accueil_bloc_text-sensor" translate="homepage.text.stat">
                    Vous pouvez visualiser les <b>statistiques</b> de votre serveur
                </p>
            </div>
        </div>
    </div>
</div>