<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="default" xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

  <context:component-scan base-package="org.constellation.map.configuration"  />
  <context:component-scan base-package="org.constellation.engine.register.jooq, org.constellation.admin" />

  <tx:annotation-driven transaction-manager="transactionManager" />

  <bean id="securityManager" class="org.constellation.security.spring.SpringSecurityManager"></bean>
  
  <bean id="dataSource" class="org.constellation.engine.register.jooq.EmbeddedTestDatabase" factory-method="getOrCreateDataSource"></bean>

  <import resource="classpath:/cstl/spring/cstl-tx.xml" />
  
</beans>
