<div
	class="modal-dialog modal-dialog-responsive modal-dialog-resp-height"
	style="max-width: 600px;">
	<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" ng-click="close()">×</button>
			<h4 ng-if="domainrole.name!=null" class="modal-title">{{user.name}}</h4>
			<h4 ng-if="domainrole.name==null" class="modal-title"
				translate="admin.domain.linked">Linked domains</h4>
		</div>
		<div class="modal-body" style="height: 310px; overflow-y: auto;">
			<div class="container" style="height: 270px;">
				<table
					class="table table-condensed table-striped table-bordered table-responsive user-table">
					<thead>
						<tr title="click to order">
							<td ng-click="predicate = 'roles'; reverse=!reverse"
								translate="domain.list">Liste des domaines</td>
							<td ng-click="predicate = 'roles'; reverse=!reverse"
								translate="domain.linked">Linked</td>
						</tr>
					</thead>
					<tr ng-click="details($index)" style='cursor: pointer'
						ng-repeat="domain in domains | filter:domainFilter | orderBy:predicate:reverse">
						<td>{{domain.name}}</td>
						<td><input type="checkbox" ng-click="toggleDomain($index)"
							ng-checked="domain.linked" ng-disabled="!domain.canPublish"></td>
					</tr>
				</table>

			</div>
		</div>
		<div class="modal-footer">
			<button type="button" id="closeButton" class="btn btn-default"
				translate="settings.form.button.close" ng-click="close()">Close</button>
		</div>
	</div>
</div>
