<?xml version="1.0" encoding="UTF-8"?>
<OWSContext version="0.3.0" id="ows-context-ex-1-v3" xmlns="http://www.opengis.net/ows-context" 
    xmlns:gml="http://www.opengis.net/gml"
    xmlns:kml="http://www.opengis.net/kml/2.2" 
    xmlns:ogc="http://www.opengis.net/ogc" 
    xmlns:ows="http://www.opengis.net/ows" 
    xmlns:sld="http://www.opengis.net/sld" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.opengis.net/ows-context http://www.ogcnetwork.net/schemas/owc/0.3.0/owsContext.xsd">
    <General>
        <Window width="600" height="300"/>
        <ows:BoundingBox crs="CRS:84">
            <ows:LowerCorner>-180 -90</ows:LowerCorner>
            <ows:UpperCorner>180 90</ows:UpperCorner>
        </ows:BoundingBox>
        <ows:Title>Empty context, the layers will be added dynamically by the value attribute of UIMapPane component.</ows:Title>
    </General>
    <ResourceList>
       
    </ResourceList>
</OWSContext>
