<div class="panel panel-default" ng-controller="DomainMembersController">
    <div class="panel-heading">
        <h3 class="panel-title">{{domain.name}}</h3>
    </div>
    <div class="panel-body">
        <div class="logo-wrapper row">
            <div class="col-sm-9">
                <h3 class="header-title">{{domain.name}}</h3>
            </div>
            <!-- Menu to create services -->
            <div class="col-sm-3">
                <div class="pull-right">
                    <a href="#/admin/domains" class="btn btn-default" style="padding: 12px;">
                        <span class="glyphicon glyphicon-arrow-left" style="margin-right: 5px;"></span>
                        <span translate="label.return">Back</span>
                    </a>
                </div>
                <div ng-click="addMembers()" class="dropdown pull-right">
                    <a data-toggle="dropdown" class="btn btn-add btn-lg" style="margin-top: 8px; padding: 15px 19px;">
                        <span class="fa fa-plus" style="margin-right: 5px;"></span>
                        <span translate="admin.domain.addmembers">Add member</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="container" style="height: 470px;">
            <div class="row">
                <div class="col-sm-7 user-count-bloc" style="padding: 10px 5px;">
                    <p class="col-sm-4" style="margin-top: 8px; margin-bottom: 0;" translate="admin.domain.memberscount" translate-values="{total: '{{ users.length }}'}">{{users.length
                        }} users.</p>
                    <div class="col-sm-8">
                        <input type="text" ng-model="filter" class="form-control" maxlength="10" placeholder="{{'admin.group.users.filter' | translate}}">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div ng-if="user.adduser=='normal'" class="pull-right">
                        <a ng-click="user.adduser='choice'" class="btn btn-add btn-md" style="margin-top: 3px; padding: 15px 19px;"> <span class="fa fa-plus"
                                                                                                                                            style="margin-right: 5px;"></span> <span translate="users.add">Add user</span>
                        </a>
                    </div>
                    <div ng-if="user.adduser=='choice'" class="pull-right">
                        <a ng-click="user.adduser='normal'" class="btn btn-default btn-md" style="margin-top: 3px; padding: 15px 19px;"> <span translate="label.return">Back</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-condensed table-striped table-bordered table-responsive user-table">
                    <thead>
                    <tr title="click to order">
                        <td ng-click="predicate = 'login'; reverse=!reverse" translate="settings.form.login">Login</td>
                        <td ng-click="predicate = 'firstname'; reverse=!reverse" translate="settings.form.firstname">First name</td>
                        <td ng-click="predicate = 'lastname'; reverse=!reverse" translate="settings.form.lastname">Last name</td>
                        <td ng-click="predicate = 'email'; reverse=!reverse" translate="settings.form.email">E-mail</td>
                        <td ng-click="predicate = 'email'; reverse=!reverse" translate="settings.form.domainroles">DomainRoles</td>
                    </tr>
                    </thead>

                    <tr style='cursor: pointer' ng-repeat="user in members | filter:filter | orderBy:predicate:reverse">
                        <td>{{user.login}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td><span ng-repeat="role in user.domainRoles" ng-click="changeDomainRoles(user)"><span ng-if="$index>0">, </span>{{role.name}}</span></span><td>
                        <td class="user-delete" ng-click="removeMemberFromDomain($index)"><span class="glyphicon glyphicon-trash"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


