.layers {
   
   width:100%;
   overflow:auto;
   height:50%;
}
.layers td {
   border: 0px groove black;
}
.layersHeader {
   text-align: center;
   font-family:Arial,sans-serif,Tahoma;
   font-weight:bold;
   background:#FFDC75 none repeat scroll 0%;
   font-size:12px;
}
.name {
    color:black;
    font-family:Arial,sans-serif,Tahoma;
    text-align:left;
    font-size:11px;
}
.period, .description {
    color:black;
    font-family:Arial,sans-serif,Tahoma;
    text-align:center;
    font-size:11px;
}
.row_1{background:#FFFFE0 none repeat scroll 0%;height:20px;} 
.row_2{background:#c3f3c3 none repeat scroll 0%;height:20px;}
