<!-- /* * Constellation - An open source and standard compliant SDI * http://www.constellation-sdi.org * * (C) 2013, Geomatys
  * * This library is free software; you can redistribute it and/or * modify it under the terms of the GNU Lesser General Public
  * License as published by the Free Software Foundation; either * version 3 of the License, or (at your option) any later
  version. * * This library is distributed in the hope that it will be useful, * but WITHOUT ANY WARRANTY; without even the
  implied warranty of * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU * Lesser General Public License for
  more details. */ -->
<configuration scan="true">

  <property name="cstl.log.dir" value="${cstl.home:-${user.home}/.constellation}/logs/cstl" />

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss} [%highlight(%-5level)] %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${cstl.log.dir}/constellation.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${cstl.log.dir}/constellation.%i.log.gz</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>10</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>
    <append>true</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %X{ogcServiceLog} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
    <filter class="org.constellation.services.logger.OGCServiceLogFilter" />
    <!-- in the absence of the class attribute, it is assumed that the desired discriminator type is ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
    <discriminator>
      <key>ogcServicePath</key>
      <defaultValue>unknown</defaultValue>
    </discriminator>
    <sift>

      <appender name="BY_SERVICE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${cstl.log.dir}/${ogcServicePath}-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <fileNamePattern>${cstl.log.dir}/${ogcServicePath}-service-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
          <maxHistory>10</maxHistory>
          <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <!-- or whenever the file size reaches 10MB -->
            <maxFileSize>10MB</maxFileSize>
          </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <append>true</append>
        <encoder>
          <pattern>%d{HH:mm:ss.SSS} %X{ogcServiceLog} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
      </appender>
    </sift>
  </appender>

  <logger name="org.constellation" level="INFO" />
  <logger name="org.geotoolkit" level="INFO" />
  <logger name="org.flywaydb" level="INFO" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
    <appender-ref ref="SIFT" />
  </root>
</configuration>
