<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

  <comment>
    Configuration pour l'accès à la base de données d'images locale.
  </comment>

  <entry key="EPSG:Database">jdbc:postgresql://pulsar.teledetection.fr/Referencing</entry>
  <entry key="Database">jdbc:postgresql://pulsar.teledetection.fr/Coverages</entry>
  <entry key="User">geoadmin</entry>
  <entry key="Password">g3o4dmin</entry>
  <entry key="Driver">org.postgresql.Driver</entry>
  <entry key="RootDirectory">/home/geodata/images</entry>
<!--  <entry key="RemoteServer">localhost</entry> -->

</properties>
