<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" metadata-complete="true" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Constellation</display-name>
    
    <!-- constellation installer -->
    <listener>
        <listener-class>org.constellation.Installer</listener-class>
    </listener>
    
    <!-- Shiro filter handling security access -->
    <filter>
        <filter-name>Shiro</filter-name>
        <filter-class>org.apache.shiro.web.servlet.IniShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Shiro</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- JSF administration -->
    <context-param>
         <param-name>facelets.RESOURCE_RESOLVER</param-name>
         <param-value>org.mapfaces.resolver.JARFaceletsResolver</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.allowTextChildren</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.RESOURCE_URI_PREFIX</param-name>
        <param-value>rfRes</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.LoadStyleStrategy</param-name>
        <param-value>NONE</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.COMPRESS_STYLE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
        <param-value>com.sun.facelets.FaceletViewHandler</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.RECREATE_VALUE_EXPRESSION_ON_BUILD_BEFORE_RESTORE</param-name>
        <param-value>false</param-value>
    </context-param>


    <filter>
        <display-name>Ajax4jsf Filter</display-name>
        <filter-name>ajax4jsf</filter-name>
        <filter-class>org.ajax4jsf.Filter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ajax4jsf</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>Upload Filter</filter-name>
        <filter-class>org.mapfaces.filter.FileUploadFilter</filter-class>
        <init-param>
            <param-name>org.mapfaces.filter.FileUploadFilter.sizeTreshold</param-name>
            <param-value>1024</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>Upload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Mapfaces Resource Servlet</servlet-name>
        <servlet-class>org.mapfaces.servlet.ResourceServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Mapfaces Resource Servlet</servlet-name>
        <url-pattern>*.mfRes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mapfaces Resource Servlet</servlet-name>
        <url-pattern>/mfRes/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!--                                            --> 
    <!-- REST Servlet for constellation web service -->
    <!--                                            -->

    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>org.constellation.ws.rs.CstlServletContainer</servlet-class>
        <init-param>
          <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
          <param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
        </init-param>
        <init-param>
          <param-name>com.sun.jersey.config.property.packages</param-name>
             <!-- To enable configuration  service add packageName: org.constellation.configuration.ws                           -->
             <!-- To enable CSW            service add packageName: org.constellation.metadata.ws.rs                             -->
             <!-- To enable SOS            service add packageName: org.constellation.sos.ws.rs                                  -->
             <!-- To enable WMS            service add packageName: org.constellation.map.ws.rs;org.constellation.ws.rs.provider -->
             <!-- To enable WCS            service add packageName: org.constellation.coverage.ws.rs                             -->
             <!-- To enable WPS            service add packageName: org.constellation.wps.ws.rs                                  -->
             <!-- To enable WFS            service add packageName: org.constellation.wfs.ws.rs                                  -->
             <!-- To enable WMTS           service add packageName: org.constellation.wmts.ws.rs                                 -->
          <param-value>${constellation.services.packages}</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/WS/*</url-pattern>
    </servlet-mapping>
    
    <!--  SOAP enabling
         
         In Glassfish: To enable SOAP service in glassfish remove the property 'metadata-complete="true"' in the web-app tag (at the top of this document)
         In Tomcat   : 1) Uncomment the WSServletContextListener listener.
                       2) Rename the file sun-jaxws.xml.backup  in sun-jaxws.xml and uncomment the endpoint you want to enable.
           
     >
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener-->

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>
