<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()">×</button>
			<h4 class="modal-title">{{user.login}}</h4>
		</div>
		<div class="modal-body" style="height: 400px; overflow-y: auto;">
			<div class="container" style="height: 300px;">
				<form name="form" role="form" novalidate
					class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength">
					<div class="form-group col-sm-6">
						<label translate="settings.form.firstname">First Name</label> <input
							type="text" class="form-control" name="firstname"
							placeholder="{{'settings.form.firstname.placeholder' | translate}}"
							ng-model="user.firstname" ng-minlength=1 ng-maxlength=62 required>
						<div class="error"
							ng-show="form.firstname.$dirty && form.firstname.$invalid">
							<small class="error" ng-show="form.firstname.$error.required"
								translate="settings.messages.validate.firstname.required">
								Your first name is required. </small> <small class="error"
								ng-show="form.firstname.$error.minlength"
								translate="settings.messages.validate.firstname.minlength">
								Your first name is required to be at least 1 character </small> <small
								class="error" ng-show="form.firstname.$error.maxlength"
								translate="settings.messages.validate.firstname.maxlength">
								Your first name cannot be longer than 50 characters </small>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label translate="settings.form.lastname">Last Name</label> <input
							type="text" class="form-control" name="lastname"
							placeholder="{{'settings.form.lastname.placeholder' | translate}}"
							ng-model="user.lastname" ng-minlength=1 ng-maxlength=50 required>
						<div class="error"
							ng-show="form.lastname.$dirty && form.lastName.$invalid">
							<small class="error" ng-show="form.lastname.$error.required"
								translate="settings.messages.validate.firstname.required">
								Your last name is required. </small> <small class="error"
								ng-show="form.lastname.$error.minlength"
								translate="settings.messages.validate.firstname.minlength">
								Your last name is required to be at least 1 character </small> <small
								class="error" ng-show="form.lastname.$error.maxlength"
								translate="settings.messages.validate.firstname.maxlength">
								Your last name cannot be longer than 50 characters </small>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label translate="settings.form.email">E-mail</label> <input
							type="email" class="form-control" name="email"
							placeholder="{{'settings.form.email.placeholder' | translate}}"
							ng-model="user.email" ng-minlength=5 ng-maxlength=100 required>
						<div class="error"
							ng-show="form.email.$dirty && form.email.$invalid">
							<small class="error" ng-show="form.email.$error.required"
								translate="settings.messages.validate.email.required">
								Your e-mail is required. </small> <small class="error"
								ng-show="form.email.$error.email"
								translate="settings.messages.validate.email.invalid">
								Your e-mail is invalid. </small> <small class="error"
								ng-show="form.email.$error.minlength"
								translate="settings.messages.validate.email.minlength">
								Your e-mail is required to be at least 5 characters </small> <small
								class="error" ng-show="form.email.$error.maxlength"
								translate="settings.messages.validate.email.maxlength">
								Your e-mail cannot be longer than 100 characters </small>
						</div>
					</div>
					<div class="form-group row" style="padding-left:30px; padding-right:15px;">
						<label class="control-label col-sm-12" style="padding-left:0;" translate="settings.form.role">Role</label>
						<div class="col-sm-12" style="padding-left:0;">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="roles" id="role1" value="cstl-admin" ng-model="user.roles[0]">
                                    {{'settings.form.role.admin'|translate}}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="roles" id="role2" value="cstl-publish" ng-model="user.roles[0]">
                                    {{'settings.form.role.publish'|translate}}
                                </label>
                            </div>
                            <div class="radio disabled">
                                <label>
                                    <input type="radio" name="roles" id="role3" value="cstl-data" ng-model="user.roles[0]">
                                    {{'settings.form.role.data'|translate}}
                                </label>
                            </div>
						</div>
					</div>
			        <div class="form-group row" style="padding-left:30px; padding-right:15px;">
						<label class="control-label col-sm-12" style="padding-left:0;" translate="settings.form.domains">Domains</label>
						<div ng-repeat="domain in user.domains">
							{{ domain.name }} 							
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" id="cancelButton" class="btn btn-default" translate="settings.form.button.close" ng-click="close()">Close</button>
			<button type="button" ng-disabled="form.$invalid" class="btn btn-add" ng-click="save()"><span translate="settings.form.button">Save</span></button>
			<button ng-show="$parent.allowNext" type="button" id="nextButton"
				class="btn btn-add" ng-click="next();">Next</button>
			<button ng-show="$parent.allowSubmit" type="button" id="submitButton"
				class="btn btn-add" ng-click="upload();">Finish</button>
		</div>
	</div>
</div>

