<div class="modal-dialog" style="width: 1000px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title" translate="label.users.edit">Edit user</h4>
        </div>
        <div class="modal-body" style="height: 401px; overflow-y: auto;">
            <div class="container" style="height: 300px;">
                <div ng-include="'views/parts/user-form.html'">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="cancelButton" class="btn btn-default"
                    ng-click="close()">Close</button>
            <button type="submit" class="btn btn-add" ng-click="save()" ng-disabled="$root.userForm.$invalid">
                <span translate="settings.form.button">Save</span>
            </button>
        </div>
    </div>
</div>