<div id="viewerData"
     class="modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="false"
     style="display:block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true"
                        ng-click="close()">×</button>
                <h4 class="modal-title" translate="">Data viewer</h4>
            </div>
            <div class="modal-body" ng-init="viewMap(true)">
                <div id="mapContextMap" style="height: 400px; width:740px"></div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal"
                        aria-hidden="true"
                        ng-click="close()">Close</button>
            </div>
        </div>
    </div>
</div>