<div class="row">
    <div class="col-xs-4 col-sm-4">
        <a ng-click="page.pageSld = 'views/style/polygone.html'; $parent.chooseType=true;" class="choix_type"><img src="images/polygone.png"><h2 translate="sldeditor.vector.polygon" >Polygon</h2></a>
    </div>
    <div class="col-xs-4 col-sm-4">
        <a ng-click="page.pageSld = 'views/style/ligne.html'; $parent.chooseType=true;" class="choix_type"><img src="images/ligne.png"><h2 translate="sldeditor.vector.line" >Line</h2></a>
    </div>
    <div class="col-xs-4 col-sm-4">
        <a ng-click="page.pageSld = 'views/style/point.html'; $parent.chooseType=true;" class="choix_type"><img src="images/point.png"><h2 translate="sldeditor.vector.point">Point</h2></a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-offset-2 col-sm-4">
        <a ng-click="page.pageSld = 'views/style/texte.html'; $parent.chooseType=true;" class="choix_type"><img src="images/texte.png"><h2 translate="sldeditor.vector.text">Text</h2></a>
    </div>
    <div class="col-xs-6 col-sm-4">
        <a ng-click="page.pageSld = 'views/style/raster.html'; $parent.chooseType=true;" class="choix_type"><img src="images/raster-icone.png"><h2 translate="sldeditor.vector.raster">Raster</h2></a>
    </div>
</div>