<ol class="breadcrumb col-sm-12 col-md-6">
    <li><a ng-click="goBack()"><span translate="sldeditor.breadcrumb.type">Type selection</span></a></li>
    <li class="active"><span translate="sldeditor.breadcrumb.edition">Style Edition</span></li>
</ol>

    <div class="col-sm-12 col-md-6">
      <div class="style_bloc style_bloc_name" style="margin-bottom: 10px;">
        <div class="form-group col-xs-12" style="margin: 6px 0; height:35px;">
          <label class="col-xs-4 col-sm-3 col-md-4 control-label" style="margin-top: 8px;" translate="sldeditor.name">Style name</label>
          <div class="col-xs-7 col-sm-9 col-md-8">
              <input type="text" class="form-control" ng-model="$parent.newStyle.name" >
          </div>
        </div>
      </div>

    <div class="col-sm-12">
      <div ng-if="noName" class="alert alert-style" style="padding-top:8px; padding-bottom:8px; margin-bottom:0;" translate="alert.style.noname">Veuillez renseigner un nom de style</div>
    </div>
    </div>

    <ul class="nav nav-tabs" ng-init="chosenTab = 'simple'">
        <li ng-class="{active: chosenTab==='simple'}"><a ng-click="chosenTab = 'simple'" data-toggle="tab"><span translate="sldeditor.tab.simple" >Simple editor</span></a></li>
        <li ng-class="{active: chosenTab==='xml'}"><a ng-click="chosenTab = 'xml'" data-toggle="tab"><span translate="sldeditor.tab.xml" >XML Editor</span></a></li>
    </ul>

<!-- Tab panes -->
<div class="tab-content" ng-init="initLine()">
  <div class="tab-pane tab-style-edition" ng-class="{active:chosenTab==='simple'}" ng-init="edit='line'">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-xs-12" style="margin-top:8px;">
            <button type="button" class="btn-edit-style col-xs-5 btn btn-primary" style="border-radius:5px 0 0 0;" ng-class="{selected:edit=='line'}" ng-click="edit='line'"><span translate="sldeditor.edition.line">Line</span></button>
            <button type="button" class="btn-edit-style col-xs-2 btn btn-primary" style="border-radius:0 5px 0 0;" ng-class="{selected:edit=='plus'}" ng-click="edit='plus'"><span class="glyphicon-plus glyphicon"></span></button>
          </div> 
        </div>

        <div class="style_bloc" ng-show="edit=='line'">
          <form class="form-horizontal form-style" role="form">
            <div class="form-group">
              <label class="col-sm-3 control-label" translate="sldeditor.edition.color">Color</label>
              <div class="col-sm-3">
                <input type='text' name="picker" class="picker" spectrum oncolorchanged="affectAlpha(value, newStyle.rules[0].symbolizers[0].stroke)" ng-model="newStyle.rules[0].symbolizers[0].stroke.color"/>
              </div>
              <label class="col-sm-3 control-label" translate="sldeditor.edition.opacity">Opacity</label>
                <div class="col-sm-3" style="margin-top: 7px;">
                    {{newStyle.rules[0].symbolizers[0].stroke.opacity}}
                </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" translate="sldeditor.edition.size">Size</label>
              <div class="col-sm-9 col-md-4">
                <input type="number" class="form-control" ng-model="newStyle.rules[0].symbolizers[0].stroke.width">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Type</label>
                <div class="col-sm-9 col-lg-4">
                    <select ng-model="traitType" class="form-control" ng-change="$parent.addStrokeDashArray(traitType)">
                        <option value="" translate="sldeditor.edition.full">Full</option>
                        <option value="pointille" translate="sldeditor.edition.stipple">Dashed</option>
                        <!--<option value="graphic">Graphic stroke</option>-->
                    </select>
                </div>
                <div class="col-sm-12 col-lg-11 pointille" ng-show=" traitType=='pointille' "style="margin-top:10px;">
                    <div class="row dashed-pb">
                        <div class="col-sm-3 col-xs-12"><label class="pull-right control-label" translate="sldeditor.edition.line">line</label></div>
                        <div class="col-sm-9 col-md-3 col-xs-6"><input type="number" class="form-control" ng-model="newStyle.rules[0].symbolizers[0].stroke.dashArray[0]"></div>
                        <div class="col-sm-3 col-lg-2 col-xs-12"><label class="control-label" translate="sldeditor.edition.space">Space</label></div>
                        <div class="col-sm-9 col-md-3 col-xs-6"><input type="number" class="form-control" ng-model="newStyle.rules[0].symbolizers[0].stroke.dashArray[1]"></div>
                    </div>
                </div>
              <div class="col-sm-12 col-md-6" ng-show=" traitType=='graphic' ">

                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Parcourir</button>
                      </span>
                    </div><!-- /input-group -->

              </div>
            </div>
          </form>
        </div>

        <div ng-show="edit=='plus'" class="style_bloc">
          <form class="form-horizontal form-style" role="form">
              <div class="form-group">
                <label  class="col-xs-4 col-md-3 control-label" translate="sldeditor.edition.join">Join</label>
                  <div class="btn-group select select-bloc col-xs-8">
                      <button class="btn dropdown-toggle btn-default" data-toggle="dropdown" ng-model="newStyle.rules[0].symbolizers[0].stroke.lineJoin">
                          <span class="filter-option pull-left"><img class="img_icone" src="images/icone_lineJoin_{{newStyle.rules[0].symbolizers[0].stroke.lineJoin}}.png"></span>&nbsp;
                          <span class="caret"></span>
                      </button>
                      <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                      <ul class="dropdown-menu dropdown-inverse dropdown-images" role="menu" style="margin-left: 14px; overflow-y: auto; min-width:60px;">
                          <li ng-click="newStyle.rules[0].symbolizers[0].stroke.lineJoin = 'miter'">
                              <a><img class="img_icone" src="images/icone_lineJoin_miter.png"></a>
                          </li>
                          <li ng-click="newStyle.rules[0].symbolizers[0].stroke.lineJoin = 'round'">
                              <a><img class="img_icone" src="images/icone_lineJoin_round.png"></a>
                          </li>
                          <li ng-click="newStyle.rules[0].symbolizers[0].stroke.lineJoin = 'bevel'">
                              <a><img class="img_icone" src="images/icone_lineJoin_bevel.png"></a>
                          </li>
                      </ul>
                  </div>

              </div>    
              <div class="form-group">
              <label  class="col-xs-4 col-md-3 control-label" translate="sldeditor.edition.cap">Cap</label>
                  <div class="btn-group select select-block col-xs-8">
                      <button class="btn dropdown-toggle btn-default" data-toggle="dropdown" ng-model="newStyle.rules[0].symbolizers[0].stroke.lineCap">
                          <span class="filter-option pull-left"><img class="img_icone" src="images/icone_lineCap_{{newStyle.rules[0].symbolizers[0].stroke.lineCap}}.png"></span>&nbsp;
                          <span class="caret"></span>
                      </button>
                      <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                      <ul class="dropdown-menu dropdown-inverse dropdown-images" role="menu" style="margin-left: 14px; overflow-y: auto; min-width:60px;">
                          <li ng-click="newStyle.rules[0].symbolizers[0].stroke.lineCap = 'square'">
                              <a><img class="img_icone" src="images/icone_lineCap_square.png"></a>
                          </li>
                          <li ng-click="newStyle.rules[0].symbolizers[0].stroke.lineCap = 'round'">
                              <a><img class="img_icone" src="images/icone_lineCap_round.png"></a>
                          </li>
                          <li ng-click="newStyle.rules[0].symbolizers[0].stroke.lineCap = 'butt'">
                              <a><img class="img_icone" src="images/icone_lineCap_butt.png"></a>
                          </li>
                      </ul>
                  </div>
              </div>

            <div class="form-group">
              <label class="col-sm-4 col-md-3 control-label" translate="sldeditor.edition.offset">Offset</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" ng-model="newStyle.rules[0].symbolizers[0].stroke.dashOffset">
              </div>
            </div>
          </form>
        </div>


      </div>
      <div class="col-xs-12 col-sm-6">
        <button type="button" class="btn-apercu col-xs-12 btn btn-primary" ng-click="displayCurrentStyle()"><span translate="sldeditor.apercu.data">Data preview</span></button>
        <div class="bloc_apercu" id="styledMapOL" style="height: 299px;"></div>
      </div>
    </div>
  </div>

  <div class="tab-pane tab-style-edition" ng-class="{active:chosenTab==='advanced'}">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="row">
          <div class="col-xs-7 col-md-8"><h2 translate="sldeditor.breadcrumb.edition">Style Edition</h2></div>
          <div class="col-xs-5 col-md-4">
            <button type="button" class="btn-apercu btn-block btn-sm btn btn-default">Ajouter un filtre</button>
          </div>
        </div>

          <div class="style_bloc">
            <div class="row">
              <div class="col-xs-10">
                <h3>Filtre 1</h3>
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-default btn-xs btn-remove">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-8">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="minScale" class="col-sm-5 col-md-4 control-label">Echelle min.</label>
                    <div class="col-sm-7 col-md-8">
                      <input type="number" class="form-control" id="minScale">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="maxScale" class="col-sm-5 col-md-4 control-label">Echelle max.</label>
                    <div class="col-sm-7 col-md-8">
                      <input type="number" class="form-control" id="maxScale">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-5 col-md-4">
                    <button type="button" class="btn btn-default btn-md btn-editer">
                        <span class="glyphicon glyphicon-pencil"></span> Editer
                    </button>
                    </div>
                    <div class="col-sm-7 col-md-8">
                      <textarea class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                </form>
              </div>
              <div class="symboles_bloc_div col-sm-12 col-md-4">
                <div class="symboles_bloc">
                  <h3>Symboles</h3>
                  <table class="table">
                    <tr>
                      <td><img src="images/ligne_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='Ligne' /></td>
                      <td>
                        <button ng-click="symbole_ligne='ligne'" type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="images/texte_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='Texte' /></td>
                      <td>
                        <button  ng-click="symbole_ligne='texte'" type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                  </table>
                  <button type="button" class="btn-apercu btn-block btn-sm btn btn-default">Ajouter un symbole</button>
                </div>
              </div>
            </div>

        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2 translate="sldeditor.apercu.titre">Style preview</h2>
        <div ng-show=" symbole_ligne=='ligne' " class="row">
        <div class="style_bloc">
          <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-4 control-label" translate="sldeditor.edition.label">Label</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" value="Ligne">
                </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" translate="sldeditor.edition.color">Color</label>
              <div class="col-sm-8">
                <input type='text' name="picker" class="picker" spectrum />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" translate="sldeditor.edition.size">Size</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" value=1 >
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Type</label>
              <div class="col-sm-8">
                <select ng-model="traitType" class="form-control">
                  <option><span translate="sldeditor.edition.full">Full</span></option>
                  <option value="pointille"><span translate="sldeditor.edition.stipple">Stipple</span></option>
                  <!--<option value="graphic">Graphic stroke</option>-->
                </select>
              </div>
              <div class="col-sm-12" ng-show=" traitType=='pointille' ">
                <br/>
                <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-12"><label class="control-label" translate="sldeditor.edition.line">line</label></div>
                        <div class="col-md-4 col-sm-4 col-xs-6"><input type="number" class="form-control" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.dashArray[0]"></div>
                        <div class="col-md-2 col-sm-2 col-xs-12"><label class="control-label" translate="sldeditor.edition.space">Space</label></div>
                        <div class="col-md-4 col-sm-4 col-xs-6"><input type="number" class="form-control" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.dashArray[1]"></div>
                    </div>
              </div>
              <div class="col-sm-12" ng-show=" traitType=='stroke' ">
                    <br/>
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Parcourir</button>
                      </span>
                    </div><!-- /input-group -->

              </div>
            </div>
            <div class="row">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="button" ng-click="display = !display" class="btn btn-sm btn-primary">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
          </form>
        </div>

         <div ng-show="display" class="style_bloc">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-4 control-label" translate="sldeditor.edition.join">Join</label>
              <div class="col-sm-8 btn-group">
                <button type="button" class="btn btn-default"></button>
                <button type="button" class="btn btn-default"></button>
                <button type="button" class="btn btn-default"></button>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" translate="cap">Cap</label>
              <div class="col-sm-8 btn-group">
                <button type="button" class="btn btn-default" ng-model="radioModel" btn-radio="'Left'"></button>
                <button type="button" class="btn btn-default" ng-model="radioModel" btn-radio="'Middle'"></button>
                <button type="button" class="btn btn-default" ng-model="radioModel" btn-radio="'Right'"></button>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" translate="sldeditor.edition.offset">Offset</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" value=0 >
              </div>
            </div>
          </form>
        </div>
        </div>


        <div ng-show=" symbole_ligne=='texte' " class="row">
          <div class="style_bloc">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-4 control-label" translate="sldeditor.edition.label">Label</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" value="Texte">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label" translate="sldeditor.edition.font">Font</label>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option>Arial</option>
                    <option>Calibri</option>
                    <option>Time New Roman</option>
                    <option>Cambera</option>
                    <option>Times</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label" translate="sldeditor.edition.size">Size</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" value=15>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Style</label>
                <div class="col-sm-8">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default">B</button>
                    <button type="button" class="btn btn-default">I</button>
                    <button type="button" class="btn btn-default">U</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
              <label class="col-sm-4 control-label" translate="sldeditor.edition.color">Color</label>
              <div class="col-sm-8">
                <input type='text' name="picker" class="picker" spectrum />
              </div>
            </div>


            </form>
          </div>
        </div>

        <button type="button" class="btn-apercu btn-block btn btn-primary"><span translate="sldeditor.apercu.data">Data preview</span></button>
      </div>
    </div>
  </div>

  <div class="tab-pane tab-style-edition" ng-class="{active:chosenTab==='xml'}">
    <h2 translate="sldeditor.tab.xml" >XML Editor</h2>
  </div>
</div>
