<ol class="breadcrumb">
    <li><a ng-click="$parent.pageSld = 'views/style/vectors.html'">Choix du type</a></li>
    <li class="active">Edition du style</li>
</ol>
<div class="style_bloc">
  <div class="form-group col-xs-12" style="margin: 6px 0; height:35px;">
    <label class="col-sm-3 col-md-2 control-label" style="margin-top: 8px;">Nom du style</label>
    <div class="col-sm-9 col-md-4">
        <input type="text" class="form-control" >
    </div>
  </div>
</div>
<ul class="nav nav-tabs" ng-init="chosenTab = 'simple'">
    <li ng-class="{active: chosenTab==='simple'}"><a ng-click="chosenTab = 'simple'" data-toggle="tab">Editeur simple</a></li>
    <li ng-class="{active: chosenTab==='xml'}"><a ng-click="chosenTab = 'xml'" data-toggle="tab">Editeur XML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content" ng-init="$parent.newStyle.rules[0].symbolizers[0]['@symbol'] = 'line'">
  <div class="tab-pane" ng-class="{active:chosenTab==='simple'}">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <h2>Edition du style</h2>
        <div class="style_bloc">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-3 col-md-2 control-label">Couleur</label>
              <div class="col-sm-9 col-md-10">
                <input type='text' name="picker" class="picker" spectrum ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.color"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 col-md-2 control-label">Taille</label>
              <div class="col-sm-9 col-md-4">
                <input type="number" class="form-control" value=1 ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.width">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 col-md-2 control-label">Type</label>
              <div class="col-sm-9 col-md-4">
                <select ng-model="traitType" class="form-control">
                  <option>Plein</option>
                  <option value="pointille">Pointillé</option>
                  <option value="stroke">Graphic stroke</option>
                </select>
              </div>
              <div class="col-sm-12 col-md-6" ng-show=" traitType=='pointille' ">
                <div class="row">
                  <div class="col-sm-3 col-md-4 col-xs-12"><label class="control-label">Format de pointillés</label></div>
                  <div class="col-sm-4 col-xs-6"><input type="number" class="form-control" value=1 ></div>
                  <div class="col-sm-4 col-xs-6"><input type="text" ctype="number" class="form-control" value=1 ></div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6" ng-show=" traitType=='stroke' ">

                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Parcourir</button>
                      </span>
                    </div><!-- /input-group -->

              </div>
            </div>
            <div class="row">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="button" ng-click="display = !display" class="btn btn-sm btn-primary">
                  <span class="glyphicon" ng-class="{'glyphicon-plus': !display, 'glyphicon-minus': display}"></span>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div ng-show="display" class="style_bloc">
          <form class="form-horizontal" role="form">
              <div class="form-group">
                  <label  class="col-xs-3 col-md-2 control-label">Angles</label>
                  <div class="col-sm-9 col-md-10 btn-group" data-toggle="buttons">
                      <label class="btn btn-default" ng-click="$parent.newStyle.rules[0].symbolizers[0].stroke.lineCap = 'square'">
                          <input name="lineCap" type="radio" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.lineCap"
                                 value="square"><img src="images/jointure2.png">
                      </label>
                      <label class="btn btn-default" ng-click="$parent.newStyle.rules[0].symbolizers[0].stroke.lineCap = 'round'">
                          <input name="lineCap" type="radio" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.lineCap"
                                 value="round"><img src="images/jointure3.png">
                      </label>
                      <label class="btn btn-default" ng-click="$parent.newStyle.rules[0].symbolizers[0].stroke.lineCap = 'butt'">
                          <input name="lineCap" type="radio" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.lineCap"
                                 value="butt"><img src="images/jointure1.png">
                      </label>
                  </div>
              </div>
              <div class="form-group">
                  <label  class="col-xs-3 col-md-2 control-label">Jointures</label>
                  <div class="col-sm-9 col-md-10 btn-group" data-toggle="buttons">
                      <label class="btn btn-default" ng-click="$parent.newStyle.rules[0].symbolizers[0].stroke.lineJoin = 'miter'">
                          <input name="lineJoin" type="radio" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.lineJoin"
                                 value="miter"><img src="images/angle1.png">
                      </label>
                      <label class="btn btn-default" ng-click="$parent.newStyle.rules[0].symbolizers[0].stroke.lineJoin = 'round'">
                          <input name="lineJoin" type="radio" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.lineJoin"
                                 value="round"><img src="images/angle2.png">
                      </label>
                      <label class="btn btn-default" ng-click="$parent.newStyle.rules[0].symbolizers[0].stroke.lineJoin = 'bevel'">
                          <input name="lineJoin" type="radio" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.lineJoin"
                                 value="bevel"><img src="images/angle3.png">
                      </label>
                  </div>
              </div>
            <div class="form-group">
              <label class="col-sm-4 col-md-2 control-label">Décalage x</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" value=0 >
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4  col-md-2 control-label">Décalage y</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" value=0>
              </div>
            </div>
          </form>
        </div>


      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Aperçu du style</h2>
        <div class="bloc_apercu" id="styledMapOL" style="width: 299px; height: 299px;"></div>
        <button type="button" class="btn-apercu col-xs-12 btn btn-primary" ng-click="displayCurrentStyle()">Aperçu de la donnée</button>
      </div>
    </div>
  </div>

  <div class="tab-pane" ng-class="{active:chosenTab==='advanced'}">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="row">
          <div class="col-xs-7 col-md-8"><h2>Edition du style</h2></div>
          <div class="col-xs-5 col-md-4">
            <button type="button" class="btn-apercu btn-block btn-sm btn btn-default">Ajouter un filtre</button>
          </div>
        </div>

          <div class="style_bloc">
            <div class="row">
              <div class="col-xs-10">
                <h3>Filtre 1</h3>
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-default btn-xs btn-remove">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-8">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="minScale" class="col-sm-5 col-md-4 control-label">Echelle min.</label>
                    <div class="col-sm-7 col-md-8">
                      <input type="number" class="form-control" id="minScale">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="maxScale" class="col-sm-5 col-md-4 control-label">Echelle max.</label>
                    <div class="col-sm-7 col-md-8">
                      <input type="number" class="form-control" id="maxScale">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-5 col-md-4">
                    <button type="button" class="btn btn-default btn-md btn-editer">
                        <span class="glyphicon glyphicon-pencil"></span> Editer
                    </button>
                    </div>
                    <div class="col-sm-7 col-md-8">
                      <textarea class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                </form>
              </div>
              <div class="symboles_bloc_div col-sm-12 col-md-4">
                <div class="symboles_bloc">
                  <h3>Symboles</h3>
                  <table class="table">
                    <tr>
                      <td><img src="images/ligne_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='Ligne' /></td>
                      <td>
                        <button ng-click="symbole_ligne='ligne'" type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="images/texte_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='Texte' /></td>
                      <td>
                        <button  ng-click="symbole_ligne='texte'" type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                  </table>
                  <button type="button" class="btn-apercu btn-block btn-sm btn btn-default">Ajouter un symbole</button>
                </div>
              </div>
            </div>

        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Aperçu du style</h2>
        <div ng-show=" symbole_ligne=='ligne' " class="row">
        <div class="style_bloc">
          <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-4 control-label">Libellé</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" value="Ligne">
                </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Couleur</label>
              <div class="col-sm-8">
                <input type='text' name="picker" class="picker" spectrum />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Taille</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" value=1 >
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Type</label>
              <div class="col-sm-8">
                <select ng-model="traitType" class="form-control">
                  <option>Plein</option>
                  <option value="pointille">Pointillés</option>
                  <option value="stroke">Graphic stroke</option>
                </select>
              </div>
              <div class="col-sm-12" ng-show=" traitType=='pointille' ">
                <br/>
                <div class="row">
                  <div class="col-sm-4  col-xs-12"><label class="control-label">Format de pointillés</label></div>
                  <div class="col-sm-4  col-xs-6"><input type="number" class="form-control" value=1 ></div>
                  <div class="col-sm-4 col-xs-6"><input type="text" ctype="number" class="form-control" value=1 ></div>
                </div>
              </div>
              <div class="col-sm-12" ng-show=" traitType=='stroke' ">
                    <br/>
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Parcourir</button>
                      </span>
                    </div><!-- /input-group -->

              </div>
            </div>
            <div class="row">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="button" ng-click="display = !display" class="btn btn-sm btn-primary">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
          </form>
        </div>

         <div ng-show="display" class="style_bloc">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-4 control-label">Angles</label>
              <div class="col-sm-8 btn-group">
                <button type="button" class="btn btn-default"><img src="images/jointure2.png"></button>
                <button type="button" class="btn btn-default"><img src="images/jointure3.png"></button>
                <button type="button" class="btn btn-default"><img src="images/jointure1.png"></button>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Jointures</label>
              <div class="col-sm-8 btn-group">
                <button type="button" class="btn btn-default" ng-model="radioModel" btn-radio="'Left'"><img src="images/angle1.png"></button>
                <button type="button" class="btn btn-default" ng-model="radioModel" btn-radio="'Middle'"><img src="images/angle2.png"></button>
                <button type="button" class="btn btn-default" ng-model="radioModel" btn-radio="'Right'"><img src="images/angle3.png"></button>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Décalage x</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" value=0 >
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Décalage y</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" value=0>
              </div>
            </div>
          </form>
        </div>
        </div>


        <div ng-show=" symbole_ligne=='texte' " class="row">
          <div class="style_bloc">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-4 control-label">Libellé</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" value="Texte">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Police</label>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option>Arial</option>
                    <option>Calibri</option>
                    <option>Time New Roman</option>
                    <option>Cambera</option>
                    <option>Times</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Taille</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" value=15>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Style</label>
                <div class="col-sm-8">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default">B</button>
                    <button type="button" class="btn btn-default">I</button>
                    <button type="button" class="btn btn-default">U</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
              <label class="col-sm-4 control-label">Couleur</label>
              <div class="col-sm-8">
                <input type='text' name="picker" class="picker" spectrum />
              </div>
            </div>


            </form>
          </div>
        </div>

        <button type="button" class="btn-apercu btn-block btn btn-primary">Aperçu de la donnée</button>
      </div>
    </div>
  </div>

  <div class="tab-pane" ng-class="{active:chosenTab==='classif'}" ng-init="apercu_ligne=1">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <h2>Edition du style</h2>
        <div class="style_bloc" style="min-height:60px;">
                <div class="col-sm-9 col-md-10 btn-group" style="margin-bottom:20px;" ng-init="classification_ligne='unique'" data-toggle="buttons">
                    <label ng-class="{active: classification_ligne==='unique'}" ng-click="classification_ligne='unique'" type="button" class="btn btn-default"><input type="radio" value="unique">Valeur unique</label>
                    <label ng-class="{active: classification_ligne==='intervalle'}" ng-click="classification_ligne='intervalle'" type="button" class="btn btn-default"><input type="radio" value="intervalle">Intervalle de valeurs</label>
                </div>


          <div ng-show="classification_ligne=='unique'">
            <form class="form_classification form-horizontal" role="form">
             <div class="form-group col-xs-12">
                <label class="col-sm-3 col-md-2 control-label">Palette</label>
                <div class="col-sm-9 col-md-10">
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-xs-12">
                <label class="col-sm-3 col-md-2 control-label">Attriut</label>
                <div class="col-sm-9 col-md-10">
                  <select class="form-control">
                    <option>Attribut 1</option>
                    <option>Attribut 2</option>
                    <option>Attribut 3</option>
                    <option>Attribut 4</option>
                    <option>Attribut 5</option>
                  </select>
                </div>
              </div>
            </form>
          </div>

          <div ng-show="classification_ligne=='intervalle'">
            <form class="form_classification form-horizontal" role="form">
              <div class="form-group col-xs-12">
                <label class="col-sm-3 col-md-2 control-label">Palette</label>
                <div class="col-sm-9 col-md-10">
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-xs-12">
                <label class="col-sm-3 col-md-2 control-label">Attriut</label>
                <div class="col-sm-9 col-md-10">
                  <select class="form-control">
                    <option>Attribut 1</option>
                    <option>Attribut 2</option>
                    <option>Attribut 3</option>
                    <option>Attribut 4</option>
                    <option>Attribut 5</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-xs-12">
                <label class="col-sm-3 col-md-2 control-label">Méthode</label>
                <div class="col-sm-9 col-md-10 btn-group" data-toggle="buttons">
                    <label class="btn btn-default"><input type="radio" value="quantile">Quantile</label>
                    <label class="btn btn-default"><input type="radio" value="el">EL</label>
                </div>
              </div>
              <div class="form-group col-xs-12">
                <label for="intervalles" class="col-sm-3 col-md-2 control-label">Intervalles</label>
                <div class="col-xs-4">
                  <input type="number" class="form-control" value=1 id="intervalles">
                </div>
              </div>
            </form>
          </div>
        </div>
        <button type="button" ng-show="classification_ligne=='unique'" ng-click="palette_ligne=1" class="btn btn-generer btn-default">Générer la palette</button>
        <button type="button" ng-show="classification_ligne=='intervalle'" ng-click="palette_ligne=2" class="btn btn-generer btn-default">Générer la palette</button>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="row div-apercu">
            <div class="col-xs-12">
              <div class="col-sm-9 col-md-10 btn-group" data-toggle="buttons" ng-init="apercu_ligne=1">
                <label ng-class="{active: apercu_ligne===1}" ng-click="apercu_ligne=1" type="button" class="col-xs-8 btn btn-apercu btn-default"><input type="radio" value="unique">Apercu du style</label>
                <label ng-class="{active: apercu_ligne===2}" ng-click="apercu_ligne=2" type="button" class="col-xs-4 btn btn-apercu btn-default"><input type="radio" value="intervalle">Modèle</label>
              </div> 
            </div>
           </div>
        <div class="row div-apercu">
            <div class="bloc_apercu">
                <div ng-class="{'sous_bloc_apercu': apercu_ligne==1, 'sous_bloc_apercu_grand': apercu_ligne==2}" class="sous_bloc_apercu">
                    <table ng-show="palette_ligne==1 && apercu_ligne==1" class="table">
                    <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='valeur 1' /></td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='valeur 2' /></td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='valeur 3' /></td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='valeur 4' /></td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='valeur 5' /></td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                  </table>

                    <table ng-show="palette_ligne==2 && apercu_ligne==1" class="table">
                    <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='0  >  100     ' /></td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='100  >  200' /></td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='200  >  300' /></td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='300  >  400' /></td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='400  >  500' /></td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                  </table>
                  <form ng-show="apercu_ligne==2" class="form_classification form-horizontal" role="form">
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Contour</label>
                      <div class="col-sm-8">
                        <input type='text' name="picker" class="picker" spectrum />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Taille</label>
                      <div class="col-sm-8">
                        <input type="number" class="form-control" value=1 >
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Type</label>
                      <div class="col-sm-8">
                        <select ng-model="traitType" class="form-control">
                          <option>Plein</option>
                          <option value="pointille">Pointillés</option>
                          <option value="stroke">Graphic stroke</option>
                        </select>
                      </div>
                      <div class="col-sm-12" ng-show=" traitType=='pointille' ">
                        <div class="row">
                          <br/>
                          <div class="col-sm-12  col-xs-12"><label class="control-label">Format de pointillés</label></div>
                          <div class="col-sm-6  col-xs-6"><input type="number" class="form-control" value=1 ></div>
                          <div class="col-sm-6 col-xs-6"><input type="text" ctype="number" class="form-control" value=1 ></div>
                        </div>
                      </div>
                      <div class="col-sm-12" ng-show=" traitType=='stroke' ">
                            <br/>
                            <div class="input-group">
                              <input type="text" class="form-control">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Parcourir</button>
                              </span>
                            </div><!-- /input-group -->

                      </div>
                    </div>
                    <div class="center">
                         <button type="button" class="btn btn-default" >Supprimer le modèle</button>
                         <button type="button" class="btn btn-primary">Appliquer</button>
                    </div>
                  </form>

                </div>
                <div ng-show="apercu_ligne==1" class="col-xs-12 div-btn-add">
                    <button type="button" class="btn-apercu btn btn-default">Ajouter une valeur</button>
                </div>
            </div>
            <button type="button" class="btn-apercu col-xs-12 btn btn-primary">Aperçu de la donnée</button>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" ng-class="{active:chosenTab==='xml'}">
    <h2>Editeur XML</h2>
  </div>
</div>
