<form class="form-horizontal form-style" role="form">
    <div class="form-group">
        <label class="col-sm-4 col-md-3 control-label" translate="edition.style.label.name">Name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control form-control-fix" ng-model="symbolizer.name"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" translate="sldeditor.edition.color">Color</label>
        <div class="col-sm-3">
            <input type='text'
                   name="picker"
                   class="picker"
                   spectrum oncolorchanged="affectAlpha(value, symbolizer.stroke)"
                   ng-model="symbolizer.stroke.color"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" translate="sldeditor.edition.size">Size</label>
        <div class="col-sm-9 col-md-4">
            <input type="number" class="form-control form-control-fix" ng-model="symbolizer.stroke.width" min="1"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Type</label>
        <div class="col-sm-9 col-lg-4">
            <select ng-model="traitType" class="form-control form-control-fix" ng-change="$parent.addStrokeDashArray(symbolizer,traitType)">
                <option value="" translate="sldeditor.edition.full">Full</option>
                <option value="pointille" translate="sldeditor.edition.stipple">Dashed</option>
            </select>
        </div>
        <div class="col-sm-12 col-lg-11 pointille" ng-show="traitType=='pointille'" style="margin-top:10px;">
            <div class="row dashed-pb">
                <div class="col-sm-3 col-xs-12">
                    <label class="pull-right control-label" translate="sldeditor.edition.line">line</label>
                </div>
                <div class="col-sm-9 col-md-3 col-xs-6">
                    <input type="number" class="form-control form-control-fix" min="1"
                           ng-model="symbolizer.stroke.dashArray[0]"/>
                </div>
                <div class="col-sm-3 col-lg-2 col-xs-12">
                    <label class="control-label" translate="sldeditor.edition.space">Space</label>
                </div>
                <div class="col-sm-9 col-md-3 col-xs-6">
                    <input type="number" class="form-control form-control-fix" min="0"
                           ng-model="symbolizer.stroke.dashArray[1]"/>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 col-md-3 control-label" translate="sldeditor.edition.join">Join</label>
        <div class="btn-group dropup select select-bloc col-xs-8">
            <button class="btn dropdown-toggle btn-default"
                    data-toggle="dropdown"
                    ng-model="symbolizer.stroke.lineJoin">
                <span class="filter-option pull-left">
                    <img class="img_icone"
                         src="images/icone_lineJoin_{{symbolizer.stroke.lineJoin}}.png"/>
                </span>&nbsp;
                <span class="caret"></span>
            </button>
            <span class="dropdown-arrow dropdown-arrow-inverse"></span>
            <ul class="dropdown-menu dropdown-inverse dropdown-images"
                role="menu" style="margin-left: 14px; overflow-y: auto; min-width:60px;">
                <li ng-click="symbolizer.stroke.lineJoin = 'miter'">
                    <a><img class="img_icone" src="images/icone_lineJoin_miter.png"/></a>
                </li>
                <li ng-click="symbolizer.stroke.lineJoin = 'round'">
                    <a><img class="img_icone" src="images/icone_lineJoin_round.png"/></a>
                </li>
                <li ng-click="symbolizer.stroke.lineJoin = 'bevel'">
                    <a><img class="img_icone" src="images/icone_lineJoin_bevel.png"/></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 col-md-3 control-label" translate="sldeditor.edition.cap">Cap</label>
        <div class="btn-group dropup select select-block col-xs-8">
            <button class="btn dropdown-toggle btn-default"
                    data-toggle="dropdown"
                    ng-model="symbolizer.stroke.lineCap">
                <span class="filter-option pull-left">
                    <img class="img_icone"
                         src="images/icone_lineCap_{{symbolizer.stroke.lineCap}}.png"/>
                </span>&nbsp;
                <span class="caret"></span>
            </button>
            <span class="dropdown-arrow dropdown-arrow-inverse"></span>
            <ul class="dropdown-menu dropdown-inverse dropdown-images"
                role="menu"
                style="margin-left: 14px; overflow-y: auto; min-width:60px;">
                <li ng-click="symbolizer.stroke.lineCap = 'square'">
                    <a><img class="img_icone" src="images/icone_lineCap_square.png"/></a>
                </li>
                <li ng-click="symbolizer.stroke.lineCap = 'round'">
                    <a><img class="img_icone" src="images/icone_lineCap_round.png"/></a>
                </li>
                <li ng-click="symbolizer.stroke.lineCap = 'butt'">
                    <a><img class="img_icone" src="images/icone_lineCap_butt.png"/></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 col-md-3 control-label" translate="sldeditor.edition.offset">Offset</label>
        <div class="col-sm-4">
            <input type="number" class="form-control form-control-fix" ng-model="symbolizer.stroke.dashOffset"/>
        </div>
    </div>
</form>
