<ol class="breadcrumb col-sm-12 col-md-6">
    <li>
        <a ng-click="goBack()">
            <span translate="sldeditor.breadcrumb.type">Type selection</span>
        </a>
    </li>
    <li class="active">
        <span translate="sldeditor.breadcrumb.edition">Style Edition</span>
    </li>
</ol>


<div class="col-sm-12 col-md-6">
    <div class="style_bloc style_bloc_name" style="margin-bottom: 10px;">
        <div class="form-group col-xs-12" style="margin: 6px 0; height:35px;">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label" style="margin-top: 8px;" translate="sldeditor.name">Style name</label>
            <div class="col-xs-7 col-sm-9 col-md-8">
                <input type="text" class="form-control" ng-model="$parent.newStyle.name">
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div ng-if="noName" class="alert alert-style" style="padding-top:8px; padding-bottom:8px; margin-bottom:0;" translate="alert.style.noname">Veuillez renseigner un nom de style</div>
    </div>
</div>

<ul class="nav nav-tabs" ng-init="chosenTab = 'simple'">
    <li ng-class="{active: chosenTab==='simple'}">
        <a ng-click="chosenTab = 'simple'" data-toggle="tab">
            <span translate="sldeditor.tab.simple" >Simple editor</span>
        </a>
    </li>
    <li ng-class="{active: chosenTab==='classif'}">
        <a ng-click="chosenTab = 'classif'" data-toggle="tab">
            <span translate="sldeditor.tab.rules" >Rules edition</span>
        </a>
    </li>
    <li ng-class="{active: chosenTab==='xml'}">
        <a ng-click="chosenTab = 'xml'" data-toggle="tab">
            <span translate="sldeditor.tab.xml" >XML Editor</span>
        </a>
    </li>
</ul>


<!-- Tab panes -->
<div class="tab-content" ng-init="initPolygon()">
  <div class="tab-pane tab-style-edition"  ng-init="edit='fill'" ng-class="{active:chosenTab==='simple'}">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-xs-12" style="margin-top:8px;">
            <button type="button" class="btn-edit-style col-xs-5 btn btn-primary" style="border-radius:5px 0 0 0;"
                    ng-class="{selected:edit=='fill'}" ng-click="edit='fill'">
                <span translate="sldeditor.edition.fill">Fill</span>
            </button>
            <button type="button" class="btn-edit-style col-xs-5 btn btn-primary" style="border-left:none; border-right:none; border-radius:0;"
                    ng-class="{selected:edit=='stroke'}" ng-click="edit='stroke'">
                <span translate="sldeditor.edition.stroke">Stroke</span>
            </button>
            <button type="button" class="btn-edit-style col-xs-2 btn btn-primary" style="border-radius:0 5px 0 0;"
                    ng-class="{selected:edit=='plus'}" ng-click="edit='plus'">
                <span class="glyphicon-plus glyphicon"></span>
            </button>
          </div>
        </div>

        <div class="style_bloc" style="padding:15px 10px 0 10px;" ng-show="edit=='fill'">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-3 col-md-3 control-label" translate="sldeditor.edition.color">Color</label>
              <div class="col-sm-3 col-md-3">
                <input type='text' name="picker" class="picker" spectrum oncolorchanged="affectAlpha(value, newStyle.rules[0].symbolizers[0].fill)"
                       ng-model="newStyle.rules[0].symbolizers[0].fill.color"/>
              </div>
                <label class="col-sm-3 col-md-3 control-label" translate="sldeditor.edition.opacity">Opacity</label>
                <div class="col-sm-3 col-md-3" style="margin-top: 7px;">
                    {{newStyle.rules[0].symbolizers[0].fill.opacity}}
                </div>
            </div>
          </form>
        </div>
        <div class="style_bloc" ng-show="edit=='stroke'">
          <form class="form-horizontal form-style" role="form">
            <div class="form-group">
              <label class="col-sm-3 control-label" translate="sldeditor.edition.color">Color</label>
              <div class="col-sm-3">
                <input type='text' name="picker" class="picker" spectrum oncolorchanged="affectAlpha(value, newStyle.rules[0].symbolizers[0].stroke)"  ng-model="newStyle.rules[0].symbolizers[0].stroke.color"/>
              </div>
                <label class="col-sm-3 control-label" translate="sldeditor.edition.opacity">Opacity</label>
                <div class="col-sm-3 col-md-3" style="margin-top: 7px;">
                    {{newStyle.rules[0].symbolizers[0].stroke.opacity}}
                </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" translate="sldeditor.edition.size">Size</label>
              <div class="col-sm-9 col-md-4">
                <input type="number"class="form-control" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.width">
              </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-3 control-label">Type</label>
              <div class="col-sm-9 col-lg-4">
                <select ng-model="traitType" class="form-control" ng-change="$parent.addStrokeDashArray(traitType)">
                        <option value="" translate="sldeditor.edition.full">Full</option>
                        <option value="pointille" translate="sldeditor.edition.stipple">Dashed</option>
                  <!--<option value="graphic">Graphic stroke</option>-->
                </select>
              </div>
              <div class="col-sm-12 col-lg-11 pointille" ng-show=" traitType=='pointille' " style="margin-top:10px;">
                <div class="row dashed-pb">
                        <div class="col-sm-3 col-xs-12"><label class="pull-right control-label" translate="sldeditor.edition.line">line</label></div>
                        <div class="col-sm-9 col-md-3 col-xs-6"><input type="number" class="form-control" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.dashArray[0]"></div>
                        <div class="col-sm-3 col-lg-2 col-xs-12"><label class="pull-right control-label" translate="sldeditor.edition.space">Space</label></div>
                        <div class="col-sm-9 col-md-3 col-xs-6"><input type="number" class="form-control" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.dashArray[1]"></div>
                    </div>
              </div>
              <div class="col-sm-12 col-md-6" ng-show=" traitType=='graphic' ">

                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Parcourir</button>
                      </span>
                    </div><!-- /input-group -->
              </div>
            </div>
          </form>
        </div>
        <div ng-show="edit=='plus'" class="style_bloc">
            <form class="form-horizontal form-style " role="form">
              <div class="form-group">
                <label  class="col-xs-3 control-label" translate="sldeditor.edition.join">Join</label>
                <div class="btn-group select select-bloc col-xs-9">
                    <button class="btn dropdown-toggle btn-default" data-toggle="dropdown"
                            ng-model="newStyle.rules[0].symbolizers[0].stroke.lineJoin">
                        <span class="filter-option pull-left">
                            <img class="img_icone" src="images/icone_lineJoin_{{newStyle.rules[0].symbolizers[0].stroke.lineJoin}}.png"/>
                        </span>&nbsp;
                        <span class="caret"></span>
                    </button>
                    <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                    <ul class="dropdown-menu dropdown-inverse dropdown-images" role="menu" style="overflow-y: auto; min-width:60px; min-height: 108px;">
                        <li ng-click="newStyle.rules[0].symbolizers[0].stroke.lineJoin = 'miter'">
                            <a><img class="img_icone" src="images/icone_lineJoin_miter.png"></a>
                        </li>
                        <li ng-click="newStyle.rules[0].symbolizers[0].stroke.lineJoin = 'round'">
                            <a><img class="img_icone" src="images/icone_lineJoin_round.png"></a>
                        </li>
                        <li ng-click="newStyle.rules[0].symbolizers[0].stroke.lineJoin = 'bevel'">
                            <a><img class="img_icone" src="images/icone_lineJoin_bevel.png"></a>
                        </li>
                    </ul>
                </div>
              </div>
              <div class="form-group">
                <label  class="col-xs-3 control-label" translate="sldeditor.edition.cap">Cap</label>
                <div class="btn-group select select-block col-xs-9">
                    <button class="btn dropdown-toggle btn-default" data-toggle="dropdown" ng-model="newStyle.rules[0].symbolizers[0].stroke.lineCap">
                        <span class="filter-option pull-left"><img class="img_icone" src="images/icone_lineCap_{{newStyle.rules[0].symbolizers[0].stroke.lineCap}}.png"></span>&nbsp;
                        <span class="caret"></span>
                    </button>
                    <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                    <ul class="dropdown-menu dropdown-inverse dropdown-images" role="menu" style="overflow-y: auto; min-width:60px; min-height: 108px;">
                        <li ng-click="newStyle.rules[0].symbolizers[0].stroke.lineCap = 'square'">
                            <a><img class="img_icone" src="images/icone_lineCap_square.png"></a>
                        </li>
                        <li ng-click="newStyle.rules[0].symbolizers[0].stroke.lineCap = 'round'">
                            <a><img class="img_icone" src="images/icone_lineCap_round.png"></a>
                        </li>
                        <li ng-click="newStyle.rules[0].symbolizers[0].stroke.lineCap = 'butt'">
                            <a><img class="img_icone" src="images/icone_lineCap_butt.png"></a>
                        </li>
                    </ul>
                </div>
              </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" translate="sldeditor.edition.offset">Offset</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" ng-model="newStyle.rules[0].symbolizers[0].stroke.dashOffset">
                    </div>
                </div>
            </form>
        </div>


      </div>
      <div class="col-xs-12 col-sm-6">
        <button type="button" class="btn-apercu col-xs-12 btn btn-primary" ng-click="displayCurrentStyle()"><span translate="sldeditor.apercu.titre">Data preview</span></button>
        <div class="bloc_apercu" id="styledMapOL" style="height: 299px;"></div>

      </div>
    </div>
  </div>

  <div class="tab-pane tab-style-edition" ng-class="{active:chosenTab==='advanced'}">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="row">
          <div class="col-xs-7 col-md-8"><h2 translate="sldeditor.breadcrumb.edition">Style Edition</h2></div>
          <div class="col-xs-5 col-md-4">
            <button type="button" class="btn-apercu btn-block btn-sm btn btn-default">Ajouter une règle</button>
          </div>
        </div>

          <div class="style_bloc">
            <div class="row">
              <div class="col-xs-10">
                <h3>Règle 1</h3>
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-default btn-xs btn-remove">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-8">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="minScale" class="col-sm-5 col-md-4 control-label">Echelle min.</label>
                    <div class="col-sm-7 col-md-8">
                      <input type="number" class="form-control" id="minScale" ng-model="$parent.newStyle.rules[0].minScale">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="maxScale" class="col-sm-5 col-md-4 control-label">Echelle max.</label>
                    <div class="col-sm-7 col-md-8">
                      <input type="number" class="form-control" id="maxScale" ng-model="$parent.newStyle.rules[0].maxScale">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-5 col-md-4">
                    <button type="button" class="btn btn-default btn-md btn-editer">
                        <span class="glyphicon glyphicon-pencil"></span> Editer
                    </button>
                    </div>
                    <div class="col-sm-7 col-md-8">
                      <textarea class="form-control" rows="3" ng-model="$parent.newStyle.rules[0].description"></textarea>
                    </div>
                  </div>
                </form>
              </div>
              <div class="symboles_bloc_div col-md-4 col-xs-12">
                <div class="symboles_bloc">
                  <h3>Symboles</h3>
                  <table class="table">
                    <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='Polygone' /></td>
                      <td>
                        <button ng-click="symbole_poly='polygone'" type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                  </table>
                  <button type="button" class="btn-apercu btn-block btn-sm btn btn-default">Ajouter un symbole</button>
                </div>
              </div>
            </div>

        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2 translate="sldeditor.apercu.titre">Style preview</h2>
        <div ng-show=" symbole_poly=='polygone' " class="row">
          <div class="style_bloc">
            <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-4 control-label" translate="sldeditor.edition.label">Label</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="$parent.newStyle.rules[0].symbolizers[0].name">
                </div>
              </div>
              </form>
            </div>
          <div class="style_bloc">
          <h3 translate="sldeditor.edition.fill">Fill</h3>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-4 control-label" translate="sldeditor.edition.color">Color</label>
              <div class="col-sm-8">
                <input type='text' name="picker" class="picker" spectrum ng-model="$parent.newStyle.rules[0].symbolizers[0].fill.color" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Type</label>
              <div class="col-sm-8">
                <select ng-model="bgType" class="form-control">
                  <option>Plein</option>
                  <option>Pattern 1</option>
                  <option>Pattern 2</option>
                  <option>Pattern 3</option>
                  <option>Pattern 4</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="style_bloc">
          <h3  translate="sldeditor.edition.stroke">Stroke</h3>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-4 control-label" translate="sldeditor.edition.color">Color</label>
              <div class="col-sm-8">
                <input type='text' name="picker" class="picker" spectrum ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.color" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" translate="sldeditor.edition.size">Size</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" value=1 >
              </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-4 control-label">Type</label>
              <div class="col-sm-8">
                <select ng-model="traitType" class="form-control">
                  <option><span translate="sldeditor.edition.full">Full</span></option>
                  <option value="pointille"><span translate="sldeditor.edition.stipple">Stipple</span></option>
                  <!--<option value="stroke">Graphic stroke</option>-->
                </select>
              </div>
              <div class="col-sm-12" ng-show=" traitType=='pointille' ">
                <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-12"><label class="control-label" translate="sldeditor.edition.line">line</label></div>
                        <div class="col-md-4 col-sm-4 col-xs-6"><input type="number" class="form-control" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.dashArray[0]"></div>
                        <div class="col-md-2 col-sm-2 col-xs-12"><label class="control-label" translate="sldeditor.edition.space">Space</label></div>
                        <div class="col-md-4 col-sm-4 col-xs-6"><input type="number" class="form-control" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.dashArray[1]"></div>
                    </div>
              </div>
              <div class="col-sm-12" ng-show=" traitType=='stroke' ">
                    <br/>
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Parcourir</button>
                      </span>
                    </div><!-- /input-group -->

              </div>
            </div>
            <div class="row">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="button" ng-click="display = !display" class="btn btn-sm btn-primary">
                  <span class="glyphicon" ng-class="{'glyphicon-plus': !display, 'glyphicon-minus': display}"></span>
                </button>
              </div>
            </div>
          </form>
        </div>

         <div ng-show="display" class="style_bloc">
          <form class="form-horizontal" role="form">
              <div class="form-group">
                  <label  class="col-xs-3 col-md-2 control-label" translate="sldeditor.edition.join">Join</label>
                  <div class="col-sm-9 col-md-10 btn-group" data-toggle="buttons">
                      <label class="btn btn-default">
                          <input type="radio" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.lineCap"
                                 value="square">
                      </label>
                      <label class="btn btn-default">
                          <input type="radio" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.lineCap"
                                 value="round">
                      </label>
                      <label class="btn btn-default">
                          <input type="radio" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.lineCap"
                                 value="butt">
                      </label>
                  </div>
              </div>
              <div class="form-group">
                  <label  class="col-xs-3 col-md-2 control-label" translate="sldeditor.edition.cap">Cap</label>
                  <div class="col-sm-9 col-md-10 btn-group" data-toggle="buttons">
                      <label class="btn btn-default">
                          <input type="radio" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.lineJoin"
                                 value="miter">
                      </label>
                      <label class="btn btn-default">
                          <input type="radio" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.lineJoin"
                                 value="round">
                      </label>
                      <label class="btn btn-default">
                          <input type="radio" ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.lineJoin"
                                 value="bevel">
                      </label>
                  </div>
              </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" translate="sldeditor.edition.offset">Offset</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" value=0 >
              </div>
            </div>
          </form>
        </div>
        </div>

        <button type="button" class="btn-apercu btn-block btn btn-primary"><span translate="sldeditor.apercu.data">Data preview</span></button>
      </div>
    </div>
  </div>

  <div class="tab-pane tab-style-edition" ng-class="{active:chosenTab==='classif'}" ng-init="edit_classif='unique'" >
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-xs-12" style="margin-top:8px;">
            <button type="button" class="btn-edit-style col-xs-5 btn btn-primary" style="border-radius:5px 0 0 0;" ng-class="{selected:edit_classif=='unique'}" ng-click="edit_classif='unique'"><span translate="sldeditor.tab.unique">Unique value</span></button>
            <button type="button" class="btn-edit-style col-xs-5 btn btn-primary" style="border-radius:0 5px 0 0;" ng-class="{selected:edit_classif=='intervalle'}" ng-click="edit_classif='intervalle'"><span translate="sldeditor.tab.interval">Interval</span></button>
          </div>
        </div>
          <div class="style_bloc" style="min-height:60px;">
          <div ng-show="edit_classif=='unique'">
            <form class="form_classification form-horizontal" role="form">
             <div class="form-group col-xs-12">
                <label class="col-sm-3 col-md-2 control-label">Palette</label>
                <div class="col-sm-9 col-md-10">
                  <div class="btn-group select select-block">
                    <button class="btn dropdown-toggle btn-default" data-toggle="dropdown">
                      <span class="filter-option pull-left"><img class="img_palette" src={{palette.img_palette}}></span>&nbsp;
                      <span class="caret"></span>
                    </button>
                    <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                    <ul class="dropdown-menu dropdown-inverse dropdown-images" role="menu" style="overflow-y: auto; min-width:70px; min-height: 108px;">
                      <li ng-click="$parent.choosePalette(1)">
                          <a><img class="img_palette" src="images/palette1.png"></a>
                      </li>
                      <li ng-click="$parent.choosePalette(2)">
                        <a><img class="img_palette" src="images/palette2.png"></a>
                      </li>
                      <li ng-click="$parent.choosePalette(3)">
                        <a><img class="img_palette" src="images/palette3.png"></a>
                      </li>
                      <li ng-click="$parent.choosePalette(4)">
                        <a><img class="img_palette" src="images/palette4.png"></a>
                      </li>
                      <li ng-click="$parent.choosePalette(5)">
                        <a><img class="img_palette" src="images/palette5.png"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group col-xs-12">
                <label class="col-sm-3 col-md-2 control-label">Attriut</label>
                <div class="col-sm-9 col-md-10">
                  <select class="form-control">
                    <option>Attribut 1</option>
                    <option>Attribut 2</option>
                    <option>Attribut 3</option>
                    <option>Attribut 4</option>
                    <option>Attribut 5</option>
                  </select>
                </div>
              </div>
            </form>
          </div>

          <div ng-show="edit_classif=='intervalle'">
            <form class="form_classification form-horizontal" role="form">
              <div class="form-group col-xs-12">
                <label class="col-sm-3 col-md-2 control-label">Palette</label>
                <div class="col-sm-9 col-md-10">
                  <div class="btn-group select select-block">
                    <button class="btn dropdown-toggle btn-default" data-toggle="dropdown">
                      <span class="filter-option pull-left"><img class="img_palette" src={{palette.img_palette}}></span>&nbsp;
                      <span class="caret"></span>
                    </button>
                    <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                    <ul class="dropdown-menu dropdown-inverse dropdown-images" role="menu" style="overflow-y: auto; min-width:70px; min-height: 108px;">
                      <li ng-click="$parent.choosePalette(1)">
                          <a><img class="img_palette" src="images/palette1.png"></a>
                      </li>
                      <li ng-click="$parent.choosePalette(2)">
                        <a><img class="img_palette" src="images/palette2.png"></a>
                      </li>
                      <li ng-click="$parent.choosePalette(3)">
                        <a><img class="img_palette" src="images/palette3.png"></a>
                      </li>
                      <li ng-click="$parent.choosePalette(4)">
                        <a><img class="img_palette" src="images/palette4.png"></a>
                      </li>
                      <li ng-click="$parent.choosePalette(5)">
                        <a><img class="img_palette" src="images/palette5.png"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group col-xs-12">
                <label class="col-sm-3 col-md-2 control-label">Attriut</label>
                <div class="col-sm-9 col-md-10">
                  <select class="form-control">
                    <option>Attribut 1</option>
                    <option>Attribut 2</option>
                    <option>Attribut 3</option>
                    <option>Attribut 4</option>
                    <option>Attribut 5</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-xs-12">
                <label class="col-sm-3 col-md-2 control-label" translate="sldeditor.edition.method">Method</label>
                <div class="col-sm-9 col-md-10 btn-group" data-toggle="buttons">
                    <label class="btn btn-default"><input type="radio" value="quantile">Quantile</label>
                    <label class="btn btn-default"><input type="radio" value="el">EL</label>
                </div>
              </div>
              <div class="form-group col-xs-12">
                <label for="intervalles" class="col-sm-3 col-md-2 control-label" translate="sldeditor.edition.intervals">Intervals</label>
                <div class="col-sm-4">
                  <input type="number" class="form-control" value=1 id="intervalles">
                </div>
              </div>
            </form>
          </div>
        </div>
        <button type="button" ng-show="classification_poly=='unique'" ng-click="palette_poly=1" class="btn btn-generer btn-default">Générer la palette</button>
        <button type="button" ng-show="classification_poly=='intervalle'" ng-click="palette_poly=2" class="btn btn-generer btn-default">Générer la palette</button>

      </div>
      <div class="col-xs-12 col-sm-6">
            <button type="button" class="btn-apercu col-xs-12 btn btn-primary" ng-click="displayCurrentStyle()"><span translate="sldeditor.apercu.titre">Data preview</span></button>
            <div class="bloc_apercu" id="styledMapOL" style="height: 299px;"></div>
      </div>
    </div>
  </div>

  <div class="tab-pane tab-style-edition" ng-class="{active:chosenTab==='xml'}">
    <h2 translate="sldeditor.tab.xml" >XML Editor</h2>
  </div>
</div>