
        <button type="button" ng-click="displayIntervalles=true" class="btn btn-generer btn-default">Générer la palette</button>
          <div class="style_bloc" ng-show="displayIntervalles==true">
              <table class="table">
                  <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='0  >  100' /></td>
                      <td>
                          <button type="button" class="btn btn-default btn-xs btn-remove">
                              <span class="glyphicon glyphicon-remove"></span>
                          </button>
                      </td>
                  </tr>
                  <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='100  >  200' /></td>
                      <td>
                          <button type="button" class="btn btn-default btn-xs btn-remove">
                              <span class="glyphicon glyphicon-remove"></span>
                          </button>
                      </td>
                  </tr>
                  <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='200  >  300' /></td>
                      <td>
                          <button type="button" class="btn btn-default btn-xs btn-remove">
                              <span class="glyphicon glyphicon-remove"></span>
                          </button>
                      </td>
                  </tr>
                  <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='300  >  400' /></td>
                      <td>
                          <button type="button" class="btn btn-default btn-xs btn-remove">
                              <span class="glyphicon glyphicon-remove"></span>
                          </button>
                      </td>
                  </tr>
                  <tr>
                      <td><img src="images/polygone_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='400  >  500' /></td>
                      <td>
                          <button type="button" class="btn btn-default btn-xs btn-remove">
                              <span class="glyphicon glyphicon-remove"></span>
                          </button>
                      </td>
                  </tr>
              </table>
          </div>
          <div class="col-xs-12 div-btn-add" ng-show="displayIntervalles==true">
              <button type="button" class="btn-apercu btn btn-default">Ajouter une valeur</button>
          </div>

      </div>
    </div>
  </div>
</div>
