
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div ng-if="!optionsSLD.enableRuleEditor">
            <div style="margin-bottom:0px;">
                <div class="form-group col-xs-12" style="margin: 3px 0; height:35px;padding: 0;">
                    <label class="col-xs-5 col-sm-5 col-md-4 control-label"
                           style="margin-top: 8px;"
                           translate="sldeditor.name">Style name</label>
                    <div class="col-xs-7 col-sm-7 col-md-8">
                        <input type="text" class="form-control" ng-model="$parent.newStyle.name">
                    </div>
                </div>
            </div>
            <div class="col-sm-12" ng-if="noName">
                <div class="alert alert-danger"
                     style="padding:3px; padding-bottom:2px; margin-bottom:6px;"
                     translate="alert.style.noname">Please you must fill a style name</div>
            </div>
            <div class="row">
                <div class="panel panel-default" style="margin-bottom: 0;">
                    <div class="panel-heading well-header">
                        <strong translate="edition.style.label.rules">Rules</strong>
                        <div class="dropdown pull-right" style="margin-top: -5px;">
                            <a data-toggle="dropdown" class="btn btn-add dropdown-toggle" style="font-size: 12px;">
                                <span class="icon-plus icon-white" style="margin-right:5px;"></span>
                                <span translate="edition.style.label.new.rules">Add rule(s)</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="font-size: 12px;">
                                <li><a ng-click="createRules('raster_palette')"
                                       translate="edition.style.label.new.rules.raster_palette">Colors and Palette</a></li>
                                <li><a ng-click="createRules('raster_cellule')"
                                       translate="edition.style.label.new.rules.raster_cellule">Group of cells</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body" style="padding:0pt;">
                        <div class="list-group" style="height: 350px;overflow-y: auto;margin: 0;">
                            <a class="list-group-item"
                               ng-class="{active:rule===optionsSLD.selectedRule}"
                               ng-repeat="rule in newStyle.rules"
                               ng-click="setSelectedRule(rule);">
                                {{rule.name}}
                            </a>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" type="button" style="font-size: 12px;" ng-click="editSelectedRule();">Edit</button>
                        <button class="btn btn-default" type="button" style="font-size: 12px;" ng-click="moveUpRule();">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                        <button class="btn btn-default" type="button" style="font-size: 12px;" ng-click="moveDownRule();">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <button class="btn btn-default" type="button" style="font-size: 12px;" ng-click="deleteSelectedRule();">Delete</button>
                        <button class="btn btn-default" type="button" style="font-size: 12px;" ng-click="deleteAllRules();">Delete all</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="optionsSLD.enableRuleEditor">
            <ol class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <li>
                    <a ng-click="goBack()">
                        <span translate="sldeditor.breadcrumb.type">Back to rules list</span>
                    </a>
                </li>
                <li class="active">
                    <span translate="sldeditor.breadcrumb.edition">Rule edition</span>
                </li>
            </ol>
            <ul class="nav nav-tabs">
                <li ng-class="{active: $parent.chosenTab==='description'}">
                    <a ng-click="$parent.chosenTab = 'description'" data-toggle="tab">
                        <span translate="edition.style.label.description" >Description</span>
                    </a>
                </li>
                <li ng-class="{active: $parent.chosenTab==='symbols'}">
                    <a ng-click="$parent.chosenTab = 'symbols'" data-toggle="tab">
                        <span translate="label.symbols" >Symbols</span>
                    </a>
                </li>
                <li ng-class="{active: $parent.chosenTab==='filters'}">
                    <a ng-click="$parent.chosenTab = 'filters'" data-toggle="tab">
                        <span translate="edition.style.label.filters" >Filters</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-style-edition" ng-class="{active:$parent.chosenTab==='description'}">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11" style="margin-top: 20pt;">
                                <div class="form-group">
                                    <label for="inputrulename"
                                           class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"
                                           translate="label.name">Name</label>
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                        <input type="text"
                                               class="form-control"
                                               id="inputrulename"
                                               ng-model="optionsSLD.selectedRule.name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputRuleTitle"
                                           class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"
                                           translate="label.title">Title</label>
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                        <input type="text"
                                               class="form-control"
                                               id="inputRuleTitle"
                                               ng-model="optionsSLD.selectedRule.title"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputRuleDesc"
                                           class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"
                                           translate="description">Description</label>
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                        <textarea id="inputRuleDesc"
                                                  class="form-control"
                                                  rows="3"
                                                  ng-model="optionsSLD.selectedRule.description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane tab-style-edition" ng-class="{active:$parent.chosenTab==='symbols'}">
						<div ng-include="'views/style/raster_sld.html'"></div>
                    </form>
                </div>
                <div class="tab-pane tab-style-edition" ng-class="{active:$parent.chosenTab==='filters'}">
                    <div style="padding: 10pt;">
                        <div class="row">
                            <div class="col-xs-10">
                                <strong translate="edition.style.label.filterScale">Filter based on the zoom level</strong>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 8pt;">
                            <div class="col-sm-12 col-md-12">
                                <form class="form-horizontal form-style" role="form">
                                    <div class="form-group">
                                        <label for="minScale"
                                               class="col-sm-5 col-md-4 control-label"
                                               style="font-size: 12px;font-weight: normal;"
                                               translate="edition.style.label.filterScaleMin">Minimal scale</label>
                                        <div class="col-sm-7 col-md-8">
                                            <span class="pull-left"
                                                  style="position:absolute"
                                                  ng-if="optionsSLD.selectedRule.minScale != undefined && optionsSLD.selectedRule.minScale !== 0">1/</span>
                                            <input type="number"
                                                   class="form-control"
                                                   id="minScale"
                                                   ng-model="optionsSLD.selectedRule.minScale"
                                                   min="0"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="maxScale"
                                               class="col-sm-5 col-md-4 control-label"
                                               style="font-size: 12px;font-weight: normal;"
                                               translate="edition.style.label.filterScaleMax">Maximal scale</label>
                                        <div class="col-sm-7 col-md-8">
                                            <span class="pull-left"
                                                  style="position:absolute"
                                                  ng-if="optionsSLD.selectedRule.maxScale != undefined && optionsSLD.selectedRule.maxScale !== 0">1/</span>
                                            <input type="number"
                                                   class="form-control"
                                                   id="maxScale"
                                                   ng-model="optionsSLD.selectedRule.maxScale"
                                                   min="0"/>
                                        </div>
                                    </div>
                                    <hr style="margin-bottom:10px;"/>
                                    <!--div class="form-group">
                                        <div class="col-sm-5 col-md-4">
                                            <button type="button" class="btn btn-default btn-md btn-editer">
                                                <span class="glyphicon glyphicon-pencil"></span> Editer
                                            </button>
                                        </div>
                                        <div class="col-sm-7 col-md-8">
                                            <textarea class="form-control" rows="3" ng-model="optionsSLD.selectedRule.filter"></textarea>
                                        </div>
                                    </div-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="row" style="margin-top:5px;">
            <div class="col-xs-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               ng-model="optionsSLD.autoPreview">
                            <span translate="sldeditor.apercu.autochecked">Automatically preview</span>
                        </input>
                    </label>
                </div>
            </div>
            <div class="col-xs-4">
                <button type="button" class="pull-right btn btn-add"
                        ng-click="displayCurrentStyle('styledMapOL');"
                        ng-show="! optionsSLD.autoPreview"
                        style="font-size: 13px;">
                    <span translate="sldeditor.apercu.titre">Data preview</span>
                </button>
            </div>
        </div>
        <div style="position: absolute; z-index: 800; padding-left: 5px; padding-top: 5px;" ng-show="chosenTab==='filters'">
            <button type="button" class="btn btn-add" ng-click="setMinScale()" title="min scale filter">min</button>
            <button type="button" class="btn btn-add" ng-click="setMaxScale()" title="max scale filter">max</button>
        </div>
        <div class="bloc_apercu" id="styledMapOL" style="height: 448px;"></div>
    </div>
</div>
