
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div ng-if="!optionsSLD.enableRuleEditor">
            <div style="margin-bottom:0px;">
                <div class="form-group col-xs-12" style="margin: 3px 0; height:35px;padding: 0;">
                    <label class="col-xs-5 col-sm-5 col-md-4 control-label"
                           style="margin-top: 8px;"
                           translate="sldeditor.name">Style name</label>
                    <div class="col-xs-7 col-sm-7 col-md-8">
                        <input type="text" class="form-control" ng-model="$parent.newStyle.name">
                    </div>
                </div>
            </div>
            <div class="col-sm-12" ng-if="noName">
                <div class="alert alert-danger"
                     style="padding:3px; padding-bottom:2px; margin-bottom:6px;"
                     translate="alert.style.noname">Please you must fill a style name</div>
            </div>
            <div class="row">
                <div class="panel panel-default" style="margin-bottom: 0;">
                    <div class="panel-heading well-header">
                        <strong translate="edition.style.label.rules">Rules</strong>
                        <div class="dropdown pull-right" style="margin-top: -5px;">
                            <a data-toggle="dropdown" class="btn btn-info dropdown-toggle" style="font-size: 12px;">
                                <span class="icon-plus icon-white" style="margin-right:5px;"></span>
                                <span translate="edition.style.label.new.rules">Add rule(s)</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="font-size: 12px;">
                                <li><a ng-click="createRules('raster_palette')"
                                       translate="edition.style.label.new.rules.raster_palette">Colors and Palette</a></li>
                                <li><a ng-click="createRules('raster_cellule')"
                                       translate="edition.style.label.new.rules.raster_cellule">Group of cells</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body" style="padding:0pt;">
                        <div class="list-group" style="height: 350px;overflow-y: auto;margin: 0;">
                            <a class="list-group-item"
                               ng-class="{active:rule===optionsSLD.selectedRule}"
                               ng-repeat="rule in newStyle.rules"
                               ng-click="setSelectedRule(rule);">
                                {{rule.name}}
                            </a>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" type="button" style="font-size: 12px;" ng-click="editSelectedRule();">Edit</button>
                        <button class="btn btn-default" type="button" style="font-size: 12px;" ng-click="moveUpRule();">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                        <button class="btn btn-default" type="button" style="font-size: 12px;" ng-click="moveDownRule();">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <button class="btn btn-default" type="button" style="font-size: 12px;" ng-click="deleteSelectedRule();">Delete</button>
                        <button class="btn btn-default" type="button" style="font-size: 12px;" ng-click="deleteAllRules();">Delete all</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="optionsSLD.enableRuleEditor">
            <ol class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <li>
                    <a ng-click="goBack()">
                        <span translate="sldeditor.breadcrumb.type">Back to rules list</span>
                    </a>
                </li>
                <li class="active">
                    <span translate="sldeditor.breadcrumb.edition">Rule edition</span>
                </li>
            </ol>
            <ul class="nav nav-tabs">
                <li ng-class="{active: $parent.chosenTab==='description'}">
                    <a ng-click="$parent.chosenTab = 'description'" data-toggle="tab">
                        <span translate="edition.style.label.description" >Description</span>
                    </a>
                </li>
                <li ng-class="{active: $parent.chosenTab==='symbols'}">
                    <a ng-click="$parent.chosenTab = 'symbols'" data-toggle="tab">
                        <span translate="label.symbols" >Symbols</span>
                    </a>
                </li>
                <li ng-class="{active: $parent.chosenTab==='filters'}">
                    <a ng-click="$parent.chosenTab = 'filters'" data-toggle="tab">
                        <span translate="edition.style.label.filters" >Filters</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-style-edition" ng-class="{active:$parent.chosenTab==='description'}">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11" style="margin-top: 20pt;">
                                <div class="form-group">
                                    <label for="inputrulename"
                                           class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"
                                           translate="label.name">Name</label>
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                        <input type="text"
                                               class="form-control"
                                               id="inputrulename"
                                               ng-model="optionsSLD.selectedRule.name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputRuleTitle"
                                           class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"
                                           translate="label.title">Title</label>
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                        <input type="text"
                                               class="form-control"
                                               id="inputRuleTitle"
                                               ng-model="optionsSLD.selectedRule.title"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputRuleDesc"
                                           class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"
                                           translate="description">Description</label>
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                        <textarea id="inputRuleDesc"
                                                  class="form-control"
                                                  rows="3"
                                                  ng-model="optionsSLD.selectedRule.description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane tab-style-edition" ng-class="{active:$parent.chosenTab==='symbols'}" ng-controller="SldRasterController">

						<div ng-include="'views/style/raster_sld.html'"></div>
                    </form>
                </div>
                <div class="tab-pane tab-style-edition" ng-class="{active:$parent.chosenTab==='filters'}">
                    <div style="padding: 10pt;">
                        <div class="row">
                            <div class="col-xs-10">
                                <strong translate="edition.style.label.filterScale">Filter based on the zoom level</strong>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 8pt;">
                            <div class="col-sm-12 col-md-12">
                                <form class="form-horizontal form-style" role="form">
                                    <div class="form-group">
                                        <label for="minScale"
                                               class="col-sm-5 col-md-4 control-label"
                                               style="font-size: 12px;font-weight: normal;"
                                               translate="edition.style.label.filterScaleMin">Minimal scale</label>
                                        <div class="col-sm-7 col-md-8">
                                            <span class="pull-left"
                                                  style="position:absolute"
                                                  ng-if="optionsSLD.selectedRule.minScale != undefined && optionsSLD.selectedRule.minScale !== 0">1/</span>
                                            <input type="number"
                                                   class="form-control"
                                                   id="minScale"
                                                   ng-model="optionsSLD.selectedRule.minScale"
                                                   min="0"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="maxScale"
                                               class="col-sm-5 col-md-4 control-label"
                                               style="font-size: 12px;font-weight: normal;"
                                               translate="edition.style.label.filterScaleMax">Maximal scale</label>
                                        <div class="col-sm-7 col-md-8">
                                            <span class="pull-left"
                                                  style="position:absolute"
                                                  ng-if="optionsSLD.selectedRule.maxScale != undefined && optionsSLD.selectedRule.maxScale !== 0">1/</span>
                                            <input type="number"
                                                   class="form-control"
                                                   id="maxScale"
                                                   ng-model="optionsSLD.selectedRule.maxScale"
                                                   min="0"/>
                                        </div>
                                    </div>
                                    <hr style="margin-bottom:10px;"/>
                                    <!--div class="form-group">
                                        <div class="col-sm-5 col-md-4">
                                            <button type="button" class="btn btn-default btn-md btn-editer">
                                                <span class="glyphicon glyphicon-pencil"></span> Editer
                                            </button>
                                        </div>
                                        <div class="col-sm-7 col-md-8">
                                            <textarea class="form-control" rows="3" ng-model="optionsSLD.selectedRule.filter"></textarea>
                                        </div>
                                    </div-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="row" style="margin-top:5px;">
            <div class="col-xs-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               ng-model="optionsSLD.autoPreview">
                            <span translate="sldeditor.apercu.autochecked">Automatically preview</span>
                        </input>
                    </label>
                </div>
            </div>
            <div class="col-xs-4">
                <button type="button" class="pull-right btn btn-primary"
                        ng-click="displayCurrentStyle('styledMapOL');"
                        ng-show="! optionsSLD.autoPreview"
                        style="font-size: 13px;">
                    <span translate="sldeditor.apercu.titre">Data preview</span>
                </button>
            </div>
        </div>
        <div style="position: absolute; z-index: 800; padding-left: 5px; padding-top: 5px;" ng-show="chosenTab==='filters'">
            <button type="button" class="btn btn-primary" ng-click="setMinScale()" title="min scale filter">min</button>
            <button type="button" class="btn btn-primary" ng-click="setMaxScale()" title="max scale filter">max</button>
        </div>
        <div class="bloc_apercu" id="styledMapOL" style="height: 448px;"></div>
    </div>
</div>

<!--

<ul class="nav nav-tabs" ng-init="chosenTab = 'simple'">
    <li ng-class="{active: chosenTab === 'simple'}"><a ng-click="chosenTab = 'simple'" data-toggle="tab"><span translate="sldeditor.tab.simple" >Simple editor</span></a></li>

-->

    <!--      <li ng-class="{active: chosenTab==='colorMap'}"><a ng-click="chosenTab = 'colorMap'" data-toggle="tab">ColorMap</a></li>-->

<!--
    <li ng-class="{active: chosenTab === 'xml'}"><a ng-click="chosenTab = 'xml'" data-toggle="tab"><span translate="sldeditor.tab.xml" >XML Editor</span></a></li>
</ul>

<div class="tab-content" ng-init="initRaster1Band()">
    <div class="tab-pane tab-style-edition" ng-class="{active:chosenTab === 'simple'}">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <h2 translate="sldeditor.breadcrumb.edition">Style Edition</h2>
                <div class="style_bloc" style="min-height:60px;">
                    <div class="col-sm-12 btn-group" ng-init="bandes = 'triple'" data-toggle="buttons">
                        <label ng-class="{active: bandes === 'triple'}" ng-click="bandes = 'triple'" type="button" class="btn btn-default"><input type="radio" value="triple"><span translate="sldeditor.raster.1band.titleTab" >Triple bands</span></label>
                        <label ng-class="{active: bandes === 'unique'}" ng-click="bandes = 'unique'" type="button" class="btn btn-default"><input type="radio" value="unique"><span translate="sldeditor.raster.1band.titleTab" >Unique band</span></label>
                    </div>
                    <div ng-show="bandes == 'triple'">
                        <form class="form_classification form-horizontal" role="form">
                            <div class="form-group bande_rouge">
                                <label class="col-sm-3 control-label">Bande rouge</label>
                                <div class="col-sm-9">
                                    <select class="form-control">
                                        <option>Bande 1</option>
                                        <option>Bande 2</option>
                                        <option>Bande 3</option>
                                        <option>Bande 4</option>
                                        <option>Bande 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group bande_verte">
                                <label class="col-sm-3 control-label">Bande verte</label>
                                <div class="col-sm-9">
                                    <select class="form-control">
                                        <option>Bande 1</option>
                                        <option>Bande 2</option>
                                        <option>Bande 3</option>
                                        <option>Bande 4</option>
                                        <option>Bande 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group bande_bleue">
                                <label class="col-sm-3 control-label">Bande bleue</label>
                                <div class="col-sm-9">
                                    <select class="form-control">
                                        <option>Bande 1</option>
                                        <option>Bande 2</option>
                                        <option>Bande 3</option>
                                        <option>Bande 4</option>
                                        <option>Bande 5</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div ng-show="bandes == 'unique'">
                        <form class="form_classification form-horizontal" role="form">
                            <div class="form-group col-xs-12">
                                <label class="col-sm-3 control-label" translate="sldeditor.raster.1band.grayBand">Gray band</label>
                                <div class="col-sm-9">
                                    <select class="form-control">
                                        <option translate="sldeditor.raster.1band.band1">Band 1</option>
                                        <option translate="sldeditor.raster.1band.band2">Band 2</option>
                                        <option translate="sldeditor.raster.1band.band3">Band 3</option>
                                        <option translate="sldeditor.raster.1band.band4">Band 4</option>
                                        <option translate="sldeditor.raster.1band.band5">Band 5</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <form name="paletteForm" class="form_classification form-horizontal form-style" role="form" novalidate >
                            <div class="form-group col-xs-12">
                                <label class="col-sm-3 col-md-2 control-label" translate="sldeditor.raster.1band.Palette">Palette</label>
                                <div class="col-sm-9 col-md-10">
                                    <div class="btn-group select select-block">
                                        <button class="btn dropdown-toggle btn-default" data-toggle="dropdown">
                                            <span class="filter-option pull-left"><img class="img_palette" src={{palette.img_palette}}></span>&nbsp;
                                            <span class="caret"></span>
                                        </button>
                                        <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                                        <ul class="dropdown-menu dropdown-inverse dropdown-images" role="menu" style="overflow-y: auto; min-width:70px; min-height: 108px;">
                                            <li ng-click="$parent.choosePalette(1)">
                                                <a><img class="img_palette" src="images/palette1.png"></a>
                                            </li>
                                            <li ng-click="$parent.choosePalette(2)">
                                                <a><img class="img_palette" src="images/palette2.png"></a>
                                            </li>
                                            <li ng-click="$parent.choosePalette(3)">
                                                <a><img class="img_palette" src="images/palette3.png"></a>
                                            </li>
                                            <li ng-click="$parent.choosePalette(4)">
                                                <a><img class="img_palette" src="images/palette4.png"></a>
                                            </li>
                                            <li ng-click="$parent.choosePalette(5)">
                                                <a><img class="img_palette" src="images/palette5.png"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox" style="margin-bottom:20px; padding-top:0;">
                                <div class="checkbox col-sm-offset-3 col-md-offset-2">
                                    <label>
                                        <input type="checkbox" ng-model="palette.inverse" translate="sldeditor.edition.reversecolors"> Reverse colors
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-xs-12">
                                <div class="row" ng-class="{'has-error': paletteForm.minValue.$error.required, 'has-success': !paletteForm.minValuel.$error}">
                                    <label class="col-sm-3 col-md-2 control-label" translate="sldeditor.raster.1band.Min">Min.</label>
                                    <div class="col-sm-9 col-md-4">
                                        <input type="number" class="form-control" ng-model="palette.rasterMinValue" id="minValue" required max="{{dataBands[0].maxValue}}" min="{{dataBands[0].minValue}}" >
                                        <p class="help-block error"  ng-show="paletteForm.minValue.$error.required">Required!</p>
                                        <p class="help-block error"  ng-show="paletteForm.minValue.$error.number || paletteForm.minValue.$error.max || paletteForm.minValue.$error.min">Not valid number!</p>
                                        
                                    </div>
                                </div>

                            </div>
                            <div class="form-group col-xs-12">
                                <div class="row">
                                    <label class="col-sm-3 col-md-2 control-label"translate="sldeditor.raster.1band.Max">Max.</label>
                                    <div class="col-sm-9 col-md-4">
                                        <input type="number" class="form-control" ng-model="palette.rasterMaxValue" required  max="{{dataBands[0].maxValue}}" min="{{dataBands[0].minValue}}" >
                                    </div>
                                </div>
                            </div>
-->
                            <!--<div class="form-group col-xs-12">-->
                            <!--<label class="col-sm-3 col-md-2 control-label">Intervalles</label>-->
                            <!--<div class="col-sm-9 col-md-4">-->
                            <!--<input type="number" class="form-control" ng-model="palette.intervalles">-->
                            <!--</div>-->
                            <!--</div>-->
<!--
                            <div class="form-group col-xs-12" >
                                <div class="checkbox col-sm-offset-3 col-md-offset-2 col-xs-1">
                                    <label translate="sldeditor.raster.1band.NaN">NaN</label>
                                    <div class="col-sm-9 col-md-4">
                                        <input type="checkbox" ng-model="palette.nan"> 
                                    </div>
                                </div>
                                <div class="col-xs-5" ng-if="palette.nan">
                                    <input type='text' name="picker" class="picker" spectrum ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.color"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h2 translate="sldeditor.apercu.titre">Style preview</h2>
                <div class="bloc_apercu" id="styledMapOL" style="height: 299px;"></div>
                <button type="button" class="btn-apercu col-xs-12 btn btn-primary" ng-click="displayCurrentStyle()"><span translate="sldeditor.apercu.data">Data preview</span></button>
            </div>
        </div>
    </div>
-->
    <!--  <div class="tab-pane tab-style-edition" ng-class="{active:chosenTab==='colorMap'}">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <h2 translate="sldeditor.breadcrumb.edition">Style Edition</h2>
            <div class="style_bloc">
              <form class="form_classification form-horizontal form-style" role="form">
                 <div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2 control-label">Palette</label>
                    <div class="col-sm-9 col-md-10">
                      <div class="btn-group select select-block">
                      <button class="btn dropdown-toggle btn-default" data-toggle="dropdown">
                        <span class="filter-option pull-left"><img class="img_palette" src={{palette.img_palette}}></span>&nbsp;
                        <span class="caret"></span>
                      </button>
                      <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                      <ul class="dropdown-menu dropdown-inverse dropdown-images" role="menu" style="overflow-y: auto; min-width:70px; min-height: 108px;">
                        <li ng-click="$parent.choosePalette(1)">
                            <a><img class="img_palette" src="images/palette1.png"></a>
                        </li>
                        <li ng-click="$parent.choosePalette(2)">
                          <a><img class="img_palette" src="images/palette2.png"></a>
                        </li>
                        <li ng-click="$parent.choosePalette(3)">
                          <a><img class="img_palette" src="images/palette3.png"></a>
                        </li>
                        <li ng-click="$parent.choosePalette(4)">
                          <a><img class="img_palette" src="images/palette4.png"></a>
                        </li>
                        <li ng-click="$parent.choosePalette(5)">
                          <a><img class="img_palette" src="images/palette5.png"></a>
                        </li>
                      </ul>
                    </div>
                    </div>
                </div>
                <div class="checkbox" style="margin-bottom:20px; padding-top:0;">  
                  <div class="checkbox col-sm-offset-3 col-md-offset-2">
                      <label>
                          <input type="checkbox" ng-model="palette.inverse" translate="sldeditor.edition.reversecolors"> Reverse colors
                      </label>
                  </div>
                </div>
                <div class="form-group col-xs-12"  ng-class="{'has-error':invalideMin}">
                  <div class="row">
                      <label class="col-sm-3 col-md-2 control-label">Min.</label>
                      <div class="col-sm-9 col-md-4">
                        <input type="number" class="form-control" ng-model="palette.rasterMinValue" required >
                      </div>
                  </div>
                  <div class="row">
                    <div class=" error col-xs-11  col-xs-offset-1  col-md-6" ng-show="invalideMin">
                        <small class="error">Veuillez renseigner une valeur Min.</small> 
                    </div>
                  </div>
                </div>
                <div class="form-group col-xs-12" ng-class="{'has-error':invalideMax}">
                  <div class="row">
                    <label class="col-sm-3 col-md-2 control-label">Max.</label>
                    <div class="col-sm-9 col-md-4">
                      <input type="number" class="form-control" ng-model="palette.rasterMaxValue" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="error col-xs-11  col-xs-offset-1 col-md-6" ng-show="invalideMax">
                      <small class="error">Veuillez renseigner une valeur Max.</small> 
                    </div>
                  </div>
                </div>
                  <div class="form-group col-xs-12">
                      <label class="col-sm-3 col-md-2 control-label">Intervalles</label>
                      <div class="col-sm-9 col-md-4">
                        <input type="number" class="form-control" ng-model="palette.intervalles">
                      </div>
                  </div>
                <div class="checkbox" style="margin-bottom:20px; padding-top:0;">  
                  <div class="checkbox col-sm-offset-3 col-md-offset-2 col-xs-1">
                    <label>
                      <input type="checkbox" ng-model="palette.nan"> NaN
                    </label>
                  </div>
                  <div class="col-xs-5" ng-if="palette.nan">
                    <input type='text' name="picker" class="picker" spectrum ng-model="$parent.newStyle.rules[0].symbolizers[0].stroke.color"/>
                  </div>
                </div>
              </form>
    
            </div>
    
            <button type="button" ng-click="displayIntervalles=true" class="btn btn-generer btn-default">Générer la palette</button>
              <div class="style_bloc" ng-show="displayIntervalles==true">
                  <table class="table">
                      <tr>
                          <td><img src="images/polygone_mini.png"></td>
                          <td><input type='text' class="text_transparent" value='0  >  100' /></td>
                          <td>
                              <button type="button" class="btn btn-default btn-xs btn-remove">
                                  <span class="glyphicon glyphicon-remove"></span>
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td><img src="images/polygone_mini.png"></td>
                          <td><input type='text' class="text_transparent" value='100  >  200' /></td>
                          <td>
                              <button type="button" class="btn btn-default btn-xs btn-remove">
                                  <span class="glyphicon glyphicon-remove"></span>
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td><img src="images/polygone_mini.png"></td>
                          <td><input type='text' class="text_transparent" value='200  >  300' /></td>
                          <td>
                              <button type="button" class="btn btn-default btn-xs btn-remove">
                                  <span class="glyphicon glyphicon-remove"></span>
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td><img src="images/polygone_mini.png"></td>
                          <td><input type='text' class="text_transparent" value='300  >  400' /></td>
                          <td>
                              <button type="button" class="btn btn-default btn-xs btn-remove">
                                  <span class="glyphicon glyphicon-remove"></span>
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td><img src="images/polygone_mini.png"></td>
                          <td><input type='text' class="text_transparent" value='400  >  500' /></td>
                          <td>
                              <button type="button" class="btn btn-default btn-xs btn-remove">
                                  <span class="glyphicon glyphicon-remove"></span>
                              </button>
                          </td>
                      </tr>
                  </table>
              </div>
              <div class="col-xs-12 div-btn-add" ng-show="displayIntervalles==true">
                  <button type="button" class="btn-apercu btn btn-default">Ajouter une valeur</button>
              </div>
    
          </div>
          <div class="col-xs-12 col-sm-6">
            <h2 translate="sldeditor.apercu.titre">Style preview</h2>
            <div class="bloc_apercu" id="styledMapOL" style="height: 299px;"></div>
            <button type="button" class="btn-apercu col-xs-12 btn btn-primary" ng-click="displayCurrentStyle()"><span translate="sldeditor.apercu.data">Data preview</span></button>
          </div>
        </div>
      </div>-->
<!--
    <div class="tab-pane tab-style-edition" ng-class="{active:chosenTab === 'xml'}">
        <h2 translate="sldeditor.tab.xmledit" >XML Editor</h2>

        <div ui-ace="{
             mode: 'xml',
             onLoad: aceLoaded,
             onChange: aceChanged
             }"></div>

        <button type="button" class="btn btn-info"ng-click="saveXml()" translate="data.modal.change">Change</button>
    </div>

</div>
-->