<ol class="breadcrumb">
    <li><a ng-click="$parent.pageSld = 'views/style/vectors.html'">Choix du type</a></li>
    <li class="active">Edition du style</li>
</ol>

<ul class="nav nav-tabs" ng-init="chosenTab = 'simple'">
    <li ng-class="{active: chosenTab==='simple'}"><a ng-click="chosenTab = 'simple'" data-toggle="tab">Editeur simple</a></li>
    <li ng-class="{active: chosenTab==='advanced'}"><a ng-click="chosenTab = 'advanced'" data-toggle="tab">Editeur avancé</a></li>
    <li ng-class="{active: chosenTab==='xml'}" class="navbar-right"><a ng-click="chosenTab = 'xml'" data-toggle="tab">Editeur XML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content" ng-init="$parent.newStyle.rules[0].symbolizers[0]['@symbol'] = 'text'">
  <div class="tab-pane" ng-class="{active:chosenTab==='simple'}">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <h2>Edition du style</h2>
        <div class="style_bloc">
           <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-3 col-md-2 control-label">Police</label>
                <div class="col-sm-9 col-md-4">
                  <select class="form-control">
                    <option>Arial</option>
                    <option>Calibri</option>
                    <option>Time New Roman</option>
                    <option>Cambera</option>
                    <option>Times</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 col-md-2 control-label">Taille</label>
                <div class="col-sm-4">
                  <input type="number" class="form-control" value=15>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 col-md-2 control-label">Style</label>
                <div class="col-sm-8 btn-group" data-toggle="buttons">

                    <label class="btn btn-default">
                      <input type="radio" class="btn btn-default">B
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" class="btn btn-default">I
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" class="btn btn-default">U
                    </label>

                </div>
              </div>
              <div class="form-group">
              <label class="col-sm-3 col-md-2 control-label">Couleur</label>
              <div class="col-sm-8">
                <input type='text' name="picker" class="picker" spectrum />
              </div>
            </div>
            </form>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Aperçu du style</h2>
        <div class="bloc_apercu" id="styledMapOL" style="width: 299px; height: 299px;"></div>
        <button type="button" class="btn-apercu col-xs-12 btn btn-primary" ng-click="displayCurrentStyle()">Aperçu de la donnée</button>
      </div>
    </div>
  </div>

  <div class="tab-pane" ng-class="{active:chosenTab==='advanced'}">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="row">
          <div class="col-xs-7 col-md-8"><h2>Edition du style</h2></div>
          <div class="col-xs-5 col-md-4">
            <button type="button" class="btn-apercu btn-block btn-sm btn btn-default">Ajouter un filtre</button>
          </div>
        </div>

          <div class="style_bloc">
            <div class="row">
              <div class="col-xs-10">
                <h3>Filtre 1</h3>
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-default btn-xs btn-remove">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-8">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="minScale" class="col-sm-5 col-md-4 control-label">Echelle min.</label>
                    <div class="col-sm-7 col-md-8">
                      <input type="number" class="form-control" id="minScale">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="maxScale" class="col-sm-5 col-md-4 control-label">Echelle max.</label>
                    <div class="col-sm-7 col-md-8">
                      <input type="number" class="form-control" id="maxScale">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-5 col-md-4">
                    <button type="button" class="btn btn-default btn-md btn-editer">
                        <span class="glyphicon glyphicon-pencil"></span> Editer
                    </button>
                    </div>
                    <div class="col-sm-7 col-md-8">
                      <textarea class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                </form>
              </div>
              <div class="symboles_bloc_div col-sm-12 col-md-4">
                <div class="symboles_bloc">
                  <h3>Symboles</h3>
                  <table class="table">
                    <tr>
                      <td><img src="images/texte_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='Texte 1' /></td>
                      <td>
                        <button ng-click="symbole_texte='texte1'" type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="images/texte_mini.png"></td>
                      <td><input type='text' class="text_transparent" value='Texte 2' /></td>
                      <td>
                        <button  ng-click="symbole_texte='texte2'" type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs btn-remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></span>
                      </td>
                    </tr>
                  </table>
                  <button type="button" class="btn-apercu btn-block btn-sm btn btn-default">Ajouter un symbole</button>
                </div>
              </div>
            </div>

        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Aperçu du style</h2>
          <div ng-show=" symbole_texte=='texte1' " class="row">
          <div class="style_bloc">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="fontWidth" class="col-sm-4 control-label">Libellé</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" value="Texte 1">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Police</label>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option>Arial</option>
                    <option>Calibri</option>
                    <option>Time New Roman</option>
                    <option>Cambera</option>
                    <option>Times</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="fontWidth" class="col-sm-4 control-label">Taille</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" value=15 id="fontWidth">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Style</label>
                <div class="col-sm-8">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default">B</button>
                    <button type="button" class="btn btn-default">I</button>
                    <button type="button" class="btn btn-default">U</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
              <label class="col-sm-4 control-label">Couleur</label>
              <div class="col-sm-8">
                <input type='text' name="picker" class="picker" spectrum />
              </div>
            </div>


            </form>
          </div>
        </div>

        <div ng-show=" symbole_texte=='texte2' " class="row">
          <div class="style_bloc">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="fontWidth" class="col-sm-4 control-label">Libellé</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" value="Texte 2">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Police</label>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option>Arial</option>
                    <option>Calibri</option>
                    <option>Time New Roman</option>
                    <option>Cambera</option>
                    <option>Times</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="fontWidth" class="col-sm-4 control-label">Taille</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" value=15>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Style</label>
                <div class="col-sm-8">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default">B</button>
                    <button type="button" class="btn btn-default">I</button>
                    <button type="button" class="btn btn-default">U</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
              <label class="col-sm-4 control-label">Couleur</label>
              <div class="col-sm-8">
                <input type='text' name="picker" class="picker" spectrum />
              </div>
            </div>


            </form>
          </div>
        </div>

        <button type="button" class="btn-apercu btn-block btn btn-primary">Aperçu de la donnée</button>
      </div>
    </div>
  </div>

  <div class="tab-pane" ng-class="{active:chosenTab==='xml'}">
    <h2>Editeur XML</h2>
  </div>
</div>
