<div class="row" ng-init="$parent.initDataProperties()">
    <div class="col-xs-6">
        <a ng-click="$parent.pageSld = 'views/style/polygone.html'" class="choix_type"><img src="images/polygone.png"><h2 translate="sldeditor.vector.polygon" >Polygon</h2></a>
    </div>
    <div class="col-xs-6">
        <a ng-click="$parent.pageSld = 'views/style/ligne.html'" class="choix_type"><img src="images/ligne.png"><h2 translate="sldeditor.vector.line" >Line</h2></a>
    </div>
    <div class="col-xs-6">
        <a ng-click="$parent.pageSld = 'views/style/point.html'" class="choix_type"><img src="images/point.png"><h2 translate="sldeditor.vector.point">Point</h2></a>
    </div>
    <div class="col-xs-6">
        <a ng-click="$parent.pageSld = 'views/style/texte.html'" class="choix_type"><img src="images/texte.png"><h2 translate="sldeditor.vector.text">Text</h2></a>
    </div>
</div>
