<div class="row">
    <div class="col-xs-6">
        <a ng-click="$parent.pageSld = 'views/style/polygone.html'" class="choix_type"><img src="images/polygone.png"><h2>Polygone</h2></a>
    </div>
    <div class="col-xs-6">
        <a ng-click="$parent.pageSld = 'views/style/ligne.html'" class="choix_type"><img src="images/ligne.png"><h2>Ligne</h2></a>
    </div>
    <div class="col-xs-6">
        <a ng-click="$parent.pageSld = 'views/style/point.html'" class="choix_type"><img src="images/point.png"><h2>Point</h2></a>
    </div>
    <div class="col-xs-6">
        <a ng-click="$parent.pageSld = 'views/style/texte.html'" class="choix_type"><img src="images/texte.png"><h2>Texte</h2></a>
    </div>
</div>
