<div class="modal-dialog modal-dialog-responsive modal-dialog-resp-height">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()">×</button>
			<h4 class="modal-title">{{domain.name}}</h4>
		</div>
		<div class="modal-body" style="height: 510px; overflow-y: auto;">
			<div class="container" style="height: 470px; ">
				<div class="row">
					<div class="col-sm-7 user-count-bloc" style="padding: 10px 5px;">
						<p class="col-sm-4" style="margin-top: 8px; margin-bottom: 0;" translate="admin.domain.memberscount" translate-values="{total: '{{ list.length }}'}">{{list.length }} users.</p>
						<div class="col-sm-8">
							<input type="text" ng-model="filter" class="form-control" maxlength="10" placeholder="{{'admin.group.users.filter' | translate}}">
						</div>
					</div>					
				</div>
				<div class="row"">
					<table class="table table-condensed table-striped table-bordered table-responsive user-table">
						<thead>
							<tr title="click to order">
								<td ng-click="predicate = 'login'; reverse=!reverse"
									translate="settings.form.login">Login</td>
								<td ng-click="predicate = 'firstname'; reverse=!reverse"
									translate="settings.form.firstname">First name</td>
								<td ng-click="predicate = 'lastname'; reverse=!reverse"
									translate="settings.form.lastname">Last name</td>
								<td ng-click="predicate = 'email'; reverse=!reverse"
									translate="settings.form.email">E-mail</td>
							</tr>
						</thead>

						<tr ng-click="details($index)" style='cursor:pointer'
							ng-repeat="user in users | filter:filter | orderBy:predicate:reverse">
							<td>{{user.login}}</td>
							<td>{{user.firstname}}</td>
							<td>{{user.lastname}}</td>
							<td>{{user.email}}</td>
							<td class="user-delete" ng-click="addToDomain($index, roles)"><span class="glyphicon glyphicon-user"></span></td>
						</tr>
					</table>
					
				</div>



			</div>
		</div>

		<div class="modal-footer">
			<button type="button" id="cancelButton" class="btn btn-default" translate="settings.form.button.close" ng-click="close()">Close</button>
			<button type="button" ng-disabled="form.$invalid" class="btn btn-add" ng-click="save()"><span translate="settings.form.button">Save</span></button>
			<button ng-show="$parent.allowNext" type="button" id="nextButton"
				class="btn btn-add" ng-click="next();">Next</button>
			<button ng-show="$parent.allowSubmit" type="button" id="submitButton"
				class="btn btn-add" ng-click="upload();">Finish</button>
		</div>
	</div>
</div>

