<div class="logo-wrapper row" style="margin-bottom: 5px;">
    <div style="text-align:center;">
        <h3 class="header-title" translate="label.disclaimer">About Constellation</h3>
    </div>
</div>

<div class="row disclaimer">
    <div class="col-sm-12">
        <h4 translate="disclaimer.about">About Constellation-sdi</h4>
        <p translate="disclaimer.about.text" class="disclaimer-text">
            Constellation-SDI makes it possible to easily create a complete Spatial Data Infrastructure, from cataloguing geographic resources to operating a platform of sensors that feeds back information in real time.
        </p>
        <br/>
        <h4 translate="disclaimer.services">Existing services</h4>
        <ul class="disclaimer-text">
            <li>CS-W 2.0.2 <span translate="disclaimer.inspire">(Conforme INSPIRE)</span></li>
            <li>WMS 1.1.1 & 1.3.0 <span translate="disclaimer.inspire">(Conforme INSPIRE)</span></li>
            <li>WMTS 1.0</li>
            <li>WFS 2.0 <span translate="disclaimer.inspire">(Conforme INSPIRE)</span></li>
            <li>WCS 1.1 <span translate="disclaimer.underdev">(2.0 en cours de développement)</span></li>
            <li>SOS 2.0</li>
            <li>WPS 1.0 <span translate="disclaimer.underdev">(2.0 en cours de développement)</span></li>
        </ul>
        <br/>
        <h4>Liens utiles</h4>
        <a href="http://www.constellation-sdi.org" target="_blank" translate="disclaimer.cstl.website" class="disclaimer-text">Constellation-sdi website</a><br/>
        <a href="https://github.com/Geomatys/constellation" target="_blank" translate="disclaimer.cstl.github" class="disclaimer-text">Constellation Github</a>
    </div>
</div>