<div class="row accueil-header-logo">
    <div class="col-sm-6 col-md-5 col-md-offset-1 accueil_logo" style="text-align:center;">
        <img src="img/constellation.svg"/>
    </div>
    <div class="col-sm-6 accueil_text_welcome">
        <h2>
            <span translate="homepage.title">Welcome on Constellation!</span>
        </h2>
    </div>
</div>

<div class="row" id="main">
    <!-- Service block -->
    <div class="col-sm-6"  >
        <div class="well accueil-well main-block-left">
            <div class="row">
                <div class="col-sm-12">
                    <p class="accueil_bloc_text" translate="homepage.text.intro">
                        <b>Constellation-SDI</b> is the perfect solution to easily set up your Spatial Data Infrastructure.
                    </p>
                    <div class="row accueil_bloc_images">
                        <div class="col-xs-12 col-md-3">
                            <img style="margin-top: 15px; " src="img/services.svg">
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <p class="accueil_bloc_text accueil_bloc_text-service" translate="homepage.text.services">
                                Vous pouvez créer des <b>services web</b> pour ensuite y ajouter des données
                            </p>
                        </div>
                    </div>
                    <div class="row accueil_bloc_images">
                        <div class="col-xs-12 col-md-3">
                            <img src="img/data.svg">
                        </div>
                        <div class="col-xs-12 col-md-8" style="margin-top: 5px;">
                            <p class="accueil_bloc_text accueil_bloc_text-data" translate="homepage.text.data">
                                Vous pouvez gérer vos <b>données</b>
                            </p>
                        </div>
                    </div>
                    <div class="row accueil_bloc_images image-sensor" >
                        <div class="col-xs-12 col-md-3">
                            <img src="img/sensor-accueil.svg">
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <p class="accueil_bloc_text accueil_bloc_text-sensor" translate="homepage.text.stat">
                                Vous pouvez visualiser les <b>statistiques</b> de votre serveur
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 " ng-if="authenticated" ng-show="hasMultipleDomains()">
        <div class="well main-block-right main-block-domain-choice" style="margin-top: 40px;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <h1 translate="global.menu.domain.choice">Domain choice</h1>
                        <ul class="nav nav-pills nav-domain ng-cloak" ng-controller="DomainSwitcherController">
                            <li class="dropdown pointer tab-domain" ng-class="{'activDomain':'{{domain.name}}'==='{{activeDomain}}'}" ng-repeat="domain in domains" active-menu="{{domain.name}}">
                                <a ng-click="changeDomain($index)">
                                    <span>{{domain.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6" ng-if="authenticated">
        <div class="well main-block-right" ng-class="{'main-block-stat':!hasMultipleDomains()}" ng-init="countStats()">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <h1 translate="homepage.statistics.title">Statistics</h1>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="accueil-stat-blocs" style="background-image:url('img/index-img-services.svg'); background-repeat:no-repeat; background-position:3% 80%;">
                                    <p class="col-xs-12 label-stat" translate="homepage.statistics.services"><strong>Active Services</strong></p>
                                    <p class="col-xs-12" style="font-size:30px; font-weight:bold;">{{nbservices}}</p>
                                </div>
                            </div>
                            <div class="col-xs-6" >
                                <div class="accueil-stat-blocs" style="background-image:url('img/index-img-data.svg'); background-repeat:no-repeat; background-position:5% 80%;">
                                    <p class="col-xs-12 label-stat" translate="homepage.statistics.data"><strong>Integrated Data</strong></p>
                                    <p class="col-xs-12" style="font-size:30px; font-weight:bold;">{{nbdata}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="row blocs-bottom">
                            <div class="col-xs-6" >
                                <div class="accueil-stat-blocs" style="background-image:url('img/index-img-user.svg'); background-repeat:no-repeat; background-position:3% 100%;">
                                    <p class="col-xs-12 label-stat" translate="homepage.statistics.users"><strong>Created Users</strong></p>
                                    <p class="col-xs-12" style="font-size:30px; font-weight:bold;">{{nbusers}}</p>
                                </div>
                            </div>
                            <div class="col-xs-6" >
                                <div class="accueil-stat-blocs" style="background-image:url('img/index-img-process.svg'); background-repeat:no-repeat; background-position:3% 90%;">
                                    <p class="col-xs-12 label-stat" translate="homepage.statistics.process"><strong>Process</strong></p>
                                    <p class="col-xs-12" style="font-size:30px; font-weight:bold;">{{nbprocess}}</p>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
