<div class="logo-wrapper row">
    <div class="col-sm-12">
        <h3 class="header-title">{{cstlSession.login}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="frame dashboard">
            <div class="navbar navbar-default" style="margin-bottom: 0px;">
                <div class="navbar-header">
                    <a class="navbar-brand" translate="CI_RoleCode.user">User</a>
                </div>
            </div>
            <div class="dash-inner row">
                <div class="col-md-12 contact-form" style="margin-bottom:0;">
                    <form class="form-horizontal" role="form">
                        <div class="row profile-picture">
                            <label class="control-label" translate="settings.form.picture">Profile picture</label>
                            <img src="img/block-content-owner.svg" alt=""/>
                            <button class="btn btn-default btn-md" translate="settings.form.picture.change">Change picture</button>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="name">Name</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" ng-model="cstlSession.lastname"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="settings.form.firstname">First name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="cstlSession.firstname"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="address">Adress</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="email"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="zip">CP</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="email"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="city">City</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="email"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="country">Country</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="email"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="settings.form.email">Email</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" ng-model="cstlSession.email"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="phone">Phone</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="email"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="metadata.field.linkage">Web site</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="email"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row registration-organization">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="organization">Organization</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="email"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="settings.form.function">Function</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="email"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="frame dashboard">
            <div class="navbar navbar-default" style="margin-bottom: 0px;">
                <div class="navbar-header">
                    <a class="navbar-brand" translate="settings.form.password">Password</a>
                </div>
            </div>
            <div class="dash-inner row">
                <div class="col-md-12 contact-form" style="margin-bottom:0;">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="profile.password.new" >Nouveau mot de passe</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="password"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="profile.password.verify" >Vérification du mot de passe</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="frame dashboard">
            <div class="navbar navbar-default" style="margin-bottom: 0px;">
                <div class="navbar-header">
                    <a class="navbar-brand" translate="global.menu.language">Language</a>
                </div>
            </div>
            <div class="dash-inner row">
                <div class="col-md-12 contact-form" style="margin-bottom:0;">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="profile.language.choice">Choix de la langue</label>
                                    <div class="col-sm-8">
                                        <select class="form-control"
                                                ng-controller="LanguageController"
                                                ng-model="currentLang"
                                                ng-change="changeLanguage();">
                                            <option translate="global.language.en" value="en">English</option>
                                            <option translate="global.language.fr" value="fr">French</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <button type="submit"
                class="btn btn-add pull-right"
                style="margin-bottom: 15px;"
                ng-click="save()"
                translate="save">Save</button>
    </div>
</div>