<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="default" xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:security="http://www.springframework.org/schema/security"
  xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

  <import resource="classpath:/spring/constellation-context.xml" />

  <import resource="classpath:/cstl/spring/database-context.xml" />

  <import resource="security-sdi.xml" />

</beans>
