
html {
    background: #f8f8f8 url(../img/background.png) 0 0 repeat-x;
    color: #525c66;
    min-height: 100%;
}

.base-content {
    color: #525c66;
    font-size: 1em;
    font-family: none;
}

.base-content input, .base-content select, .base-content textarea, .base-content button {
    font-family: none;
    font-size: 1em;
}

.maindiv {
    width: 75%;
    border-color: #FFFFFF;
    border-width: 0px;
    border-style: solid solid solid solid;
    padding: 10px 30px 30px 30px;
    margin: 0pt auto;
    background: #FFF url("../img/menu.png") no-repeat;
    border-radius : 20px;
    -moz-border-radius : 20px;
    box-shadow: 0px 0px 10px 0px #555;
    -moz-box-shadow: 0px 0px 10px 0px #555;
}

.rounded{
    padding: 15px;
    margin: 10px;
    border-color: #C2CcD6;
    border-style: solid solid solid solid;
    border-width: 1px;
    border-radius : 20px;
    -moz-border-radius : 20px;
}

input[type="submit"]:hover {  
    padding: 5px;
    color: #FFFFFF;
    background: #aecae4;
    border-color: #aecae4;
    border-style: outset;
    border-width: 2px;
    border-radius : 20px;
    -moz-border-radius : 20px;
} 

input[type="submit"] { 
    padding: 5px;
    color: #727c86;
    background: #FFFFFF;
    border-color: #C2CcD6;
    border-style: inset;
    border-width: 2px;
    border-radius : 20px;
    -moz-border-radius : 20px;
}  
 

.titledBorder{
    border-style: solid;
    border-width: 1px;
    border-color: #C2CcD6;
    border-radius : 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.titledBorder legend{
    font-size: 1em;
    background-color: #FFFFFF;
    padding: 6px 10px 6px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #C2CcD6;
    border-radius : 20px;
    -moz-border-radius : 20px;
}

.logout:hover{
    margin: 4px;
    font-size: 0.8em;
    padding: 5px;
    color: #FFFFFF;
    background: #aecae4;
    border-color: #aecae4;
    border-style: outset;
    border-width: 2px;
    border-radius : 20px;
    -moz-border-radius : 20px;
}

.logout{
    margin: 4px;
    font-size: 0.8em;
    padding: 5px;
    color: #727c86;
    background: #FFFFFF;
    border-color: #C2CcD6;
    border-style: inset;
    border-width: 2px;
    border-radius : 20px;
    -moz-border-radius : 20px;
}

a{
    color: inherit;
    text-decoration: none;
}

.errorMessage{
    color: #cd0a0a;
}

.col1{
    border-color: #999999;
    border-width: 1px;
    border-style: none solid none none;
    padding: 0px 20px 0px 0px;
    vertical-align: top;
    width: 200px;
}

.col2{
    padding: 0px 0px 0px 10px;
    vertical-align: top;
}


/* menu item style */
tr.navigationGroupClass{
    font: normal;
    padding: 5px;
}

tr.navigationLeafClass{
    color: #999999;
}

tr.navigationLeafClass:hover{
    background: #aecae4;
    color: #FFFFFF;
    cursor: pointer;
    font: normal;
}

.active{
    background: #DDEEFF;
    color: #FFFFFF;
    font: normal;
}

table.mfoutline th {
    border-top: 0px solid #000000;
    color: #525c66;
    font: bold 12px Arial,Helvetica,sans-serif;
    padding: 4px;
    text-align: center;
    vertical-align: top;
}

table.mfoutline thead {
    background-color: #FFFFFF;
}

/* mouseover highlight */
tr.mouseHighLight{
    color: #999999;
}

tr.mouseHighLight:hover{
    background: #aecae4;
    color: #FFFFFF;
}


tr.mouseHighLight_alt {
    color: #999999;
    background: #EFF8FE;
}

tr.mouseHighLight_alt:hover{
    background: #aecae4;
    color: #FFFFFF;
}

.boxbody {
    background: #ffffff;
    width: 400px;
    border-color: #9999AA;
    border-width: 2px 1px 1px 2px;
    border-style: solid solid solid solid;
    -moz-border-radius : 10px 10px 10px 10px;
    border-radius : 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px #555;
    -moz-box-shadow: 0px 0px 10px 0px #555;
}

