<div class="row">
    <h5 class="col-xs-7" style="margin-left: 15pt;" translate="edition.style.label.new.select.type">Select the style type</h5>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6">
        <a ng-click="initVectorType();" class="choix_type">
            <img src="img/vector-multigeometry.svg"/>
            <h2 translate="label.data.vector">For Vector Data</h2>
        </a>
    </div>
    <div class="col-xs-6 col-sm-6">
        <a ng-click="initRasterType();" class="choix_type">
            <img src="img/raster-icone.svg"/>
            <h2 translate="label.data.raster">For Raster Data</h2>
        </a>
    </div>
</div>