<form class="form-horizontal form-style" role="form">
	<div class="tab-content">
		<div class="tab-pane colormodel" ng-class="{active:optionsSLD.rasterPalette.symbolPills==='color'}">
			<div class="form-group">
				<label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label control-label-leftsm"
                       for="colormodel"
                       translate="label.color.model">Color model</label>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<select id="colormodel"
                            class="form-control form-control-fix"
                            ng-model="optionsSLD.rasterPalette.colorModel">
                        <option value="palette">Palette mode</option>
                        <option value="rgb">RGB composition mode</option>
                        <option value="grayscale">Grayscale mode</option>
					</select>
				</div>
			</div>
			<accordion close-others="true"
                       ng-show="optionsSLD.rasterPalette.colorModel === 'palette'"
                       ng-init="status.open=true">
				<accordion-group heading="Edition" is-open="status.open">
						<accordion-heading>
                             <div style="cursor: pointer;">
                                 <i class="pull-left glyphicon"
                                    ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                 <span style="margin-left: 10pt;font-size: 14px;">Edition</span>
                             </div>
                         </accordion-heading>
						<div id="palette">
							<form name="paletteForm"
                                  class="form_classification form-horizontal form-style"
                                  role="form" novalidate>
								<div class="form-group">
									<label class="col-xs-5 col-sm-5 col-md-4 control-label"
                                           translate="sldeditor.raster.1band.band">Band</label>
									<div class="col-xs-7 col-sm-7 col-md-8">
                                        <select class="form-control form-control-fix"
                                                ng-if="dataProperties.bands.length>0"
                                                ng-model="optionsSLD.rasterPalette.band.selected"
                                                ng-options="dp.name for dp in $parent.dataProperties.bands"
                                                ng-change="fixRZSlider();"></select>
                                        <input type="text"
                                               ng-if="dataProperties.bands.length==0"
                                               class="form-control form-control-fix"
                                               ng-model="optionsSLD.rasterPalette.band.selected.name"/>
									</div>
								</div>
								<div class="form-group" ng-show="optionsSLD.rasterPalette.band.selected.minValue !== undefined">
                                    <label class="col-xs-5 col-sm-5 col-md-4 control-label"
                                           translate="sldeditor.raster.repartition">Distribution</label>
                                    <div class="col-xs-7 col-sm-7 col-md-8">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0;">
                                            <input type="text" id="minValue"
                                                   class="form-control form-control-fix"
                                                   ng-model="optionsSLD.rasterPalette.palette.rasterMinValue" required/>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 styleRZSlider" style="padding:0 10px;">
                                            <rzslider rz-slider-floor="optionsSLD.rasterPalette.band.selected.minValue"
                                                      rz-slider-ceil="optionsSLD.rasterPalette.band.selected.maxValue"
                                                      rz-slider-model="optionsSLD.rasterPalette.palette.rasterMinValue"
                                                      rz-slider-high="optionsSLD.rasterPalette.palette.rasterMaxValue"
                                                      rz-slider-step="1">
                                            </rzslider>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0;">
                                            <input type="text"
                                                   class="form-control form-control-fix"
                                                   min="{{dataBands[0].minValue}}"
                                                   max="{{dataBands[0].maxValue}}"
                                                   ng-model="optionsSLD.rasterPalette.palette.rasterMaxValue"
                                                   required/>
                                        </div>
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 col-sm-5 col-md-4 control-label"
                                           translate="sldeditor.raster.1band.Palette">Palette</label>
									<div class="col-xs-7 col-sm-7 col-md-8">
										<div class="pull-right btn-group select select-block">
											<button class="btn dropdown-toggle btn-default"
                                                    data-toggle="dropdown"
                                                    style="padding-right: 25px;">
												<span class="filter-option pull-left">
                                                    <img class="img_palette img_palette_ajust"
                                                         ng-src="{{optionsSLD.rasterPalette.palette.img_palette}}"/>
                                                </span>&nbsp;
												<span class="caret"></span>
											</button>
											<span class="dropdown-arrow dropdown-arrow-inverse"></span>
											<ul class="dropdown-menu dropdown-inverse dropdown-images" role="menu"
												style="overflow-y: auto; min-width: 70px; min-height: 108px;">
												<li ng-click="$parent.choosePalette(1)">
                                                    <a><img class="img_palette img_palette_ajust" src="img/palette1.png"/></a>
                                                </li>
												<li ng-click="$parent.choosePalette(2)">
                                                    <a><img class="img_palette img_palette_ajust" src="img/palette2.png"/></a>
                                                </li>
												<li ng-click="$parent.choosePalette(3)">
                                                    <a><img class="img_palette img_palette_ajust" src="img/palette3.png"/></a>
                                                </li>
												<li ng-click="$parent.choosePalette(4)">
                                                    <a><img class="img_palette img_palette_ajust" src="img/palette4.png"/></a>
                                                </li>
												<li ng-click="$parent.choosePalette(5)">
                                                    <a><img class="img_palette img_palette_ajust" src="img/palette5.png"/></a>
                                                </li>
											</ul>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-8 col-sm-9 col-md-9 col-lg-8 pull-right">
										<label class="radio-inline" style="font-size: 12px;margin-left: 0;">
											<input id="categorize"
                                                   type="radio"
                                                   name="categorize"
                                                   ng-model="optionsSLD.rasterPalette.palette.method"
                                                   value="categorize"/>
											<span translate="sldeditor.paletteMethod.solidcolor">Solid color</span>
										</label> 
										<label class="radio-inline" style="font-size: 12px;margin-left: 0;">
											<input id="interpolation"
                                                   type="radio"
                                                   name="interpolation"
                                                   ng-model="optionsSLD.rasterPalette.palette.method"
                                                   value="interpolate"/>
											<span translate="sldeditor.paletteMethod.interpolatecolor">Interpolate color</span>
										</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 col-sm-5 col-md-4 control-label">Divisions</label>
									<div class="col-xs-7 col-sm-7 col-md-4">
										<input type="number"
                                               class="form-control form-control-fix"
                                               ng-model="optionsSLD.rasterPalette.palette.intervalsCount"/>
									</div>
								</div>
								<div class="form-group">
                                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-8 pull-right" style="padding-right: 10px;">
                                        <div class="checkbox checkbox-inline">
                                            <label>
                                                <input type="checkbox"
                                                       ng-model="optionsSLD.rasterPalette.palette.inverse">
                                                    <span translate="sldeditor.edition.reversecolors">Reverse colors</span>
                                                </input>
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-inline sld-chexkbox-nan">
                                            <label>
                                                <input type="checkbox"
                                                       ng-model="optionsSLD.rasterPalette.palette.nan.selected">
                                                    <span translate="sldeditor.raster.1band.NaN">NaN</span>
                                                </input>
                                            </label>
                                        </div>
                                        <div class="pull-right" ng-if="optionsSLD.rasterPalette.palette.nan.selected">
                                            <input type='text' name="picker" class="picker" spectrum
                                                ng-model="optionsSLD.rasterPalette.palette.nan.color" />
                                        </div>
                                    </div>
								</div>
								<div class="form-group">
									<button type="button"
                                            ng-click="generateRasterPalette();"
                                            class="btn btn-generer btn-default pull-right"
                                            style="margin-top: 2px;">
                                        <span translate="sldeditor.edition.rasterPalette.generate">Generate palette</span>
                                    </button>
								</div>
							</form>
						</div>
				</accordion-group>
				<accordion-group heading="Palette" is-open="optionsSLD.rasterPalette.palette.open">
					<accordion-heading>
                        <div style="cursor: pointer;">
                            <i class="pull-left glyphicon"
                               ng-class="{'glyphicon-chevron-down': optionsSLD.rasterPalette.palette.open, 'glyphicon-chevron-right': !optionsSLD.rasterPalette.palette.open}"></i>
                            <span style="margin-left: 10pt;font-size: 15px;">Palette</span>
                        </div>
                    </accordion-heading>
					<div class="style_bloc" ng-show="optionsSLD.rasterPalette.repartition !== undefined">
                        <div class="palette-array">
                            <table class="sldTable table table-striped">
                                <tbody>
                                    <tr ng-repeat="point in optionsSLD.rasterPalette.repartition">
                                        <td style="width:65px;">
                                            <input type='text' name="picker" class="picker" spectrum ng-model="point.color"/>
                                        </td>
                                        <td>
                                            <input type="number"
                                                   class="form-control form-control-fix"
                                                   ng-model="point.data"
                                                   style="width:80px;height:28px;float:left;"
                                                   ng-change="drawThresholds();"
                                                   ng-if="point.data !== null"/>
                                            <span ng-if="point.data === null">NaN</span>
                                            <span ng-if="!$last && optionsSLD.rasterPalette.palette.method =='categorize'"> -&gt; {{optionsSLD.rasterPalette.repartition[$index+1].data}}</span>
                                        </td>
                                        <td>
                                            <button type="button"
                                                    class="btn btn-default btn-xs btn-remove"
                                                    ng-click="removeRepartitionEntry(point);">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-12 div-btn-add">
                            <button type="button"
                                    class="btn-apercu btn btn-default pull-right"
                                    ng-click="addColorMapEntry();">
                                <span translate="sldeditor.edition.rasterPalette.addNewValue">Add new value</span>
                            </button>
                        </div>
                    </div>
				</accordion-group>
			</accordion>
			<div ng-show="optionsSLD.rasterPalette.colorModel === 'rgb'">
				<form class="form_classification form-horizontal form-style" role="form">
					<div class="form-group bande_rouge">
						<label class="col-sm-3 control-label"
                               translate="sldeditor.edition.rasterPalette.redChannel">Red channel</label>
						<div class="col-sm-9">
							<select class="form-control form-control-fix"
                                    ng-model="optionsSLD.rasterPalette.rgbChannels[0].name">
                                <option value=""></option>
                                <option ng-repeat="dp in $parent.dataProperties.bands"
                                        ng-value="dp.name">{{dp.name}}</option>
							</select>
						</div>
					</div>
					<div class="form-group bande_verte">
						<label class="col-sm-3 control-label"
                               translate="sldeditor.edition.rasterPalette.greenChannel">Green channel</label>
						<div class="col-sm-9">
							<select class="form-control form-control-fix"
                                    ng-model="optionsSLD.rasterPalette.rgbChannels[1].name">
                                <option value=""></option>
                                <option ng-repeat="dp in $parent.dataProperties.bands"
                                        ng-value="dp.name">{{dp.name}}</option>
							</select>
						</div>
					</div>
					<div class="form-group bande_bleue">
						<label class="col-sm-3 control-label"
                               translate="sldeditor.edition.rasterPalette.blueChannel">Blue channel</label>
						<div class="col-sm-9">
							<select class="form-control form-control-fix"
                                    ng-model="optionsSLD.rasterPalette.rgbChannels[2].name">
                                <option value=""></option>
                                <option ng-repeat="dp in $parent.dataProperties.bands"
                                        ng-value="dp.name">{{dp.name}}</option>
							</select>
						</div>
					</div>
                    <div class="col-xs-12 div-btn-add">
                        <button type="button"
                                class="btn-apercu btn btn-default pull-right"
                                ng-click="applyRGBComposition();">
                            <span translate="sldeditor.edition.apply">Apply</span>
                        </button>
                    </div>
				</form>
			</div>
            <div ng-show="optionsSLD.rasterPalette.colorModel === 'grayscale'">
                <form class="form_classification form-horizontal form-style" role="form">
                    <div class="form-group grayscale">
                        <label class="col-sm-3 control-label"
                               translate="sldeditor.edition.rasterPalette.grayscale">Grayscale</label>
                        <div class="col-sm-9">
                            <select class="form-control form-control-fix"
                                    ng-model="optionsSLD.rasterPalette.greyChannel.name">
                                <option value=""></option>
                                <option ng-repeat="dp in $parent.dataProperties.bands" ng-value="dp.name">{{dp.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 div-btn-add">
                        <button type="button"
                                class="btn-apercu btn btn-default pull-right"
                                ng-click="applyGrayscaleComposition();">
                            <span translate="sldeditor.edition.apply">Apply</span>
                        </button>
                    </div>
                </form>
            </div>
		</div>
	</div>
</form>