
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div ng-if="!optionsSLD.enableRasterPalette && !optionsSLD.enableRasterCells">
            <div style="margin-bottom:0px;">
                <div class="form-group col-xs-12" style="margin: 3px 0; height:35px;padding: 0;">
                    <label class="col-xs-5 col-sm-5 col-md-4 control-label"
                           style="margin-top: 8px;"
                           translate="sldeditor.name">Style name</label>
                    <div class="col-xs-7 col-sm-7 col-md-8">
                        <input ng-if="!isSelectedChooser('edit')"
                               type="text"
                               class="form-control form-control-fix"
                               ng-model="$parent.newStyle.name"/>
                        <label style="font-size: 12px;font-weight: normal;margin-top: 8px;"
                               ng-if="isSelectedChooser('edit')">{{$parent.newStyle.name}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" ng-if="noName">
                <div class="alert alert-danger"
                     style="padding:3px; padding-bottom:2px; margin-bottom:6px;"
                     translate="alert.style.noname">Please you must fill a style name</div>
            </div>
            <div class="row">
                <div class="panel panel-default" style="margin-bottom: 0;">
                    <div class="panel-heading well-header">
                        <strong translate="edition.style.label.rules">Rules</strong>
                        <div class="dropdown pull-right" style="margin-top: -5px;">
                            <a data-toggle="dropdown" class="btn btn-add dropdown-toggle" style="font-size: 12px;">
                                <span class="fa fa-plus" style="margin-right:5px;"></span>
                                <span translate="edition.style.label.new.rules">Add rule(s)</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="font-size: 12px;">
                                <li><a ng-click="createRules('raster_palette')"
                                       translate="edition.style.label.new.rules.raster_palette">Colors and Palette</a></li>
                                <li><a ng-click="createRules('raster_cellule')"
                                       translate="edition.style.label.new.rules.raster_cellule">Group of cells</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body" style="padding:0pt;">
                        <div class="list-group" style="height: 350px;overflow-y: auto;margin: 0;">
                            <a class="list-group-item"
                               ng-class="{active:rule===optionsSLD.selectedRule}"
                               ng-repeat="rule in newStyle.rules"
                               ng-click="setSelectedRule(rule);">
                                {{rule.name}}
                            </a>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" type="button" style="font-size: 12px;" ng-click="editSelectedRasterRule();">Edit</button>
                        <button class="btn btn-default" type="button" style="font-size: 12px;" ng-click="moveUpRule();">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                        <button class="btn btn-default" type="button" style="font-size: 12px;" ng-click="moveDownRule();">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <button class="btn btn-default" type="button" style="font-size: 12px;" ng-click="deleteSelectedRule();">Delete</button>
                        <button class="btn btn-default" type="button" style="font-size: 12px;" ng-click="deleteAllRules();">Delete all</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="optionsSLD.enableRasterPalette || optionsSLD.enableRasterCells">
            <ol class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <li>
                    <a ng-click="goBack()">
                        <span translate="sldeditor.breadcrumb.type">Back to rules list</span>
                    </a>
                </li>
                <li class="active">
                    <span translate="sldeditor.breadcrumb.edition">Rule edition</span>
                </li>
            </ol>
            <ul class="nav nav-tabs" ng-init="chosenTab = 'description'">
                <li ng-class="{active: chosenTab==='description'}">
                    <a ng-click="chosenTab = 'description'" data-toggle="tab">
                        <span translate="edition.style.label.description" >Description</span>
                    </a>
                </li>
                <li ng-class="{active: chosenTab==='symbols'}">
                    <a ng-click="chosenTab = 'symbols'" data-toggle="tab">
                        <span translate="label.symbols" >Symbols</span>
                    </a>
                </li>
                <li ng-class="{active: chosenTab==='filters'}">
                    <a ng-click="chosenTab = 'filters'" data-toggle="tab">
                        <span translate="edition.style.label.filters" >Filters</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-style-edition" ng-class="{active:chosenTab==='description'}">
                    <form class="form-horizontal form-style" role="form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11" style="margin-top: 20pt;">
                                <div class="form-group">
                                    <label for="inputrulename"
                                           class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"
                                           translate="label.name">Name</label>
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                        <input type="text"
                                               class="form-control"
                                               id="inputrulename"
                                               ng-model="optionsSLD.selectedRule.name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputRuleTitle"
                                           class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"
                                           translate="label.title">Title</label>
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                        <input type="text"
                                               class="form-control"
                                               id="inputRuleTitle"
                                               ng-model="optionsSLD.selectedRule.title"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputRuleDesc"
                                           class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"
                                           translate="description">Description</label>
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                        <textarea id="inputRuleDesc"
                                                  class="form-control"
                                                  rows="3"
                                                  ng-model="optionsSLD.selectedRule.description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane tab-style-edition" ng-class="{active:chosenTab==='symbols'}">
                    <div ng-if="optionsSLD.enableRasterPalette && !optionsSLD.enableRasterCells">
                        <div>
                            <ng-include src="'views/style/raster_sld.html'"></ng-include>
                        </div>
                    </div>
                    <div ng-if="optionsSLD.enableRasterCells && !optionsSLD.enableRasterPalette">
                        <div>
                            <ng-include src="'views/style/raster_cells.html'"></ng-include>
                        </div>
                    </div>
                </div>
                <div class="tab-pane tab-style-edition" ng-class="{active:chosenTab==='filters'}">
                    <div style="padding: 10pt;">
                        <div class="row">
                            <div class="col-xs-10">
                                <strong translate="edition.style.label.filterScale">Filter based on the zoom level</strong>
                                <i popover-placement="bottom"
                                   popover-trigger="mouseenter"
                                   popover="{{'sldeditor.edition.filter.scale.help' | translate}}"
                                   popover-title="{{'sldeditor.edition.filter.scale.help.title' | translate}}">
                                             <span style="font-size: 18px;cursor:pointer;"
                                                   class="glyphicon glyphicon-question-sign"></span>
                                </i>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 8pt;">
                            <div class="col-sm-12 col-md-12">
                                <form class="form-horizontal form-style" role="form">
                                    <div class="form-group">
                                        <label for="minScale"
                                               class="col-xs-5 col-sm-5 col-md-5 col-lg-4 control-label"
                                               style="font-size: 12px;font-weight: normal;"
                                               translate="edition.style.label.filterScaleMin">Minimal scale</label>
                                        <div class="col-xs-7 col-sm-7 col-md-6 col-lg-6">
                                            <span class="pull-left"
                                                  style="position:absolute"
                                                  ng-if="optionsSLD.selectedRule.minScale != undefined && optionsSLD.selectedRule.minScale !== 0">1/</span>
                                            <div class="input-group">
                                                <input type="number"
                                                       class="form-control"
                                                       style="font-size: 12px;"
                                                       id="minScale"
                                                       ng-model="optionsSLD.selectedRule.minScale"
                                                       min="0"/>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info"
                                                            type="button"
                                                            ng-click="setMinScale();"
                                                            title="{{'sldeditor.edition.filter.getScale' | translate}}">
                                                        <i class="glyphicon glyphicon-arrow-left"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="maxScale"
                                               class="col-xs-5 col-sm-5 col-md-5 col-lg-4 control-label"
                                               style="font-size: 12px;font-weight: normal;"
                                               translate="edition.style.label.filterScaleMax">Maximal scale</label>
                                        <div class="col-xs-7 col-sm-7 col-md-6 col-lg-6">
                                            <span class="pull-left"
                                                  style="position:absolute"
                                                  ng-if="optionsSLD.selectedRule.maxScale != undefined && optionsSLD.selectedRule.maxScale !== 0">1/</span>
                                            <div class="input-group">
                                                <input type="number"
                                                       class="form-control"
                                                       style="font-size: 12px;"
                                                       id="maxScale"
                                                       ng-model="optionsSLD.selectedRule.maxScale"
                                                       min="0"/>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info"
                                                            type="button"
                                                            ng-click="setMaxScale();"
                                                            title="{{'sldeditor.edition.filter.getScale' | translate}}">
                                                        <i class="glyphicon glyphicon-arrow-left"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 col-sm-5 col-md-6 col-lg-6"
                                               style="font-size: 13px;font-weight:normal;margin-bottom:0;padding-left:15px;padding-right:15px;text-align:right;color:#808080;">
                                            <em translate="sldeditor.edition.currentScale">Current scale of the map</em>
                                        </label>
                                        <em style="font-size: 13px;color:#808080;"
                                            class="col-xs-7 col-sm-7 col-md-6 col-lg-6 currentScale"></em>
                                    </div>
                                    <hr style="margin-bottom:10px;"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="row" style="margin-top:5px;">
            <div class="col-xs-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               ng-model="optionsSLD.autoPreview">
                            <span translate="sldeditor.apercu.autochecked">Automatically preview</span>
                        </input>
                    </label>
                </div>
            </div>
            <div class="col-xs-4">
                <button type="button" class="pull-right btn btn-add"
                        ng-click="displayCurrentStyle('styledMapOL',null);"
                        ng-show="! optionsSLD.autoPreview"
                        style="font-size: 13px;">
                    <span translate="sldeditor.apercu.titre">Data preview</span>
                </button>
            </div>
        </div>
        <div style="position: absolute;z-index: 800;">
            <div class="btn-group-vertical">
                <button type="button"
                        class="btn"
                        ng-class="{'btn-info': optionsSLD.enabledRasterChart,'btn-default': !optionsSLD.enabledRasterChart}"
                        ng-click="toggleRasterChart();"
                        style="border-bottom-left-radius:0;"
                        title="{{'sldeditor.edition.histogram.title' | translate}}">
                    <i class="glyphicon glyphicon-stats"></i>
                </button>
            </div>
        </div>
        <div class="bloc_apercu" id="styledMapOL" style="height: 448px;"></div>
        <div class="bloc_apercu_chart c3Chart chartPanelBackground"
             collapse="!optionsSLD.enabledRasterChart"
             style="bottom: 0;position: absolute;z-index: 800;border: 1px solid #CFCFCF;">
            <div style="height: 220px;position: relative;">
                <div style="height: 220px;position: relative;">
                    <div id="chartRaster" ng-init="initRasterPlot();" style="padding-top: 10pt;"></div>
                    <div id="chart_ajax_loader"></div>
                </div>
            </div>
            <button class="close"
                    ng-click="optionsSLD.enabledRasterChart=false;"
                    type="button"
                    style="position: absolute;right: 5px;top: 0;">×</button>
        </div>
    </div>
</div>
