<div class="logo-wrapper row">
    <div class="col-sm-9">
        <h3 class="header-title" translate="page.header.title.style">Style Dashboard</h3>
    </div>
    <div class="col-sm-3">
        <div class="pull-right">
            <a class="btn btn-lg dropdown-toggle btn-add"
               ng-click="showStyleCreate()"
               style="margin-top:8px;padding:15px 19px;">
                <span class="fa fa-plus" style="margin-right:5px;"></span>
                <span translate="label.add.style">Add new style</span>
            </a>
        </div>
    </div>
</div>
<div id="stylesDashboard" class="row" ng-init="initStyleDashboard()">
    <div class="col-sm-12">
        <div class="frame dashboard">
            <div class="navbar navbar-default" style="margin-bottom: 0px;">
                <div class="navbar-header">
                    <a class="navbar-brand" translate="style.information.title">Available styles</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right ">
                        <li ng-class="{active:wrap.filtertype == ''}"
                            ng-click="wrap.filtertype = ''">
                            <a translate="label.all">All</a>
                        </li>
                        <li ng-class="{active:wrap.filtertype=='VECTOR'}"
                            ng-click="wrap.filtertype='VECTOR'">
                            <a translate="label.vector">Vector</a>
                        </li>
                        <li ng-class="{active:wrap.filtertype=='COVERAGE'}"
                            ng-click="wrap.filtertype='COVERAGE'">
                            <a translate="label.raster">Raster</a>
                        </li>
                        <li ng-class="{active:wrap.filtertype=='SENSOR'}"
                            ng-click="wrap.filtertype='SENSOR'">
                            <a translate="label.sensor">Sensor</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navbar sort-navbar">
                <div class="navbar-inner">
                    <ul class="nav nav-style">
                        <li ng-click="wrap.ordertype='Name';wrap.orderreverse=!wrap.orderreverse">
                            <a>
                                <span translate="label.title">Title</span>
                                <i class="fa fa-caret-up" ng-if="wrap.ordertype === 'Name' && wrap.orderreverse"></i>
                                <i class="fa fa-caret-down" ng-if="wrap.ordertype === 'Name' && !wrap.orderreverse"></i>
                            </a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li ng-click="wrap.ordertype='Date';wrap.orderreverse=!wrap.orderreverse">
                            <a>
                                <span translate="label.date">Date</span>
                                <i class="fa fa-caret-up" ng-if="wrap.ordertype === 'Date' && wrap.orderreverse"></i>
                                <i class="fa fa-caret-down" ng-if="wrap.ordertype === 'Date' && !wrap.orderreverse"></i>
                            </a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li ng-click="wrap.ordertype='Owner';wrap.orderreverse=!wrap.orderreverse">
                            <a>
                                <span translate="label.owner">Owner</span>
                                <i class="fa fa-caret-up" ng-if="wrap.ordertype === 'Owner' && wrap.orderreverse"></i>
                                <i class="fa fa-caret-down" ng-if="wrap.ordertype === 'Owner' && !wrap.orderreverse"></i>
                            </a>
                        </li>
                        <li class="divider-vertical"></li>
                    </ul>
                    <button type="button"
                            ng-click="resetFilters();"
                            title="{{'label.search.refresh' | translate }}"
                            class="btn btn-xs btn-info btn-style">
                        <i class="fa fa-times"></i>
                    </button>
                    <div class="pull-right">
                        <div style="position:relative;">
                            <div class="ajax-loader" style="right:0;position:absolute;"></div>
                            <input type="text"
                                   ng-model="wrap.filtertext"
                                   class="searchbox search-query form-control form-control-fix"
                                   placeholder="..." />
                        </div>
                    </div>
                </div>
            </div>
            <div class="dash-inner row">
                <div class="pull-left"
                     style="width: 60%;margin-bottom: 5px;"
                     ng-init="small=false">
                    <div id="list" data-role="list">
                        <div class="pagination-wrapper pagination-style">
                            <strong class="col-lg-6 col-xs-8 col-md-6">
                                <span class="nb-results pull-left">{{wrap.countdata}}&nbsp;</span>
                                <span class="nb-results" translate="label.count.style">available styles</span>
                            </strong>
                            <div class="hidden-sm hidden-xs pull-right col-md-6" style="padding-right:0;">
                                <button type="button" ng-click="small=true"
                                        class="pull-right btn btn-xs btn-info btn-style"
                                        ng-class="{'btn-small-selected':small==true}"
                                        style="border-radius:0 3px 3px 0; margin-top: 5px; width:32px; height:34px;">
                                    <img src="img/btn-display-reduced.svg" alt="" />
                                </button>
                                <button type="button" ng-click="small=false"
                                        class="pull-right btn btn-xs btn-info btn-style"
                                        ng-class="{'btn-small-selected':small==false}"
                                        style="margin-left: 10px; border-radius:3px 0 0 3px; margin-top: 5px; width:32px; height:34px;">
                                    <img src="img/btn-display-normal.svg" alt="" />
                                </button>
                                <p class="pull-right" style="margin-top:12px;" translate="label.display">Display :</p>
                            </div>
                            <div class="row">
                                <div class="col-sm-9" style="padding-left:15px; margin-top: 5px;"
                                     page-switcher="{page:wrap.currentpage,size:wrap.nbbypage,count:wrap.countdata}"
                                     on-select-page="displayPage(page)"></div>
                                <select class="nb-per-page input-small form-control pull-right col-xs-2 "
                                        style="padding-left: 5px;padding-right: 5px; margin-right: 15px; margin-top: 5px;"
                                        ng-model="wrap.nbbypage">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="item-list">
                            <div class="item style-{{style.Type | lowercase}}"
                                 ng-repeat="style in wrap.dataList"
                                 ng-class="{selected:style.Id==selected.Id, 'col-xs-6':small==true, 'style-small': small}"
                                 ng-click="select(style);previewStyledData(null,false);">
                                <div class="top">
                                    <span class="item-title" title="{{style.Name}}">{{truncate(small,style.Name)}}</span>
                                    <span class="pull-right text-right item-list-style"> {{style.Type}}</span>
                                    <img ng-if="style.Type=='VECTOR' && style.subtype=='point'"
                                         src="img/vector-point.svg"
                                         class="pull-right"
                                         style="margin-top:6px; margin-right:10px;" />
                                    <img ng-if="style.Type=='VECTOR' && style.subtype=='polygon'"
                                         src="img/vector-poly.svg"
                                         class="pull-right"
                                         style="margin-top:6px; margin-right:10px;" />
                                    <img ng-if="style.Type=='VECTOR' && style.subtype=='line'"
                                         src="img/vector-line.svg"
                                         class="pull-right"
                                         style="margin-top:6px; margin-right:10px;" />
                                </div>
                                <div class="bottom">
                                    <div ng-class="{'hidden':!small}">
                                        <div class="block tooltipicon"
                                             style="margin-top:0;text-shadow: none;">
                                            <i class="fa fa-calendar"
                                               tooltip data-placement="top"
                                               title="{{style.Date | date:'yyyy-MM-dd'}}"></i>
                                        </div>
                                        <div class="block tooltipicon"
                                             style="margin-top:0;text-shadow: none;">
                                            <i class="fa fa-user"
                                               tooltip data-placement="top"
                                               title="{{style.Owner}}"></i>
                                        </div>
                                    </div>
                                    <div ng-class="{'hidden':small}">
                                        <div class="block">
                                            <i class="fa fa-calendar"></i>{{style.Date | date:'yyyy-MM-dd'}}
                                        </div>
                                        <div class="block">
                                            <i class="fa fa-user"></i>{{style.Owner}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-left" style="width: 40%;">

                    <div id="block-information-right">
                        <!-- tabs -->
                        <div style="padding:0 10px;">
                            <ul class="nav nav-tabs">
                                <li class="tab-style" ng-click="selectTabInfo('view')" ng-class="{'active':styleCtrl.currentTabInfo==='view'}">
                                    <a translate="navtab.block.info.view">View </a>
                                </li>
                                <li class="tab-style" ng-click="selectTabInfo('info')" ng-class="{'active':styleCtrl.currentTabInfo==='info'}">
                                    <a translate="navtab.block.info.info">Information </a>
                                </li>
                                <li class="tab-style" ng-click="selectTabInfo('assos')" ng-class="{'active':styleCtrl.currentTabInfo==='assos'}">
                                    <a translate="navtab.block.info.assos">Associations</a>
                                </li>
                            </ul>
                        </div>

                        <!-- map tab -->
                        <div class="sous-block-information" ng-show="styleCtrl.currentTabInfo==='view'">
                            <div class="alert alert-info alert-style"
                                 ng-if="!selected">
                                <h4 translate="label.no.selected.data">No selected data</h4>
                                <p translate="msg.no.selected.data.map"
                                   style="font-weight:normal;">Click on a data to display the map</p>
                            </div>
                            <div id="stylePreviewMap" class="dashboardmap style-dashboardmap" ng-show="selected"></div>
                        </div>

                        <!-- info tab -->
                        <div class="sous-block-information" ng-show="styleCtrl.currentTabInfo==='info'">
                            <div>
                                <div class="alert alert-info alert-style" ng-class="{hide:selected}">
                                    <h4 translate="label.no.selected.style">No selected style</h4>
                                    <p translate="msg.no.selected.style">Click on a style to display more information</p>
                                </div>
                                <div class="selected-item" id="selected-item" ng-class="{hide: !selected}">
                                    <div class="block-header block-header-style" ng-click="toggleUpDownSelected()">
                                        <strong class="item-title title-bloc"
                                                title="{{selected.Name}}">{{truncateTitleBlock(selected.Name)}}</strong>
                                        <i class="fa fa-chevron-down pull-right"></i>
                                    </div>
                                    <div class="block-content"
                                         ng-class="{'block-vector':selected.Type=='VECTOR','block-raster':selected.Type=='COVERAGE'}">
                                        <div class="row description-block">
                                            <div class="col-sm-3 col-md-2">
                                                <img src="img/block-content-owner.svg" alt="" />
                                            </div>
                                            <div class="col-sm-9 col-md-10 description-text">
                                                <span>{{selected.Owner}}</span>
                                            </div>
                                        </div>
                                        <div class="row description-block">
                                            <div class="col-sm-3 col-md-2"><img src="img/block-content-date.svg" alt="" /></div>
                                            <div class="col-sm-9 col-md-10 description-text">
                                                <span>{{selected.Date | date:'yyyy-MM-dd'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-action block-action-style">
                                        <div class="row" style="padding-bottom: 5px">
                                            <div class="col-sm-3 col-md-2 tooltip-left-menu">
                                                <span class="tooltipicon">
                                                    <button type="button"
                                                            id="editStyleBtn"
                                                            class="btn btn-style"
                                                            ng-click="editStyle()"
                                                            data-placement="bottom"
                                                            title="{{'style.listing.selected.edit.button' | translate }}" tooltip>
                                                        <i class="glyphicon glyphicon-pencil"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="col-sm-3 col-md-2 tooltip-left-menu">
                                                <span class="tooltipicon">
                                                    <button type="button"
                                                            id="deleteStyleBtn"
                                                            class="btn btn-style"
                                                            ng-click="deleteStyle()"
                                                            data-placement="bottom"
                                                            title="{{'layer.listing.selected.delete.button' | translate }}" tooltip>
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> <!-- info tab end-->


                        <!-- associations tab -->
                        <div class="sous-block-information" ng-show="styleCtrl.currentTabInfo==='assos'">
                            <div class="alert alert-info alert-style"
                                 ng-if="!selected">
                                <h4 translate="label.no.selected.data">No selected data</h4>
                                <p translate="msg.no.selected.data.assos"
                                   style="font-weight:normal;">Click on a data to display data associations (Styles, Services, Sensors)</p>
                            </div>

                            <div ng-if="selected">
                                <div class="row block-association"
                                     ng-init="assocData=false;assocLayer=false;">
                                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                                        <div class="block-associated block-associated-data"
                                             ng-click="assocData=!assocData;assocLayer=false;">
                                            <div class="block-associated-nb">{{selected.dataList.length}}</div>
                                            <div class="block-associated-title"
                                                 translate="label.related.data">Associated Data</div>
                                                            <span class="fa icon-assoc-data"
                                                                  ng-class="{'selected':assocData,'fa-chevron-circle-up':assocData,'fa-chevron-circle-down':!assocData}"
                                                                  tooltip-placement="bottom"
                                                                  tooltip-html-unsafe="{{'label.show.data' | translate }}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="assocData"
                                     class="col-sm-12 col-md-10 col-md-offset-1 block-assoc">
                                    <div id="linkedDataList" class="block-content" >
                                                    <span ng-show="selected.dataList.length == 0"
                                                          translate="label.no.association">No association</span>
                                        <div ng-show="selected.dataList.length > 0"
                                             class="style btn-assoc-item"
                                             ng-repeat="data in selected.dataList"
                                             style="margin-bottom:5px;">
                                            <button type="button"
                                                    ng-click="previewStyledData(data,false);"
                                                    class="btn btn-small btn-block-assos btn-block-assos-data">
                                                <i class="glyphicon"
                                                   ng-class="{'glyphicon-eye-open':selected.Id==styleCtrl.currentStyleId && data.Id==styleCtrl.currentDataId,'glyphicon-eye-close':selected.Id!=styleCtrl.currentStyleId || data.Id!=styleCtrl.currentDataId}"></i>
                                            </button>
                                            <button type="button"
                                                    ng-click="editStyleWithLinkedData(data);"
                                                    class="btn btn-small btn-block-assos btn-block-assos-data">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </button>
                                            {{truncateTitleBlock(data.Name)}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row block-association"
                                     ng-init="assocData=false;assocLayer=false;">
                                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                                        <div class="block-associated block-associated-layers"
                                             ng-click="assocData=false;assocLayer=!assocLayer;">
                                            <div class="block-associated-nb">{{selected.layersList.length}}</div>
                                            <div class="block-associated-title"
                                                 translate="label.related.layer">Associated Layers</div>
                                                            <span class="fa icon-assoc-layer"
                                                                  ng-class="{'selected':assocLayer,'fa-chevron-circle-up':assocLayer,'fa-chevron-circle-down':!assocLayer}"
                                                                  tooltip-placement="bottom"
                                                                  tooltip-html-unsafe="{{'label.show.layers' | translate }}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="assocLayer"
                                     class="col-sm-12 col-md-10 col-md-offset-1 block-assoc">
                                    <div id="linkedLayersList" class="block-content" >
                                                    <span ng-show="selected.layersList.length == 0"
                                                          translate="label.no.association">No association</span>
                                        <div ng-show="selected.layersList.length > 0"
                                             class="style btn-assoc-item"
                                             ng-repeat="layer in selected.layersList"
                                             style="margin-bottom:5px;">
                                            <button type="button"
                                                    ng-click="previewStyledData(layer,true);"
                                                    class="btn btn-small btn-block-assos btn-block-assos-layer">
                                                <i class="glyphicon"
                                                   ng-class="{'glyphicon-eye-open':selected.Id==styleCtrl.currentStyleId && layer.Id==styleCtrl.currentLayerId,'glyphicon-eye-close':selected.Id!=styleCtrl.currentStyleId || layer.Id!=styleCtrl.currentLayerId}"></i>
                                            </button>
                                            <button type="button"
                                                    ng-click="editStyleWithLinkedData(layer);"
                                                    class="btn btn-small btn-block-assos btn-block-assos-data">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </button>
                                            {{truncateTitleBlock(layer.Name)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- association tab end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div scroll-to=""
     id="backtotop"
     class="backtotop"
     ng-hide="hideScroll">
    <span class="glyphicon glyphicon-chevron-up"></span>
</div>