<div class="logo-wrapper row">
    <div class="col-sm-12">
        <h3 class="header-title" translate="page.header.title.create.service">New service</h3>
    </div>
</div>
<div class="col-sm-12">
    <div class="frame dashboard" id="newServiceForm">
        <div id="description" class="row bg-white">
            <div class="frame dashboard">
                <div class="navbar navbar-default" style="margin-bottom: 0px;">
                    <div class="navbar-header">
                        <a class="navbar-brand" translate="create.description.title.label">Create a service</a>
                    </div>
                </div>
            </div>
        </div>


        <!-- main part -->
        <div class="row bg-white" ng-if="serviceInfo">
            <div class="col-sm-3">
                <div class="well">
                    <div ng-if="type === 'wms'">
                        <p><h4>WMS</h4></p>
                        <p><span translate="create.description.text.wms"></span></p>
                    </div>
                    <div ng-if="type === 'wfs'">
                        <p><h4>WFS</h4></p>
                        <p><span translate="create.description.text.wfs"></span></p>
                    </div>
                    <div ng-if="type === 'wmts'">
                        <p><h4>WMTS</h4></p>
                        <p><span translate="create.description.text.wmts"></span></p>
                    </div>
                    <div ng-if="type === 'wcs'">
                        <p><h4>WCS</h4></p>
                        <p><span translate="create.description.text.wcs"></span></p>
                    </div>
                    <div ng-if="type === 'wps'">
                        <p><h4>WPS</h4></p>
                        <p><span translate="create.description.text.wps"></span></p>
                    </div>
                    <div ng-if="type === 'sos'">
                        <p><h4>SOS</h4></p>
                        <p><span translate="create.description.text.sos"></span></p>
                    </div>
                    <div ng-if="type === 'csw'">
                        <p><h4>CSW</h4></p>
                        <p><span translate="create.description.text.csw"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <fieldset style="padding-left:20px;">
                    <legend><span translate="service.description.tab.description.title">Service description</span></legend>
                    <form role="form-horizontal" role="form">
                        <div class="error" style="margin-top:0; margin-bottom:20px;"
                                    ng-show="invalideName">
                            <small class="error">Veuillez renseigner un Nom ou un identifiant</small> 
                        </div>
                        <div class="form-group row" ng-class="{'has-error':invalideName}">
                            <label class="control-label col-sm-2 new-service-form-label" translate="service.description.tab.description.name">Name</label>
                            <div class="col-sm-8 col-md-6">
                                <input  type="text" class="form-control" id="name" ng-model="metadata.name" value="" required>
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error':invalideName}">
                            <label class="control-label col-sm-2 new-service-form-label" translate="service.description.tab.description.identifier">Identifier</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" id="identifier" ng-model="metadata.identifier" value="" required>
                            </div>
                             <div class="btn-lg tooltipicon">
                                <span type="button" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.service.create.name' | translate }}" ></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-2 new-service-form-label" translate="service.description.tab.description.tags">Tags</label>
                            <div class="col-sm-8 col-md-6">
                                <div class="tag-input-ctn">
                                    <div data-ng-repeat="(key, tag) in metadata.keywords track by $index" class="input-tag">
                                        {{ tag }}
                                        <div class="delete-tag" data-ng-click="deleteTag(key)">&times;</div>
                                    </div>
                                    <input type="text" data-tag-input="" data-ng-model="newService.tagText" data-new-tag="addTag()" data-delete-tag="deleteTag()"/>
                                </div>
                            </div>
                            <div class="btn-lg tooltipicon">
                                <span type="button" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.service.create.tag' | translate }}" ></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-2 new-service-form-label" translate="service.description.tab.description.description">Description</label>
                            <div class="col-sm-8 col-md-6">
                                <textarea rows="5" id="inputDescription" class="form-control" ng-model="metadata.description"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-sm-2 new-service-form-label" translate="service.description.tab.description.version" >Version</label>
                            <div class="col-sm-8 col-md-6">
                                <div id="versionsCheck" ng-init="selectedVersion()">
                                    <div ng-repeat="version in versions" class="inline">
                                        <div class="checkbox inline"><input type="checkbox" ng-model="version.checked" ng-change="selectedVersion()"> {{version.id}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-lg tooltipicon">
                                <span type="button" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.service.create.version' | translate }}" ></span>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
        <div ng-if="serviceContact">
            <div class="row bg-white form_service_md">
                <div class="col-sm-6" style="padding-left:30px;">
                    <!-- contact part -->
                    <fieldset>
                        <legend translate="create.contact.legend">Contact information</legend>
                        <form class="form" role="form">
                            <div class="control-group">
                                <label class="control-label new-service-form-label" for="contactFirstName" translate="create.contact.firstname.label">First name</label>
                                <input type="text" class="form-control" id="contactFirstName" ng-model="metadata.serviceContact.firstname"/>
                            </div>

                            <div class="control-group">
                                <label class="control-label new-service-form-label" for="contactLastName" translate="create.contact.lastname.label">Last name</label>
                                <input type="text" class="form-control" id="contactLastName" ng-model="metadata.serviceContact.lastname"/>
                            </div>

                            <div class="control-group">
                                <label class="control-label new-service-form-label" for="contactOrganisation" translate="create.contact.organisation.label">Organisation</label>
                                <input type="text" class="form-control" id="contactOrganisation" ng-model="metadata.serviceContact.organisation"/>
                            </div>

                            <div class="control-group">
                                <label class="control-label new-service-form-label" for="contactPosition" translate="create.contact.position.label">Position</label>
                                <input type="text" class="form-control" id="contactPosition" ng-model="metadata.serviceContact.position"/>
                            </div>

                            <div class="control-group">
                                <label class="col-xs-12 control-label new-service-form-label" for="contactPhone" translate="create.contact.phone.label" style="padding:0;">Phone</label>
                                <div class="col-xs-6" style="padding:0; margin-bottom:7px;">
                                    <input type="tel" class="form-control" id="contactPhone" ng-model="metadata.serviceContact.phone"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="col-xs-12 control-label new-service-form-label" for="contactFax" translate="create.contact.fax.label" style="padding:0;">Fax</label>
                                <div class="col-xs-6" style="padding:0; margin-bottom:7px;">
                                    <input type="tel" class="form-control" id="contactFax" ng-model="metadata.serviceContact.fax"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="col-xs-12 control-label new-service-form-label" for="contactemail" translate="create.contact.email.label" style="padding:0;">Email</label>
                                <input type="text" class="form-control" id="contactEmail" ng-model="metadata.serviceContact.email"/>
                            </div>
                        </form>
                    </fieldset>
                </div>
                <div class="col-sm-6" style="padding-right:30px;">
                    <!-- address part -->
                    <fieldset>
                        <legend translate="create.contact.address.legend">Contact address</legend>
                        <form class="form" role="form">
                            <div class="control-group">
                                <label class="control-label new-service-form-label" for="contactAddress" translate="create.contact.address.label">Address</label>
                                <input type="text" class="form-control" id="contactAddress" ng-model="metadata.serviceContact.address"/>
                            </div>

                            <div class="control-group">
                                <label class="control-label new-service-form-label" for="contactCity" translate="create.contact.address.city.label">City</label>
                                <input type="text" class="form-control" id="contactCity" ng-model="metadata.serviceContact.city"/>
                            </div>

                            <div class="control-group">
                                <label class="control-label new-service-form-label" for="contactState" translate="create.contact.address.state.label">State</label>
                                <input type="text" class="form-control" id="contactState" ng-model="metadata.serviceContact.state"/>
                            </div>

                            <div class="control-group">
                                <label class="col-xs-12 control-label new-service-form-label" for="contactPostcode" translate="create.contact.address.postcode.label" style="padding:0;">Zip code</label>
                                <div class="col-xs-4" style="padding:0; margin-bottom:7px;">
                                    <input type="text" class="form-control" id="contactPostcode" ng-model="metadata.serviceContact.zipCode"/>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="col-xs-12 control-label new-service-form-label" for="contactCountry" translate="create.contact.address.country.label" style="padding:0;">Country</label>
                                <input type="text" class="form-control" id="contactCountry" ng-model="metadata.serviceContact.country"/>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div class="row bg-white form_service_md" style="padding-top: 20px;">
                <div class="col-sm-6" style="padding-left:30px;">
                    <!-- access constraints part -->
                    <fieldset>
                        <legend translate="create.accessconstraint.legend">Access constraints</legend>
                        <form class="form" role="form">
                            <div class="control-group row">
                                <label class="col-xs-12 control-label new-service-form-label" for="fees" translate="create.accessconstraint.fees.label" style="padding:0;  padding-left:15px;">Fees</label>
                                <div class="col-xs-11" style=" padding:0 15px; margin-bottom:7px;">
                                    <input id="fees" class="form-control" type="text" ng-model="metadata.serviceConstraints.fees"/>
                                </div>
                                <div class="btn-lg tooltipicon">
                                    <span type="button" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.service.create.fees' | translate }}" ></span>
                                </div>
                            </div>

                            <div class="control-group row">
                                <label class="col-xs-12 control-label new-service-form-label" for="accessConstraints" translate="create.accessconstraint.label" style="padding:0; padding-left:15px;">Access constraints</label>
                                <div class="col-xs-11" style="margin-bottom:7px; padding:0 15px;">
                                    <textarea rows="5" id="accessConstraints" class="form-control" ng-model="metadata.serviceConstraints.accessConstraint"></textarea>
                                </div>
                                <div class="btn-lg tooltipicon">
                                    <span type="button" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.service.create.contraints' | translate }}" ></span>
                                </div>
                            </div>

                            <div class="control-group" data-toggle="tooltip" title="{{'create.accessconstraint.layerlimit.tooltip' | translate }}" id="layerlimitGroup" style="height:59px;">
                                <label class="col-xs-12 control-label new-service-form-label" for="layerLimit" translate="create.accessconstraint.layerlimit.label" style="padding:0;">Layer limit</label>
                                <div class="col-xs-4" style="padding:0; margin-bottom:7px;">
                                    <input type="text" id="layerLimit" class="form-control" ng-model="metadata.serviceConstraints.layerLimit"/>
                                </div>
                                <div class="btn-lg tooltipicon">
                                    <span type="button" style="margin-left:15px;" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.service.create.layer' | translate }}" ></span>
                                </div>
                            </div>

                            <div class="control-group" data-toggle="tooltip" title="{{'create.accessconstraint.maxwidth.tooltip' | translate }}" id="maxWidthGroup" style="height:59px;">
                                <label class="control-label new-service-form-label col-xs-12 " for="maxWidth" translate="create.accessconstraint.maxwidth.label" style="padding:0;">Max width</label>
                                <div class="col-xs-4" style="padding:0; margin-bottom:7px;">
                                    <input type="text" id="maxWidth" class="form-control" ng-model="metadata.serviceConstraints.maxWidth"/>
                                </div>
                                <div class="btn-lg tooltipicon">
                                    <span type="button" style="margin-left:15px;" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.service.create.maxwidth' | translate }}" ></span>
                                </div>
                            </div>

                            <div class="control-group" data-toggle="tooltip" title="{{'create.accessconstraint.maxheight.tooltip' | translate }}" id="maxHeightGroup" style="height:59px;">
                                <label class="control-label new-service-form-label col-xs-12 " for="maxHeight" translate="create.accessconstraint.maxheight.label" style="padding:0;">Max height</label>
                                <div class="col-xs-4" style="padding:0; margin-bottom:7px;">
                                    <input type="text" id="maxHeight" class="form-control" ng-model="metadata.serviceConstraints.maxHeight"/>
                                </div>
                                <div class="btn-lg tooltipicon">
                                    <span type="button" style="margin-left:15px;" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.service.create.maxheight' | translate }}" ></span>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>


        <!--div ng-if="serviceRights">
            <div class="col-sm-11">
                <div style="padding-left:20px;">
                    <legend><span translate="service.rights">Service rights</span></legend>
                    <div class="col-sm-5">
                        <span class="searchicon glyphicon glyphicon-search" style="float:right; width:200px; right: 35px;">
                            <input type="text" ng-model="filter" class="form-control " maxlength="10">
                        </span>
                        <table class="table table-condensed table-striped table-bordered table-responsive user-table">
                            <thead>
                                <tr title="click to order">
                                    <td ng-click="predicate = 'roles'; reverse=!reverse"
                                        translate="service.rights.group.list">Liste des groupes</td>

                                </tr>
                            </thead>
                            <tr ng-click="details($index)" style='cursor:pointer'
                                ng-repeat="user in list | filter:filter | orderBy:predicate:reverse">
                                <td>{{group.name}}</td>
                                <td class="user-delete" style="width:20px;" ng-click="details($index)"><span class="glyphicon glyphicon-plus"></span></td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-sm-6 col-sm-offset-1">
                        <span>

                        </span>
                        <table class="table table-condensed table-striped table-bordered table-responsive user-table" style="margin-top: 34px;">
                            <thead>
                                <tr title="click to order">
                                    <td ng-click="predicate = 'roles'; reverse=!reverse"
                                        translate="service.rights.group.group">Groupes</td>
                                    <td translate="service.rights.group.read">Lecture</td>
                                    <td translate="service.rights.group.write">Ecriture</td>
                                </tr>
                            </thead>
                            <tr>
                                <td>Anonymous</td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td class="user-delete" style="width:20px;" ng-click="details($index)"><span class="glyphicon glyphicon-remove"></span></td>

                            </tr>
                            <tr ng-click="details($index)" style='cursor:pointer'
                                ng-repeat="user in list | filter:filter | orderBy:predicate:reverse">
                                <td>{{group.name}}</td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td class="user-delete" style="width:20px;" ng-click="details($index)"><span class="glyphicon glyphicon-remove"></span></td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div-->
        <div class="row bg-white">
            <div class="pull-right" style="margin: 20px 30px;">
                <button ng-if="serviceInfo" class="btn btn-add" type="button" ng-click="goToServiceContact()" translate="create.description.next.label" id="nextButton">Next</button>

                <button ng-if="serviceContact" class="btn btn-default" type="button" ng-click="goToServiceInfo()" translate="create.description.previous.label">Previous</button>
                <!--button ng-if="serviceContact" class="btn btn-add" type="button" ng-click="goToServiceRights()" translate="create.description.next.label" id="nextButton">Next</button-->
                <button ng-if="serviceContact" class="btn btn-add" type="button" ng-click="saveServiceMetadata()" translate="label.save" id="nextButton">Next</button>
                
                <button ng-if="serviceRights" class="btn btn-default" type="button" ng-click="goToServiceContact()" translate="create.description.previous.label">Previous</button>
                <button ng-if="serviceRights" class="btn btn-add" type="button" ng-click="saveServiceMetadata()" translate="label.save" id="saveButton">Save</button>
            </div>
        </div>
    </div>
</div>
