<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<body ng-app="cstlAdminApp">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="header" ng-controller="HeaderController">
    <div class="row" style="margin:0;">
        <div class="col-xs-2">
            <a href="#" class="brand"
               style="padding-bottom: 5px; padding-top: 5px"> <img id="brand"
                                                                   src="images/constellation-menu.png"
                                                                   alt="constellation-logo" />
            </a>
        </div>
        <div class="col-xs-10">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse nav-header">
            <ul class="nav nav-pills nav-header-mob pull-right">
                <li class="dropdown pointer" ng-controller="LanguageController">
                    <a class="dropdown-toggle" data-toggle="dropdown"> <span>
                                <span class="glyphicon glyphicon-flag"></span> <span
                            class="hidden-tablet" translate="global.menu.language">Language</span>
                                <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="en"><a
                                ng-click="changeLanguage(&apos;en&apos;)"><span
                                class="famfamfam-flag-gb"></span> &nbsp;<span
                                translate="global.language.en">English</span></a></li>
                        <li active-menu="fr"><a
                                ng-click="changeLanguage(&apos;fr&apos;)"><span
                                class="famfamfam-flag-fr"></span> &nbsp;<span
                                translate="global.language.fr">French</span></a></li>
                    </ul>
                </li>
            </ul>
            <ul ng-hide="authenticated" class="nav nav-pills pull-right">
                <li ng-hide="authenticated"><a href="/cstl-admin/" id="authenticateLink"><span
                        class="glyphicon glyphicon-log-in"></span> &nbsp;<span
                        translate="global.menu.account.login">Authenticate</span></a></li>
            </ul>
            <ul ng-show="authenticated" class="nav nav-pills nav-header-mob pull-right">
                <li><a href="#"> <span class="glyphicon glyphicon-home"></span>
                    <span translate="global.menu.home">Accueil</span>
                </a></li>
                <li><a ng-show="authenticated" href="#/webservice"> <span
                        class="glyphicon glyphicon-cloud"></span> <span
                        translate="global.menu.web-service">Services web</span>
                </a></li>
                <li><a href="#/data"> <span class="glyphicon glyphicon-file"></span>
                    <span translate="global.menu.data">Données</span>
                </a></li>
                <li><a href="#/styles"> <span class="glyphicon glyphicon-pencil"></span>
                    <span translate="global.menu.style">Styles</span>
                </a></li>
                <!--         <li><a href="#/viewer"> <span class="glyphicon glyphicon-picture"></span> -->
                <!--             <span translate="global.menu.viewer">visualiseur</span> -->
                <!--         </a></li> -->
                <li class="dropdown pointer"><a class="dropdown-toggle"
                                                data-toggle="dropdown"> <span> <span
                        class="glyphicon glyphicon-cog"></span> <span
                        class="hidden-tablet" translate="global.menu.admin.main">
                                    Administration</span> <b class="caret"></b>
                        </span>
                </a>
                    <ul class="dropdown-menu" ng-controller="MenuController">
                        <li ng-show="authenticated"><a href="#/user"><span
                                class="glyphicon glyphicon-user"></span> &nbsp;<span
                                translate="global.menu.admin.users">Users</span></a></li>
                        <li ng-show="authenticated"><a href="#/contact"><span
                                class="glyphicon glyphicon-envelope"></span> &nbsp;<span
                                translate="global.menu.admin.contact">Contact</span></a></li>
                        <li ng-show="authenticated"><a href="#/metrics"><span
                                class="glyphicon glyphicon-tasks"></span> &nbsp;<span
                                translate="global.menu.admin.metrics">Metrics</span></a></li>
                        <li ng-show="authenticated"><a href="#/process"><span
                                class="glyphicon glyphicon-wrench"></span> &nbsp;<span
                                translate="global.menu.admin.processes">Processes</span></a></li>
                        <li ng-show="authenticated"><a href="#/logs"><span
                                class="glyphicon glyphicon-list-alt"></span> &nbsp;<span
                                translate="global.menu.admin.logs">Logs</span></a></li>
                        <li ng-show="authenticated"><a href="{{cstlLogoutUrl}}"><span
                                class="glyphicon glyphicon-log-out"></span> &nbsp;<span
                                translate="global.menu.admin.logout">Log out</span></a></li>
                        <li ng-hide="authenticated"><a href="#/login"><span
                                class="glyphicon glyphicon-log-in"></span> &nbsp;<span
                                translate="global.menu.admin.login">Authenticate</span></a></li>
                    </ul></li>
            </ul>
        </div>
    </div>
    </div>
</div>





<div class="container" style="box-sizing: border-box" ng-view="">

</div>







<!-- build:js scripts/scripts.js -->
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script
        src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script
        src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="scripts/zeroclipboard/ZeroClipboard.min.js"></script>
<script src="scripts/http-auth-interceptor.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/ui-modal.js"></script>
<script src="scripts/jquery.growl.js"></script>
<script src="scripts/jquery.iframe-transport.js"></script>
<script src="scripts/jquery.ui.widget.js"></script>
<script src="scripts/jquery.fileupload.js"></script>
<script src="scripts/controllers.js"></script>
<script src="scripts/controller-style.js"></script>
<script src="scripts/controller-webservice.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/directives.js"></script>
<script src="scripts/openlayers-fix-wmts.js"></script>
<script src="scripts/openlayers-ext.js"></script>
<script src="scripts/cstl.data.viewer.js"></script>
<script src="scripts/cstl.viewer.wmts.js"></script>
<script src="scripts/cstl.netcdf.js"></script>
<script src="scripts/bootstrap-fileinput.min.js"></script>
<script src="scripts/bootstrap-datepicker.js"></script>
<script src="scripts/bootstrap-datepicker.fr.js"></script>
<script src="scripts/highlight.pack.js"></script>
<script src="scripts/angular-highlightjs.min.js"></script>
<script src="bower_components/angular-base64/angular-base64.js"></script>

<script src="bower_components/sass-bootstrap/js/affix.js"></script>
<script src="bower_components/sass-bootstrap/js/alert.js"></script>
<script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
<script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
<script src="bower_components/sass-bootstrap/js/modal.js"></script>
<script src="bower_components/sass-bootstrap/js/transition.js"></script>
<script src="bower_components/sass-bootstrap/js/button.js"></script>
<script src="bower_components/sass-bootstrap/js/popover.js"></script>
<script src="bower_components/sass-bootstrap/js/carousel.js"></script>
<script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
<script src="bower_components/sass-bootstrap/js/collapse.js"></script>
<script src="bower_components/sass-bootstrap/js/tab.js"></script>
<!-- endbuild -->
</body>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>cstl-admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/font-awesome.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/famfamfam-flags.css">
    <link rel="stylesheet" href="styles/bootstrap-fileinput.min.css">
    <link rel="stylesheet" href="styles/bootstrap-datepicker.css">
    <link rel="stylesheet" href="styles/github.min.css">

    <!-- endbuild -->
</head>
</html>
