<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>cstl-admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- TU TOUCHES PAS LE TRUC du commentaire build CSS-->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/font-awesome.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/famfamfam-flags.css">
    <link rel="stylesheet" href="styles/bootstrap-fileinput.min.css">
    <link rel="stylesheet" href="styles/bootstrap-datepicker.css">
    <link rel="stylesheet" href="styles/github.min.css">
    <link rel="stylesheet" href="styles/bootstrap-datetimepicker.css">
    <!-- endbuild -->
    <!-- TU TOUCHES PAS LE TRUC du commentaire build CSS-->



</head>
<body ng-app="cstlIndexApp">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="header" ng-controller="HeaderController">
    <div class="row" style="margin:0;">
        <div class="col-xs-1 ng-cloak">
            <a href="#" class="brand" style="padding-bottom: 5px; padding-top: 5px">
                <img id="brand" src="images/constellation-menu.png"/>
            </a>
        </div>
        <div class="col-xs-11">
            <div class="navbar-header  ng-cloak">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse nav-header  ng-cloak">
                <ul class="nav nav-pills nav-header-mob pull-right">
                    <li class="dropdown pointer" ng-controller="LanguageController">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span>
                                <span class="glyphicon glyphicon-flag"></span>
                                <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                <b class="caret"></b>
                            </span>
                        </a>
                        <ul class="dropdown-menu" style="font-size: 13px;margin-left: -35px;">
                            <li active-menu="en">
                                <a ng-click="changeLanguage('en')">
                                    <span class="famfamfam-flag-gb"></span> &nbsp;
                                    <span translate="global.language.en">English</span>
                                </a>
                            </li>
                            <li active-menu="fr">
                                <a ng-click="changeLanguage('fr')">
                                    <span class="famfamfam-flag-fr"></span> &nbsp;
                                    <span translate="global.language.fr">French</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav nav-pills pull-right">
                    <li >
                        <a href="{{cstlLoginUrl}}" id="authenticateLink">
                            <span class="glyphicon glyphicon-log-in"></span> &nbsp;
                            <span translate="global.menu.account.login">Authenticate</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container" style="box-sizing: border-box" ng-view="">

</div>
<!-- TU TOUCHES PAS LE TRUC du commentaire build JS-->

<!-- build:js scripts/scripts.js -->
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="scripts/http-auth-interceptor.js"></script>
<script src="scripts/index.js"></script>
<script src="scripts/index/controllers.js"></script>
<script src="scripts/index/services.js"></script>
<script src="scripts/index/directives.js"></script>

<script src="bower_components/sass-bootstrap/js/affix.js"></script>
<script src="bower_components/sass-bootstrap/js/alert.js"></script>
<script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
<script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
<script src="bower_components/sass-bootstrap/js/modal.js"></script>
<script src="bower_components/sass-bootstrap/js/transition.js"></script>
<script src="bower_components/sass-bootstrap/js/button.js"></script>
<script src="bower_components/sass-bootstrap/js/popover.js"></script>
<script src="bower_components/sass-bootstrap/js/carousel.js"></script>
<script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
<script src="bower_components/sass-bootstrap/js/collapse.js"></script>
<script src="bower_components/sass-bootstrap/js/tab.js"></script>

<script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
<script src="bower_components/angular-ui-ace/ui-ace.js"></script>
<!-- endbuild -->
<!-- TU TOUCHES PAS LE TRUC du commentaire build JS-->

</body>

</html>
