<div class="modal-dialog modal-dialog-resp-height modal-dialog-sld">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title" translate="mapcontext.modal.title">Add map context</h4>
        </div>
        <div class="modal-body modal-body-style" style="overflow-y: auto;">
            <div ng-if="mode.display==='general' || mode.display==='addChooseStyle'">
                <!-- Left part -->
                <div class="col-sm-6">
                    <!-- General mode -->
                    <div class="row" ng-if="mode.display==='general'">
                        <ul class="nav nav-tabs">
                            <li id="infoTab" ng-class="{active:mode.selTab==='tabInfo'}">
                                <a ng-click="mode.selTab='tabInfo'" data-toggle="tab"><span translate="mapcontext.modal.tab.info">Information</span></a>
                            </li>
                            <li id="descriptionTab" ng-class="{active:mode.selTab==='tabLayers'}">
                                <a ng-click="mode.selTab='tabLayers'" data-toggle="tab"><span translate="mapcontext.modal.tab.layers">Layers</span></a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <!-- Tab map context information -->
                            <div class="tab-pane block-border" ng-class="{active:mode.selTab==='tabInfo'}">
                                <form class="form-horizontal form-style" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-4 col-md-3 control-label" translate="mapcontext.modal.label.name">Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="ctxt.name"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 col-md-3 control-label" translate="mapcontext.modal.label.description">Description</label>
                                        <div class="col-sm-8">
                                            <textarea rows="5" class="form-control" ng-model="ctxt.description"></textarea>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="form-group">
                                        <label class="col-sm-4 col-md-3 control-label" translate="mapcontext.modal.label.crs">CRS</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="ctxt.crs"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 col-md-3 control-label" translate="mapcontext.modal.label.envelope">Envelope</label>
                                        <div class="col-sm-8">
                                            <div class="row" style="margin-bottom: 5px;">
                                                <div class="col-sm-offset-3 col-sm-6">
                                                    <input type="text" class="form-control" ng-model="ctxt.north" placeholder="{{'label.north.first.letter' | translate}}"/>
                                                </div>
                                                <div class="col-sm-offset-1 col-sm-2">
                                                    <button class="btn btn-add" type="button" ng-click="applyExtent()" title="{{'' | translate}}">
                                                        <i class="glyphicon glyphicon-arrow-left"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-bottom: 5px;">
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" ng-model="ctxt.west" placeholder="{{'label.west.first.letter' | translate}}"/>
                                                </div>

                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" ng-model="ctxt.east" placeholder="{{'label.east.first.letter' | translate}}"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-offset-3 col-sm-6">
                                                    <input type="text" class="form-control" ng-model="ctxt.south" placeholder="{{'label.south.first.letter' | translate}}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="form-group">
                                        <label class="col-sm-4 col-md-3 control-label" translate="mapcontext.modal.label.keywords">Keywords</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="ctxt.keywords"/>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- Tab layers list -->
                            <div class="tab-pane block-border" ng-class="{active:mode.selTab==='tabLayers'}">
                                <div class="row dash-inner" ng-class="{'border-bottom':layers.toAdd.length > 0}">
                                    <div class="col-sm-6">
                                        <h3 translate="layer.listing.title">Layers list</h3>
                                    </div>
                                    <div class="col-sm-offset-1 col-sm-5">
                                        <button type="button" class="btn btn-add form-control" ng-click="goToAddLayerToContext()">
                                            <span class="icon-plus icon-white" style="margin-right:5px;"></span>
                                            <span translate="mapcontext.modal.add.layer">Add layer</span>
                                        </button>
                                    </div>
                                </div>

                                <div ng-if="layers.toAdd">
                                    <div class="dash-inner row dashboard" ng-init="small=false">
                                        <div data-role="list">
                                            <div class="item-list">
                                                <div ng-repeat="layerToAdd in layers.toAdd" ng-click="selectItem(layerToAdd)">
                                                    <div class="row">
                                                        <div class="col-xs-1" style="padding-top:35px;">
                                                            <!-- Visibility -->
                                                            <input type="checkbox" ng-model="layerToAdd.visible" ng-change="changeVisibility(layerToAdd)">
                                                        </div>
                                                        <div class="col-xs-9 no-padding">
                                                            <div class="item" ng-class="{'selected':layerToAdd===selected.item,coverage:layerToAdd.layer.Type.toUpperCase()==='coverage'.toUpperCase(),vector:layerToAdd.layer.Type.toUpperCase()==='observation-store'.toUpperCase()||layerToAdd.layer.Type.toUpperCase()==='vector'.toUpperCase()}">
                                                                <div class="top">
                                                                    <span class="item-title" title="{{layerToAdd.layer.Name}}">{{layerToAdd.layer.Name}}</span>
                                                                    <span class="pull-right text-right item-list-style">{{layerToAdd.layer.Type==='coverage'?'raster':layerToAdd.layer.Type==='feature-store'?'vector':layerToAdd.layer.Type==='observation-store'?'vector':layerToAdd.layer.Type}}</span>
                                                                    <img ng-if="layerToAdd.layer.Type=='VECTOR'  && (layerToAdd.layer.Subtype=='Point' || layerToAdd.layer.Subtype=='MultiPoint')"
                                                                         src="images/vector-multipoint.svg"
                                                                         class="pull-right"
                                                                         style="margin-top:6px; margin-right:10px;" />
                                                                    <img ng-if="layerToAdd.layer.Subtype=='Geometry'"
                                                                         src="images/vector-multigeometry.svg"
                                                                         class="pull-right"
                                                                         style="margin-top:6px; margin-right:10px; width:22px" />
                                                                    <img ng-if="layerToAdd.layer.Type=='VECTOR'  && (layerToAdd.layer.Subtype=='Polygon' || layerToAdd.layer.Subtype=='MultiPolygon')"
                                                                         src="images/vector-poly.svg"
                                                                         class="pull-right"
                                                                         style="margin-top:6px; margin-right:10px;" />
                                                                    <img ng-if="layerToAdd.layer.Type=='VECTOR'  && (layerToAdd.layer.Subtype=='LineString' || layerToAdd.layer.Subtype=='MultiLineString')"
                                                                         src="images/vector-polyline.svg"
                                                                         class="pull-right"
                                                                         style="margin-top:6px; margin-right:10px;" />
                                                                </div>
                                                                <div class="bottom">
                                                                    <div class="block">
                                                                        <i class="icon-calendar"></i>{{layerToAdd.layer.Date | date:'yyyy-MM-dd'}}
                                                                    </div>
                                                                    <div class="block">
                                                                        <i class="icon-user"></i>{{layerToAdd.layer.Owner}}
                                                                    </div>
                                                                    <div class="block">
                                                                        <i class="glyphicon glyphicon-pencil"></i>{{layerToAdd.layer.styleName}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1 no-padding">
                                                            <div class="btn btn-sm" popover-placement="left" popover="{{viewLayerInfo(layerToAdd)}}" popover-trigger="mouseenter" style="margin-top:15px;">
                                                                <span class="glyphicon glyphicon-info-sign"></span>
                                                            </div>
                                                            <!-- Delete -->
                                                            <div class="btn btn-sm" ng-click="deleteMapItem(layerToAdd)">
                                                                <span class="glyphicon glyphicon-trash"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1 no-padding" style="padding-top:12px;">
                                                            <!-- Order -->
                                                            <a class="btn btn-sm" ng-click="orderUp($index)" style="padding:5px;margin-bottom:3px;">
                                                                <span class="glyphicon glyphicon-chevron-up"></span>
                                                            </a>
                                                            <a class="btn btn-sm" ng-click="orderDown($index)" style="padding:5px;">
                                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div ng-if="selected.item === layerToAdd" class="row child">
                                                        <div class="col-xs-3 no-padding">
                                                            <span translate="sldeditor.edition.opacity">Opacity</span>
                                                        </div>
                                                        <div class="col-xs-6 no-padding">
                                                            <rzslider rz-slider-floor="0" rz-slider-ceil="100"
                                                                      rz-slider-model="layerToAdd.layer.opacity" rz-slider-step="1" ng-click="updateOpacity(layerToAdd)">
                                                            </rzslider>
                                                        </div>
                                                        <div class="col-xs-1" style="margin-left:17px;">
                                                            <!-- Edition -->
                                                            <div class="btn btn-sm" ng-click="goToStyleMapItem(layerToAdd)">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Add mode, choose style for a map item -->
                    <div ng-if="mode.display==='addChooseStyle'">
                        <div class="dash-inner row dashboard" ng-init="small=false">
                            <div data-role="list">
                                <div class="item-list">
                                    <div ng-repeat="styleItem in styles.existing" class="row">
                                        <div class="item style-{{styleItem.Type | lowercase}}"
                                             ng-class="{selected: styles.selected===styleItem}"
                                             ng-click="selectStyle(styleItem)">
                                            <div class="top">
                                                <span class="item-title" title="{{styleItem.Name}}">{{styleItem.Name}}</span>
                                                <span class="pull-right text-right item-list-style">{{styleItem.Type}}</span>
                                            </div>
                                            <div class="bottom">
                                                <div class="block">
                                                    <i class="icon-calendar"></i>{{styleItem.Date | date:'yyyy-MM-dd'}}
                                                </div>
                                                <div class="block">
                                                    <i class="icon-user"></i>{{styleItem.Owner}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Right part -->
                <div class="col-sm-6" ng-init="viewMap(true)">
                    <div id="mapContextMap" style="height: 460px; width:460px; margin-top: 38px; border: 1px solid #DDD;"/>
                </div>
            </div>

            <!-- Add mode, choose kind of source -->
            <div ng-if="mode.display==='addChooseSource'">
                <div class="row well title-form-blue">
                    <span translate="mapcontext.modal.select.source">Select your layer source</span>
                </div>
                <div>
                    <input type="radio" ng-model="mode.source" value="interne"><span translate="mapcontext.modal.label.internal">Internal</span>
                </div>
                <div>
                    <input type="radio" ng-model="mode.source" value="externe"><span translate="mapcontext.modal.label.external">External</span>
                </div>
            </div>

            <!-- Choose a layer to add -->
            <div class="row" ng-if="mode.display==='chooseLayer'">
                <div ng-if="mode.source==='interne'" ng-init="initInternalWmsServices()">
                    <div class="dashboard">
                        <div class="col-xs-8">
                            <div ng-repeat="serviceLayers in servicesLayers" class="services-layers-dashboard">
                                <div class="title">
                                    <i class="icon-chevron-down"></i>
                                    <span>Service {{serviceLayers.name}}</span>
                                </div>
                                <div class="dash-inner row dashboard" ng-init="small=false">
                                    <div data-role="list">
                                        <div class="item-list">
                                            <div class="item" ng-repeat="layer in serviceLayers.layers" ng-class="{selected:layer==selected.layer,coverage:layer.Type.toUpperCase()==='coverage'.toUpperCase()||layer.Type.toUpperCase()==='raster'.toUpperCase(),vector:layer.Type.toUpperCase()==='observation-store'.toUpperCase()||layer.Type.toUpperCase()==='vector'.toUpperCase(), 'col-xs-6':small==true}" ng-click="select(layer, serviceLayers)">
                                                <div class="top">
                                                    <span class="item-title" title="{{layer.Name}}">{{layer.Name}}</span>
                                                    <span class="pull-right text-right item-list-style">{{layer.Type==='coverage'?'raster':layer.Type==='feature-store'?'vector':layer.Type==='observation-store'?'vector':layer.Type}}</span>
                                                    <img ng-if="layer.Type=='VECTOR'  && (layer.Subtype=='Point' || layer.Subtype=='MultiPoint') && layer!=selected.layer"
                                                         src="images/vector-multipoint.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px;" />
                                                    <img ng-if="layer.Subtype=='Geometry' && layer!=selected.layer"
                                                         src="images/vector-multigeometry.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px; width:22px" />
                                                    <img ng-if="layer.Type=='VECTOR'  && (layer.Subtype=='Polygon' || layer.Subtype=='MultiPolygon') && layer!=selected.layer"
                                                         src="images/vector-poly.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px;" />
                                                    <img ng-if="layer.Type=='VECTOR'  && (layer.Subtype=='LineString' || layer.Subtype=='MultiLineString') && layer!=selected.layer"
                                                         src="images/vector-polyline.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px;" />
                                                    <img ng-if="layer.Type=='VECTOR' && (layer.Subtype=='Point' || layer.Subtype=='MultiPoint') && layer==selected.layer"
                                                         src="images/vector-multipoint-selected.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px;" />
                                                    <img ng-if="layer.Type=='VECTOR' && (layer.Subtype=='Polygon' || layer.Subtype=='MultiPolygon') && layer==selected.layer"
                                                         src="images/vector-poly-selected.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px;" />
                                                    <img ng-if="layer.Subtype=='Geometry' && layer==selected.layer"
                                                         src="images/vector-multigeometry-selected.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px; width:22px" />
                                                    <img ng-if="layer.Type=='VECTOR'  && (layer.Subtype=='LineString' || layer.Subtype=='MultiLineString') && layer==selected.layer"
                                                         src="images/vector-polyline-selected.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px;" />
                                                </div>
                                                <div class="bottom">
                                                    <div class="block">
                                                        <i class="icon-calendar"></i>{{layer.Date | date:'yyyy-MM-dd'}}
                                                    </div>
                                                    <div class="block">
                                                        <i class="icon-user"></i>{{layer.Owner}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div id="selectionLayer">
                                <div class="alert alert-info alert-data" ng-show="selected.layer == null">
                                    <h4 translate="label.no.selected.data">No selected data</h4>

                                    <p translate="msg.no.selected.data" style="font-weight:normal;">Click on a data to display more information</p>
                                </div>
                                <div class="selected-item" id="selected-item" ng-hide="selected.layer == null">
                                    <div class="block-header" ng-click="toggleUpDownSelected()">
                                        <strong class="item-title title-bloc-service" title="{{selected.layer.Name}}">{{selected.layer.Name}}</strong><i class="icon-chevron-down pull-right"></i>
                                    </div>
                                    <div class="block-content">
                                        <h6>Service</h6>
                                        <span>{{selected.service.name}}</span>

                                        <div class="separator"></div>
                                        <h6 translate="label.owner">Owner</h6>
                                        <span>{{selected.layer.Owner}}</span>

                                        <div class="separator"></div>
                                        <h6 translate="label.date">Date</h6>
                                        <span>{{selected.layer.Date | date:'yyyy-MM-dd'}}</span>

                                        <div class="separator"></div>
                                        <h6 translate="label.type">Type</h6>
                                        <span>{{selected.layer.Type==='coverage'?'raster':selected.layer.Type==='feature-store'?'vector':selected.layer.Type==='observation-store'?'vector':selected.layer.Type.toLowerCase()}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="mode.source==='externe'">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-2">
                                <label class="control-label" translate="service.menu.url.label">Service URL</label>
                            </div>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" ng-model="external.serviceUrl"/>
                            </div>
                            <div class="col-xs-2">
                                <button type="button" class="btn" ng-click="searchAndDisplayWmsLayers()">
                                    <span translate="label.validate">Validate</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="mode.dispWmsLayers" style="margin-top:15px;">
                        <div class="dashboard">
                            <div class="col-xs-8">
                                <div data-role="list">
                                    <div class="item-list">
                                        <div class="item coverage" ng-repeat="extLayer in external.layers" ng-class="{selected:extLayer==selected.extLayer}"
                                             ng-click="selectExtLayer(extLayer)">
                                            <div class="top">
                                                <span class="item-title" title="{{extLayer.name}}">{{extLayer.name}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div id="selectionExtLayer">
                                    <div class="alert alert-info alert-data" ng-show="selected.extLayer == null">
                                        <h4 translate="label.no.selected.data">No selected data</h4>

                                        <p translate="msg.no.selected.data" style="font-weight:normal;">Click on a data to display more information</p>
                                    </div>
                                    <div class="selected-item" ng-hide="selected.extLayer == null">
                                        <div class="block-header" ng-click="toggleUpDownExtSelected()">
                                            <strong class="item-title title-bloc-service" title="{{selected.extLayer.name}}">{{selected.extLayer.name}}</strong><i class="icon-chevron-down pull-right"></i>
                                        </div>
                                        <div class="block-content">
                                            <h6>Name</h6>
                                            <span>{{selected.extLayer.name}}</span>

                                            <div class="separator"></div>
                                            <h6>Styles</h6>
                                            <div ng-repeat="style in selected.extLayer.styles">
                                                <div>{{style.name}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="cancelButton" class="btn btn-default" ng-click="cancel()" translate="mapcontext.modal.cancel">Cancel</button>
            <button type="button" id="submitButton" class="btn btn-add" ng-click="validate()" translate="mapcontext.modal.validate">Validate</button>
        </div>
    </div>
</div>
