<div class="modal-dialog modal-dialog-resp-height modal-dialog-sld">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title" translate="mapcontext.modal.title">Add map context</h4>
        </div>
        <div class="modal-body modal-body-style" style="overflow-y: auto;" ng-init="selTab='tabInfo';">
            <!-- General mode -->
            <div class="row" ng-if="mode.display==='general'">
                <!-- Left part -->
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <ul class="nav nav-tabs">
                        <li id="infoTab" class="active">
                            <a ng-click="selTab='tabInfo'" data-toggle="tab"><span translate="mapcontext.modal.tab.info">Information</span></a>
                        </li>
                        <li id="descriptionTab">
                            <a ng-click="selTab='tabLayers'" data-toggle="tab"><span translate="mapcontext.modal.tab.layers">Layers</span></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <!-- Tab map context information -->
                        <div class="tab-pane block-border" ng-class="{active:selTab==='tabInfo'}">
                            <form class="form-horizontal form-style" role="form">
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-3 control-label" translate="mapcontext.modal.label.name">Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="ctxt.name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-3 control-label" translate="mapcontext.modal.label.description">Description</label>
                                    <div class="col-sm-8">
                                        <textarea rows="5" class="form-control" ng-model="ctxt.description"></textarea>
                                    </div>
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-3 control-label" translate="mapcontext.modal.label.crs">CRS</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="ctxt.crs"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-3 control-label" translate="mapcontext.modal.label.envelope">Envelope</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" ng-model="ctxt.west" placeholder="{{'label.west.first.letter' | translate}}"/>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" ng-model="ctxt.north" placeholder="{{'label.north.first.letter' | translate}}"/>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" ng-model="ctxt.east" placeholder="{{'label.east.first.letter' | translate}}"/>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" ng-model="ctxt.south" placeholder="{{'label.south.first.letter' | translate}}"/>
                                    </div>
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-3 control-label" translate="mapcontext.modal.label.keywords">Keywords</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="ctxt.keywords"/>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Tab layers list -->
                        <div class="tab-pane block-border" ng-class="{active:selTab==='tabLayers'}">
                            <div class="row dash-inner" ng-class="{'border-bottom':layers.toAdd.length > 0}">
                                <div class="col-sm-6">
                                    <h3 translate="layer.listing.title">Layers list</h3>
                                </div>
                                <div class="col-sm-offset-1 col-sm-5">
                                    <button type="button" class="btn btn-primary form-control" ng-click="addLayerToContext()">
                                        <span translate="mapcontext.modal.add.layer">Add layer</span>
                                    </button>
                                </div>
                            </div>

                            <div ng-if="layers.toAdd">
                                <!--div class="dash-inner row">
                                    <div class="col-xs-1">Visible</div>
                                    <div class="col-xs-offset2 col-xs-7 no-padding">Layers</div>
                                    <div class="col-xs-1">Edit</div>
                                    <div class="col-xs-1">Order</div>
                                </div-->
                                <div class="dash-inner row dashboard" ng-init="small=false">
                                    <div data-role="list">
                                        <div class="item-list">
                                            <div ng-repeat="layerToAdd in layers.toAdd" class="row">
                                                <div class="col-xs-1" style="padding-top:35px;">
                                                    <!-- Visibility -->
                                                    <input type="checkbox" ng-model="layerToAdd.visible">
                                                </div>
                                                <div class="col-xs-9 no-padding">
                                                    <div class="item" ng-class="{coverage:layerToAdd.layer.Type.toUpperCase()==='coverage'.toUpperCase(),vector:layerToAdd.layer.Type.toUpperCase()==='observation-store'.toUpperCase()||layerToAdd.layer.Type.toUpperCase()==='vector'.toUpperCase()}">
                                                        <div class="top">
                                                            <span class="item-title" title="{{layerToAdd.layer.Name}}">{{layerToAdd.layer.Name}}</span>
                                                            <span class="pull-right text-right item-list-style">{{layerToAdd.layer.Type==='coverage'?'raster':layerToAdd.layer.Type==='feature-store'?'vector':layerToAdd.layer.Type==='observation-store'?'vector':layerToAdd.layer.Type}}</span>
                                                            <img ng-if="layerToAdd.layer.Type=='VECTOR'  && (layerToAdd.layer.Subtype=='Point' || layerToAdd.layer.Subtype=='MultiPoint')"
                                                                 src="images/vector-multipoint.svg"
                                                                 class="pull-right"
                                                                 style="margin-top:6px; margin-right:10px;" />
                                                            <img ng-if="layerToAdd.layer.Subtype=='Geometry'"
                                                                 src="images/vector-multigeometry.svg"
                                                                 class="pull-right"
                                                                 style="margin-top:6px; margin-right:10px; width:22px" />
                                                            <img ng-if="layerToAdd.layer.Type=='VECTOR'  && (layerToAdd.layer.Subtype=='Polygon' || layerToAdd.layer.Subtype=='MultiPolygon')"
                                                                 src="images/vector-poly.svg"
                                                                 class="pull-right"
                                                                 style="margin-top:6px; margin-right:10px;" />
                                                            <img ng-if="layerToAdd.layer.Type=='VECTOR'  && (layerToAdd.layer.Subtype=='LineString' || layerToAdd.layer.Subtype=='MultiLineString')"
                                                                 src="images/vector-polyline.svg"
                                                                 class="pull-right"
                                                                 style="margin-top:6px; margin-right:10px;" />
                                                        </div>
                                                        <div class="bottom">
                                                            <div class="block">
                                                                <i class="icon-calendar"></i>{{layerToAdd.layer.Date | date:'yyyy-MM-dd'}}
                                                            </div>
                                                            <div class="block">
                                                                <i class="icon-user"></i>{{layerToAdd.layer.Owner}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-1 no-padding" style="padding-top:12px;">
                                                    <a class="btn btn-default btn-sm" ng-click="editMapItem()" style="padding:5px;margin-bottom:3px;">
                                                        <span class="glyphicon glyphicon-info-sign"></span>
                                                    </a>
                                                    <!-- Edition -->
                                                    <a class="btn btn-default btn-sm" ng-click="styleMapItem()" style="padding:5px;">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-1 no-padding" style="padding-top:12px;">
                                                    <!-- Order -->
                                                    <a class="btn btn-sm" ng-click="orderUp()" style="padding:5px;margin-bottom:3px;">
                                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                                    </a>
                                                    <a class="btn btn-sm" ng-click="orderDown()" style="padding:5px;">
                                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right part -->
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <span translate="label.preview"></span>
                    </div>
                    <div id="mapContextMap" class="col-sm-6" style="height: 500px; width:100%;padding: 0;"/>
                </div>
            </div>

            <!-- Add mode, choose kind of source -->
            <div ng-if="mode.display==='addChooseSource'">
                <div class="row well title-form-blue">
                    <span translate="mapcontext.modal.select.source">Select your layer source</span>
                </div>
                <div>
                    <input type="radio" ng-model="mode.source" value="interne"><span translate="mapcontext.modal.label.internal">Internal</span>
                </div>
                <div>
                    <input type="radio" ng-model="mode.source" value="externe"><span translate="mapcontext.modal.label.external">External</span>
                </div>
            </div>

            <!-- Choose a layer to add -->
            <div class="row" ng-if="mode.display==='chooseLayer'">
                <div ng-if="mode.source==='interne'" ng-init="initInternalWmsServices()">
                    <div class="dashboard">
                        <div class="col-xs-8">
                            <div ng-repeat="serviceLayers in servicesLayers" class="services-layers-dashboard">
                                <div class="title">
                                    <i class="icon-chevron-down"></i>
                                    <span>Service {{serviceLayers.name}}</span>
                                </div>
                                <div class="dash-inner row dashboard" ng-init="small=false">
                                    <div data-role="list">
                                        <div class="item-list">
                                            <div class="item" ng-repeat="layer in serviceLayers.layers" ng-class="{selected:layer==selected.layer,coverage:layer.Type.toUpperCase()==='coverage'.toUpperCase()||layer.Type.toUpperCase()==='raster'.toUpperCase(),vector:layer.Type.toUpperCase()==='observation-store'.toUpperCase()||layer.Type.toUpperCase()==='vector'.toUpperCase(), 'col-xs-6':small==true}" ng-click="select(layer, serviceLayers)">
                                                <div class="top">
                                                    <span class="item-title" title="{{layer.Name}}">{{layer.Name}}</span>
                                                    <span class="pull-right text-right item-list-style">{{layer.Type==='coverage'?'raster':layer.Type==='feature-store'?'vector':layer.Type==='observation-store'?'vector':layer.Type}}</span>
                                                    <img ng-if="layer.Type=='VECTOR'  && (layer.Subtype=='Point' || layer.Subtype=='MultiPoint') && layer!=selected.layer"
                                                         src="images/vector-multipoint.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px;" />
                                                    <img ng-if="layer.Subtype=='Geometry' && layer!=selected.layer"
                                                         src="images/vector-multigeometry.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px; width:22px" />
                                                    <img ng-if="layer.Type=='VECTOR'  && (layer.Subtype=='Polygon' || layer.Subtype=='MultiPolygon') && layer!=selected.layer"
                                                         src="images/vector-poly.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px;" />
                                                    <img ng-if="layer.Type=='VECTOR'  && (layer.Subtype=='LineString' || layer.Subtype=='MultiLineString') && layer!=selected.layer"
                                                         src="images/vector-polyline.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px;" />
                                                    <img ng-if="layer.Type=='VECTOR' && (layer.Subtype=='Point' || layer.Subtype=='MultiPoint') && layer==selected.layer"
                                                         src="images/vector-multipoint-selected.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px;" />
                                                    <img ng-if="layer.Type=='VECTOR' && (layer.Subtype=='Polygon' || layer.Subtype=='MultiPolygon') && layer==selected.layer"
                                                         src="images/vector-poly-selected.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px;" />
                                                    <img ng-if="layer.Subtype=='Geometry' && layer==selected.layer"
                                                         src="images/vector-multigeometry-selected.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px; width:22px" />
                                                    <img ng-if="layer.Type=='VECTOR'  && (layer.Subtype=='LineString' || layer.Subtype=='MultiLineString') && layer==selected.layer"
                                                         src="images/vector-polyline-selected.svg"
                                                         class="pull-right"
                                                         style="margin-top:6px; margin-right:10px;" />
                                                </div>
                                                <div class="bottom">
                                                    <div class="block">
                                                        <i class="icon-calendar"></i>{{layer.Date | date:'yyyy-MM-dd'}}
                                                    </div>
                                                    <div class="block">
                                                        <i class="icon-user"></i>{{layer.Owner}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div id="selection">
                                <div class="alert alert-info alert-data" ng-show="selected.layer == null">
                                    <h4 translate="label.no.selected.data">No selected data</h4>

                                    <p translate="msg.no.selected.data" style="font-weight:normal;">Click on a data to display more information</p>
                                </div>
                                <div class="selected-item" id="selected-item" ng-hide="selected.layer == null">
                                    <div class="block-header" ng-click="toggleUpDownSelected()">
                                        <strong class="item-title title-bloc-service" title="{{selected.layer.Name}}">{{selected.layer.Name}}</strong><i class="icon-chevron-down pull-right"></i>
                                    </div>
                                    <div class="block-content">
                                        <h6>Service</h6>
                                        <span>{{selected.service.name}}</span>

                                        <div class="separator"></div>
                                        <h6 translate="label.owner">Owner</h6>
                                        <span>{{selected.layer.Owner}}</span>

                                        <div class="separator"></div>
                                        <h6 translate="label.date">Date</h6>
                                        <span>{{selected.layer.Date | date:'yyyy-MM-dd'}}</span>

                                        <div class="separator"></div>
                                        <h6 translate="label.type">Type</h6>
                                        <span>{{selected.layer.Type==='coverage'?'raster':selected.layer.Type==='feature-store'?'vector':selected.layer.Type==='observation-store'?'vector':selected.layer.Type.toLowerCase()}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="mode.source==='externe'">
                    Work in progress ...
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="cancelButton" class="btn btn-default" ng-click="close()" translate="mapcontext.modal.cancel">Cancel</button>
            <button type="button" id="submitButton" class="btn btn-primary" ng-click="validate()" translate="mapcontext.modal.validate">Validate</button>
        </div>
    </div>
</div>
