* {
    margin:0pt;
}

h3 {
    background-image: url(../img/title.png);
    background-repeat: no-repeat;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
}

a.button {
    background: transparent url('../img/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('../img/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

.content {
    border:1px ridge #aaaaaa;
    padding:10px;
}

.list {height:250px;overflow:auto;border:1px solid gray;background:Linen none repeat scroll 0 0;}

.colclasse{vertical-align:top;}

.col1{vertical-align:top;background-color:#F5F5F5;border:2px ridge #fff;font-size:13px;font-family:fantasy;}
.col2{border:2px ridge #FFFFFF;vertical-align:top;}
.listcontent{font-size:12px;font-family:fantasy;color:LimeGreen;}