<div class="modal-dialog modal-dialog-resp-height">
    <div class="modal-content">
        <div class="modal-header">
            <h4>
                <i style="margin-right:4px" class="fa fa-warning"></i>
                <span translate="idle.title.timedout">You've been logged out due to inactivity!</span>
            </h4>
        </div>
        <div class="modal-body">
            <p style="float: left;"
               translate="idle.title.gotologin">
                Go to login page
            </p>
            <button type="submit"
                    class="btn btn-default"
                    style="margin-top: -10px;margin-left: 30px;"
                    translate="idle.title.click.here"
                    onclick="window.location.href='login.html';">Click here</button>
        </div>
    </div>
</div>
