.header {
    color: white;
    background-color: black;
}


.error {
    color: white;
    background-color: red;
}

.logo-wrapper {
    margin-bottom: 15px;
    margin-top: 15px;
}

.logo-wrapper img {
    height: 68px;
    max-height: 68px;
}

