<div class="logo-wrapper row">
    <div class="col-sm-3">
        <a href="#"><img src="img/constellation.png"></a>
    </div>
</div>

<div class="row">
    <div class="row bg-white">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="brand" translate="data.information.page.title">Data information</div>
                <div class="brand pull-right">{{provider}}</div>
            </div>
        </div>
    </div>
    <div class="row bg-white" style="padding-bottom:30px;">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li id="requiredISO19115Tab" ng-show="missing" ng-class="{active:tabiso}">
                    <a ng-click="selectTab('tabiso')" data-toggle="tab"><span translate="data.information.tab.missing.title">Missing metadata</span></a>
                </li>
                <li id="crsTab" ng-show="type=='vector'" ng-class="{active:tabcrs}">
                    <a ng-click="selectTab('tabcrs')" data-toggle="tab">CRS</a>
                </li>
                <li id="descriptionTab" ng-hide="missing" ng-class="{active:tabdesc}" >
                    <a ng-click="selectTab('tabdesc')" data-toggle="tab"><span translate="data.information.tab.title"></span></a>
                </li>
                <li id="sensorInfoTab" ng-show="type=='observation'" ng-class="{active:tabsensorinfo}">
                    <a ng-click="selectTab('tabsensorinfo')" data-toggle="tab">Sensor information</a>
                </li>
                <li id="imageInfoTab" ng-show="type=='raster'" ng-class="{active:tabimageinfo}">
                    <a ng-click="selectTab('tabimageinfo')" data-toggle="tab"><span translate="metadata.information.tab.title">Picture metadata</span></a>
                </li>
            </ul>
            
            <div style="margin-top:20px;">
                <div class="tab-pane" ng-class="{active:tabiso}" ng-show="tabiso">
                    <div class="alert alert-data" style="margin-top:20px;" translation="label.fields.required"> Tous les champs sont obligatoires</div>
                    <div class="row">
                        <form name="form" style="margin-top:20px;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="title" translate="md.iso.title">Title</label>
                                    <input type="text" class="form-control" ng-model="metadata.title" id="title" required/>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="abstract" translate="md.iso.abstract">Abstract</label>
                                    <textarea class="form-control" ng-model="metadata.anAbstract" id="abstract" rows="5" required></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="keywords" translate="md.iso.keywords">Keywords</label>
                                    <div class="tag-input-ctn">
                                        <div data-ng-repeat="(key, tag) in metadata.keywords" class="input-tag">
                                            {{ tag }}
                                            <div class="delete-tag" data-ng-click="deleteTag(key)">&times;</div>
                                        </div>
                                        <input type="text" data-tag-input="" data-ng-model="tagText" data-new-tag="addTag()" data-delete-tag="deleteTag()">
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="username" translate="md.iso.username">User name</label>
                                    <input type="text" class="form-control" ng-model="metadata.username" id="username" required
                                               data-validation-matches-message="what?" aria-invalid="false"/>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="organisationName" translate="md.iso.organization">Organization</label>
                                    <input type="text" class="form-control" ng-model="metadata.organisationName" id="organisationName" required/>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="roleCode" translate="md.iso.role">Role</label>
                                    <select ng-model="metadata.role" class="form-control" id="roleCode" required>
                                        <option ng-repeat="(key,value) in codeLists.roles" value="{{key}}">{{value}}</option>
                                    </select>
                                </div>

                            </div>
                      

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="topicCategory" translate="md.iso.topic.category">Topic category</label>
                                <select ng-model="metadata.topicCategory" class="form-control" id="topicCategory" required>
                                    <option ng-repeat="topic in codeLists.categories" value="{{topic}}">{{topic}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="date" translate="md.iso.data.date">Data date</label>
                                <input type="text" class="form-control" ng-model="metadata.date" id="date" datepicker="{language:getCurrentLang(),format:'yyyy-mm-dd'}" required/>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="dateType" translate="md.iso.date.type">Date type</label>
                                <select ng-model="metadata.dateType" class="form-control" id="dateType" required>
                                    <option ng-repeat="(key,value) in codeLists.dateTypes" value="{{key}}">{{value}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="localeData" translate="md.iso.locale.data">Locale data</label>
                                <select ng-model="metadata.localeData" class="form-control" id="localeData">
                                    <option ng-repeat="(key,value) in codeLists.locales" value="{{key}}">{{value}}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="tab-pane" ng-class="{active:tabcrs}" ng-if="tabcrs">
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" ng-model="crs" value="{{crs}}"/>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" ng-class="{active:tabdesc}" ng-if="tabdesc">
                    <div class="row">
                        <div id="mdDesc" ng-init="createMetadataTree('mdDesc',false)"></div>
                    </div>
                </div>
                <div class="tab-pane" ng-class="{active:tabimageinfo}" ng-if="tabimageinfo">
                    <div class="row">
                        <div id="mdImageInfo" ng-init="createMetadataTree('mdImageInfo',true)"></div>
                    </div>
                </div>
                 <div class="tab-pane" ng-class="{active:tabsensorinfo}" ng-if="tabsensorinfo">
                    <div class="row">
                        <div id="mdSensorInfo" ng-init="createMetadataTree('mdSensorInfo',false)"></div>
                    </div>
                </div>
            </div>
            <button ng-if="missing" type="button" ng-disabled="form.$invalid" class="btn btn-add pull-right" ng-click="save()" translate="label.save">Save</button>
            <button ng-if="!missing" type="button" class="btn btn-add pull-right" ng-click="save()" translate="label.save">Save</button>
        </div>
    </div>
</div>
