<div class="logo-wrapper row">
    <div class="col-sm-3">
        <a href="#"><img src="img/constellation.png"></a>
    </div>
</div>

<div class="row">
    <div class="row bg-white">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="brand" translate="data.information.page.title">Data information</div>
                <!--div class="brand pull-right">{{provider}}</div-->
            </div>
        </div>
    </div>
    <div class="row bg-white" style="padding-bottom:30px;">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab">
                        <span translate="data.information.tab.metadata.title">Edit metadata</span>
                    </a>
                </li>
            </ul>
            <div style="margin-top:20px;">
                <div class="tab-pane active">
                    <form class="form-horizontal" name="metadataform" role="form">
                        <div class="row alert alert-info" style="margin: 0;">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <h4 style="font-weight:bold">
                                    <span translate="metadata.edition.heading.title">Metadata title :</span>
                                    <span style="font-weight:normal;font-size:15px;margin-left:15pt;">{{getMetadataTitle()}}</span>
                                </h4><br/>
                                <h5>
                                    <span translate="metadata.edition.heading.type">Metadata type :</span>
                                    <span style="font-size:13px;color:#999999;margin-left:10pt;">{{typeLabelKey | translate}}</span>
                                </h5>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: right;">
                                <div class="col-md-12">
                                    <button type="button"
                                            class="btn btn-info"
                                            style="padding:8pt;"
                                            ng-click="save()">
                                        <i class="fa fa-save"></i>
                                        <span translate="metadata.edition.heading.save">Save modifications</span>
                                    </button>
                                </div>
                                <div class="col-md-12" style="margin-top: 10pt;">
                                    <button type="button"
                                            class="btn btn-link"
                                            style="font-size: 12px;"
                                            ng-click="checkValidation(metadataform)">
                                        <i class="fa fa-check-square-o"></i>
                                        <span translate="metadata.edition.heading.check.validation">Check validation</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div id="editorMetadata" ng-init="initMetadataEditorEvents()">
                                <script type="text/ng-template"  id="node_edition_renderer.html">
                                    <div ng-if="rootObj.root && superblockObj == null && blockObj == null && fieldObj == null">
                                        <div ng-repeat="superblockObj in rootObj.root.children"
                                             class="block-row"
                                             ng-include="'node_edition_renderer.html'">
                                        </div>
                                    </div>
                                    <div ng-if="superblockObj.superblock && blockObj == null && fieldObj == null">
                                        <div class="row-fluid">
                                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 small-block">
                                                <h3 class="heading-block clickable">
                                                    {{superblockObj.superblock.name | translate}}
                                                    <i class="data-icon fa fa-angle-up"></i>
                                                </h3>
                                                <p>{{superblockObj.superblock.help | translate}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <div class="collapse-block">
                                                    <div class="collapse-row-wrapper open"
                                                         ng-repeat="blockObj in superblockObj.superblock.children"
                                                         ng-include="'node_edition_renderer.html'">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="blockObj.block && fieldObj == null">
                                        <div class="collapse-row-heading">
                                            <span class="data-icon fa fa-angle-up"></span>
                                            <span class="text">{{blockObj.block.name | translate}}</span>
                                            <!--button ng-click="add(blockObj.block)">Add node</button>
                                            <button ng-click="delete(blockObj.block)" ng-show="blockObj.block.children.length > 0">Delete nodes</button-->
                                        </div>
                                        <div class="collapse-row-inner">
                                            <div class="table-mimic">
                                                <div class="table-row">
                                                    <div class="table-cell">
                                                        <div class="fieldset">
                                                            <ul class="metadata-list"
                                                                ng-repeat="jsonObjectChild in blockObj.block.children">
                                                                <ng-include ng-if="jsonObjectChild.block" src="'node_edition_renderer.html'" onLoad="blockObj=jsonObjectChild"></ng-include>
                                                                <ng-include ng-if="jsonObjectChild.field" src="'node_edition_renderer.html'" onLoad="fieldObj=jsonObjectChild"></ng-include>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <li ng-if="fieldObj.field">
                                        <!--span style="color:green">{{fieldObj.field.render}}</span-->
                                        <label ng-if="fieldObj.field.render.indexOf('readonly') === -1"
                                               class="label-data">{{fieldObj.field.name | translate}}
                                            <span ng-if="fieldObj.field.obligation === 'M'" style="color:#db4747;">(*)</span>
                                        </label>
                                        <span ng-if="fieldObj.field.render.indexOf('readonly') !== -1"
                                              class="label-data-readonly">{{fieldObj.field.name | translate}}</span>
                                        <input ng-if="fieldObj.field.render === 'text'"
                                               type="text"
                                               class="form-control form-control-fix"
                                               placeholder="{{fieldObj.field.name | translate}}"
                                               ng-model="fieldObj.field.value"
                                               ng-required="fieldObj.field.obligation === 'M'"
                                               ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                               dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index"/>
                                        <textarea ng-if="fieldObj.field.render === 'textarea'"
                                                  class="form-control form-control-fix"
                                                  ng-model="fieldObj.field.value"
                                                  ng-required="fieldObj.field.obligation === 'M'"
                                                  ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                                  dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index"
                                                  rows="6"
                                                  cols="33"></textarea>
                                        <div ng-if="fieldObj.field.render === 'DATE.text'"
                                             class="col-xs-5 col-sm-5 col-md-5 col-lg-5 input-group date"
                                             style="padding-left:0;"
                                             datepicker="{language:getCurrentLang(),format:'yyyy-mm-dd '}">
                                            <input type="text"
                                                   class="form-control form-control-fix"
                                                   ng-model="fieldObj.field.value"
                                                   ng-required="fieldObj.field.obligation === 'M'"
                                                   ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index])}"
                                                   dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index"/>
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-th"></i>
                                            </span>
                                        </div>
                                        <select ng-if="fieldObj.field.render === 'DATE.codelist'"
                                                class="form-control form-control-fix"
                                                ng-model="fieldObj.field.value"
                                                ng-options="(code | translate) for code in codeLists.dateTypeCodes | orderBy: 'toString() | translate'"
                                                style="width:auto;min-width:165pt;height:30px;"
                                                ng-required="fieldObj.field.obligation === 'M'"
                                                ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                                dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index">
                                            <option value="">-----</option>
                                        </select>
                                        <select ng-if="fieldObj.field.render === 'MaintenanceFrequency.codelist'"
                                                class="form-control form-control-fix"
                                                ng-model="fieldObj.field.value"
                                                ng-options="(code | translate) for code in codeLists.maintenanceFrequencyCodes | orderBy: 'toString() | translate'"
                                                style="width:auto;min-width:165pt;height:30px;"
                                                ng-required="fieldObj.field.obligation === 'M'"
                                                ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                                dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index">
                                            <option value="">-----</option>
                                        </select>
                                        <select ng-if="fieldObj.field.render === 'Language.codelist'"
                                                class="form-control form-control-fix"
                                                ng-model="fieldObj.field.value"
                                                ng-options="(code | translate) for code in codeLists.localeCodes | orderBy: 'toString() | translate'"
                                                style="width:auto;min-width:165pt;height:30px;"
                                                ng-required="fieldObj.field.obligation === 'M'"
                                                ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                                dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index">
                                            <option value="">-----</option>
                                        </select>
                                        <input ng-if="fieldObj.field.render === 'UPLOADIMAGE.text'"
                                               type="text"
                                               class="form-control form-control-fix"
                                               ng-class="{'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                               placeholder="{{fieldObj.field.name | translate}}"
                                               ng-model="fieldObj.field.value"/>
                                        <select ng-if="fieldObj.field.render === 'INSPIRE_ISO.codelist'"
                                                class="form-control form-control-fix"
                                                ng-model="fieldObj.field.value"
                                                ng-options="('theme.inspire.'+theme | translate) for theme in predefinedValues.inspireThemes | orderBy: '\'theme.inspire.\'+toString() | translate'"
                                                style="width:auto;min-width:165pt;height:30px;"
                                                ng-change="updateIsoInspireSelectOneMenu(fieldObj.field.value,blockObj.block)"
                                                ng-required="fieldObj.field.obligation === 'M'"
                                                ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                                dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index">
                                            <option value="">-----</option>
                                        </select>
                                        <select ng-if="fieldObj.field.render === 'ISO_INSPIRE.codelist'"
                                                class="form-control form-control-fix"
                                                ng-model="fieldObj.field.value"
                                                ng-options="(code | translate) for code in codeLists.topicCategoryCodes | orderBy: 'toString() | translate'"
                                                style="width:auto;min-width:165pt;height:30px;"
                                                ng-required="fieldObj.field.obligation === 'M'"
                                                ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                                dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index">
                                            <option value="">-----</option>
                                        </select>
                                        <select ng-if="fieldObj.field.render === 'GeometricObjects.codelist'"
                                                class="form-control form-control-fix"
                                                ng-model="fieldObj.field.value"
                                                ng-class="{'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                                ng-options="(code | translate) for code in codeLists.geometricObjectTypeCodes | orderBy: 'toString() | translate'"
                                                style="width:auto;min-width:165pt;height:30px;">
                                            <option value="">-----</option>
                                        </select>
                                        <select ng-if="fieldObj.field.render === 'ReferenceSystemIdentifier.codelist'"
                                                class="form-control form-control-fix"
                                                ng-model="fieldObj.field.value"
                                                ng-options="code for code in predefinedValues.referenceSystemIdentifier | orderBy: 'toString()'"
                                                style="width:auto;min-width:165pt;height:30px;"
                                                ng-required="fieldObj.field.obligation === 'M'"
                                                ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                                dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index">
                                            <option value="">-----</option>
                                        </select>
                                        <div ng-if="fieldObj.field.render === 'KEYWORD.text'"
                                             class="col-xs-5 col-sm-5 col-md-5 col-lg-5"
                                             style="padding-left:0;">
                                            <input type="text"
                                                   class="form-control form-control-fix"
                                                   placeholder="{{fieldObj.field.name | translate}}"
                                                   ng-model="fieldObj.field.value"/>
                                        </div>
                                        <select ng-if="fieldObj.field.render === 'DistributionFormat.codelist'"
                                                class="form-control form-control-fix"
                                                ng-model="fieldObj.field.value"
                                                ng-options="format for format in predefinedValues.distributionFormat | orderBy: 'toString()'"
                                                style="width:auto;min-width:165pt;height:30px;"
                                                ng-required="fieldObj.field.obligation === 'M'"
                                                ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                                dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index">
                                            <option value="">-----</option>
                                        </select>
                                        <select ng-if="fieldObj.field.render === 'Classification.codelist'"
                                                class="form-control form-control-fix"
                                                ng-class="{'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                                ng-model="fieldObj.field.value"
                                                ng-options="(code | translate) for code in codeLists.classificationCodes | orderBy: 'toString() | translate'"
                                                style="width:auto;min-width:165pt;height:30px;">
                                            <option value="">-----</option>
                                        </select>
                                        <select ng-if="fieldObj.field.render === 'Specification.codelist'"
                                                class="form-control form-control-fix"
                                                ng-model="fieldObj.field.value"
                                                ng-options="spec for spec in predefinedValues.specifications | orderBy: 'toString()'"
                                                style="width:auto;min-width:165pt;height:30px;"
                                                ng-required="fieldObj.field.obligation === 'M'"
                                                ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                                dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index">
                                            <option value="">-----</option>
                                        </select>
                                        <select ng-if="fieldObj.field.render === 'ResultPass.codelist'"
                                                class="form-control form-control-fix"
                                                ng-model="fieldObj.field.value"
                                                ng-options="('boolean.'+pass | translate) for pass in predefinedValues.resultPass | orderBy: '\'boolean.\'+toString() | translate'"
                                                style="width:auto;min-width:165pt;height:30px;"
                                                ng-required="fieldObj.field.obligation === 'M'"
                                                ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                                dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index">
                                            <option value="">-----</option>
                                        </select>
                                        <select ng-if="fieldObj.field.render === 'Role.codelist'"
                                                class="form-control form-control-fix"
                                                ng-model="fieldObj.field.value"
                                                ng-options="(code | translate) for code in codeLists.roleCodes | orderBy: 'toString() | translate'"
                                                style="width:auto;min-width:165pt;height:30px;"
                                                ng-required="fieldObj.field.obligation === 'M'"
                                                ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                                dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index">
                                            <option value="">-----</option>
                                        </select>
                                        <select ng-if="fieldObj.field.render === 'CharacterSet.codelist'"
                                                class="form-control form-control-fix"
                                                ng-model="fieldObj.field.value"
                                                ng-options="code for code in codeLists.characterSetCodes | orderBy: 'toString()'"
                                                style="width:auto;min-width:165pt;height:30px;"
                                                ng-required="fieldObj.field.obligation === 'M'"
                                                ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                                dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index">
                                            <option value="">-----</option>
                                        </select>
                                        <input ng-if="fieldObj.field.render === 'decimal'"
                                               type="number"
                                               class="form-control form-control-fix"
                                               placeholder="{{fieldObj.field.name | translate}}"
                                               ng-model="fieldObj.field.value"
                                               ng-required="fieldObj.field.obligation === 'M'"
                                               ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                               dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index"/>
                                        <input ng-if="fieldObj.field.render === 'integer'"
                                               type="number"
                                               class="form-control form-control-fix"
                                               placeholder="{{fieldObj.field.name | translate}}"
                                               ng-model="fieldObj.field.value"
                                               ng-required="fieldObj.field.obligation === 'M'"
                                               ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                               dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index"/>
                                        <input ng-if="fieldObj.field.render === 'web'"
                                               type="url"
                                               class="form-control form-control-fix"
                                               placeholder="{{fieldObj.field.name | translate}}"
                                               ng-model="fieldObj.field.value"
                                               ng-required="fieldObj.field.obligation === 'M'"
                                               ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                               dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index"/>
                                        <input ng-if="fieldObj.field.render === 'mail'"
                                               type="email"
                                               class="form-control form-control-fix"
                                               placeholder="{{fieldObj.field.name | translate}}"
                                               ng-model="fieldObj.field.value"
                                               ng-required="fieldObj.field.obligation === 'M'"
                                               ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
                                               dynamic-name="blockObj.block.name+'_'+fieldObj.field.name+'_'+$index"/>
                                        <span ng-if="fieldObj.field.render === 'readonly'"
                                              class="data"
                                              style="word-wrap: break-word;">{{fieldObj.field.value}}</span>
                                        <span ng-if="fieldObj.field.render === 'DATE.readonly'"
                                              class="data"
                                              style="word-wrap: break-word;">{{fieldObj.field.value | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                        <span ng-if="fieldObj.field.render === 'CODELIST.readonly'"
                                              class="data"
                                              style="word-wrap: break-word;">{{fieldObj.field.value | translate}}</span>
                                        <button type="button"
                                                ng-if="fieldObj.field.multiplicity > 1"
                                                class="pull-right btn btn-default"
                                                ng-click="addFieldOccurrence(blockObj,fieldObj);"
                                                title="{{'metadata.edition.occurrence.field.add' | translate}}">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        <button type="button"
                                                ng-if="fieldObj.field.multiplicity > 1 && isFieldOccurrence(fieldObj)"
                                                class="pull-right btn btn-default"
                                                ng-click="removeFieldOccurrence(blockObj,fieldObj);"
                                                title="{{'metadata.edition.occurrence.field.remove' | translate}}"
                                                style="margin-right: 10pt;">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <div ng-if="!isValidField(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index])"
                                             class="col-xs-12 col-sm-12 col-md-12 col-lg-12 control-error">
                                            <i class="fa fa-caret-up"></i>
                                            <span ng-if="!isValidRequired(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index])"
                                                  translate="metadata.edition.validation.required">This field is required</span>
                                            <span ng-if="!isValidUrl(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index])"
                                                  translate="metadata.edition.validation.url">Invalid URL format</span>
                                            <span ng-if="!isValidEmail(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index])"
                                                  translate="metadata.edition.validation.email">Invalid E-mail format</span>
                                            <span ng-if="!isValidNumber(metadataform[blockObj.block.name+'_'+fieldObj.field.name+'_'+$index])"
                                                  translate="metadata.edition.validation.number">Invalid number value</span>
                                        </div>
                                    </li>
                                </script>
                                <div ng-repeat="rootObj in metadataValues" ng-include="'node_edition_renderer.html'"></div>
                            </div>
                        </div>
                        <div class="row buttons-block">
                            <span style="color:#db4747;" translate="metadata.edition.heading.requiredFields">(*) Required field</span>
                            <button type="button"
                                    class="btn btn-info pull-right"
                                    onclick="jQuery('html, body').animate({scrollTop: '0px'}, 1000);">
                                <i class="fa fa-chevron-up"></i>
                                <span translate="metadata.edition.heading.scrolltotop">Scroll to top</span>
                            </button>
                        </div>
                    </form>
                    <div id="validationPopup"
                         class="modal fade"
                         tabindex="-1"
                         role="dialog"
                         aria-labelledby="modalValidTitle"
                         aria-hidden="true">
                        <div class="modal-dialog" style="width: 400px;margin-top: 90pt;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button"
                                            class="close"
                                            data-dismiss="modal"
                                            aria-hidden="true">×</button>
                                    <h4 id="modalValidTitle"
                                        class="modal-title"
                                        translate="metadata.edition.heading.check.validation">Validation check</h4>
                                </div>
                                <div class="modal-body">
                                    <div ng-if="metadataform.$valid" class="row" style="margin:0;">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
                                             style="color: #13ac13;font-size: 30pt;">
                                            <i class="fa fa-check-circle"></i>
                                        </div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="margin-top: 8pt;">
                                            <span style="margin: 13pt 5pt;"
                                              translate="metadata.edition.heading.check.validation.passed">Well done ! your current form is valid.</span>
                                        </div>
                                    </div>
                                    <div ng-if="metadataform.$invalid" class="row" style="margin:0;">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
                                             style="color: #e52929;font-size: 30pt;">
                                            <i class="fa fa-times-circle"></i>
                                        </div>
                                        <span class="col-xs-9 col-sm-9 col-md-9 col-lg-9"
                                              style="margin: 13pt 5pt;"
                                              translate="metadata.edition.heading.check.validation.notpassed">Failed to validate your current form, please check your values.</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-default"
                                            data-dismiss="modal">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
