<div>
<div ng-if="rootObj.root && superblockObj == null && blockObj == null && fieldObj == null">
    <div ng-repeat="superblockObj in rootObj.root.children"
         class="block-row"
         ng-include="'views/data/metadata_templating.html'">
    </div>
</div>
<div ng-if="superblockObj.superblock && blockObj == null && fieldObj == null">
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 small-block">
            <h3 class="heading-block {{theme=='data'?'block-info':theme=='csw'?'block-csw':theme=='sensor'?'block-sos':'block-info'}} clickable">
                {{superblockObj.superblock.name | translate}}
                <i class="data-icon fa fa-angle-up"></i>
            </h3>
            <p>{{superblockObj.superblock.help | translate}}</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="collapse-block">
                <div ng-repeat="blockObj in superblockObj.superblock.children">
                    <button type="button"
                            ng-if="blockObj.block.multiplicity > 1"
                            class="pull-right btn btn-default"
                            ng-click="addBlockOccurrence(superblockObj,blockObj);"
                            title="{{'metadata.edition.occurrence.block.add' | translate}}"
                            style="margin-right: 30px;margin-top: 5px;">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button"
                            ng-if="blockObj.block.multiplicity > 1 && isBlockOccurrence(blockObj)"
                            class="pull-right btn btn-default"
                            ng-click="removeBlockOccurrence(superblockObj,blockObj);"
                            title="{{'metadata.edition.occurrence.block.remove' | translate}}"
                            style="margin-right: 10px;margin-top: 5px;">
                        <i class="fa fa-minus"></i>
                    </button>
                    <div class="collapse-row-wrapper open">
                        <ng-include src="'views/data/metadata_templating.html'"
                                    onLoad="blockIndex=$index;"></ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="blockObj.block && fieldObj == null">
    <div class="collapse-row-heading">
        <span class="data-icon fa fa-angle-up"></span>
        <span class="text">{{blockObj.block.name | translate}}</span>
    </div>
    <div class="collapse-row-inner">
        <div class="table-mimic">
            <div class="table-row">
                <div class="table-cell">
                    <div class="fieldset">
                        <ul class="metadata-list"
                            ng-repeat="jsonObjectChild in blockObj.block.children">
                            <ng-include ng-if="jsonObjectChild.block"
                                        src="'views/data/metadata_templating.html'"
                                        onLoad="blockObj=jsonObjectChild;"></ng-include>
                            <ng-include ng-if="jsonObjectChild.field"
                                        src="'views/data/metadata_templating.html'"
                                        onLoad="fieldObj=jsonObjectChild;"></ng-include>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<li ng-if="fieldObj.field" style="padding-left: 2px;"
        data-id="{{blockObj.block.name}}_{{blockIndex}}_{{fieldObj.field.name}}_{{$index}}">
    <!--span style="color:green">{{fieldObj.field.render}}</span-->
    <label ng-if="fieldObj.field.render.indexOf('readonly') === -1"
           class="label-data">{{fieldObj.field.name | translate}}
        <span ng-if="fieldObj.field.obligation === 'M'" style="color:#db4747;">(*)</span>
    </label>
    <span ng-if="fieldObj.field.render.indexOf('readonly') !== -1"
          class="label-data-readonly">{{fieldObj.field.name | translate}}</span>
    <input ng-if="fieldObj.field.render === 'text'"
           type="text"
           class="form-control form-control-fix"
           placeholder="{{fieldObj.field.name | translate}}"
           ng-model="fieldObj.field.value"
           ng-required="fieldObj.field.obligation === 'M'"
           ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
           dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index"
           debounce="200"/>
    <textarea ng-if="fieldObj.field.render === 'textarea'"
              class="form-control form-control-fix"
              ng-model="fieldObj.field.value"
              ng-required="fieldObj.field.obligation === 'M'"
              ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
              dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index"
              rows="6"
              cols="33"
              debounce="200"></textarea>
    <div ng-if="fieldObj.field.render === 'DATE.text'"
         class="col-xs-5 col-sm-5 col-md-5 col-lg-5 input-group date"
         style="padding-left:0;"
         datepicker="{language:getCurrentLang(),format:'yyyy-mm-dd '}">
        <input type="text"
               class="form-control form-control-fix"
               ng-model="fieldObj.field.value"
               ng-required="fieldObj.field.obligation === 'M'"
               ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index])}"
               dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index"/>
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-th"></i>
        </span>
    </div>
    <div ng-if="fieldObj.field.render === 'DATETIME.text'"
         class="col-xs-5 col-sm-5 col-md-5 col-lg-5 input-group date"
         style="padding-left:0;"
         datetimepicker="{'language':getCurrentLang()}">
        <input type="text"
               class="form-control form-control-fix"
               ng-model="fieldObj.field.value"
               ng-required="fieldObj.field.obligation === 'M'"
               ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index])}"
               dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index"/>
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-th"></i>
        </span>
    </div>
    <select ng-if="fieldObj.field.render === 'DATE.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="(code | translate) for code in codeLists.dateTypeCodes | orderBy: 'toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'MaintenanceFrequency.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="(code | translate) for code in codeLists.maintenanceFrequencyCodes | orderBy: 'toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'Language.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="(code | translate) for code in codeLists.localeCodes | orderBy: 'toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render.indexOf('extCodelist') == 0"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="(code | translate) for code in (fieldObj.field.predefinedValues && fieldObj.field.predefinedValues.length > 0 ? fieldObj.field.predefinedValues : codeLists[fieldObj.field.render]) | orderBy: 'toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'INSPIRE_ISO.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="('theme.inspire.'+theme | translate) for theme in predefinedValues.inspireThemes | orderBy: '\'theme.inspire.\'+toString() | translate'"
            ng-change="updateIsoInspireSelectOneMenu(fieldObj.field.value,blockObj.block)"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'ISO_INSPIRE.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="(code | translate) for code in codeLists.topicCategoryCodes | orderBy: 'toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'TopicCategory.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="(code | translate) for code in codeLists.topicCategoryCodes | orderBy: 'toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'MD_CellGeometryCode.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="(code | translate) for code in codeLists.cellGeometryCodes | orderBy: 'toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'PixelOrientation.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="(code | translate) for code in codeLists.pixelOrientationCodes | orderBy: 'toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'GeometricObjects.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-class="{'col-xs-8-important':fieldObj.field.multiplicity>1}"
            ng-options="(code | translate) for code in codeLists.geometricObjectTypeCodes | orderBy: 'toString() | translate'">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'KeywordType.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-class="{'col-xs-8-important':fieldObj.field.multiplicity>1}"
            ng-options="(code | translate) for code in codeLists.keywordTypeCodes | orderBy: 'toString() | translate'">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'ReferenceSystemIdentifier.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="code for code in predefinedValues.referenceSystemIdentifier | orderBy: 'toString()'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <div ng-if="fieldObj.field.render === 'KEYWORD.text'"
         class="col-xs-5 col-sm-5 col-md-5 col-lg-5"
         style="padding-left:0;">
        <input type="text"
               class="form-control form-control-fix"
               placeholder="{{fieldObj.field.name | translate}}"
               ng-model="fieldObj.field.value"
               debounce="200"/>
    </div>
    <select ng-if="fieldObj.field.render === 'DistributionFormat.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="format for format in predefinedValues.distributionFormat | orderBy: 'toString()'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'Classification.codelist'"
            class="form-control form-control-fix"
            ng-class="{'col-xs-8-important':fieldObj.field.multiplicity>1}"
            ng-model="fieldObj.field.value"
            ng-options="(code | translate) for code in codeLists.classificationCodes | orderBy: 'toString() | translate'">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'predefinedValues.select'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="predef for predef in fieldObj.field.predefinedValues | orderBy: 'toString()'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'Specification.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="spec for spec in predefinedValues.specifications | orderBy: 'toString()'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'ResultPass.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="('boolean.'+pass | translate) for pass in predefinedValues.resultPass | orderBy: '\'boolean.\'+toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'predefinedValues.select.ResultPass'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="('boolean.'+pass | translate) for pass in fieldObj.field.predefinedValues | orderBy: '\'boolean.\'+toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'Role.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="(code | translate) for code in codeLists.roleCodes | orderBy: 'toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'CoverageContentType.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="(code | translate) for code in codeLists.coverageContentTypeCodes | orderBy: 'toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
        <select ng-if="fieldObj.field.render === 'Restriction.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="(code | translate) for code in codeLists.restrictionCodes | orderBy: 'toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
     <select ng-if="fieldObj.field.render === 'DimensionNameType.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="(code | translate) for code in codeLists.dimensionNameTypeCodes | orderBy: 'toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'ImagingCondition.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="(code | translate) for code in codeLists.imagingConditionCodes | orderBy: 'toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'ScopeCode.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="(code | translate) for code in codeLists.scopeCodes | orderBy: 'toString() | translate'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <select ng-if="fieldObj.field.render === 'CharacterSet.codelist'"
            class="form-control form-control-fix"
            ng-model="fieldObj.field.value"
            ng-options="code for code in codeLists.characterSetCodes | orderBy: 'toString()'"
            ng-required="fieldObj.field.obligation === 'M'"
            ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
            dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index">
        <option value="">-----</option>
    </select>
    <input ng-if="fieldObj.field.render === 'decimal'"
           type="number"
           class="form-control form-control-fix"
           placeholder="{{fieldObj.field.name | translate}}"
           ng-model="fieldObj.field.value"
           ng-required="fieldObj.field.obligation === 'M'"
           ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
           dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index"
           debounce="200"/>
    <input ng-if="fieldObj.field.render === 'integer'"
           type="number"
           class="form-control form-control-fix"
           placeholder="{{fieldObj.field.name | translate}}"
           ng-model="fieldObj.field.value"
           ng-required="fieldObj.field.obligation === 'M'"
           ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
           dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index"
           debounce="200"/>
    <input ng-if="fieldObj.field.render === 'web'"
           type="url"
           class="form-control form-control-fix"
           placeholder="{{fieldObj.field.name | translate}}"
           ng-model="fieldObj.field.value"
           ng-required="fieldObj.field.obligation === 'M'"
           ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
           dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index"
           debounce="200"/>
    <input ng-if="fieldObj.field.render === 'mail'"
           type="email"
           class="form-control form-control-fix"
           placeholder="{{fieldObj.field.name | translate}}"
           ng-model="fieldObj.field.value"
           ng-required="fieldObj.field.obligation === 'M'"
           ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
           dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index"
           debounce="200"/>
    <input ng-if="fieldObj.field.render === 'uri'"
           type="text"
           class="form-control form-control-fix"
           placeholder="{{'metadata.edition.placeholder.uri' | translate}}"
           ng-pattern="uriRegExp"
           ng-model="fieldObj.field.value"
           ng-required="fieldObj.field.obligation === 'M'"
           ng-class="{'highlight-invalid':!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index]),'col-xs-8-important':fieldObj.field.multiplicity>1}"
           dynamic-name="blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index"
           debounce="200"/>
    <div ng-if="fieldObj.field.render === 'UPLOADIMAGE.text'"
         ng-include="'views/parts/metadata-uploadimage.html'">
    </div>
    <span ng-if="fieldObj.field.render === 'readonly'"
          class="data"
          style="word-wrap: break-word;">{{fieldObj.field.value}}</span>
    <span ng-if="fieldObj.field.render === 'DATE.readonly'"
          class="data"
          style="word-wrap: break-word;">{{fieldObj.field.value | date:'yyyy-MM-dd HH:mm:ss'}}</span>
    <span ng-if="fieldObj.field.render === 'CODELIST.readonly'"
          class="data"
          style="word-wrap: break-word;">{{fieldObj.field.value | translate}}</span>
    <button type="button"
            ng-if="fieldObj.field.multiplicity > 1"
            class="pull-right btn btn-default"
            ng-click="addFieldOccurrence(blockObj,fieldObj);"
            title="{{'metadata.edition.occurrence.field.add' | translate}}">
        <i class="fa fa-plus"></i>
    </button>
    <button type="button"
            ng-if="fieldObj.field.multiplicity > 1 && isFieldOccurrence(fieldObj)"
            class="pull-right btn btn-default"
            ng-click="removeFieldOccurrence(blockObj,fieldObj);"
            title="{{'metadata.edition.occurrence.field.remove' | translate}}"
            style="margin-right: 10pt;">
        <i class="fa fa-minus"></i>
    </button>
    <div ng-if="!isValidField(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index])"
         class="col-xs-12 col-sm-12 col-md-12 col-lg-12 control-error">
        <i class="fa fa-caret-up"></i>
        <span ng-if="!isValidRequired(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index])"
              translate="metadata.edition.validation.required">This field is required</span>
        <span ng-if="!isValidUrl(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index])"
              translate="metadata.edition.validation.url">Invalid URL format</span>
        <span ng-if="!isValidEmail(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index])"
              translate="metadata.edition.validation.email">Invalid E-mail format</span>
        <span ng-if="!isValidNumber(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index])"
              translate="metadata.edition.validation.number">Invalid number value</span>
        <span ng-if="!isValidUri(metadataform[blockObj.block.name+'_'+blockIndex+'_'+fieldObj.field.name+'_'+$index])"
              translate="metadata.edition.validation.uri">Invalid URI format</span>
    </div>
</li>
</div>