<div id="chooseDataModal" class="modal-dialog modal-dialog-resp-height"
     ng-class="{'modal-dialog-sld':service.type.toLowerCase() != 'sos'}">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()">×</button>
            <h4 class="modal-title" translate="service.edit.dashboard.action.add.data">Add data</h4>
        </div>
        <div class="modal-body modal-body-style">
            <div class="row">
                <div style="padding-left: 0;padding-right: 0;"
                     ng-class="{'col-xs-6 col-sm-6 col-md-6 col-lg-6':service.type.toLowerCase() != 'sos'}">
                    <div class="dashboard dashboard-internal list-style-modal">
                        <div class="navbar sort-navbar" style="margin-bottom: 6px;">
                            <div class="navbar-inner" style="padding-right: 10px;">
                                <ul class="nav nav-style">
                                    <li ng-click="clickFilter('Name')">
                                        <a style="padding:10px;">
                                            <span translate="label.title">Title</span>
                                            <i class="fa fa-caret-up"
                                               ng-if="wrap.ordertype === 'Name' && wrap.orderreverse"></i>
                                            <i class="fa fa-caret-down"
                                               ng-if="wrap.ordertype === 'Name' && !wrap.orderreverse"></i>
                                        </a>
                                    </li>
                                    <li class="divider-vertical"></li>
                                    <li ng-click="clickFilter('Date')">
                                        <a style="padding:10px;">
                                            <span translate="service.edit.dashboard.header.date">Date</span>
                                            <i class="fa fa-caret-up"
                                               ng-if="wrap.ordertype === 'Date' && wrap.orderreverse"></i>
                                            <i class="fa fa-caret-down"
                                               ng-if="wrap.ordertype === 'Date' && !wrap.orderreverse"></i>
                                        </a>
                                    </li>
                                    <li class="divider-vertical"></li>
                                    <li ng-click="clickFilter('Owner')">
                                        <a style="padding:10px;">
                                            <span translate="service.edit.dashboard.header.owner">Owner</span>
                                            <i class="fa fa-caret-up"
                                               ng-if="wrap.ordertype === 'Owner' && wrap.orderreverse"></i>
                                            <i class="fa fa-caret-down"
                                               ng-if="wrap.ordertype === 'Owner' && !wrap.orderreverse"></i>
                                        </a>
                                    </li>
                                    <li class="divider-vertical"></li>
                                    <li ng-click="clickFilter('Type')">
                                        <a style="padding:10px;">
                                            <span translate="service.edit.dashboard.header.type">Type</span>
                                            <i class="fa fa-caret-up"
                                               ng-if="wrap.ordertype === 'Type' && wrap.orderreverse"></i>
                                            <i class="fa fa-caret-down"
                                               ng-if="wrap.ordertype === 'Type' && !wrap.orderreverse"></i>
                                        </a>
                                    </li>
                                    <li class="divider-vertical"></li>
                                </ul>
                                <button type="button"
                                        ng-click="wrap.ordertype='Name';wrap.orderreverse=false;wrap.filtertext='';"
                                        class="btn btn-xs btn-data">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button type="button"
                                        ng-click="searchVisible= !searchVisible"
                                        class="btn btn-xs btn-data">
                                    <i class="fa fa-search"></i>
                                </button>
                                <div class="pull-right col-xs-5 col-sm-5 col-md-3 col-lg-4"
                                     style="padding-right:0;padding-left: 10px;"
                                     ng-if="searchVisible">
                                    <div style="position:relative;">
                                        <input type="text"
                                               ng-model="wrap.filtertext"
                                               class="search-query form-control form-control-fix"
                                               style="height: 30px;"
                                               placeholder="{{'label.search' | translate}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dash-inner">
                            <div id="list" data-role="list">
                                <div class="pagination-wrapper pagination-data">
                                    <div class="col-xs-12" style="padding: 0;">
                                        <strong class="col-xs-8" style="padding-right: 0;">
                                            <span class="nb-results pull-left">{{wrap.countdata}}&nbsp;</span>
                                            <span class="nb-results"
                                                  translate="label.count.data">available data</span>
                                        </strong>
                                        <div ng-if="service.type.toLowerCase() !== 'sos'"
                                             class="pull-right col-xs-4"
                                             style="padding-right:0;padding-left: 0">
                                            <input type="checkbox"
                                                   ng-model="dataSelect.all"
                                                   id="selectAll"
                                                   ng-change="selectAllData()"/>
                                            <span translate="label.select.all">Select all</span>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left: 0; margin-right: 0;">
                                        <div class="col-sm-9" style="padding: 0; margin-top: 5px;"
                                             page-switcher="{page:wrap.currentpage,size:wrap.nbbypage,count:wrap.countdata}"
                                             on-select-page="displayPage(page)"></div>
                                        <select class="nb-per-page input-small form-control pull-right col-xs-2 "
                                                style="padding-left: 5px;padding-right: 5px; margin-top: 5px;"
                                                ng-model="wrap.nbbypage">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="item-list">
                                    <div ng-if="service.type.toLowerCase() !== 'sos'">
                                        <div ng-repeat="data in wrap.dataList">
                                            <div class="item {{data.Type.toLowerCase()}}"
                                                 ng-class="{'selected':isInSelected(data)}"
                                                 ng-click="toggleDataInArray(data)"
                                                 data-name="{{data.Provider+':'+data.Name}}">
                                                <div class="top">
                                                    <span class="item-title title-modal">{{truncate(data.Name,40)}}</span>
                                                    <span class="pull-right text-right item-list-style"
                                                          style="font-size:14px;">{{data.Type}}</span>
                                                    <img ng-if="data.Type=='VECTOR' && (data.Subtype=='Point' || data.Subtype=='MultiPoint')"
                                                         ng-src="{{isInSelected(data)?'img/vector-multipoint-selected.svg':'img/vector-multipoint.svg'}}"
                                                         class="pull-right vector-symbol"
                                                         style="margin-top:6px; margin-right:10px;" />
                                                    <img ng-if="data.Type=='VECTOR' && (data.Subtype=='Polygon' || data.Subtype=='MultiPolygon')"
                                                         ng-src="{{isInSelected(data)?'img/vector-poly-selected.svg':'img/vector-poly.svg'}}"
                                                         class="pull-right vector-symbol"
                                                         style="margin-top:6px; margin-right:10px;" />
                                                    <img ng-if="data.Type=='VECTOR' && (data.Subtype=='LineString' || data.Subtype=='MultiLineString')"
                                                         ng-src="{{isInSelected(data)?'img/vector-polyline-selected.svg':'img/vector-polyline.svg'}}"
                                                         class="pull-right vector-symbol"
                                                         style="margin-top:6px; margin-right:10px;" />
                                                    <img ng-if="data.Subtype=='Geometry'"
                                                         ng-src="{{isInSelected(data)?'img/vector-multigeometry-selected.svg':'img/vector-multigeometry.svg'}}"
                                                         class="pull-right vector-symbol"
                                                         style="margin-top:6px; margin-right:10px; width:22px;" />
                                                </div>
                                                <div class="bottom">
                                                    <div class="hidden-md hidden-lg">
                                                        <div class="block tooltipicon"
                                                             style="margin-top:0;text-shadow: none;">
                                                            <i class="fa fa-calendar"
                                                               tooltip data-placement="right"
                                                               title="{{data.Date | date:'yyyy-MM-dd'}}"></i>
                                                        </div>
                                                        <div class="block tooltipicon"
                                                             style="margin-top:0;text-shadow: none;">
                                                            <i class="fa fa-user"
                                                               tooltip data-placement="right"
                                                               title="{{data.Owner}}"></i>
                                                        </div>
                                                    </div>
                                                    <div class="hidden-xs hidden-sm">
                                                        <div class="block">
                                                            <i class="fa fa-calendar"></i>{{data.Date | date:'yyyy-MM-dd'}}
                                                        </div>
                                                        <div class="block">
                                                            <i class="fa fa-user"></i>{{data.Owner}}
                                                        </div>
                                                    </div>
                                                    <div class="block pull-right" ng-if="data.TargetStyle.length==0">
                                                        <i class="fa fa-paint-brush" title="Style SLD"></i>default
                                                    </div>
                                                    <div class="block pull-right" ng-if="data.TargetStyle.length==1">
                                                        <i class="fa fa-paint-brush" title="Style SLD"></i>{{truncate(data.TargetStyle[0].Name,15)}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn-group pull-right" style="margin-top: -34px;"
                                                 ng-if="data.TargetStyle.length>1">
                                                <button type="button"
                                                        class="btn btn-sm btn-default dropdown-toggle"
                                                        data-toggle="dropdown"
                                                        style="margin-right: 6px; margin-top: 4px; padding: 4px; z-index: 1;"
                                                        title="Style SLD">
                                                    <span style="font-size: 11px;">
                                                        <i class="fa fa-paint-brush" style="margin-right:6px;"></i>{{truncate(data.TargetStyle[0].Name,20)}}
                                                    </span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" style="font-size: 12px;text-shadow: none;z-index: 2;">
                                                    <li ng-repeat="targetStyle in data.TargetStyle"
                                                        ng-click="setTargetStyle(data,$index);">
                                                        <a><span>{{truncate(targetStyle.Name,30)}}</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="service.type.toLowerCase() === 'sos'">
                                        <div ng-repeat="sosdata in wrap.dataList">
                                            <div class="item sensorChoose"
                                                 ng-class="{'sensor-sos':sosdata.type!=='System','sensor-system':sosdata.type==='System','selected':sosdata.id==values.selectedSensor.id}"
                                                 ng-click="toggleSelectSensor(sosdata);selectSensorsChild(null);">
                                                <div class="top">
                                                    <span class="item-title">{{sosdata.id}}</span>
                                                    <span ng-if="sosdata.type==='System'"
                                                          class="pull-right text-right item-list-style"
                                                          style="font-size:14px;"
                                                          translate="label.sensor.system">sensor system</span>
                                                    <span ng-if="sosdata.type!=='System'"
                                                          class="pull-right text-right item-list-style"
                                                          style="font-size:14px;"
                                                          translate="label.sensor">sensor</span>
                                                </div>
                                                <div class="bottom">
                                                    <div class="block">
                                                        <i class="fa fa-calendar"></i>{{sosdata.createDate | date:'yyyy-MM-dd'}}
                                                    </div>
                                                    <div class="block">
                                                        <i class="fa fa-user"></i>{{sosdata.creator}}
                                                    </div>
                                                    <div class="block pull-right">
                                                        <i class="fa fa-paperclip"></i>
                                                        <span ng-if="sosdata.children == null || sosdata.children.length == 0"
                                                              translate="md.listing.no.data">No</span>
                                                        <span ng-if="sosdata.children.length > 0">{{sosdata.children.length}}</span>
                                                        <span translate="service.edit.dashboard.sensors.list.associated">associated sensors</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item child sensor-sos sensorChoose"
                                                 ng-if="sosdata.id==values.selectedSensor.id"
                                                 ng-repeat="soschild in sosdata.children"
                                                 ng-class="{'selected':soschild.id==values.selectedSensorsChild.id}"
                                                 ng-click="selectSensorsChild(soschild)">
                                                <div class="top">
                                                    <span class="item-title">{{soschild.id}}</span>
                                                    <span class="pull-right text-right item-list-style"
                                                          style="font-size:14px;"
                                                          translate="label.sensor">sensor</span>
                                                </div>
                                                <div class="bottom">
                                                    <div class="block">
                                                        <i class="fa fa-calendar"></i>{{soschild.createDate | date:'yyyy-MM-dd'}}
                                                    </div>
                                                    <div class="block">
                                                        <i class="fa fa-user"></i>{{soschild.creator}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="service.type.toLowerCase() !== 'sos'"
                     class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div id="dataChooseMapPreview" style="height: 500px; width:100%;padding: 0;"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer modal-footer-list-data">
            <button type="button"
                    class="btn btn-default"
                    ng-click="dismiss()"
                    translate="label.close">Close</button>
            <button id="chooseButton"
                    type="button"
                    class="btn btn-add"
                    ng-click="choose()"
                    translate="data.modal.choose">Choose</button>
        </div>
    </div>
</div>
