<div class="container" id="folderPart" ng-controller="ModalImportDataStep1ServerController">
    <ul class="breadcrumb col-sm-12">
        <li class="active"><span class="divider">{{currentPath}}</span></li>
    </ul>
    <div class="row">
        <div ng-repeat="col in columns" ng-click="navServer()" class="col-sm-5 col-md-3 well block-folders" style="overflow:auto; height:275px; margin-bottom:20px; margin-left:20px;">
            <input type="text" style="margin-bottom:10px;" placeholder="filter" class="col-sm-12" ng-model="search">
            <ul class="unstyled">
                <li ng-repeat="item in col | filter:search">
                    <i ng-class="{'icon-folder-close-alt':item.folder && !startWith(item.path),'icon-folder-open-alt':item.folder && startWith(item.path),'icon-file':!item.folder}"></i>
                    <a ng-class="{'link-sel':startWith(item.path)}" class="trim-name" title="{{item.name}}" type="button" ng-click="select(item,$parent.$index)">{{item.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>