<div id="part4Netcdf" ng-controller="ModalImportDataStep4SNetcdfController">
    <!-- Display coverage data -->
    <div class="row">
        <div class="col-sm-4">
            <div class="well nav-frame">
                <ul id="dataNames" class="nav nav-list">
                    <li ng-repeat="data in coveragesData.values" ng-class="{active:layer==data}" ng-click="displayLayer(data)">
                        <a>{{data}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="dataPreviewMap" class="col-sm-8" style="height:400px;width:650px;"></div>
    </div>
</div>