<div id="part1Data" ng-controller="ModalImportDataStep1LocalController">
    <form id="uploadDataForm" class="form-horizontal">
        <!-- Upload data -->
        <label class="col-sm-2 col-xs-3" translate="data.modal.data">Data</label>
        <div class="btn-lg tooltipicon">
            <span type="button" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.data.add.choicedata' | translate }}" ></span>
        </div>
        <div class="fileinput fileinput-new" style="margin-top:5px;"  data-provides="fileinput">
            <div class="input-group">
                <div class="form-control uneditable-input" data-trigger="fileinput">
                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                    <span class="fileinput-filename"></span>
                </div>
                                <span class="input-group-addon btn btn-default btn-file">
                                    <span class="fileinput-new" translate="data.modal.select">Select file</span>
                                    <span class="fileinput-exists" translate="data.modal.change">Change</span>
                                    <input type="file" name="data" onchange="angular.element(this).scope().verifyExtension(this.value);"></span>
                <a class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput" translate="data.modal.remove">Remove</a>
            </div>
        </div>
        <div class="alert alert-data" ng-show="loader.upload" translate="message.uploading">Your data is uploading...</div>

    </form>
</div>