<div id="part1Data" ng-controller="ModalImportDataStep1DatabaseController">
    <form id="uploadDataForm" class="form">
        <fieldset>
            <div class="form-group row">
                <label class="col-sm-12 control-label new-service-form-label" translate="service.config.source.database.url">Database URL</label>
                <div class="col-xs-11">
                    <input type="text" class="form-control" ng-model="db.url">
                </div>
                <div class="btn-lg tooltipicon">
                    <span type="button" class="glyphicon glyphicon-info-sign" tooltip data-placement="bottom" title="{{'tooltip.service.source.url' | translate }}" ></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 control-label new-service-form-label" translate="service.config.source.database.port">Database port</label>
                <div class="col-xs-11">
                    <input type="text" class="form-control" ng-model="db.port">
                </div>
                <div class="btn-lg tooltipicon">
                    <span type="button" class="glyphicon glyphicon-info-sign" tooltip data-placement="bottom" title="{{'tooltip.service.create.port' | translate }}" ></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 control-label new-service-form-label" translate="service.config.source.database.name">Database name</label>
                <div class="col-xs-11">
                    <input type="text" class="form-control" ng-model="db.name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 control-label new-service-form-label" translate="service.config.source.database.username">User name</label>
                <div class="col-xs-11">
                    <input type="text" class="form-control" ng-model="source['constellation-config.SOSConfiguration']['constellation-config.OMConfiguration'].bdd.user">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 control-label new-service-form-label" translate="service.config.source.database.password">Password</label>
                <div class="col-xs-11">
                    <input type="password" class="form-control" ng-model="source['constellation-config.SOSConfiguration']['constellation-config.OMConfiguration'].bdd.password">
                </div>
            </div>
        </fieldset>

        <div class="alert alert-data" ng-show="loader.upload" translate="message.uploading">Your data is uploading...</div>
    </form>
</div>