<div class="logo-wrapper row">
    <div class="col-sm-12">
        <h3 class="header-title" translate="page.header.title.edit.service">Edit Service</h3>
    </div>
</div>
<div id="serviceDashboard" class="row frame dashboard">
    <div class="navbar  navbar-default" style="height:50px;">
        <div class="navbar-inner" style="box-shadow:none; webkit-box-shadow:none;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p style="cursor:default; padding:7px 20px 10px 0; font-weight: normal;  margin-left:0;" class="brand">{{service.name}}</p>
                </div>

                <div class="navbar-left">
                    <input class="form-control" style="width:auto;display:inline" size="{{urlBoxSize}}"  value="{{url}}" readonly="readonly"/>
                    <span class="glyphicon glyphicon-edit" id="copy-button" data-clipboard-text="{{url}}" title="Click to copy me."></span>
                </div>

                <form class="navbar-form">
                    <div class="btn-group service-item pull-right">
                        <button type="button" class="btn btn-default btn-sm" ng-click="showCapa(service)"
                                ng-disabled="service.status!=='WORKING'">GetCapabilities</button>
                        <button type="button" class="btn btn-default btn-sm"  ng-click="showLogs(service)">Logs</button>
                        <button type="button" class="btn btn-default btn-sm btn-info" ng-click="reload(service)" translate="service.description.reload.button">Reload</button>
                        <button type="button" class="btn btn-default btn-sm"  ng-class="{'started':service.status=='WORKING','stopped':service.status!='WORKING'}" ng-click="startOrStop(service)">
                            <i ng-class="{'icon-play':service.status!='WORKING','icon-stop':service.status=='WORKING'}"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="bg-white" style="padding-bottom:30px;">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li id="dataTab" class="active">
                    <a ng-click="selectTab('tabdata')" data-toggle="tab"><span translate="service.edit.dashboard.tabs.data">Data</span></a>
                </li>
                <li id="descriptionTab">
                    <a ng-click="selectTab('tabdesc')" data-toggle="tab"><span translate="service.edit.dashboard.tabs.description">Service Description</span></a>
                </li>
                <li id="metadataTab">
                    <a ng-click="selectTab('tabmetadata')" data-toggle="tab"><span translate="service.edit.dashboard.tabs.metadata">Service Metadata</span></a>
                </li>
                <li id="rightsTab">
                    <a ng-click="selectTab('tabrights')" data-toggle="tab"><span translate="service.edit.dashboard.tabs.rights">Service Rights</span></a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane" ng-class="{active:tabdata}" ng-show="tabdata">
                    <div class="row" ng-init="initScope()">
                        <!-- Begin Dashboard -->

                        <div class="col-sm-8">

                            <!--begin list -->

                            <div class="frame dashboard">
                                <div class="navbar title">
                                    <div class="navbar-inner">
                                        <div ng-if="type !== 'csw' && type !== 'sos'" class="brand" translate="service.edit.dashboard.layer.title">Layers list</div>
                                        <div ng-if="type === 'csw'" class="brand" translate="service.edit.dashboard.metadata.title">Metadata list</div>
                                        <div ng-if="type === 'sos'" class="brand" translate="service.edit.dashboard.sensors.list">Sensors list</div>
                                    </div>
                                </div>
                                <div class="navbar sort-navbar">
                                    <div class="navbar-inner">
                                        <ul class="nav nav-style">
                                            <li ng-click="ordertype= (service && service.type && service.type.toLowerCase()==='sos') ? 'id' : (service && service.type && service.type.toLowerCase==='csw') ? 'title' : 'Name';orderreverse=false"><a translate="service.edit.dashboard.header.title">
                                                Title<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                                            </a></li>
                                            <li class="divider-vertical"></li>
                                            <li ng-click="ordertype= (service && service.type && (service.type.toLowerCase()==='csw' || service.type.toLowerCase()==='sos')) ? 'createDate' : 'Date';orderreverse=true"><a translate="service.edit.dashboard.header.date">
                                                Date<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                                            </a></li>
                                            <li class="divider-vertical"></li>
                                            <li ng-click="ordertype=(service && service.type && (service.type.toLowerCase()==='csw' || service.type.toLowerCase()==='sos')) ? 'creator' : 'Owner';orderreverse=false"><a translate="service.edit.dashboard.header.owner">
                                                Owner<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                                            </a></li>
                                            <li class="divider-vertical"></li>
                                            <li ng-click="ordertype='Type';orderreverse=false"><a translate="service.edit.dashboard.header.type">
                                                Type<i class="icon-caret-up"></i><i class="icon-caret-down"></i>
                                            </a></li>
                                            <li class="divider-vertical"></li>
                                        </ul>
                                        <button type="button" ng-click="ordertype= (service && service.type && service.type.toLowerCase()==='sos') ? 'id' : (service && service.type && service.type.toLowerCase==='csw') ? 'title' : 'Name';orderreverse=false" ng-class="{'btn-csw':type==='csw','btn-sos':type==='sos'}" class="btn  btn-data btn-xs btn-info"><i class="icon-remove icon-white"></i></button>
                                        <div class="pull-right">
                                            <div style="position:relative;">
                                                <div class="ajax-loader" style="right:0;position:absolute;"></div>
                                                <input type="text" ng-model="filtertext" class="searchbox search-query form-control" placeholder="..." />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-inner row dashboard" ng-init="small=false">
                                    <div id="list" data-role="list">
                                        <div class="pagination-wrapper pagination-data" ng-class="{'pagination-csw':type==='csw','pagination-sos':type==='sos'}">
                                            <strong><span class="nb-results pull-left">{{countdata}}&nbsp;</span><span class="nb-results" translate="label.count.data">available data</span></strong>

                                            <button type="button" ng-click="small=!small" class="hidden-sm hidden-xs pull-right btn btn-xs btn-info btn-data" ng-class="{'btn-small-selected':small==true}" style="margin-left: 10px; margin-top: 5px;"><span translate="label.reduced.display">Reduced display</span></button>
                                            
                                            <select class="nb-per-page input-small form-control pull-right" ng-model="nbbypage">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                            <div class="pull-right" page-switcher="{page:currentpage,size:nbbypage,count:countdata}" on-select-page="displayPage(page)"></div>
                                        </div>
                                        <div class="item-list">
                                            <div ng-if="type !== 'csw' && type!== 'sos'">
                                                <div class="item" ng-repeat="layer in dataList" ng-class="{selected:layer==selected,coverage:layer.Type==='coverage-store'||layer.Type==='raster',vector:layer.Type==='feature-store'||layer.Type==='observation-store'||layer.Type==='vector', 'col-xs-6':small==true}" ng-click="select(layer)">
                                                    <div class="top">
                                                        <span class="item-title" title="{{layer.Name}}">{{layer.Name}}</span>
                                                        <span class="pull-right text-right item-list-style" style="font-size:14px;">{{layer.Type==='coverage-store'?'raster':layer.Type==='feature-store'?'vector':layer.Type==='observation-store'?'vector':layer.Type}}</span>
                                                        <img ng-if="(layer.Type=='vector' || layer.Type=='feature-store') && (layer.Subtype=='Point' || layer.Subtype=='MultiPoint') && layer!=selected" src="images/vector-multipoint.svg" class="pull-right" style="margin-top:6px; margin-right:10px;" >
                                                        <img ng-if="(layer.Type=='vector' || layer.Type=='feature-store') && (layer.Subtype=='Polygon' || layer.Subtype=='MultiPolygon') && layer!=selected" src="images/vector-poly.svg" class="pull-right" style="margin-top:6px; margin-right:10px;" >
                                                        <img ng-if="(layer.Type=='vector' || layer.Type=='feature-store') && (layer.Subtype=='LineString' || layer.Subtype=='MultiLineString') && layer!=selected" src="images/vector-polyline.svg" class="pull-right" style="margin-top:6px; margin-right:10px;" >
                                                        <img ng-if="(layer.Type=='vector' || layer.Type=='feature-store') && (layer.Subtype=='Point' || layer.Subtype=='MultiPoint') && layer==selected" src="images/vector-multipoint-selected.svg" class="pull-right" style="margin-top:6px; margin-right:10px;" >
                                                        <img ng-if="(layer.Type=='vector' || layer.Type=='feature-store') && (layer.Subtype=='Polygon' || layer.Subtype=='MultiPolygon') && layer==selected" src="images/vector-poly-selected.svg" class="pull-right" style="margin-top:6px; margin-right:10px;" >
                                                        <img ng-if="(layer.Type=='vector' || layer.Type=='feature-store') && (layer.Subtype=='LineString' || layer.Subtype=='MultiLineString') && layer==selected" src="images/vector-polyline-selected.svg" class="pull-right" style="margin-top:6px; margin-right:10px;" >
                                                    </div>
                                                    <div class="bottom">
                                                        <div class="block">
                                                            <i class="icon-calendar"></i>{{layer.Date | date:'yyyy-MM-dd'}}
                                                        </div>
                                                        <div class="block">
                                                            <i class="icon-user"></i>{{layer.Owner}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="type === 'csw'">
                                                <div ng-repeat="cswdata in dataList">
                                                    <div class="item" ng-class="{'selected':cswdata==selected, 'metadata-service':cswdata.identifier.split('_')[0]==='serv','metadata':cswdata.identifier.split('_')[0]!=='serv'}" ng-click="select(cswdata);selectMetadataChild(null), 'col-xs-6':small==true">
                                                        <div class="top">
                                                            <span class="item-title">{{cswdata.title ? cswdata.title : cswdata.identifier}}</span>
                                                            <span class="pull-right text-right item-list-style"  style="font-size:14px;">METADATA</span>
                                                        </div>
                                                        <div class="bottom">
                                                            <div class="block">
                                                                <i class="icon-calendar"></i>{{cswdata.createDate | date:'yyyy-MM-dd'}}
                                                            </div>
                                                            <div class="block">
                                                                <i class="icon-user"></i>{{cswdata.creator}}
                                                            </div>
                                                            <div class="block pull-right">
                                                                <i class="icon-paper-clip"></i><span ng-if="relatedDatas[cswdata.identifier] == null || relatedDatas[cswdata.identifier].length == 0" translate="md.listing.no.data">No</span><span ng-if="relatedDatas[cswdata.identifier].length > 0">{{relatedDatas[cswdata.identifier].length}}</span> <span translate="md.listing.data.associated">associated data</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="item child" ng-if="cswdata==selected" ng-repeat="relatedData in relatedDatas[cswdata.identifier]"
                                                         ng-click="selectMetadataChild(relatedData)" ng-class="{selected:relatedData==selectedMetadataChild,'metadata-product-vector':relatedData.Type.toLowerCase()=='vector','metadata-product-coverage':relatedData.Type.toLowerCase()=='coverage','metadata-product-sensor':relatedData.Type.toLowerCase()=='sensor', 'col-xs-6':small==true}">
                                                        <div class="top">
                                                            <span class="item-title">{{relatedData.Name}}</span>
                                                            <span class="pull-right text-right item-list-style" style="font-size:14px;">{{relatedData.Type}}</span>
                                                        </div>
                                                        <div class="bottom">
                                                            <div class="block">
                                                                <i class="icon-calendar"></i>{{relatedData.Date | date:'yyyy-MM-dd'}}
                                                            </div>
                                                            <div class="block">
                                                                <i class="icon-user"></i>{{relatedData.Owner}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="type === 'sos'">
                                                <div ng-repeat="sosdata in dataList">
                                                    <div class="item" ng-class="{'sensor-sos':sosdata.type!=='System','sensor-system':sosdata.type==='System','selected':sosdata==selected, 'col-xs-6':small==true}" ng-click="select(sosdata);selectSensorsChild(null);">
                                                        <div class="top">
                                                            <span class="item-title">{{sosdata.id}}</span>
                                                            <span ng-if="sosdata.type==='System'" class="pull-right text-right item-list-style"  style="font-size:14px;" translate="label.sensor.system">sensor system</span>
                                                            <span ng-if="sosdata.type!=='System'" class="pull-right text-right item-list-style"  style="font-size:14px;" translate="label.sensor">sensor</span>
                                                        </div>
                                                        <div class="bottom">
                                                            <div class="block">
                                                                <i class="icon-calendar"></i>{{sosdata.createDate | date:'yyyy-MM-dd'}}
                                                            </div>
                                                            <div class="block">
                                                                <i class="icon-user"></i>{{sosdata.creator}}
                                                            </div>
                                                            <div class="block pull-right">
                                                                <i class="icon-paper-clip"></i>
                                                                <span ng-if="sosdata.children == null || sosdata.children.length == 0" translate="md.listing.no.data">No</span>
                                                                <span ng-if="sosdata.children.length > 0">{{sosdata.children.length}}</span>
                                                                <span translate="service.edit.dashboard.sensors.list.associated">associated sensors</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="item child sensor-sos" ng-if="sosdata==selected" ng-repeat="soschild in sosdata.children" ng-class="{'selected':soschild===selectedSensorsChild, 'col-xs-6':small==true}" ng-click="selectSensorsChild(soschild)">
                                                        <div class="top">
                                                            <span class="item-title">{{soschild.id}}</span>
                                                            <span class="pull-right text-right item-list-style" style="font-size:14px;" translate="label.sensor">sensor</span>
                                                        </div>
                                                        <div class="bottom">
                                                            <div class="block">
                                                                <i class="icon-calendar"></i>{{soschild.createDate | date:'yyyy-MM-dd'}}
                                                            </div>
                                                            <div class="block">
                                                                <i class="icon-user"></i>{{soschild.creator}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!--end list -->
                        </div>

                        <div class="col-sm-4">
                            <!-- begin add data button -->
                            <div style="margin-bottom:10px;" ng-if="service.type.toLowerCase() !== 'csw' && service.type.toLowerCase() !== 'wps'">
                                <a data-toggle="modal" class="btn btn-info btn-lg btn-block" ng-click="showDataToAdd()">
                                    <span class="icon-plus icon-white" style="margin-right:5px;"></span>
                                    <span translate="service.edit.dashboard.action.add.button">Add</span>
                                </a>
                            </div>

                            <!-- end  add data button  -->
                            <div>
                                <!-- begin details -->


                                <div id="selection">
                                    <div class="alert alert-info alert-data" ng-class="{'alert-csw':type==='csw','alert-sos':type==='sos'}" ng-show="selected == null">
                                        <h4 translate="label.no.selected.data">No selected data</h4>

                                        <p translate="msg.no.selected.data" style="font-weight:normal;">Click on a data to display more information</p>
                                    </div>
                                    <div class="selected-item" id="selected-item" ng-hide="selected == null">
                                        <div ng-if="service.type.toLowerCase() !== 'csw' && service.type.toLowerCase() !== 'sos'">
                                            <div class="block-header" ng-click="toggleUpDownSelected()">
                                                <strong>{{selected.Name}}</strong><i class="icon-chevron-up pull-right"></i>
                                            </div>
                                            <div class="block-content">
                                                <h6 translate="label.owner">Owner</h6>
                                                <span>{{selected.Owner}}</span>

                                                <div class="separator"></div>
                                                <h6 translate="label.date">Date</h6>
                                                <span>{{selected.Date | date:'yyyy-MM-dd'}}</span>

                                                <div class="separator"></div>
                                                <h6 translate="label.type">Type</h6>
                                                <span>{{selected.Type==='coverage-store'?'raster':selected.Type==='feature-store'?'vector':selected.Type==='observation-store'?'vector':selected.Type}}</span>

                                                <div ng-if="service.type.toLowerCase() === 'wms'">
                                                    <div class="separator"></div>
                                                    <h6>
                                                        <span translate="label.related.style">Related styles</span>
                                                        <button ng-show="selected.TargetStyle.length == 0" type="button" ng-click="showStyleList();"
                                                                class="btn btn-sm pull-right">
                                                            <i class="icon-plus"></i></button>
                                                    </h6>

                                                    <div id="linkedList">
                                                        <span ng-show="selected.TargetStyle.length == 0" translate="label.no.association">No association</span>
                                                        <div ng-show="selected.TargetStyle.length > 0" class="style" ng-repeat="style in selected.TargetStyle">
                                                            <button type="button" ng-click="unlinkStyle(style.Provider, style.Name, selected.Provider, selected.Name);"
                                                                    class="btn btn-small"><i class="icon-minus"></i></button>
                                                            {{style.Name}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="block-action">
                                                <div class="row" style="padding-bottom: 5px">
                                                    <div class="col-sm-6">
                                                        <button type="button" class="btn btn-info">
                                                            <i class="icon-download-alt"></i> <span translate="layer.listing.selected.export.button">Export</span>
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button type="button" class="btn btn-warning">
                                                            <i class="icon-file-alt"></i> <span translate="layer.listing.selected.metadata.button">Metadata</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <button id="showData" class="btn btn-success" type="button" ng-click="showLayer()" ng-show="service.status=='WORKING'">
                                                            <i class="icon-map-marker"></i> <span translate="layer.listing.selected.data.button">View</span>
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button type="button" id="deleteLayer" class="btn btn-danger" ng-click="deleteLayer();">
                                                            <i class="icon-trash"></i> <span translate="layer.listing.selected.delete.button">Delete</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal -->
                                            <div id="viewerData" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            <h4 class="modal-title" translate="">Data viewer</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div id="dataMap" style="height: 400px; width:740px"></div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="service.type.toLowerCase() === 'csw'">
                                            <div class="block-header" ng-click="toggleUpDownSelected()">
                                                <strong>{{selected.title ? selected.title : selected.identifier}}</strong><i class="icon-chevron-up pull-right"></i>
                                            </div>
                                            <div>
                                                <div class="block-content">
                                                    <h6 translate="label.owner">Owner</h6>
                                                    <span>{{selected.creator}}</span>

                                                    <div class="separator"></div>
                                                    <h6 translate="label.date">Date</h6>
                                                    <span>{{selected.createDate | date:'yyyy-MM-dd'}}</span>
                                                </div>
                                                <div class="block-content" ng-if="selectedMetadataChild != null">
                                                    <h6 translate="label.title">Title</h6>
                                                    <span>{{selectedMetadataChild.Name}}</span>

                                                    <div class="separator"></div>
                                                    <h6 translate="label.type">Type</h6>
                                                    <span>{{selectedMetadataChild.Type}}</span>

                                                    <div class="separator"></div>
                                                    <h6 translate="label.owner">Owner</h6>
                                                    <span>{{selectedMetadataChild.Owner}}</span>

                                                    <div class="separator"></div>
                                                    <h6 translate="label.date">Date</h6>
                                                    <span>{{selectedMetadataChild.Date | date:'yyyy-MM-dd'}}</span>
                                                </div>
                                            </div>

                                            <div class="block-action">
                                                <div class="row" style="padding-bottom: 5px">
                                                    <div class="col-sm-6">
                                                        <a id="exportMD" class="btn btn-info" ng-href="{{cstlUrl}}api/1/CSW/{{service.identifier}}/record/download/{{selected.identifier}};jsessionid={{cstlSessionId}}">
                                                            <i class="icon-download-alt"></i> <span translate="layer.listing.selected.export.button">Export</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button type="button" id="deleteMetadata" class="btn btn-danger" ng-click="deleteMetadata();">
                                                            <i class="icon-trash"></i> <span translate="layer.listing.selected.delete.button">Delete</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="service.type.toLowerCase() === 'sos'">
                                            <div class="block-header" ng-click="toggleUpDownSelected()">
                                                <strong>{{selected.id}}</strong><i class="icon-chevron-up pull-right"></i>
                                            </div>
                                            <div>
                                                <div class="block-content">
                                                    <h6 translate="label.owner">Owner</h6>
                                                    <span>{{selected.creator}}</span>

                                                    <div class="separator"></div>
                                                    <h6 translate="label.type">Type</h6>
                                                    <span translate="label.sensor.system">Sensor system</span>

                                                    <div class="separator"></div>
                                                    <h6 translate="label.date">Date</h6>
                                                    <span>{{selected.createDate | date:'yyyy-MM-dd'}}</span>
                                                </div>

                                                <div class="block-content" ng-if="selectedSensorsChild != null">
                                                    <h6 translate="label.title">Title</h6>
                                                    <span>{{selectedSensorsChild.id}}</span>

                                                    <div class="separator"></div>
                                                    <h6 translate="label.type">Type</h6>
                                                    <span translate="label.sensor">sensor</span>
                                                </div>
                                            </div>
                                            <div class="block-action">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <button class="btn btn-success" type="button" ng-click="showSensor()" ng-show="service.status=='WORKING'">
                                                            <i class="icon-map-marker"></i> <span translate="layer.listing.selected.data.button">View</span>
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button type="button" class="btn btn-danger" ng-click="deleteLayer();">
                                                            <i class="icon-trash"></i> <span translate="layer.listing.selected.delete.button">Delete</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- end details -->
                            </div>
                        </div>


                        <!-- End DashBoard -->
                    </div>
                </div>
                <div class="tab-pane" ng-class="{active:tabdesc}" ng-show="tabdesc">

                    <!-- Description Service Tab -->
                    <div class="col-sm-12">
                        <fieldset style="padding-left:20px;">
                            <legend><span translate="service.description.tab.description.title">Service description</span></legend>
                            <form role="form-horizontal" role="form">
                                <div class="form-group row">
                                    <label class="control-label col-sm-2 new-service-form-label" translate="service.description.tab.description.name">Name</label>
                                    <div class="col-sm-8 col-md-6">
                                        <input type="text" id="name" class="form-control" ng-model="metadata.name" value="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-2 new-service-form-label" translate="service.description.tab.description.identifier">Identifier</label>
                                    <div class="col-sm-8 col-md-6">
                                        <input type="text" readonly="" id="identifier" class="form-control" ng-model="metadata.identifier" value="">
                                    </div>
                                    <div class="btn-lg tooltipicon">
                                        <span type="button" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.service.create.name' | translate }}" ></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-2 new-service-form-label" translate="service.description.tab.description.tags">Tags</label>
                                    <div class="col-sm-8 col-md-6">
                                        <div class="tag-input-ctn">
                                            <div data-ng-repeat="(key, tag) in metadata.keywords track by $index" class="input-tag">
                                                {{ tag }}
                                                <div class="delete-tag" data-ng-click="deleteTag(key)">&times;</div>
                                            </div>
                                            <input type="text" data-tag-input="" data-ng-model="tagText" data-new-tag="addTag()" data-delete-tag="deleteTag()">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-2 new-service-form-label" translate="service.description.tab.description.description">Description</label>
                                    <div class="col-sm-8 col-md-6">
                                        <textarea id="inputDescription" class="input-xxlarge form-control" rows="5" ng-model="metadata.description"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-sm-2 new-service-form-label" translate="service.description.tab.description.version" >Version</label>
                                    <div class="col-sm-8 col-md-6">
                                        <div id="versionsCheck">
                                            <div ng-repeat="version in versions" class="inline">
                                                <div class="checkbox inline">
                                                <div class="col-sm-8 col-md-6">
                                                    <input type="checkbox"  id="{{version.id}}"  ng-model="version.checked" ng-change="selectedVersion()" ng-checked="versionIsSelected(version.id)"> {{version.id}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-lg tooltipicon">
                                        <span type="button" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.service.create.version' | translate }}" ></span>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                    <div class="pull-right" style="margin: 20px;">
                        <button class="btn btn-info" style="margin-left:20px;" type="button" ng-click="saveServiceMetadata()" translate="label.save">Save</button>
                    </div>

                    <!-- END Description Service Tab -->
                </div>
                <div class="tab-pane form_service_md" ng-class="{active:tabmetadata}" ng-show="tabmetadata">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- contact part -->
                            <fieldset>
                                <legend translate="create.contact.legend">Contact information</legend>
                                <form class="form" role="form">
                                    <div class="form-group">
                                        <label class="control-label new-service-form-label" for="contactFirstName" translate="create.contact.firstname.label">First name</label>
                                        <input type="text" class="form-control" id="contactFirstName" ng-model="metadata.serviceContact.firstname"/>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label new-service-form-label" for="contactLastName" translate="create.contact.lastname.label">Last name</label>
                                        <input type="text" class="form-control" id="contactLastName" ng-model="metadata.serviceContact.lastname"/>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label new-service-form-label" for="contactOrganisation" translate="create.contact.organisation.label">Organisation</label>
                                        <input type="text" class="form-control" id="contactOrganisation" ng-model="metadata.serviceContact.organisation"/>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label new-service-form-label" for="contactPosition" translate="create.contact.position.label">Position</label>
                                        <input type="text" class="form-control" id="contactPosition" ng-model="metadata.serviceContact.position"/>
                                    </div>

                                    <div class="control-group">
                                        <label class="col-xs-12 control-label new-service-form-label" for="contactPhone" translate="create.contact.phone.label" style="padding:0;">Phone</label>
                                        <div class="col-xs-6" style="padding:0; margin-bottom:7px;">
                                            <input type="tel" class="form-control" id="contactPhone" ng-model="metadata.serviceContact.phone"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="col-xs-12 control-label new-service-form-label" for="contactFax" translate="create.contact.fax.label" style="padding:0;">Fax</label>
                                        <div class="col-xs-6" style="padding:0; margin-bottom:7px;">
                                            <input type="tel" class="form-control" id="contactFax" ng-model="metadata.serviceContact.fax"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="col-xs-12 control-label new-service-form-label" for="contactemail" translate="create.contact.email.label" style="padding:0;">Email</label>
                                        <input type="email" class="form-control" id="contactEmail" ng-model="metadata.serviceContact.email"/>
                                    </div>
                                </form>
                            </fieldset>
                        </div>
                        <div class="col-sm-6">
                            <!-- address part -->
                            <fieldset>
                                <legend translate="create.contact.address.legend">Contact address</legend>
                                <form class="form" role="form">
                                    <div class="control-group">
                                        <label class="control-label new-service-form-label" for="contactAddress" translate="create.contact.address.label">Address</label>
                                        <input type="text" class="form-control" id="contactAddress" ng-model="metadata.serviceContact.address"/>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label new-service-form-label" for="contactCity" translate="create.contact.address.city.label">City</label>
                                        <input type="text" class="form-control" id="contactCity" ng-model="metadata.serviceContact.city"/>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label new-service-form-label" for="contactState" translate="create.contact.address.state.label">State</label>
                                        <input type="text" class="form-control" id="contactState" ng-model="metadata.serviceContact.state"/>
                                    </div>
                                    <div class="control-group">
                                        <label class="col-xs-12 control-label new-service-form-label" for="contactPostcode" translate="create.contact.address.postcode.label" style="padding:0;">Zip code</label>
                                        <div class="col-xs-4" style="padding:0; margin-bottom:7px;">
                                            <input type="text" class="form-control" id="contactPostcode" ng-model="metadata.serviceContact.zipCode"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="col-xs-12 control-label new-service-form-label" for="contactCountry" translate="create.contact.address.country.label" style="padding:0;">Country</label>
                                        <input type="text" class="form-control" id="contactCountry" ng-model="metadata.serviceContact.country"/>
                                    </div>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-6">
                            <!-- access constraints part -->
                            <fieldset>
                                <legend translate="create.accessconstraint.legend">Access constraints</legend>
                                <form class="form" role="form">
                                    <div class="control-group row">
                                        <label class="control-label new-service-form-label col-xs-12" for="fees" translate="create.accessconstraint.fees.label" style="padding:0;  padding-left:15px;">Fees</label>
                                        <div class="col-xs-11" style=" padding:0 15px; margin-bottom:7px;">
                                            <input id="fees" class="form-control" type="text" ng-model="metadata.serviceConstraints.fees"/>
                                        </div>  
                                        <div class="btn-lg tooltipicon">
                                            <span type="button" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.service.create.fees' | translate }}" ></span>
                                        </div>
                                    </div>
                                    <div class="control-group row">
                                        <label class="col-xs-12 control-label new-service-form-label" for="accessConstraints" translate="create.accessconstraint.label" style="padding:0; padding-left:15px;">Access constraints</label>
                                        <div class="col-xs-11" style="margin-bottom:7px; padding:0 15px;">
                                            <textarea rows="5" id="accessConstraints" class="form-control" ng-model="metadata.serviceConstraints.accessConstraint"></textarea>
                                        </div>
                                        <div class="btn-lg tooltipicon">
                                            <span type="button" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.service.create.contraints' | translate }}" ></span>
                                        </div>
                                    </div>
                                    <div class="control-group" data-toggle="tooltip" title="{{'create.accessconstraint.layerlimit.tooltip' | translate }}" id="layerlimitGroup" style="height:59px;">
                                        <label class="col-xs-12 control-label new-service-form-label" for="layerLimit" translate="create.accessconstraint.layerlimit.label" style="padding:0;">Layer limit</label>
                                        <div class="col-xs-4" style="padding:0; margin-bottom:7px;">
                                            <input type="number" id="layerLimit" class="form-control" ng-model="metadata.serviceConstraints.layerLimit"/>
                                        </div>
                                        <div class="btn-lg tooltipicon">
                                            <span type="button" style="margin-left:15px;" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.service.create.layer' | translate }}" ></span>
                                        </div>
                                    </div>
                                    <div class="control-group" data-toggle="tooltip" title="{{'create.accessconstraint.maxwidth.tooltip' | translate }}" id="maxWidthGroup" style="height:59px;">
                                        <label class="col-xs-12 control-label new-service-form-label" for="maxWidth" translate="create.accessconstraint.maxwidth.label" style="padding:0;">Max width</label>
                                        <div class="col-xs-4" style="padding:0; margin-bottom:7px;">
                                            <input type="number" id="maxWidth" class="form-control" ng-model="metadata.serviceConstraints.maxWidth"/>
                                        </div>
                                        <div class="btn-lg tooltipicon">
                                            <span type="button" style="margin-left:15px;" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.service.create.maxwidth' | translate }}" ></span>
                                        </div>
                                    </div>
                                    <div class="control-group" data-toggle="tooltip" title="{{'create.accessconstraint.maxheight.tooltip' | translate }}" id="maxHeightGroup" style="height:59px;">
                                        <label class="col-xs-12 control-label new-service-form-label" for="maxHeight" translate="create.accessconstraint.maxheight.label" style="padding:0;">Max height</label>
                                        <div class="col-xs-4" style="padding:0; margin-bottom:7px;">
                                            <input type="number" id="maxHeight" class="form-control" ng-model="metadata.serviceConstraints.maxHeight"/>
                                        </div>
                                        <div class="btn-lg tooltipicon">
                                            <span type="button" style="margin-left:15px;" class="glyphicon glyphicon-info-sign" tooltip data-placement="right" title="{{'tooltip.service.create.maxheight' | translate }}" ></span>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="pull-right">
                            <button class="btn btn-info" style="margin-right:30px;" type="button" ng-click="saveServiceMetadata()" translate="label.save">Save</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" ng-class="{active:tabrights}" ng-show="tabrights">
                    <div class="col-sm-12">
                        <div style="padding-left:20px;">
                            <legend><span translate="service.rights">Service rights</span></legend>
                            <div class="col-sm-5">
                                <span class="searchicon glyphicon glyphicon-search" style="float:right; width:200px; right: 35px;">
                                    <input type="text" ng-model="filter" class="form-control " maxlength="10">
                                </span>
                                <table class="table table-condensed table-striped table-bordered table-responsive user-table">
                                    <thead>
                                        <tr title="click to order">
                                            <td ng-click="predicate = 'roles'; reverse=!reverse"
                                                translate="service.rights.group.list">Liste des groupes</td>

                                        </tr>
                                    </thead>
                                    <tr ng-click="details($index)" style='cursor:pointer'
                                        ng-repeat="user in list | filter:filter | orderBy:predicate:reverse">
                                        <td>{{group.name}}</td>
                                        <td class="user-delete" style="width:20px;" ng-click="details($index)"><span class="glyphicon glyphicon-plus"></span></td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-sm-6 col-sm-offset-1">
                                <span>
                                    
                                </span>
                                <table class="table table-condensed table-striped table-bordered table-responsive user-table" style="margin-top: 34px;">
                                    <thead>
                                        <tr title="click to order">
                                            <td ng-click="predicate = 'roles'; reverse=!reverse"
                                                translate="service.rights.group.group">Groupes</td>
                                            <td translate="service.rights.group.read">Lecture</td>
                                            <td translate="service.rights.group.write">Ecriture</td>
                                        </tr>
                                    </thead>
                                    <tr >
                                        <td>Anonymous</td>
                                        <td><input type="checkbox"></td>
                                        <td><input type="checkbox"></td>
                                        <td class="user-delete" style="width:20px;" ng-click="details($index)"><span class="glyphicon glyphicon-remove"></span></td>

                                    </tr>
                                    <tr ng-click="details($index)" style='cursor:pointer'
                                        ng-repeat="user in list | filter:filter | orderBy:predicate:reverse">
                                        <td>{{group.name}}</td>
                                        <td><input type="checkbox"></td>
                                        <td><input type="checkbox"></td>
                                        <td class="user-delete" style="width:20px;" ng-click="details($index)"><span class="glyphicon glyphicon-remove"></span></td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="pull-right">
                            <button class="btn btn-info" style="margin-right:30px;" type="button" ng-click="" translate="label.save">Save</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
