<div class="frame">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">{{service.name}}</a>
            <form class="navbar-form">
                <div class="btn-group">
                    <button type="button" class="btn btn-small" data-action="open-capabilities" data-capabilities="http://demo7.geomatys.com/constellation/WS/wms/WMS-Vince?REQUEST=GetCapabilities&SERVICE=wms&VERSION=1.3.0">GetCapabilities</button>
                    <button type="button" class="btn btn-small" data-action="open-logs">Logs</button>
                    <button type="button" class="btn btn-small btn-info" data-action="restart-service" data-service-type="WMS" data-service-id="WMS-Vince">Recharger</button>
                    <button type="button" class="btn btn-small started" data-state="WMS-WMS-Vince" data-action="toggle-service" data-service-type="WMS" data-service-id="WMS-Vince">
                        <span class="label-start">Start</span>
                        <span class="label-stop">Stop</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="frame-inner">
        <ul class="nav nav-tabs">
            <li id="descriptionTabButton"><a href="#" data-toggle="tab">Description du service</a> </li>
            <li id="metadataTabButton"><a href="#" data-toggle="tab">Metadonnée du service</a> </li>
            <li class="active"><a href="#data" data-toggle="tab">Données</a> </li>
        </ul>
        <div class="tab-content">
            <div id="description" class="tab-pane">
                <form id="serviceDescription" class="row-fluid">
    <div>
        <fieldset style="padding-left:20px;">
            <legend>Description du service</legend>
            <div class="control-group">
                <label class="control-label" for="name">Nom</label>
                <div class="controls">
                    <input type="text" id="name" name="name" value="{{service.name}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="identifier">Identifiant</label>
                <div class="controls">
                    <input type="text" readonly id="identifier" name="identifier" value="WMS-Vince">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="keywords">Mots clefs</label>
                <div class="controls">
                    <input type="text" id="keywords" name="keywords" value="carto,truc,bidule,machinchose"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputDescription">Description</label>
                <div class="controls">
                    <textarea cols="50" id="inputDescription" name="description" class="input-xxlarge" >Un petit service de test</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Version</label>
                <div class="controls">
                    <label class="checkbox inline" for="v111">
                        <input type="checkbox" value="1.1.1" id="v111" name="v111" > 1.1.1
                    </label>
                    <label class="checkbox inline" for="v130">
                        <input type="checkbox" value="1.3.0" id="v130" name="v130" checked="checked"> 1.3.0
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <div style="margin-top:20px;">
        <button class="btn btn-info" style="margin-left:20px;" type="button" data-action="service-description" data-form="serviceDescription" data-service-type="WMS" data-service-id="WMS-Vince">Sauver</button>
    </div>
</form>
<script>
$('#descriptionTabButton').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })

$('#metadataTabButton').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
  
//     $('#keywords').selectize({
//         plugins: ['remove_button'],
//         delimiter: ',',
//         persist: false,
//         create: function (input) {
//             return {
//                 value: input,
//                 text: input
//             }
//         }
//     });
</script>
            </div>
            <div id="metadata" class="tab-pane">
                <form id="serviceMetadata" class="row-fluid">

    <div class="row-fluid">
        <!-- contact part -->
        <div class="span6">
            <fieldset style="padding-left:20px;">
                <legend>Information du contact</legend>

                <div class="control-group">
                    <label class="control-label" for="contactFirstName">prénom</label>
                    <div class="controls">
                        <input type="text" id="contactFirstName" name="contact.firstname" value="Vincent" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="contactLastName">Nom</label>
                    <div class="controls">
                        <input type="text" id="contactLastName" name="contact.lastname" value="Heurteaux" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="contactOrganisation">Organisation</label>
                    <div class="controls">
                        <input type="text" id="contactOrganisation" name="contact.organisation" value=""/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="contactPosition">Fonction dans l'Organisation</label>
                    <div class="controls">
                        <input type="text" id="contactPosition" name="contact.position" value="Geomatys"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="contactPhone">Téléphone</label>
                    <div class="controls">
                        <input type="text" id="contactPhone" name="contact.phone" value="33642922928"/>
                    </div>
                </div>
                <div class="control-group" id="faxDiv">
                    <label class="control-label" for="contactFax">fax</label>
                    <div class="controls">
                        <input type="text" id="contactFax" name="contact.fax" value=""/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="contactemail">Email</label>
                    <div class="controls">
                        <input type="text" id="contactEmail" name="contact.email" value=""/>
                    </div>
                </div>
            </fieldset>
        </div>

        <!-- address part -->
        <div class="span6">
            <fieldset style="padding-left:20px;">
                <legend>Adresse du contact</legend>

                <div class="control-group">
                    <label class="control-label" for="contactAddress">Adresse</label>
                    <div class="controls">
                        <input type="text" id="contactAddress" name="contact.address" value="24 rue Pierre Renaudel"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="contactCity">Ville</label>
                    <div class="controls">
                        <input type="text" id="contactCity" name="contact.city" value="Arles"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="contactState">Province</label>
                    <div class="controls">
                        <input type="text" id="contactState" name="contact.state" value=""/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="contactPostcode">Code postal</label>
                    <div class="controls">
                        <input type="text" id="contactPostcode" name="contact.zipCode" value="13200"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="contactCountry">Country</label>
                    <div class="controls">
                        <input type="text" id="contactCountry" name="contact.country" value="France"/>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div>
        <!-- access constraints part -->
        <fieldset style="padding-left:20px;">
            <legend>Contraintes d'accès au service</legend>

            <div class="control-group">
                <label class="control-label" for="fees">Frais</label>
                <div class="controls">
                    <input id="fees" type="text" name="constraint.fees" value="gratuit"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="accessConstraints">Contraintes d'accès</label>
                <div class="controls">
                    <textarea id="accessConstraints" name="constraint.accessConstraint"></textarea>
                </div>
            </div>

            <div class="control-group" data-toggle="tooltip" title="Nombre maximum de couche qu'un client peut inclure dans un GetMap." id="layerlimitGroup">
                <label class="control-label" for="layerLimit">Nombre limite de couche</label>
                <div class="controls">
                    <input type="text" id="layerLimit" name="constraint.layerLimit" value="0"/>
                </div>
            </div>

            <div class="control-group" data-toggle="tooltip" title="Largeur maximum qu'un client peut inclure dans un GetMap." id="maxWidthGroup">
                <label class="control-label" for="maxWidth">Largeur maximale</label>
                <div class="controls" >
                    <input type="text" id="maxWidth" name="constraint.maxWidth" value="0"/>
                </div>
            </div>


            <div class="control-group" data-toggle="tooltip" title="Hauteur maximum qu'un client peut inclure dans une requête GetMap." id="maxHeightGroup">
                <label class="control-label" for="maxHeight">Hauteur maximale</label>
                <div class="controls">
                    <input type="text" id="maxHeight" name="constraint.maxHeight" value="0"/>
                </div>
            </div>
        </fieldset>
    </div>

    <input type="hidden" id="identifier" name="identifier" value="WMS-Vince">

    <div style="margin-top:20px;">
        <button class="btn btn-info" style="margin-left:20px;" type="button" data-action="service-metadata" data-form="serviceMetadata" data-service-type="WMS" data-service-id="WMS-Vince">Sauver</button>
    </div>
</form>
            </div>
            <div id="data" class="tab-pane active">
                <div id="mapDashboard" class="row-fluid dashboard">
    <div id="layerList" class="pull-left" style="width:65%;">
        <div style="padding: 0 10px;">
            <h4>Liste des Couches</h4>
            <div class="navbar sort-navbar">
                <div class="navbar-inner" style="border: 1px solid #e3e3e3;">
                    <ul class="nav">
                        <li><a href="#" data-order-by="title">Titre<i class="icon-caret-up"></i><i class="icon-caret-down"></i></a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="#" data-order-by="date" class="descending">Date<i class="icon-caret-up"></i><i class="icon-caret-down"></i> </a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="#" data-order-by="owner">Propriétaire<i class="icon-caret-up"></i><i class="icon-caret-down"></i></a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="#" data-order-by="type">Type<i class="icon-caret-up"></i><i class="icon-caret-down"></i></a></li>
                        <li class="divider-vertical"></li>
                    </ul>
                    <button type="button" data-role="reset" class="btn btn-small btn-info"><i class="icon-remove icon-white"></i></button>
                    <div class="pull-right">
                        <div style="position:relative;">
                            <div class="ajax-loader" style="right:0;position:absolute;"></div>
                            <input type="text" data-role="search" class="search-query" placeholder="Rechercher..." />
                        </div>
                    </div>
                </div>
            </div>
            <div data-role="list">
                




<div class="pagination-wrapper">
    <span class="nb-results pull-left"><strong>2</strong> resultat(s)</span>
    <select class="nb-per-page input-small pull-right" data-role="nb-items">
        <option value="5">5</option>
        <option value="10" selected>10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    
</div>


    <div class="item-list">
        
        <div class="item raster" data-alias="xwcxcxwc" data-name="{http://geotoolkit.org}SP27GTIF1" data-provider="SP27GTIF">
            <div class="top">
                <span class="item-title">xwcxcxwc</span>
                <span class="pull-right text-right">raster</span>
            </div>
            <div class="bottom">
                <div class="block">
                    <i class="icon-calendar"></i>8 janv. 2014
                </div>
                <div class="block">
                    <i class="icon-user"></i>
                    
                    admin
                </div>
            </div>
        </div>
        
        <div class="item raster" data-alias="Donnée NetCDF" data-name="{http://geotoolkit.org}mnt500_manche-gascogne.z" data-provider="mnt500_manche-gascogne">
            <div class="top">
                <span class="item-title">Donnée NetCDF</span>
                <span class="pull-right text-right">raster</span>
            </div>
            <div class="bottom">
                <div class="block">
                    <i class="icon-calendar"></i>8 janv. 2014
                </div>
                <div class="block">
                    <i class="icon-user"></i>
                    
                    admin
                </div>
            </div>
        </div>
        
    </div>


            </div>
        </div>
    </div>
    <div class="pull-left" style="width:35%;">
        <div style="padding: 0 10px;">
            <div class="row-fluid">
                <a href="#addModal" style="margin-bottom:10px;" role="button" class="btn btn-info btn-large btn-block" data-toggle="modal" onmousedown="CSTL.AddLayerWorkflow.start();">Ajouter une donnée</a>
            </div>
            <div id="selection" data-role="selected">
                

<div class="alert alert-info">
    <h5>Aucune donnée selectionnée.</h5>
    <p>Cliquez sur une donnée ci-contre pour afficher plus d'informations.</p>
</div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
//    CSTL.MapDashboard.init('WMS-Vince', 'WMS');


</script>

            </div>

            <!-- Modals -->
            <div id="addModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="addModalLabel">Ajout d'une donnée</h3>
    </div>
    <div class="modal-body">
        <div id="dataList" class="dashboard">
            <div class="alert alert-info">
                Sélectionnez la donnée à importer puis cliquez sur continuer.
            </div>
            <div class="navbar sort-navbar">
                <div class="navbar-inner" style="border:1px solid #e3e3e3;padding-right:5px;">
                    <ul class="nav">
                        <li><a href="#" data-order-by="title">Titre<i class="icon-caret-up"></i><i class="icon-caret-down"></i></a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="#" data-order-by="date">Date<i class="icon-caret-up"></i><i class="icon-caret-down"></i> </a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="#" data-order-by="owner">Propriétaire<i class="icon-caret-up"></i><i class="icon-caret-down"></i></a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="#" data-order-by="type">Type<i class="icon-caret-up"></i><i class="icon-caret-down"></i></a></li>
                        <li class="divider-vertical"></li>
                    </ul>
                    <button type="button" data-role="reset" class="btn btn-small btn-info"><i class="icon-remove icon-white"></i></button>
                    <div class="pull-right">
                        <div style="position:relative;">
                            <div class="ajax-loader" style="right:0;position:absolute;"></div>
                            <input type="text" data-role="search" class="search-query input-small" placeholder="Rechercher..." />
                        </div>
                    </div>
                </div>
            </div>
            <div data-role="list"></div>
        </div>
        <div id="dataName" class="dashboard" style="display:none;">
            <div class="alert alert-info">
                Ajoutez un alias à la donnée.
            </div>
            <div>
                <form class="form-horizontal" id="addLayerForm" action="http://demo7.geomatys.com/cstl-web-client/layer/add?serviceId=WMS-Vince&amp;serviceType=WMS" method="post">
                    <input type="hidden" name="dataName" />
                    <input type="hidden" name="dataProvider" />
                    <input type="hidden" name="styleName" />
                    <input type="hidden" name="styleProvider" />
                    <div class="control-group">
                        <label class="control-label" for="layerAlias">Alias</label>
                        <div class="controls">
                            <input type="text" name="layerAlias" id="layerAlias" placeholder="Nom de la couche">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
        <button id="continue" class="btn btn-info" type="button" onclick="CSTL.AddLayerWorkflow.next($(this));">Continuer</button>
    </div>
</div>

            <div id="linkedModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="modalLabel">Liste des données</h3>
                </div>
                <div class="modal-body">
                    <div id="linkedList" class="dashboard">
                        <div class="navbar sort-navbar">
                            <div class="navbar-inner" style="border:1px solid #e3e3e3;padding-right:5px;">
                                <ul class="nav">
                                    <li><a href="#" data-order-by="title">Titre<i class="icon-caret-up"></i><i class="icon-caret-down"></i></a></li>
                                    <li class="divider-vertical"></li>
                                    <li><a href="#" data-order-by="date">Date<i class="icon-caret-up"></i><i class="icon-caret-down"></i> </a></li>
                                    <li class="divider-vertical"></li>
                                    <li><a href="#" data-order-by="owner">Propriétaire<i class="icon-caret-up"></i><i class="icon-caret-down"></i></a></li>
                                    <li class="divider-vertical"></li>
                                    <li><a href="#" data-order-by="type">Type<i class="icon-caret-up"></i><i class="icon-caret-down"></i></a></li>
                                    <li class="divider-vertical"></li>
                                </ul>
                                <button type="button" data-role="reset" class="btn btn-small btn-info"><i class="icon-remove icon-white"></i></button>
                                <div class="pull-right">
                                    <div style="position:relative;">
                                        <div class="ajax-loader" style="right:0;position:absolute;"></div>
                                        <input type="text" data-role="search" class="search-query input-small" placeholder="Rechercher..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-role="list"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
                    <button id="associate" data-dismiss="modal" class="btn btn-info" type="button">Valider</button>
                </div>
            </div>
            <script type="text/javascript">
                var param;
                switch ("WMS"){
                    case "CSW":
                        param={'dataTypes':['metadata']};
                        break;
                    case "SOS":
                        param={'dataTypes':['sensor']};
                        break;
                    case "WCS":
                        param={'dataTypes':['raster']};
                        break;
                    case "WFS":
                        param={'dataTypes':['vector']};
                        break;
                    case "WMS":
                        param={'dataTypes':['raster','vector']};
                        break;
                    case "WMTS":
                        param={'dataTypes':['raster']};
                        break;
                    case "WPS":
                        param={'dataTypes':['process']};
                        break;
                    default:
                        param={'dataTypes':['raster','vector']};
                }

               // CSTL.AddLayerWorkflow.init(param);
                function validateData(styleProvider, styleName, dataProvider, dataName){
                    return CSTL.Providers.linkStyleToData(styleProvider, styleName, dataProvider, dataName);
                }

//                var styleFlow = CSTL.LinkWorkflow.init('StyleController.styleList()', validateData, CSTL.LinkWorkflow.styleTemplate);
            </script>

            <form action="http://demo7.geomatys.com/cstl-web-client/removeLayer" id="deleteForm">
                <input type="hidden" name="serviceId" value="WMS-Vince"/>
                <input type="hidden" name="serviceType" value="WMS"/>
                <input type="hidden" name="layerName" id="deleteLayerId"/>
            </form>

            <form action="http://demo7.geomatys.com/cstl-web-client/upload" enctype="multipart/form-data" method="post" style="margin:0;">
                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Envoyer une donnée</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label>Nom</label>
                            <input type="text" name="name"/>
                        </div>
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input span3">
                                    <i class="icon-file fileupload-exists"></i>
                                    <span class="fileupload-preview"></span>
                                </div>
                                <span class="btn btn-file">
                                    <span class="fileupload-new">Choisir un fichier</span>
                                    <span class="fileupload-exists">Changer</span>
                                    <input type="file" name="file" id="file"/>
                                </span>
                                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Enlever</a>
                            </div>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="dataType" value="vector" style="margin-top:12px;"> <img src="../../images/icon/vector.png" class="img-rounded"> Donnée vecteur
                            </label>
                            <label class="radio">
                                <input type="radio" name="dataType" value="raster" style="margin-top:12px;"> <img src="../../images/icon/raster.png" class="img-rounded"> Donnée raster
                            </label>
                            <input type="hidden" value="http://demo7.geomatys.com/cstl-web-client/edit/wms/WMS-Vince" name="returnURL"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
                        <button class="btn btn-info" type="submit">Envoyer le fichier</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal hide fade" id="getcapabilities-modal" style="left:40%; width:910px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>GetCapabilities</h3>
    </div>
    <div class="modal-body">
        <pre id="capabilities-modal-pre" style="background-color: #f8f8ff"><code class="xml"></code></pre>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
</div>
</div>