<div class="logo-wrapper row">
    <div class="col-sm-3">
        <a href="#"><img src="images/constellation.png"></a>
    </div>
</div>
<div class="row frame dashboard">
    <div class="navbar">
        <div class="navbar-inner">
                <a class="brand" href="#">{{service.name}}</a>
                <form class="navbar-form">
                    <div class="btn-group service-item pull-right">
                        <button type="button" class="btn btn-default btn-sm" ng-click="showCapa(service.type, service.name)">GetCapabilities</button>
                        <button type="button" class="btn btn-default btn-sm"  ng-click="showLogs(service.type, service.name)">Logs</button>
                        <button type="button" class="btn btn-default btn-sm btn-info" >Reload</button>
                        <button type="button" class="btn btn-default btn-sm"  ng-class="{'started':service.status=='WORKING','stopped':service.status=='ERROR'}">
                            <i ng-class="{'icon-play':service.status!='WORKING','icon-stop':service.status=='WORKING'}"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
