<div class="logo-wrapper row">
    <div class="col-sm-3">
        <a href="#"><img src="images/constellation.png"></a>
    </div>
</div>

<div id="description" class="row bg-white">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" translate="service.config.source.choose">Choose source</a>
        </div>
    </div>
</div>

<div class="row bg-white">
    <div class="col-sm-offset-3 col-sm-9">
        <div class="form-group">
            <div class="control-label" translate="service.config.source">Source</div>
            <select id="sourceType" ng-model="source['automatic']['@format']">
                <option value="mdweb" translate="service.config.source.database">Database</option>
                <option value="internal" translate="service.config.source.internal">Internal</option>
                <option value="filesystem" translate="service.config.source.file">File system</option>
            </select>
        </div>
    </div>
</div>

<div class="row bg-white">
    <div class="form-separator"></div>
</div>

<!-- MDWeb database -->
<div class="row bg-white" ng-if="source['automatic']['@format'] === 'mdweb'">
    <div class="col-sm-3">
        <div class="well">
            <p><b translate="service.config.source.database.title">Database (SGBDR)</b></p>
            <p translate="service.config.source.database.description">Database which contains metadata records</p>
        </div>
    </div>
    <div class="col-sm-6">
        <form id="dbSourceForm">
            <fieldset>
                <div class="form-group">
                    <div class="control-label" translate="service.config.source.database.type">Database type</div>
                    <select id="selectType" ng-model="source.automatic.bdd.className">
                        <option value="org.postgresql.Driver">PostgreSQL</option>
                        <option value="com.mysql.jdbc.Driver">MySQL</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="control-label" translate="service.config.source.database.url">Database URL</div>
                    <input type="text" class="form-control" ng-model="source.automatic.bdd.connectURL">
                </div>
                <div class="form-group">
                    <div class="control-label" translate="service.config.source.database.username">User name</div>
                    <input type="text" class="form-control" ng-model="source.automatic.bdd.user">
                </div>
                <div class="form-group">
                    <div class="control-label" translate="service.config.source.database.password">Password</div>
                    <input type="password" class="form-control" ng-model="source.automatic.bdd.password">
                </div>
                <div class="form-group">
                    <div class="control-label" translate="service.config.source.database.shared">Shared connection</div>
                    <div class="checkbox inline">
                        <input type="checkbox" ng-model="source.automatic.bdd.sharedConnection">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<!-- Internal database -->
<div class="row bg-white" ng-if="source['automatic']['@format'] === 'internal'">
    <div class="col-sm-3">
        <div class="well">
            <p><b translate="service.config.source.internal.title">Internal (SGBDR)</b></p>
            <p translate="service.config.source.internal.description">Constellation metadata database</p>
        </div>
    </div>
    <div class="col-sm-6">
    </div>
</div>

<!-- File system -->
<div class="row bg-white" ng-if="source['automatic']['@format'] === 'filesystem'">
    <div class="col-sm-3">
        <div class="well">
            <p><b translate="service.config.source.file.title">File system</b></p>
            <p translate="service.config.source.file.description">Sets of metadata records in file system</p>
        </div>
    </div>
    <div class="col-sm-6">
        <form id="fsSourceForm">
            <fieldset>
                <div class="form-group">
                    <div class="control-label" translate="service.config.source.file.path">Folder path</div>
                    <input type="text" class="form-control" ng-model="source.automatic.dataDirectory">
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div ng-if="!source['automatic']['@format']">
    <div class="row bg-white">
        <div class="col-sm-12">
            <div class="well">
                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-sm-12">
                        <h4 translate="service.config.source.csw.title">Catalogs service (CSW)</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <b><p translate="service.config.source.database">Database</p></b>
                        <p translate="service.config.source.database.description">Database which contains metadata records</p>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <b><p translate="service.config.source.internal">Internal></p></b>
                        <p translate="service.config.source.internal.description">Constellation metadata database</p>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <b><p translate="service.config.source.file">File system</p></b>
                        <p translate="service.config.source.file.description">Sets of metadata records in file system</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="source['automatic']['@format']">

    <div class="row bg-white">
        <div class="form-separator"></div>
    </div>

    <div class="row bg-white">
        <div class="pull-right" style="margin: 20px 30px;">
            <button class="btn btn-info" type="button" ng-click="saveServiceSource()" translate="label.save">Save</button>
        </div>
    </div>
</div>