<div class="logo-wrapper row">
    <div class="col-sm-9">
        <h3 class="header-title" translate="page.header.title.webservices">Services Dashboard</h3>
    </div>
    <!-- Menu to create services -->
    <div class="col-sm-3">
        <div class="dropdown pull-right">
            <a data-toggle="dropdown" class="btn btn-add btn-lg dropdown-toggle" style="margin-top:8px;padding:15px 19px;">
                <span class="icon-plus icon-white" style="margin-right:5px;"></span>
                <span translate="webservicepage.button.create.label">Create a service</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#/webservice/wms" id="wmschoice" translate="webservicepage.button.dropdown.wms.label">Maps (WMS)</a></li>
                <li><a href="#/webservice/wfs" id="wfschoice" translate="webservicepage.button.dropdown.wfs.label">Features (WFS)</a></li>
                <li><a href="#/webservice/wcs" id="wcschoice" translate="webservicepage.button.dropdown.wcs.label">Coverages (WCS)</a></li>
                <li><a href="#/webservice/wmts" id="wmtschoice" translate="webservicepage.button.dropdown.wmts.label">Tiles maps (WMTS)</a></li>
                <li><a href="#/webservice/csw" id="cswchoice" translate="webservicepage.button.dropdown.csw.label">Catalogs (CSW)</a></li>
                <li><a href="#/webservice/sos" id="soschoice" translate="webservicepage.button.dropdown.sos.label">Sensors (SOS)</a></li>
                <li><a href="#/webservice/wps" id="wpschoice" translate="webservicepage.button.dropdown.wps.label">Geoprocessing (WPS)</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="frame dashboard">

                <div class="navbar navbar-default" style="margin-bottom: 0px;">
                    <div class="navbar-header">
                        <a class="navbar-brand" translate="webservicepage.title">Available services</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-class="{active:typeFilter == null}"><a ng-click="typeFilter = {type: '!WEBDAV'}"><span translate="label.all">All</span></a></li>
                            <li ng-class="{active:typeFilter.type === 'WMS'}"><a ng-click="typeFilter = {type: 'WMS'}">WMS</a></li>
                            <li ng-class="{active:typeFilter.type === 'WFS'}"><a ng-click="typeFilter = {type: 'WFS'}">WFS</a></li>
                            <li ng-class="{active:typeFilter.type === 'WCS'}"><a ng-click="typeFilter = {type: 'WCS'}">WCS</a></li>
                            <li ng-class="{active:typeFilter.type === 'WMTS'}"><a ng-click="typeFilter = {type: 'WMTS'}">WMTS</a></li>
                            <li ng-class="{active:typeFilter.type === 'CSW'}"><a ng-click="typeFilter = {type: 'CSW'}">CSW</a></li>
                            <li ng-class="{active:typeFilter.type === 'SOS'}"><a ng-click="typeFilter = {type: 'SOS'}">SOS</a></li>
                            <li ng-class="{active:typeFilter.type === 'WPS'}"><a ng-click="typeFilter = {type: 'WPS'}">WPS</a></li>
                        </ul>
                    </div>
                </div>


            <div class="row bg-white dash-inner" id="list-services">
                <div class="col-sm-6 service-item" ng-repeat="service in services.instance | filter:typeFilter">
                    <a href="#/webservice/{{service.type.toLocaleLowerCase()}}/{{service.identifier}}"><h3 class="text-info">{{service.name}} ({{service.identifier}})</h3></a>
                    <div class="well" ng-class="{'started':service.status=='STARTED','stopped':service.status=='ERROR','not-started':service.status=='STOPPED'}" data-state="wms-test">
                        <div class="row service-button">
                            <div class="col-sm-7 col-sm-offset-5 col-md-5 col-md-offset-7 col-lg-4 col-lg-offset-8">
                                <div class="dropdown pull-left">
                                    <a data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                        <i class="icon-wrench"></i>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/webservice/{{service.type.toLocaleLowerCase()}}/{{service.identifier}}" translate="service.menu.edit.label">Edit</a></li>
                                        <li><a ng-click="showLogs(service)" translate="service.menu.log.label">View logs</a></li>
                                        <li><a ng-click="showCapa(service)" ng-disabled="service.status!=='STARTED'" translate="service.menu.getcapabilities.label">GetCapabilities</a></li>
                                        <li><a ng-click="deleteService(service)" translate="service.menu.delete.label">Delete</a></li>
                                        <li ng-if="service.type.toLowerCase() === 'csw'"><a ng-click="refreshIndex(service)" translate="service.menu.refresh.label">Refresh</a></li>
                                    </ul>
                                </div>
                                <a style="margin-left: 5px;" class="btn btn-default btn-add" ng-click="reload(service)">
                                    <i class="icon-refresh"></i>
                                </a>
                                <a class="btn btn-default" ng-class="{'started':service.status=='STARTED','stopped':service.status!='STARTED'}" ng-click="startOrStop(service)">
                                    <i ng-class="{'icon-play':service.status!='STARTED','icon-stop':service.status=='STARTED'}"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <p>({{service.type}})</p>
                                <p><strong><span translate="service.abstract.label">Service description</span></strong></p>
                                <p ng-if="service._abstract != null && service._abstract !==''">{{service._abstract}}</p>
                                <p ng-if="service._abstract == null || service._abstract ===''"> - </p>
                                <p><strong><span ng-if="service.type.toLocaleLowerCase()!=='sos'" translate="service.data.label">Published data on service</span></strong></p>
                                <p><strong><span ng-if="service.type.toLocaleLowerCase()==='sos'" translate="service.data.label.sos">Available sensors on service</span></strong></p>
                                <p>{{getLayersCount(service)}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
