<?xml version="1.0" encoding="UTF-8"?>
<automatic format='filesystem'>
    <dataDirectory>data</dataDirectory>
    <customparameters>
        <entry>
            <key>shiroAccessible</key>
            <value>false</value>
        </entry>
        <entry>
            <key>CSWCascading</key>
            <value>http://localhost:9090/csw/default</value>
        </entry>
    </customparameters>
</automatic>
