<div class="modal-dialog modal-dialog-responsive modal-dialog-resp-height">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title" translate="data.modal.view.sensor.title">View sensor</h4>
        </div>
        <div class="modal-body" style="height: 575px;overflow-y: auto;">
            <code hljs source="details" style="background-color:transparent;"></code>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()" translate="label.close">Close</button>
        </div>
    </div>
</div>
